<!-- asdasasd -->
<h2 class="heading" style="margin: 3vw auto">
    <span>Dashboard</span>
</h2>

<div class="wrapper">
    <div class="selectPart">
        <form [formGroup]="myForm">
            <angular2-multiselect [data]="stateList" formControlName="stateId" [settings]="dropdownSettings" (onSelect)="onSelectingStateFromDropDown($event._id ? $event : null)" (onDeSelect)="onSelectingStateFromDropDown(null)">
            </angular2-multiselect>
        </form>
        Click on a state to see available data on City governments
    </div>
    <div class="visualization">
        <!-- <div
      class="card"
      *ngFor="let points of dataPointsForVisualization"
      [style.backgroundColor]="points.background"
    >
      <strong
        class="data-point-value"
        [attr.data-animate-value]="
          dataForVisualization ? dataForVisualization[points.key] : 0
        "
        [ngClass]="{ 'loading-value': dataForVisualization.loading }"
        >0</strong
      >
      <span class="data-point-name"> {{ points.name }}</span>
    </div> -->

        <!-- <div class="card" [style.backgroundColor]="'rgb(241, 104, 49)'">
      <strong
        class="data-point-value"
        [attr.data-animate-value]="
          dataForVisualization ? dataForVisualization['totalULB'] : 0
        "
        [ngClass]="{ 'loading-value': dataForVisualization.loading }"
        >0</strong
      >
      <span class="data-point-name">
        Total Urban Local Bodies (ULBs) in Country</span
      >
    </div> -->

        <div class="card" id="card1">
            <strong class="data-point-value" [ngClass]="{ 'loading-value': dataForVisualization.loading }">
        {{
          dataForVisualization?.coveredUlbCount || 0
            | inrCurrency: { currencyTypeInUser: null }
        }}
      </strong>
            <!-- <span
        class="data-point-value"
        [ngClass]="{ 'loading-value': dataForVisualization.loading }"
        [attr.data-animate-value]="
          dataForVisualization ? dataForVisualization['coveredUlbCount'] : 0
        "
        >0</span
      > -->
            <span class="data-point-name">
        (out of
        <span [ngClass]="{ 'loading-value': dataForVisualization.loading }">
          {{
            dataForVisualization?.totalULB
              | inrCurrency: { currencyTypeInUser: null }
          }}</span
        >)</span
      >
      <span>
        ULB<span *ngIf="dataForVisualization?.coveredUlbCount">s</span> with Financial data</span>

            <a class="btn btn-explore" *ngIf="dataForVisualization?.coveredUlbCount" [routerLink]="['/analytics/own-revenues']" [queryParams]="{ state: stateSelected ? stateSelected._id : null }">Explore</a
      >
    </div>

    <div class="card" id="card2">
      <strong
        class="data-point-value"
        [ngClass]="{ 'loading-value': dataForVisualization.loading }"
      >
        {{
          dataForVisualization?.financialStatements || 0
            | inrCurrency: { currencyTypeInUser: null }
        }}
      </strong>
      <span class="data-point-name">
        Financial Statements for FYs
        <span [ngClass]="{ 'loading-value': !financialYearTexts }">
          {{ financialYearTexts?.min || "2015-16" }}
        </span>
        to
        <span [ngClass]="{ 'loading-value': !financialYearTexts }">
          {{ financialYearTexts?.max || "15-16" }}
        </span>
      </span>
      <a
        class="btn btn-explore"
        *ngIf="dataForVisualization?.financialStatements"
        [routerLink]="['/financial-statement/report/basic']"
        >Explore</a
      >
    </div>

    <div class="card" id="card3">
      <strong
        class="data-point-value"
        [ngClass]="{ 'loading-value': dataForVisualization.loading }"
      >
        {{
          stateSelected && creditRating
            ? creditRating[stateSelected.name] || 0
            : (creditRating.total | inrCurrency: { currencyTypeInUser: null })
        }}
      </strong>
      <span class="data-point-name">
        <span>
          ULBs' Credit Rating report<span
            *ngIf="
              (stateSelected && creditRating
                ? creditRating[stateSelected.name] || 0
                : creditRating.total) > 1
            "
            >s</span
          >
        </span>

        <!-- <span *ngIf="stateSelected">
          (out of
          <span>
            <strong [ngClass]="{ 'loading-value': dataForVisualization.loading }">
              {{
                creditRating?.total | inrCurrency: { currencyTypeInUser: null }
              }}
            </strong></span
          >
          ULBs)</span> -->
      </span>
      <a
        *ngIf="
          stateSelected && creditRating
            ? creditRating[stateSelected.name] || 0
            : creditRating.total
        "
        class="btn btn-explore"
        [routerLink]="['/borrowings/credit-rating']"
        [queryParams]="{ state: stateSelected ? stateSelected.name : null }"
        >Explore</a
      >
    </div>

    <div class="card" id="card4">
      <strong class="data-point-value">
        <span
          *ngIf="creditRatingAboveBBB_Minus !== undefined"
          [ngClass]="{ 'loading-value': dataForVisualization.loading }"
        >
          {{
            creditRatingAboveBBB_Minus
              | inrCurrency: { currencyTypeInUser: null }
          }}
        </span>
      </strong>
      <span>
        ULB<span
          *ngIf="creditRatingAboveBBB_Minus && creditRatingAboveBBB_Minus > 1"
          >s</span
        >
        <br />
        <span> with investment grade Rating </span>
      </span>
      <a
        *ngIf="creditRatingAboveBBB_Minus"
        class="btn btn-explore"
        [routerLink]="['/borrowings/credit-rating']"
        [queryParams]="{
          state: stateSelected ? stateSelected.name : null,
          minRating: 'BBB-'
        }"
        >Explore</a
      >
    </div>

    <div class="card" id="card5">
      <strong class="data-point-value">
        <span [ngClass]="{ 'loading-value': dataForVisualization.loading }">
          {{ creditRatingAboveA | inrCurrency: { currencyTypeInUser: null } }}
        </span>
      </strong>
      <span>
        ULB<span *ngIf="creditRatingAboveA && creditRatingAboveA > 1">s</span>
        <br />
        with Rating of A and above
      </span>
      <a
        *ngIf="creditRatingAboveA"
        class="btn btn-explore"
        [routerLink]="['/borrowings/credit-rating']"
        [queryParams]="{
          state: stateSelected ? stateSelected.name : null,
          minRating: 'A'
        }"
        >Explore</a
      >
    </div>

    <div class="card" id="card6">
      <div>
        <strong class="data-point-value">
          <span [ngClass]="{ 'loading-value': dataForVisualization.loading }">
            {{
              dataForVisualization?.totalMunicipalBonds || 0
                | inrCurrency: { currencyTypeInUser: null }
            }}
          </span>
        </strong>
        <span
          >Municipal Bond issuances of <br />
          <strong class="data-point-value"
            >Rs
            <span [ngClass]="{ 'loading-value': isBondIssueAmountInProgress }">
              {{ bondIssueAmount | inrCurrency: { currencyTypeInUser: null } }}
            </span>
            Cr</strong
          >
          with details</span
        >
      </div>
      <a
        *ngIf="bondIssueAmount"
        class="btn btn-explore"
        [routerLink]="['/borrowings/municipal-bond']"
        [queryParams]="{ state: stateSelected ? stateSelected._id : null }"
        >Explore</a
      >
    </div>

    <!-- <h3 class="heading">{{ stateSelected ? stateSelected.name : "India" }}</h3>

    <table>
      <tbody>
        <tr>
          <td>
            <strong
              [attr.data-animate-value]="dataForVisualization?.totalULB || 0"
              [ngClass]="{ 'loading-value': dataForVisualization.loading }"
              >0</strong
            >
          </td>
          <td>Total ULBs</td>
        </tr>
        <tr>
          <td>
            <strong
              [attr.data-animate-value]="
                dataForVisualization?.coveredUlbCount || 0
              "
              [ngClass]="{ 'loading-value': dataForVisualization.loading }"
              >0</strong
            >
          </td>
          <td>ULBs with Data</td>
        </tr>
        <tr>
          <td>
            <strong
              [attr.data-animate-value]="
                dataForVisualization?.financialStatements || 0
              "
              [ngClass]="{ 'loading-value': dataForVisualization.loading }"
              >0</strong
            >
          </td>
          <td>
            Financial Statements
          </td>
        </tr>
        <tr>
          <td>
            <strong
              [attr.data-animate-value]="
                dataForVisualization?.totalMunicipalBonds || 0
              "
              [ngClass]="{ 'loading-value': dataForVisualization.loading }"
            >
              0
            </strong>
          </td>
          <td>Municipal Bond issuances</td>
        </tr>
        <tr>
          <td>
            <strong
              [attr.data-animate-value]="
                stateSelected
                  ? creditRating[stateSelected.name] || 0
                  : creditRating.total
              "
              [ngClass]="{ 'loading-value': dataForVisualization.loading }"
            >
              0
            </strong>
          </td>
          <td>ULBs with Credit Rating Reports</td>
        </tr>
      </tbody>
    </table> -->
  </div>
  <div class="mapWrapper">
    <div id="mapid"></div>
  </div>
</div>