:host {
  ol,
  ul {
    list-style-type: none;
  }
  mat-radio-button {
    margin-left: 1%;
  }

  .sub-questions-list,
  .textarea-wrapper {
    width: 47vw;
  }

  .sub-questions-list li {
    margin-top: 3%;
  }

  .mat-expansion-panel {
    margin-bottom: 2%;
  }
  button.btn-primary {
    outline: none;
  }
  .date-field {
    width: 55%;
    padding: 4%;
    border: 1px solid white;
  }
}

::ng-deep .buttonWrapper {
  justify-content: center !important;
  button {
    margin-left: 2%;
  }
}
