<div class="" *ngIf="!isApiInProgress">
    <div class="container-fluid">
        <div class="pre-y" style="" *ngIf="!isPreYear" [innerHTML]="preMess">
        </div>
    </div>
    <div class="container-fluid mb-3" *ngIf="waterRejenuvation && isPreYear" style="">
        <div class="row mb-2" style="">
            <div class="col-sm-9">
                <h4 class="form-header">
                    Projects for Water and Sanitation
                </h4>
            </div>
            <div class="col-sm-3 text-end">
                <button type="button" class="btn btn-primary" (click)="onPreview()">PREVIEW</button>
            </div>
        </div>
        <form [formGroup]="waterRejenuvation">
            <div class="mb-3" formArrayName="uaData" *ngFor="let uas of Uas; let projectIndex=index" style="">
                <div class="card mt-2 ms-0" style="">
                    <div [formGroupName]="projectIndex" class="card-body ">
                        <div class="row" style="">
                            <div class="col-sm-9 head-l" style="">
                                <!-- Urban Aggolmeration {{uaDetails.uaName.split(' ')[0]}} -->
                                UA{{projectIndex+1}}: Urban Agglomeration {{ uaIdToName(projectIndex)}}
                            </div>
                            <div class="col-sm-3 text-end" style="">
                                <button class="btn btn-primary" [ngClass]="{'selectBtn': checkCard(projectIndex)}" (click)="foldCard(projectIndex)">Select</button>
                            </div>
                        </div>
                        <div class="row"  *ngIf="checkCard(projectIndex)">
                          <div class="col-sm-12">
                            <div>
                              <h5 class="tb-head" style="">Fill Details of Project for Rejuvenation of Water Bodies<span style="color: red;">*</span></h5>
                          </div>
                          <div class="table-responsive">
                            <table class="table custom-position tb1">
                              <thead>
                                  <tr class="thHeader">
                                      <th scope="col">S.No</th>
                                      <th  scope="col">Project Name</th>
                                      <th  scope="col">Name Of Water Body</th>
                                      <th scope="col">Area</th>
                                      <th scope="col">Upload Photo</th>
                                      <th  scope="col">
                                          <span>Location</span><br>
                                          <span>Latitude and Longitude</span>
                                      </th>
                                      <th scope="col"></th>
                                      <th scope="col">BOD in mg/L</th>
                                      <th scope="col">COD in mg/L</th>
                                      <th scope="col">DO in mg/L</th>
                                      <th scope="col">TDS in mg/L</th>
                                      <th scope="col">Turbidity in NTU</th>
                                      <th scope="col">Project Details</th>
                                      <th scope="col" class="w-8p">Preparation of DPR</th>
                                      <th scope="col">Completion of tendering process</th>
                                      <th scope="col">% of work completion</th>
                                      <th scope="col"></th>
                                  </tr>
                              </thead>
                              <tbody formArrayName="waterBodies" *ngFor="let projectRow of getSubControlsWaterBodies(projectIndex); let waterBodiesIndex=index">
                                  <tr [formGroupName]="waterBodiesIndex" [ngClass]="{'anDisable': getDisableRow(projectRow)}">
                                      <td class="t-i">
                                          <span style="height:4rem">{{1+waterBodiesIndex}}</span>
                                      </td>
                                      <td>
                                          <input style="height:4rem" formControlName="name" matTooltipPosition="above" [ngClass]="{'falseVal': checkErrorState(projectRow,'name')}" [matTooltip]="checkErrorState(projectRow,'name') ? 'Enter 1-50 Characters' : null" type="text" />
                                      </td>
                                      <td>
                                          <input style="height:4rem" formControlName="nameOfBody" matTooltipPosition="above" [ngClass]="{'falseVal': checkErrorState(projectRow,'nameOfBody')}" [matTooltip]="checkErrorState(projectRow,'nameOfBody') ? 'Enter 1-50 Characters' : null" type="text"
                                          />
                                      </td>
                                      <td>
                                          <input style="height:4rem" matTooltipPosition="above" [matTooltip]="checkErrorState(projectRow,'area') ? 'Min value 1' : null" [ngClass]="{'falseVal': checkErrorState(projectRow,'area')}" formControlName="area" type="number" pattern="^\d*(\.\d{0,6})?$">
                                      </td>
                                      <td style="width: 9%;" class="icon">
                                          <div class="image-upload" style="display: inline-block;" [matTooltip]="checkErrorState(projectRow,'photos') ? 'No photos added' : null" [ngClass]="{'ph-error': checkErrorState(projectRow,'photos')}">
                                              <label class="file" [attr.for]="waterBodiesIndex + '' + projectIndex">
                                              <img src="../../../../assets/form-icon/Icon feather-upload.svg">
                                          </label>
                                              <input style="display: none;" onclick="this.value = null;" [attr.id]="waterBodiesIndex + '' + projectIndex" type="file" [ngClass]="{'disableInputs': isDisabled }" accept=".png,.jpg,.jpeg" (change)="onFileChange($event,waterBodiesIndex,projectIndex)" required
                                                  multiple />
                                          </div>
                                          <a style="margin-left: 1ch; pointer-events: all;" (click)="imgPreview(waterBodiesIndex,projectIndex)">
                                              <span class="material-icons file" style="font-size: 14px; padding-left:2px; vertical-align: middle;">
                                              collections
                                          </span>
                                          </a>
                                          <a style="margin-left: 1ch;" (click)="removePhotos(waterBodiesIndex,projectIndex)" [ngClass]="{'disableInputs': isDisabled }">
                                              <span class="material-icons file" style="font-size: 14px; padding-left:2px; vertical-align: middle; color: red;">
                                              delete_forever
                                          </span></a>
                                      </td>
                                      <td style="display: flex;" class="rdDiv">
                                          <input style="height:4rem" matTooltipPosition="above" [matTooltip]="checkErrorState(projectRow,'lat') ? 'Enter Valid lat' : null" [ngClass]="{'falseVal': checkErrorState(projectRow,'lat') }" (blur)="latLong($event.target.value,projectRow,'lat')" formControlName="lat"
                                              pattern="^\d*(\.\d{0,6})?$" type="number" min="1">
                                          <input matTooltipPosition="above" [matTooltip]="checkErrorState(projectRow,'long') ? 'Enter Valid long' : null" [ngClass]="{'falseVal': checkErrorState(projectRow,'long')}" (blur)="latLong($event.target.value,projectRow,'long')" formControlName="long"
                                              style="margin-left: 1ch; height:4rem" type="text" min="1" pattern="^\d*(\.\d{0,6})?$">
                                          <a (click)="openMap(waterBodiesIndex,projectIndex,'waterBodies')" class="d-i" [ngClass]="{'disableInputs': isDisabled }">
                                              <mat-icon class="file" aria-hidden="false">
                                                  <img src="../../../../assets/form-icon/GOOGLE_MAPS_LOGO_JPG.png">
                                              </mat-icon>
                                          </a>
                                      </td>


                                      <td>
                                          <div style="margin-bottom: 33%;  font-size: 13px;
                                      font-weight: bold;">Current</div>
                                          <div style=" font-size: 13px;
                                      font-weight: bold;">Expected</div>
                                      </td>

                                      <td>
                                          <div style="margin-bottom:5px">
                                              <input matTooltipPosition="above" placeholder="Current" [matTooltip]="checkErrorState(projectRow,'bod') ? 'Min value 1' : null" [ngClass]="{'falseVal': checkErrorState(projectRow,'bod')}" formControlName="bod" pattern="^\d*(\.\d{0,6})?$" type="number"
                                                  min="1">
                                          </div>
                                          <div>
                                              <input matTooltipPosition="above" placeholder="Expected" [matTooltip]="checkErrorState(projectRow,'bod_expected') ? 'Min value 1' : null" [ngClass]="{'falseVal': checkErrorState(projectRow,'bod_expected')}" formControlName="bod_expected" pattern="^\d*(\.\d{0,6})?$"
                                                  type="number" min="1">
                                          </div>
                                      </td>

                                      <td>
                                          <div style="margin-bottom:5px">
                                              <input matTooltipPosition="above" placeholder="Current" [matTooltip]="checkErrorState(projectRow,'cod') ? 'Min value 1' : null" [ngClass]="{'falseVal': checkErrorState(projectRow,'cod')}" formControlName="cod" pattern="^\d*(\.\d{0,6})?$" type="number"
                                                  min="1">
                                          </div>
                                          <div>
                                              <input matTooltipPosition="above" placeholder="Expected" [matTooltip]="checkErrorState(projectRow,'cod_expected') ? 'Min value 1' : null" [ngClass]="{'falseVal': checkErrorState(projectRow,'cod_expected')}" formControlName="cod_expected" pattern="^\d*(\.\d{0,6})?$"
                                                  type="number" min="1">
                                          </div>
                                      </td>

                                      <td>
                                          <div style="margin-bottom: 5px;">
                                              <input matTooltipPosition="above" placeholder="Current" [matTooltip]="checkErrorState(projectRow,'do') ? 'Min value 1' : null" [ngClass]="{'falseVal': checkErrorState(projectRow,'do')}" formControlName="do" pattern="^\d*(\.\d{0,6})?$" type="number" min="1">
                                          </div>
                                          <div>
                                              <input matTooltipPosition="above" placeholder="Expected" [matTooltip]="checkErrorState(projectRow,'do_expected') ? 'Min value 1' : null" [ngClass]="{'falseVal': checkErrorState(projectRow,'do_expected')}" formControlName="do_expected" pattern="^\d*(\.\d{0,6})?$"
                                                  type="number" min="1">
                                          </div>
                                      </td>

                                      <td>
                                          <div style="margin-bottom: 5px;">
                                              <input matTooltipPosition="above" placeholder="Current" [matTooltip]="checkErrorState(projectRow,'tds') ? 'Min value 1' : null" [ngClass]="{'falseVal': checkErrorState(projectRow,'tds')}" formControlName="tds" pattern="^\d*(\.\d{0,6})?$" type="number"
                                                  min="1">
                                          </div>
                                          <div>
                                              <input matTooltipPosition="above" placeholder="Expected" [matTooltip]="checkErrorState(projectRow,'tds_expected') ? 'Min value 1' : null" [ngClass]="{'falseVal': checkErrorState(projectRow,'tds_expected')}" formControlName="tds_expected" pattern="^\d*(\.\d{0,6})?$"
                                                  type="number" min="1">
                                          </div>
                                      </td>

                                      <td>
                                          <div style="margin-bottom: 5px;">
                                              <input matTooltipPosition="above" placeholder="Current" [matTooltip]="checkErrorState(projectRow,'turbidity') ? 'Min value 1' : null" [ngClass]="{'falseVal': checkErrorState(projectRow,'turbidity')}" formControlName="turbidity" pattern="^\d*(\.\d{0,6})?$"
                                                  type="number" min="1">
                                          </div>
                                          <div>
                                              <input matTooltipPosition="above" placeholder="Expected" [matTooltip]="checkErrorState(projectRow,'turbidity_expected') ? 'Min value 1' : null" [ngClass]="{'falseVal': checkErrorState(projectRow,'turbidity_expected')}" formControlName="turbidity_expected"
                                                  pattern="^\d*(\.\d{0,6})?$" type="number" min="1">
                                          </div>
                                      </td>
                                      <td>
                                          <input style="height:4rem" formControlName="details" [ngClass]="{'falseVal': checkErrorState(projectRow,'details')}" matTooltipPosition="above" [matTooltip]="checkErrorState(projectRow,'details') ? 'Enter 1-200 Characters' : null" type="text" />
                                      </td>
                                      <!-- [ngClass]="{'disableInputs': isDisabled, 'enableInputs': !isDisabled}" -->
                                      <td class="rdDiv" [ngClass]="{'disableInputs': isDisabled, 'enableInputs': !isDisabled}">
                                          <input formControlName="dprPreparation" (change)="onChange($event.target.value, waterBodiesIndex, 'waterB', projectIndex)" type="radio" class="rdBtn" value="Yes">&nbsp;
                                          <label class="custom-control-label" for="dprPreparation1{{waterBodiesIndex}}" [matTooltip]="checkErrorState(projectRow,'dprPreparation') ? 'Select yes or No' : null" [ngClass]="{'ph-error-sp': checkErrorState(projectRow,'dprPreparation')}">Yes</label>&nbsp;&nbsp;
                                          <input formControlName="dprPreparation" (change)="onChange($event.target.value, waterBodiesIndex, 'waterB', projectIndex)" type="radio" class="rdBtn" value="No">&nbsp;
                                          <label class="custom-control-label" for="dprPreparation1{{waterBodiesIndex}}" [matTooltip]="checkErrorState(projectRow,'dprPreparation') ? 'Select yes or No' : null" [ngClass]="{'ph-error-sp': checkErrorState(projectRow,'dprPreparation')}">No</label>
                                      </td>
                                      <td class="rdDiv" [ngClass]="{'disableInputs': isDisabled, 'enableInputs': !isDisabled}">
                                        <div *ngIf="waterRejenuvation?.value?.uaData[projectIndex]?.waterBodies[waterBodiesIndex]?.dprPreparation == 'Yes'">
                                          <input formControlName="dprCompletion" (change)="onChange($event.target.value, waterBodiesIndex, 'waterBCom', projectIndex)" type="radio" class="rdBtn" value="Yes">&nbsp;
                                        <label class="custom-control-label" for="dprCompletion1{{waterBodiesIndex}}" [matTooltip]="checkErrorState(projectRow,'dprCompletion') ? 'Select yes or No' : null" [ngClass]="{'ph-error-sp': checkErrorState(projectRow,'dprCompletion')}">Yes</label>&nbsp;&nbsp;
                                        <input formControlName="dprCompletion" (change)="onChange($event.target.value, waterBodiesIndex, 'waterBCom', projectIndex)" type="radio" class="rdBtn" value="No">&nbsp;
                                        <label class="custom-control-label" for="dprCompletion1{{waterBodiesIndex}}" [matTooltip]="checkErrorState(projectRow,'dprCompletion') ? 'Select yes or No' : null" [ngClass]="{'ph-error-sp': checkErrorState(projectRow,'dprCompletion')}">No</label>
                                        </div>

                                    </td>
                                      <td [ngClass]="{'disableInputs': isDisabled, 'enableInputs': !isDisabled}">
                                          <div class="" *ngIf="waterRejenuvation?.value?.uaData[projectIndex]?.waterBodies[waterBodiesIndex]?.dprCompletion == 'Yes'">
                                              <input matTooltipPosition="above" class="workCompletion" [matTooltip]="checkErrorState(projectRow,'workCompletion') ? 'Min value 0 and Max 100' : null"
                                               [ngClass]="{'falseVal': checkErrorState(projectRow,'workCompletion')}" formControlName="workCompletion" type="number"
                                                   (change)="warningForAmount($event.target.value)">
                                          </div>
                                      </td>

                                      <td class="icon">
                                          <a [ngClass]="{'anDisable': getDisableRow(projectRow), 'disableInputs': isDisabled}" (click)="deleteRow3(projectIndex, waterBodiesIndex)" class="d-i">
                                              <mat-icon aria-hidden="false">
                                                  <img src="../../../../assets/form-icon/Icon material-delete.svg">
                                              </mat-icon>
                                          </a>
                                      </td>
                                      <!-- <td *ngIf="1+waterBodiesIndex==1">
                                  </td> -->
                                  </tr>
                              </tbody>
                          </table>

                          </div>
                          <div class="addMoreDiv text-right mb-2">
                            <button type="button" class="btn" (click)="addRow1(projectIndex)" id="addmoreBtn" [disabled]="disableAddMore1">
                            <span class="material-icons text-center"
                                style="font-size: 12px; margin-right: 3px;">
                                add_circle_outline
                            </span>Add more</button>
                        </div>

                          <div class="mt-3">
                              <h5 class="tb-head" style="">Fill Details of Projects for Recycling and Reuse of Water<span style="color: red;">*</span></h5>
                          </div>
                          <div class="table-responsive">
                            <table class="table custom-position tb2">
                              <thead>
                                  <tr class="thHeader">
                                      <th scope="col">S.No</th>
                                      <th  scope="col">Project Name</th>
                                      <th  scope="col">
                                          <span>Location of Water Treatment Plant</span><br>
                                          <span>Latitude and Longitude</span>
                                      </th>
                                      <th scope="col">Proposed capacity of STP(MLD)</th>
                                      <th scope="col">Proposed water quantity to be reused(MLD)</th>

                                      <th scope="col">Target customers/ consumer for reuse of water</th>
                                      <!-- <th style="width: 12%;" scope="col">Preparation of DPR and completion of tendering process</th>
                                      <th style="width: 10%;" scope="col">% of work completion</th> -->
                                      <th scope="col" class="w-8p">Preparation of DPR</th>
                                      <th scope="col" >Completion of tendering process</th>
                                      <th scope="col">% of work completion</th>

                                      <th scope="col"></th>
                                  </tr>
                              </thead>
                              <tbody formArrayName="reuseWater" *ngFor="let projectRow of getSubControlsWaterReuse(projectIndex); let reuseWaterIndex=index">

                                  <tr [formGroupName]="reuseWaterIndex" [ngClass]="{'anDisable': getDisableRow(projectRow)}">
                                      <td class="t-i">
                                          <span>{{1+reuseWaterIndex}}</span>
                                      </td>

                                      <td>

                                          <input formControlName="name" matTooltipPosition="above" [ngClass]="{'falseVal': checkErrorState(projectRow,'name')}" [matTooltip]="checkErrorState(projectRow,'name') ? 'Enter 1-50 Characters' : null" type="text" />
                                      </td>
                                      <td style="display: flex;position: relative;bottom: 2px;">
                                          <input matTooltipPosition="above" [matTooltip]="checkErrorState(projectRow,'lat') ? 'Enter Valid lat' : null" [ngClass]="{'falseVal': checkErrorState(projectRow,'lat')}" formControlName="lat" (blur)="latLong($event.target.value,projectRow,'lat')" pattern="^\d*(\.\d{0,6})?$"
                                              type="number" min="1">
                                          <input matTooltipPosition="above" [matTooltip]="checkErrorState(projectRow,'long') ? 'Enter Valid long' : null" [ngClass]="{'falseVal': checkErrorState(projectRow,'long')}" formControlName="long" (blur)="latLong($event.target.value,projectRow,'long')"
                                              style="margin-left: 1pc;" type="text" min="1" pattern="^\d*(\.\d{0,6})?$">
                                          <a (click)="openMap(reuseWaterIndex,projectIndex,'reuseWater')" class="d-i" [ngClass]="{'disableInputs': isDisabled }">
                                              <mat-icon aria-hidden="false">
                                                  <img src="../../../../assets/form-icon/GOOGLE_MAPS_LOGO_JPG.png">
                                              </mat-icon>
                                          </a>
                                      </td>
                                      <td>
                                          <input matTooltipPosition="above" [matTooltip]="checkErrorState(projectRow,'stp') ? 'Min value 1' : null" [ngClass]="{'falseVal': checkErrorState(projectRow,'stp')}" formControlName="stp" type="number" pattern="^\d*(\.\d{0,6})?$" min="1">
                                      </td>
                                      <td>
                                          <input formControlName="treatmentPlant" matTooltipPosition="above" [ngClass]="{'falseVal': checkErrorState(projectRow,'treatmentPlant')}" [matTooltip]="checkErrorState(projectRow,'treatmentPlant') ? 'Enter Number' : null" type="number">
                                      </td>
                                      <td>
                                          <input formControlName="targetCust" matTooltipPosition="above" [ngClass]="{'falseVal': checkErrorState(projectRow,'targetCust')}" [matTooltip]="checkErrorState(projectRow,'targetCust') ? 'Enter Text' : null" type="text">
                                      </td>
                                      <td class=" rdDiv" [ngClass]="{'disableInputs': isDisabled, 'enableInputs': !isDisabled}">
                                          <!-- [name]="'dprCompletion2' + reuseWaterIndex" [attr.name]="'dprCompletion2' + reuseWaterIndex" -->
                                          <input formControlName="dprPreparation" (change)="onChange($event.target.value, reuseWaterIndex, 'rWater', projectIndex)" type="radio" class="rdBtn" value="Yes">&nbsp;
                                          <label class="custom-control-label" for="dprPreparation2{{reuseWaterIndex}}" [ngClass]="{'ph-error-sp': checkErrorState(projectRow,'dprPreparation')}">Yes</label>&nbsp;&nbsp;
                                          <input formControlName="dprPreparation" (change)="onChange($event.target.value, reuseWaterIndex, 'rWater', projectIndex)" type="radio" class="rdBtn" value="No">&nbsp;
                                          <label class="custom-control-label" for="dprPreparation2{{reuseWaterIndex}}" [ngClass]="{'ph-error-sp': checkErrorState(projectRow,'dprPreparation')}">No</label>
                                      </td>
                                      <td class="rdDiv" [ngClass]="{'disableInputs': isDisabled, 'enableInputs': !isDisabled}">
                                        <div class="" *ngIf="waterRejenuvation?.value?.uaData[projectIndex]?.reuseWater[reuseWaterIndex]?.dprPreparation == 'Yes'">
                                        <input formControlName="dprCompletion" (change)="onChange($event.target.value, reuseWaterIndex, 'rWaterCom', projectIndex)" type="radio" class="rdBtn" value="Yes">&nbsp;
                                        <label class="custom-control-label" for="dprCompletion2{{reuseWaterIndex}}" [ngClass]="{'ph-error-sp': checkErrorState(projectRow,'dprCompletion')}">Yes</label>&nbsp;&nbsp;
                                        <input formControlName="dprCompletion" (change)="onChange($event.target.value, reuseWaterIndex, 'rWaterCom', projectIndex)" type="radio" class="rdBtn" value="No">&nbsp;
                                        <label class="custom-control-label" for="dprCompletion2{{reuseWaterIndex}}" [ngClass]="{'ph-error-sp': checkErrorState(projectRow,'dprCompletion')}">No</label>
                                        </div>
                                    </td>
                                      <td [ngClass]="{'disableInputs': isDisabled, 'enableInputs': !isDisabled}">
                                          <div style="margin-bottom: 5px;" *ngIf="waterRejenuvation?.value?.uaData[projectIndex]?.reuseWater[reuseWaterIndex]?.dprCompletion == 'Yes'">
                                              <input matTooltipPosition="above" [matTooltip]="checkErrorState(projectRow,'workCompletion') ? 'Min value 0 and Max 100' : null"
                                               [ngClass]="{'falseVal': checkErrorState(projectRow,'workCompletion')}" formControlName="workCompletion"
                                                type="number" (change)="warningForAmount($event.target.value)">
                                          </div>
                                      </td>
                                      <!-- *ngIf="1+reuseWaterIndex>1" -->
                                      <td class="iconSliAndReuse">
                                          <a [ngClass]="{'anDisable': getDisableRow(projectRow), 'disableInputs': isDisabled}" (click)="deleteRow1(projectIndex,reuseWaterIndex)" class="d-i">
                                              <mat-icon aria-hidden="false">
                                                  <img src="../../../../assets/form-icon/Icon material-delete.svg">
                                              </mat-icon>
                                          </a>
                                      </td>
                                      <!-- <td *ngIf="1+reuseWaterIndex==1">
                                  </td> -->
                                  </tr>
                              </tbody>
                          </table>
                          </div>
                          <div class="addMoreDiv text-right">
                            <button type="button" class="btn" (click)="addRow2(projectIndex)" id="addmoreBtn" [disabled]="disableAddMore2">
                            <span class="material-icons text-center"
                                style="font-size: 12px; margin-right: 3px;">
                                add_circle_outline
                            </span>Add more</button>
                        </div>

                          <div class="mt-3" style="">
                              <h4 class="tb-head" style=""> Details of Proposed Project to Improve Service Level Indicators related to Water Supply<span style="color: red;">*</span>
                              </h4>
                          </div>
                          <div class="table-responsive">
                            <table class="table custom-position tb3">
                              <thead>
                                  <tr class="thHeader">
                                      <th style="width: 5%;" scope="col">S.No</th>
                                      <th scope="col">Project Name</th>
                                      <th scope="col">Physical Components

                                          <img matTooltip="such as no. of tap connections, length of water pipeline to be laid, capacity of water treatment plan to be set up" style="width: 16px;height: 16px;" src="../../../../assets/ulbform/info_black_24dp.svg">

                                      </th>
                                      <th scope="col">Indicator</th>
                                      <th scope="col">Existing (As-is)
                                      </th>
                                      <th scope="col">After (To-be)
                                      </th>
                                      <th scope="col">Estimated Cost (Amount in INR Lakhs)</th>
                                      <th class="w-8p" scope="col">Preparation of DPR</th>
                                      <th class="w-8p" scope="col">Completion of tendering process</th>
                                      <th scope="col">% of work completion</th>
                                      <!-- <th style="" scope="col">
                                      <span [ngClass]="{'toggle' : toggle2}"> % of work completion</span>
                                  </th> -->
                                      <th scope="col"></th>
                                  </tr>
                              </thead>
                              <tbody formArrayName="serviceLevelIndicators" *ngFor="let projectRow of getSubControlsServiceLevelIndicator(projectIndex); let sliIndex=index">

                                  <tr [formGroupName]="sliIndex" [ngClass]="{'anDisable': getDisableRow(projectRow)}">

                                      <td class="t-i">
                                          <span>{{1+sliIndex}}</span>
                                      </td>
                                      <td>
                                          <input formControlName="name" matTooltipPosition="above" [matTooltip]="" type="text" matTooltipPosition="above" [ngClass]="{'falseVal': checkErrorState(projectRow,'name')}" [matTooltip]="checkErrorState(projectRow,'name') ? 'Enter 1-50 Characters' : null"
                                          />
                                      </td>
                                      <td>
                                          <input formControlName="component" matTooltipPosition="above" [matTooltip]="" type="text" matTooltipPosition="above" [ngClass]="{'falseVal': checkErrorState(projectRow,'component')}" [matTooltip]="checkErrorState(projectRow,'name') ? 'Enter 1-50 Characters' : null">
                                      </td>
                                      <td>


                                          <select [disabled]="isDisabled" (change)="indicatorSet($event, projectIndex,sliIndex)">
                                          <option value="">--Select Indicator--</option>
                                          <!-- <option
                                              [selected]="Uas[projectIndex].value['serviceLevelIndicators'][sliIndex]['indicator'] == Indicator"
                                              *ngFor="let Indicator of waterIndicators">
                                              {{Indicator}}</option> -->
                                              <option [selected]="Uas[projectIndex]?.value['serviceLevelIndicators'][sliIndex]['indicator'] == Indicator?.lineItemId"
                                              *ngFor="let Indicator of waterIndicators" [value]="Indicator?.lineItemId">
                                                 {{Indicator?.name}}
                                             </option>

                                      </select>
                                          <!-- <input  matTooltipPosition="above"
                                          [matTooltip]="" type="text"> -->
                                      </td>
                                      <td>
                                          <input formControlName="existing" matTooltipPosition="above" [matTooltip]="" type="number" pattern="^\d*(\.\d{0,6})?$">
                                      </td>
                                      <td>
                                          <input formControlName="after" matTooltipPosition="above" [matTooltip]="" type="number" pattern="^\d*(\.\d{0,6})?$">
                                      </td>
                                      <td>
                                          <input formControlName="cost" matTooltipPosition="above" [matTooltip]="" type="number" pattern="^\d*(\.\d{0,6})?$">
                                      </td>
                                      <td class="rdDiv" [ngClass]="{'disableInputs': isDisabled, 'enableInputs': !isDisabled}">
                                          <!-- [name]="'dprCompletion3' + sliIndex" [attr.name]="'dprCompletion2' + sliIndex" -->
                                          <input formControlName="dprPreparation" (change)="onChange($event.target.value, sliIndex, 'sWater', projectIndex)" type="radio" class="rdBtn" value="Yes">&nbsp;
                                          <label class="custom-control-label" for="dprPreparation3{{sliIndex}}" [ngClass]="{'ph-error-sp': checkErrorState(projectRow,'dprPreparation')}">Yes</label>&nbsp;&nbsp;
                                          <input formControlName="dprPreparation" (change)="onChange($event.target.value, sliIndex, 'sWater', projectIndex)" type="radio" class="rdBtn" value="No">&nbsp;
                                          <label class="custom-control-label" for="dprPreparation3{{sliIndex}}" [ngClass]="{'ph-error-sp': checkErrorState(projectRow,'dprPreparation')}">No</label>
                                      </td>
                                      <td class="rdDiv" [ngClass]="{'disableInputs': isDisabled, 'enableInputs': !isDisabled}">
                                        <div class="" *ngIf="waterRejenuvation?.value?.uaData[projectIndex]?.serviceLevelIndicators[sliIndex]?.dprPreparation == 'Yes'">
                                        <input formControlName="dprCompletion" (change)="onChange($event.target.value, sliIndex, 'sWaterCom', projectIndex)" type="radio" class="rdBtn" value="Yes">&nbsp;
                                        <label class="custom-control-label" for="dprCompletion3{{sliIndex}}" [ngClass]="{'ph-error-sp': checkErrorState(projectRow,'dprCompletion')}">Yes</label>&nbsp;&nbsp;
                                        <input formControlName="dprCompletion" (change)="onChange($event.target.value, sliIndex, 'sWaterCom', projectIndex)" type="radio" class="rdBtn" value="No">&nbsp;
                                        <label class="custom-control-label" for="dprCompletion3{{sliIndex}}" [ngClass]="{'ph-error-sp': checkErrorState(projectRow,'dprCompletion')}">No</label>
                                        </div>
                                    </td>
                                      <td [ngClass]="{'disableInputs': isDisabled, 'enableInputs': !isDisabled}">
                                          <div style="margin-bottom: 5px;" *ngIf="waterRejenuvation?.value?.uaData[projectIndex]?.serviceLevelIndicators[sliIndex]?.dprCompletion == 'Yes'">
                                              <input matTooltipPosition="above"
                                              [matTooltip]="checkErrorState(projectRow,'workCompletion') ? 'Min value 0 and Max 100' : null"
                                               [ngClass]="{'falseVal': checkErrorState(projectRow,'workCompletion')}"
                                               formControlName="workCompletion" type="number" (change)="warningForAmount($event.target.value)">
                                          </div>
                                          <p>
                                          </p>
                                      </td>
                                      <!-- *ngIf="1+sliIndex>1" -->
                                      <td class="iconSliAndReuse">
                                          <a [ngClass]="{'anDisable': getDisableRow(projectRow), 'disableInputs': isDisabled}" (click)="deleteRow2(projectIndex, sliIndex)" class="d-i">
                                              <mat-icon aria-hidden="false">
                                                  <img src="../../../../assets/form-icon/Icon material-delete.svg">
                                              </mat-icon>
                                          </a>
                                      </td>
                                      <!-- <td *ngIf="1+sliIndex==1">
                                  </td> -->
                                  </tr>
                              </tbody>
                          </table>

                          </div>
                          <div class="addMoreDiv text-right">
                            <button type="button" class="btn" (click)="addRow3(projectIndex)" id="addmoreBtn" [disabled]="disableAddMore3">
                            <span class="material-icons text-center"
                                style="font-size: 12px; margin-right: 3px;">
                                add_circle_outline
                            </span>Add more</button>
                        </div>
                          </div>
                            <!-- review process for MoHUA -->
                            <!-- <div class="action-div p-3">
                                <app-state-common-review [canTakeAction]="completeWaterRejData?.canTakeAction" [question]="completeWaterRejData?.uaData[projectIndex]"
                                [formData]="completeWaterRejData" (formChangeEventEmit)="actionFormChanges($event)" 
                                [actionPayload]="actionPayload" [isActionSubmitted]="isActionSubmitted" [formName]="'projects_wss'">
                            </app-state-common-review>
                            </div> -->

                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card mt-3" style="">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6 head-l">
                                    Declaration Upload :
                                </div>
                                <div class="col-sm-6">
                                    <!-- <div class="mb-3 question"> -->
                                    <div class="image-upload">
                                        <label for="ipt">
                                      <button class="btn btn-primary" (click)="ipt.click()" [disabled]="isDisabled">Upload
                                          PDF
                                          <img src="../../../../assets/form-icon/upload-pdf-icon.png" alt=""
                                              style="" class="ms-2">
                                      </button>
                                      <p class="errorMessege">{{errorMessegeStateAct}}</p>
                                  </label>
                                        <input #ipt id="ipt" name="cin3" type="file" onclick="this.value = null;" (change)="fileChangeEvent($event, 'stateActProgress')" accept=".pdf" [disabled]="isDisabled" />

                                        <div *ngIf="submitted && f?.declaration?.status == 'INVALID'" class="customDate text-danger">
                                            File is required*.
                                        </div>

                                    </div>
                                    <!-- </div> -->
                                </div>
                            </div>
                            <div>
                                <div class="row" *ngIf="showStateAct">
                                    <div class="col-6 filePadding mb-3">
                                        {{stateActFileName}}
                                    </div>
                                    <div class="col-2 progressBar ms-4" *ngIf="stateActProgress">
                                        <div class="progress-bar" *ngIf="stateActProgress" role="progressbar" attr.aria-valuenow="{{ stateActProgress }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: stateActProgress + '%' }">
                                            {{ stateActProgress }}%
                                        </div>
                                    </div>
                                    <div class="col-1 filePadding">
                                        <a href="{{stateActUrl | toStorageUrl}}" target="_blank">
                                            <img src="../../../../assets/form-icon/download-pdf-icon.png" alt="">
                                        </a>
                                        <span>

                                  <a (click)="clearFile('stateAct')" style="margin-left: 4px;" [ngClass]="{'disableInputs': isDisabled }">
                                      <img src="../../../../assets/form-icon/close-red-icon.png" alt="">
                                  </a>
                              </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- final status view  -->
            <!-- <div class="row mt-3" *ngIf="completeWaterRejData?.statusId == 4 || completeWaterRejData?.statusId == 6 || completeWaterRejData?.statusId == 7">
                <div class="col-sm-12">
                <div class="card">
                <div class="card-body fw-bold">
                    Form Status : {{completeWaterRejData?.status}}
                </div>
                </div>
            </div>
            </div> -->

            <div class="row mb-3 mt-3" style="">
                <div class="col-sm-5">
                    <button [routerLink]="backRouter" routerLinkActive="router-link-active" class="btn btn-c-back">
              <- Previous Form
            </button>
                </div>
                <div class="col-sm-7 text-end">
                    <button class="btn btn-primary" *ngIf="userData?.role == 'STATE'" (click)="onDraft()" type="button" [disabled]="isDisabled" [ngClass]="{'p-none': isLoadingError}">
                Save as Draft
              </button>
                    <button class="btn btn-primary ms-2" *ngIf="userData?.role == 'STATE'" (click)="saveButtonClicked()" type="button" [disabled]="isDisabled" [ngClass]="{'p-none': isLoadingError}">
                Submit
              </button>
                <!-- <button class="btn btn-primary ms-3" *ngIf="userData?.role == 'MoHUA'" type="button" [disabled]="actionBtnDis" (click)="saveAction()" style="">Submit</button> -->

                    <button class="btn btn-c-next ms-2" [routerLink]="nextRouter" type="button">
                Next Form ->
              </button>
                </div>
            </div>

        </form>
    </div>
</div>


<ng-template #templateSave>
    <div class="modal-body text-center ">
        <div class="modal-header">
            <h4 class="modal-title pull-left" style="color: red;"> <i>Unsaved Changes !</i> </h4>
            <div class="text-right">
                <a (click)="alertClose()">
                    <img src="../../../../assets/form-icon/close-red-icon.png">
                </a>
            </div>
        </div>

        <div class="row mb-3 mt-3">
            <div class="col-sm-12">{{alertError}}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-end">
                <button type="button" class="btn btn-light" (click)="discard()">Discard Changes</button>
                <button type="button" class="btn btn-primary m-btn ms-2" (click)="stay()">Stay</button>
                <button type="button" class="btn ms-2 m-btn" (click)="proceed()">
                Save & Proceed
              </button>
            </div>

        </div>

    </div>
</ng-template>

<div class="text-center p-4" *ngIf="isApiInProgress">
    <app-pre-loader-new></app-pre-loader-new>
</div>
