<div class="container mt-2">

    <div class="mt-2" *ngFor="let categoryWiseResource of categoryWiseResources; let i = index;">
        <div class="d-flex justify-content-between">
            <h4 class="fw-bold">{{ categoryWiseResource.name }}</h4>
            <div class="d-flex gap-3" *ngIf="categoryWiseResource?.documents.length > 4;">
                <button class="btn-primary rounded" (click)="scroll('scroller-' + i, -150)">
                    <mat-icon>chevron_left</mat-icon>
                </button>
                <button class="btn-primary rounded" (click)="scroll('scroller-' + i, 150)">
                    <mat-icon>chevron_right</mat-icon>
                </button>
            </div>
        </div>

        <div #scroller class="horizontal-scroll" [id]="'scroller-' + i"
            *ngIf="categoryWiseResource?.documents.length > 0;">
            <a href="{{ document.url | toStorageUrl}}"  target="_blank" *ngFor="let document of categoryWiseResource?.documents"
                style="margin: 1rem 0">
                <div class="card-body pdf">
                    <div style="position: relative">
                        <pdf-viewer *ngIf="document?.url | endsWith : ['.pdf']" [src]="document.url | toStorageUrl"
                            [render-text]="false" [show-all]="false" style="display: block; height: 250px" [page]="1"
                            [zoom-scale]="'page-fit'" [original-size]="false">
                        </pdf-viewer>
                        <img *ngIf="document?.url | endsWith : ['.xls', '.xlsx']" src="assets/excel.png"
                            style="display: block; height: 150px; margin: 50px;" [alt]="document?.name || 'Excel file'">
                    </div>
                    <div class="row">
                        <div class="col-10 details">
                            <p class="file-name" [title]="document.name">{{ document.name }}</p>
                            <p class="created-at">Created on {{ document.createdAt | date: 'dd/MM/yyyy' }}</p>
                        </div>
                        <div class="col-2">
                            <a href="{{ document.url | toStorageUrl }}" target="_blank" download="">
                                <mat-icon class="cursor-pointer">cloud_download</mat-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <div class="row" *ngIf="categoryWiseResources?.length == 0">
        <div class="col-sm-12 mb-3">
            <img class="rounded mx-auto d-block" src="assets/images/sad.svg" />
            <p class="text-center">
                No uploads found
            </p>
        </div>
    </div>
</div>