th:first-child {
    font-weight: 300;
    width: 30vw;
    padding: 1.3rem;
}

.table {
    width: 100%;
}

.mat-elevation-z8 {
    box-shadow: none !important;
}

th {
    width: 10vw;
    padding: 1.3rem;
}

@media only screen and (max-width: 768px) {
    .mat-elevation-z8 {
        overflow-x: scroll;
    }
    td:first-child {
        width: 5rem;
        padding: 1rem;
        // white-space: nowrap;
    }
    td {
        padding: 13px !important;
    }
    th:first-child {
        width: 10vw;
    }
    .tableDiv {
        width: 25rem;
        overflow-x: scroll;
        margin-left: -50px;
    }
}

.NoDataFound {
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}

td {
    border-bottom: 1px solid #d9d8d8;
}

::ng-deep .num-align {
    text-align: right !important;
}

.v-btn {
    cursor: pointer;
    color: #e67e15;
    font-size: 15px;
    margin-top: 1rem;
}