<div id="waterSani" #waterSani>
    <!-- [ngClass]="{'slb-pd':!data?.fromParent, 'slb-pd-t' : data?.fromParent }" -->
    <div [ngClass]="{'slb-pd':!parentData, 'slb-pd-t' : parentData }" style="background: #047474; color: white; position: relative; text-align: center;">
        <span *ngIf='!parentData' class="heading-font" style="margin-top: 0px; margin-bottom: 0;">
        Submissions for 15th FC Grants for FY 2021-22</span>
        <h3 *ngIf="parentData" class="slb-h" style="text-align: center">Indicators for Water Supply and Sanitation</h3>
        <h3 *ngIf='!parentData' class="sub-h-font" style="text-align: center; margin-top: 3px; margin-bottom: 0;">
            {{stateName}}
        </h3>
        <i *ngIf='!parentData' style="position: absolute; right: 3%; top: 14%;
        transform: scale(1.5);cursor: pointer;" class="fa fa-times" aria-hidden="true" (click)="close()"></i>
    </div>

    <div class="d-flex justify-content-between mt-2" style="padding-left: 2%">
        <p class="form-status">
            <!-- <b>Application Current Status:</b> -->
        </p>

        <button id="donwloadButton" style="right: 0%; outline: none; margin-right: 2%" class="btn
        btn-primary btn-upload" (click)="downloadAsPDF()" *ngIf='!parentData'>
      Download as PDF
    </button>
    </div>
    <h3 *ngIf='!parentData' class="form-name" style="text-align: center;">
        Indicators for Water Supply and Sanitation</h3>
    <div *ngFor="let uaDetails of uasList; let i=index" style="margin-bottom: 1.5rem;">
        <div style="position: relative; padding: 0% 2%">
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                    <h6 class="font-s" style="margin: 0;">UA{{i+1}}: Urban Agglomeration {{ uaDetails.name.substring(0, uaDetails.name.lastIndexOf(" ")) }}</h6>
                    <!-- {{uaDetails.uaName.split(' ')[0]}} -->

                </div>
            </div>
            <div *ngIf="getData[i] !='null'">
                <div class="row" style="margin: 10px 0 0 0;">
                    <div class="card" style="border: 1px solid #dedede;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4 d-i" style="display: inline-block;">
                                    <h5 class="ex-t-q m-r-l h-s" style="display: inline-block;">Total Number of ULBs in UA
                                    </h5>
                                    <h5 class="ex-t h-s mr-l" style="display: inline-block;"> {{totalULBsInUA[i]}}</h5>
                                </div>
                                <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4 d-i" style="display: inline-block; border-left: 1px solid #70707030;
                              border-right: 1px solid #70707030;">
                                    <h5 class="ex-t-q h-s" style="display: inline-block;">Approved by State</h5>
                                    <h5 class="h-s mr-l" style="display: inline-block; color: #337AB7;">
                                        {{totalCompletedUlb[i]}}</h5>
                                </div>
                                <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4 d-i" style="display:inline-block;">
                                    <h5 class="ex-t-q h-s" style="display: inline-block;">Pending for Submission/Approval
                                    </h5>
                                    <h5 class="h-s mr-l" style="display: inline-block; color: #337AB7;">
                                        {{totalPendingUlb[i]}}
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <table aria-describedby="Water Waste Management Form" style="margin-bottom: 5%; width: 100%;
             border: 1px solid #dedede" cellspacing="0" cellpadding="0">
                    <thead style="color: #047474">
                        <th style="padding: 1%" scope="col">Service Level Indicators</th>
                        <th style="padding: 1%; text-align: center" scope="col">Benchmark</th>
                        <th style="padding: 1%; text-align: center" scope="col">
                            Baseline Indicator <br /> 2020-21
                        </th>
                        <th style="padding: 1%; text-align: center" *ngFor="let column of targets" scope="col" [innerHTML]="column.name"></th>
                    </thead>
                    <tbody>
                        <tr *ngIf="services[0] as service">
                            <td style="padding: 1%" class="td-width">
                                {{ service.name }}
                            </td>
                            <td style="padding: 1%; text-align: center;">
                                <span class="benchamark-cell">{{ service.benchmark }}</span>
                            </td>
                            <td style="padding: 1%; text-align: center">
                                <span *ngIf="getData[i]">
                                    <!-- {{ uaDetails.waterSuppliedPerDay.baseline['2021'] }} -->
                                    {{getData[i][0].waterSuppliedPerDay2021}}
                                </span>
                                <em class="glyphicon" style="font-weight: 600">
                                    {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
                                </em>
                            </td>

                            <td style="padding: 1%; text-align: center" *ngFor="let year of targets">
                                <span *ngIf="getData[i]">
                                    <!-- {{ uaDetails.waterSuppliedPerDay.target[year.key] }} -->
                                    {{getData[i][0]['waterSuppliedPerDay'+year.key]}}
                                </span>

                                <em class="glyphicon" style="font-weight: 600">
                                    {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
                                </em>
                            </td>
                        </tr>

                        <tr *ngIf="services[1] as service">
                            <td style="padding: 1%" class="td-width">
                                <span class="service-name ">{{ service.name }}
                                    <!-- <span  class="mandatory ">*</span> -->

                                </span>
                            </td>
                            <td style="padding: 1%; text-align: center;">
                                <span class="benchamark-cell">{{ service.benchmark }}</span>
                            </td>
                            <td style="padding: 1%; text-align: center">
                                <span *ngIf="getData[i]">
                                    <!-- {{ uaDetails.reduction.baseline['2021'] }} -->
                                    {{getData[i][0].reduction2021}}
                                </span>
                                <em class="glyphicon" style="font-weight: 600">
                                    {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
                                </em>
                            </td>

                            <td style="padding: 1%; text-align: center" *ngFor="let year of targets">
                                <span *ngIf="getData[i]">
                                    <!-- {{ uaDetails.reduction.target[year.key] }} -->
                                    {{getData[i][0]['reduction'+year.key]}}
                                </span>

                                <i class="glyphicon" style="font-weight: 600">
                                    {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
                                </i>
                            </td>

                        </tr>
                        <tr *ngIf="services[2] as service ">
                            <td style="padding: 1%" class="td-width">
                                <span class="service-name ">{{ service.name }}</span>
                                <!-- <span  class="mandatory ">*</span> -->
                            </td>
                            <td style="padding: 1%; text-align: center;">
                                <span class="benchamark-cell">{{ service.benchmark }}</span>
                            </td>
                            <td style="padding: 1%; text-align: center">
                                <span *ngIf="getData[i]">
                                    <!-- {{ uaDetails.houseHoldCoveredWithSewerage.baseline['2021'] }} -->
                                    {{getData[i][0].houseHoldCoveredWithSewerage2021}}
                                </span>
                                <em class="glyphicon" style="font-weight: 600">
                                    {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
                                </em>
                            </td>
                            <td style="padding: 1%; text-align: center" *ngFor="let year of targets">
                                <span *ngIf="getData[i]">
                                    <!-- {{ uaDetails.houseHoldCoveredWithSewerage.target[year.key] }} -->
                                    {{getData[i][0]['houseHoldCoveredWithSewerage'+year.key]}}
                                </span>

                                <em class="glyphicon" style="font-weight: 600">
                                    {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
                                </em>
                            </td>

                        </tr>
                        <tr *ngIf="services[3] as service">
                            <td style="padding: 1%" class="td-width">
                                <span class="service-name ">{{ service.name }}</span>
                                <!-- <span  class="mandatory ">*</span> -->
                            </td>
                            <td style="padding: 1%; text-align: center;">
                                <span class="benchamark-cell">{{ service.benchmark }}</span>
                            </td>
                            <td style="padding: 1%; text-align: center">
                                <span *ngIf="getData[i]">
                                    <!-- {{ uaDetails.houseHoldCoveredPipedSupply.baseline['2021'] }} -->
                                    {{getData[i][0].houseHoldCoveredPipedSupply2021}}
                                </span>
                                <em class="glyphicon" style="font-weight: 600">
                                    {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
                                </em>
                            </td>

                            <td style="padding: 1%; text-align: center" *ngFor="let year of targets">
                                <span *ngIf="getData[i]">
                                    <!-- {{ uaDetails.houseHoldCoveredPipedSupply.target[year.key] }} -->
                                    {{getData[i][0]['houseHoldCoveredPipedSupply'+year.key]}}
                                </span>

                                <em class="glyphicon" style="font-weight: 600">
                                    {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
                                </em>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
        <div class="no-data" *ngIf="getData[i] =='null'">No Data Available</div>
    </div>
</div>


<!-- <div class="container-fluid" style="margin-bottom: 1pc;" id="waterSani" #waterSani>
    <div class="row">
        <div class="col-sm-12 header-p">
            <a (click)="close()" style="position: absolute;z-index:3; right: 2%; top: 14%; cursor: pointer;">
                <mat-icon aria-hidden="false">
                    <img src="../../../../../assets/form-icon/Icon material-close.svg">
                </mat-icon>
            </a>
            <div class="col-sm-12 heading-p">
                Water Supply and Sanitation
            </div>
        </div>
    </div>
    <div class=" row h-cls" style="margin-top: 1.5rem;">
        <div class="col-sm-12 text-right">
            <button id="donwloadButton" style="right: 0%;
  outline: none; margin-right: 2%" class="btn btn-primary btn-upload" (click)="downloadAsPDF()">
              Download as PDF
          </button>
        </div>
    </div>
    <div *ngFor="let uaDetails of detailsOfUa; let i=index">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                <h5 style="margin: 0;">UA{{i+1}}: {{uaDetails.uaName}}</h5>
            </div>
        </div>
        <div class="row" style="margin: 10px 0 0 0;">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4" style="border-right: 2px solid #70707030">
                            <h6 style="display: inline-flex; position: relative; width: 92%; margin-left: 7px;">Total Number of ULBs in UA</h6>
                            <h6 style="display: inline-flex;"> {{uaDetails.totalULBsInUA}}</h6>
                        </div>
                        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4" style="border-right: 2px solid #70707030">
                            <h6 style="display: inline-flex; position: relative; width: 92%;">Approved by State</h6>
                            <h6 style="display: inline-flex; color: #337AB7;">{{uaDetails.totalCompletedUlb}}</h6>
                        </div>
                        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4">
                            <h6 style="display: inline-flex; position: relative; width: 92%;">Pending for Submission/Approval</h6>
                            <h6 style="display: inline-flex; color: #337AB7;">{{uaDetails.totalPendingUlb}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-sm-12 mb-2 mt-1 p-1 box-shadow">
            <table aria-describedby="Water Waste Management Form" style="margin-bottom: 5%">
                <thead>
                    <th scope="col">Service Level Indicators</th>
                    <th scope="col">Benchmark</th>
                    <th scope="col">
                        Actual Figures<br /> 2020-21
                    </th>

                    <th *ngFor="let column of targets" scope="col">
                        <span [innerHTML]="column.name"></span>
                    </th>
                </thead>

                <tbody>
                    <tr *ngIf="services[0] as service">
                        <td>
                            <span class="service-name">{{ service.name }}
                <span  class="mandatory">*</span></span>
                        </td>
                        <td>
                            <span class="benchamark-cell">{{ service.benchmark }}</span>
                        </td>
                        <td>
                            <div class="input-group data-input">

                                <input type="text" disabled [value]="uaDetails.waterSuppliedPerDay.baseline['2021']" [id]="service.key + 'baseline'" class="form-control">
                                <span class="input-group-addon"><em class="glyphicon">
                          {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
                        </em></span>
                            </div>
                        </td>
                        <td *ngFor="let year of targets">

                            <div class="input-group data-input">
                                <input type="text" disabled [value]="uaDetails.waterSuppliedPerDay.target[year.key]" [id]="service.key + year.key" class="form-control">
                                <span class="input-group-addon "><em class="glyphicon ">
                      {{ service.key === "waterSuppliedPerDay " ? "LPCD " : "% " }}
                    </em></span>
                            </div>

                        </td>
                    </tr>
                    <tr *ngIf="services[1] as service ">
                        <td>
                            <span class="service-name ">{{ service.name }}
              <span  class="mandatory ">*</span></span>
                        </td>
                        <td>
                            <span class="benchamark-cell ">{{ service.benchmark }}</span>
                        </td>
                        <td>
                            <div class="input-group data-input ">
                                <input type="text" disabled [value]="uaDetails.reduction.baseline['2021']" [id]="service.key + 'baseline' " class="form-control ">
                                <span class="input-group-addon "><em class="glyphicon ">
                        {{ service.key === "waterSuppliedPerDay " ? "LPCD " : "% " }}
                      </em></span>
                            </div>
                        </td>
                        <td *ngFor="let year of targets ">
                            <div class="input-group data-input ">
                                <input type="text " disabled [value]="uaDetails.reduction.target[year.key]" [id]="service.key + year.key " class="form-control ">
                                <span class="input-group-addon "><em class="glyphicon ">
                    {{ service.key === "waterSuppliedPerDay " ? "LPCD " : "% " }}
                  </em></span>
                            </div>

                        </td>
                    </tr>
                    <tr *ngIf="services[2] as service ">
                        <td>
                            <span class="service-name ">{{ service.name }}
            <span  class="mandatory ">*</span></span>
                        </td>
                        <td>
                            <span class="benchamark-cell">{{ service.benchmark }}</span>
                        </td>
                        <td>
                            <div class="input-group data-input ">
                                <input type="text" disabled [value]="uaDetails.houseHoldCoveredWithSewerage.baseline['2021']" [id]="service.key + 'baseline' " class="form-control ">
                                <span class="input-group-addon "><em class="glyphicon ">
                      {{ service.key === "waterSuppliedPerDay " ? "LPCD " : "% " }}
                    </em></span>
                            </div>
                        </td>
                        <td *ngFor="let year of targets ">
                            <div class="input-group data-input ">
                                <input type="text" disabled [value]="uaDetails.houseHoldCoveredWithSewerage.target[year.key]" [id]="service.key + year.key " class="form-control ">
                                <span class="input-group-addon "><em class="glyphicon ">
                  {{ service.key === "waterSuppliedPerDay " ? "LPCD " : "% " }}
                </em></span>
                            </div>

                        </td>
                    </tr>
                    <tr *ngIf="services[3] as service ">
                        <td>
                            <span class="service-name ">{{ service.name }}
          <span  class="mandatory ">*</span></span>
                        </td>
                        <td>
                            <span class="benchamark-cell ">{{ service.benchmark }}</span>
                        </td>
                        <td>
                            <div class="input-group data-input ">
                                <input type="text" disabled [value]="uaDetails.houseHoldCoveredPipedSupply.baseline['2021']" [id]="service.key + 'baseline' " class="form-control ">
                                <span class="input-group-addon "><em class="glyphicon ">
                    {{ service.key === "waterSuppliedPerDay " ? "LPCD " : "% " }}
                  </em></span>
                            </div>
                        </td>
                        <td *ngFor="let year of targets ">
                            <div class="input-group data-input ">
                                <input type="text" disabled [value]="uaDetails.houseHoldCoveredPipedSupply.target[year.key]" [id]="service.key + year.key " class="form-control ">
                                <span class="input-group-addon "><em class="glyphicon ">
                {{ service.key === "waterSuppliedPerDay " ? "LPCD " : "% " }}
              </em></span>
                            </div>

                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>

</div> -->
