.not-found {
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;

    .text-center{
        margin: auto;
        max-width: 450px;
    }
}