<div class="dashboard-wrapper">
  <carousel id="carousel">
    <!-- <slide class="animated fadeIn">
      <picture>
        <source
          class="background"
          srcset="/assets/images/carousels/background_1.webp"
          type="image/webp"
        />
        <source
          class="background"
          srcset="/assets/images/carousels/background_1.png"
          type="image/png"
        />
        <img
          class="background"
          src="/assets/images/carousels/background_1.png"
          alt="first slide"
        />
      </picture>
      <div class="testing">
        <div class="foreground">
          <picture>
            <source
              srcset="/assets/images/carousels/shri_narendra_modi.webp"
              type="image/webp"
            />
            <source
              srcset="/assets/images/carousels/shri_narendra_modi.png"
              type="image/png"
            />
            <img
              class="background"
              src="/assets/images/carousels/shri_narendra_modi.png"
              alt="first slide"
            />
          </picture>

          <div class="quotes-left">
            "Alternative funding modes are being explored for financing
            improvement in cities. Cities of Pune, Hyderabad and Indore have
            raised significant sums of money through Municipal Bonds"<br />
            -
            <i class="minister-name"
              >Shri Narendra Modi, Hon’ble Prime Minister</i
            >
          </div>
        </div>

        <div class="quotes-right">
          915 Credit Rating reports of 224 ULBs<br />
          <a routerLink="/borrowings/municipal-bond" class="explore"
            >Explore</a
          >
        </div>
      </div>
    </slide> -->
    <slide class="animated fadeIn">
      <picture>
        <source srcset="/assets/images/carousels/istock4.webp" type="image/webp" />
        <source srcset="/assets/images/carousels/istock4.jpg" type="image/png" />
        <img class="background" src="/assets/images/carousels/istock4.jpg" alt="first slide" />
      </picture>
      <div class="testing">
        <div class="foreground">
          <picture>
            <source srcset="/assets/images/carousels/shri_narendra_modi.webp" type="image/webp" />
            <source srcset="/assets/images/carousels/shri_narendra_modi.png" type="image/png" />
            <img src="/assets/images/carousels/shri_narendra_modi.png" alt="first slide" />
          </picture>

          <div class="quotes-left">
            <span id="animate-pm-quote">"It’s our mission to strengthen our cities to meet the challenges
              of 21st century"</span><br />
            -
            <i class="minister-name">Narendra Modi, Prime Minister of India</i>
          </div>
        </div>

        <!-- <div class="quotes-right">
          Details of 41 Municipal Bond issuances worth INR 4518 Crores <br />
          <a routerLink="/borrowings/report" class="explore">Explore</a>
        </div> -->
      </div>
    </slide>
    <!-- <slide class="animated fadeIn">
      <picture>
        <source
          class="background"
          srcset="/assets/images/carousels/background_3.webp"
          type="image/webp"
        />
        <source
          class="background"
          srcset="/assets/images/carousels/background_3.png"
          type="image/png"
        />
        <img
          class="background"
          src="/assets/images/carousels/background_3.png"
          alt="first slide"
        />
      </picture>
      <div class="testing">
        <div class="foreground">
          <picture>
            <source
              srcset="/assets/images/carousels/Shri_Hardeep_Singh_Puri.webp"
              type="image/webp"
            />
            <source
              srcset="/assets/images/carousels/shri_hardeep_singh_puri.png"
              type="image/png"
            />
            <img
              class="background"
              src="/assets/images/carousels/shri_hardeep_singh_puri.png"
              alt="first slide"
            />
          </picture>

          <div class="quotes-left">
            "Municipalities need to lay a foundation of robust financial
            management for both, enhancing own revenues, as well as tapping the
            capital market through municipal bonds"<br />
            -
            <i class="minister-name"
              >Shri Hardeep Singh Puri, Hon’ble Minister for Housing & Urban
              Affair</i
            >
          </div>
        </div>

        <div class="quotes-right">
          Over 2000 Financial statements from 1200 Urban Local Bodies<br />
          <a routerLink="/dashboard/report/basic" class="explore">Explore</a>
        </div>
      </div>
    </slide> -->
  </carousel>

  <!-- <div class="home-banner">
    <div class="caption">
      <div class="text-center logo-big">
        <img src="assets/images/cityfinance-logo-big.png" />
      </div>
      <h1>
        An Initiative of <br /><span
          >Ministry of Housing and Urban Affairs, Government of India</span
        >
      </h1>
      <div class="text-center">
        &lt;!&ndash;
        <a [routerLink]="['/dashboard/report']" class="btn btn-lg btn-primary"
          >Explore More</a
        >
        &ndash;&gt;
      </div>
    </div>
  </div> -->

  <!-- <div class="statistics">
    <app-statistics></app-statistics>
  </div> -->

  <!-- &ndash;&gt; &lt;!&ndash; Table component finshed just uncomment to make it
  visible on homepage &ndash;&gt; &lt;!&ndash; <app-grid></app-grid> &ndash;&gt;
  &lt;!&ndash; heat map component &ndash;&gt; -->
  <!-- <app-heat-map *ngIf="!isProduction"></app-heat-map> -->

  <div class="header-marquee">
    <div id="marquee-horizontal">
      <marquee scrollamount="10" onmouseover="this.stop();" onfocus="this.stop();" onmouseout="this.start();"
        onblur="this.start();" tabindex="152" aria-hidden="true">
        <a rel="noreferrer noopener" [routerLink]="['/questionnaires/list']"
          title="Report of XV Finance Commission for the year 2020-21" tabindex="154">
          <span style="color: #059b9a; padding-right: 10px; padding-left: 10px">
            Questionnaire on property tax and user charges reforms for 2%
            additional borrowing scheme under Atmanirbhar Bharat Abhiyaan
          </span>
        </a>
        <a rel="noreferrer noopener"
          href=" https://www.sebi.gov.in/media/press-releases/feb-2020/sebi-constitutes-municipal-bonds-development-committee-_45988.html"
          title="SEBI constitutes 'Municipal Bonds Development Committee'" tabindex="154" target="_blank">
          <span style="color: #059b9a; padding-right: 10px; padding-left: 10px">
            SEBI constitutes 'Municipal Bonds Development Committee'
          </span>
        </a>
        <a rel="noreferrer noopener" rel="noopener noreferrer"
          href="https://www.sebi.gov.in/legal/regulations/sep-2019/securities-and-exchange-board-of-india-issue-and-listing-of-debt-securities-by-municipalities-amendment-regulations-2019_44519.html"
          title="SEBI Regulations on Municipal Bonds" tabindex="154" target="_blank">
          <span style="color: #059b9a; padding-right: 10px; padding-left: 10px">
            SEBI Regulations on Municipal Bonds
          </span>
        </a>
        <a rel="noopener noreferrer"
          href="https://static.pib.gov.in/WriteReadData/userfiles/Aatma%20Nirbhar%20Bharat%20%20Presentation%20Part%205%2017-5-2020.pdf"
          title="Centre increases borrowing limit for states from 3% to 5% for 2020-21" tabindex="154" target="_blank">
          <span style="color: #059b9a; padding-right: 10px; padding-left: 10px">
            Centre increases borrowing limit for states from 3% to 5% for
            2020-21
          </span>
        </a>
        <a rel="noopener noreferrer" href="https://pib.gov.in/PressReleseDetail.aspx?PRID=1575548"
          title="8 Urban Local Bodies, i.e. Pune, Hyderabad, Bhopal, Indore, Visakhapatnam, Amravati, Ahmedabad & Surat have issued municipal bonds worth Rs. 3,400 crore"
          tabindex="154" target="_blank">
          <span style="color: #059b9a; padding-right: 10px; padding-left: 10px">
            8 Urban Local Bodies, i.e. Pune, Hyderabad, Bhopal, Indore,
            Visakhapatnam, Amravati, Ahmedabad & Surat have issued municipal
            bonds worth Rs. 3,400 crore
          </span>
        </a>

        <a href="https://fincomindia.nic.in/ShowContent.aspx?uid1=3&uid2=0&uid3=0&uid4=0&uid5=0&uid6=0&uid7=0"
          title="Report of XV Finance Commission for the year 2020-21" tabindex="154" target="_blank"
          rel="noopener noreferrer">
          <span style="color: #059b9a; padding-right: 10px; padding-left: 10px">
            Report of XV Finance Commission for the year 2020-21
          </span>
        </a>
      </marquee>
    </div>
    <div class="row mid-wrapper container new-links" style="position: relative; margin: auto">
      <h3 class="fdc-form">
        <span (click)="navigateToAnnual()">Upload Annual Accounts
        </span>
      </h3>
      <h3 class="FCForm">
        <img src="/assets/images/new.png" alt="New" />
        <a [routerLink]="['/fc_grant']">15<sup>th</sup> FC Grants </a>
      </h3>
      <!-- <h3 class="ulb-registration">
        <img src="/assets/images/new.png" alt="New" />

        <a [routerLink]="['/register/ulb']">ULB Registration </a>
      </h3> -->
    </div>
  </div>
  <div class="about">
    <div class="container">
      <!-- <div class="row">
        <h3>Data Facts</h3>
        <div *ngFor="let item of statistics" [ngClass]="item.containerClass">
          <div class="statistics-block" [ngClass]="item.chartClass">
            <div *ngIf="item.hasChart" class="col-md-3">
              <i class="fa fa-bar-chart"></i>
            </div>
            <div *ngIf="item.hasChart" class="content col-md-9">
              <h5 style="color: #eee;">{{ item.title }}</h5>
              <h2>{{ item.caption }}</h2>
            </div>
            <div *ngIf="!item.hasChart" class="title">
              &#45;&#45;
              <h5 style="color: #eee;">{{ item.title }}</h5>
              &#45;&#45;
              <h2 class="text-center">
                {{ item.caption }}
                <span class="fa fa-angle-double-right"></span>
              </h2>
            </div>
          </div>
        </div>
      </div> -->

      <div class="row about-title">
        <div class="col-sm-12 about-wrapper">
          <div class="left">
            <h2 class="text-center" class="about-heading" id="about-heading">
              <span>About Cityfinance</span>
            </h2>
            <p class="about-intro">
              Cityfinance.in serves as a
              <b style="color: #059b9a">national framework</b> of
              <b style="color: #059b9a">standardized, timely</b> and
              <b style="color: #059b9a">credible financial information</b> on
              <b style="color: #059b9a">cities</b>. It facilitates
              <b style="color: #059b9a">benchmarking, comparison and peer learning</b>
              between cities on a range of financial indicators. <br />
            </p>
          </div>

          <div class="right" id="quotes-box">
            <picture>
              <source srcset="/assets/images/carousels/Shri_Hardeep_Singh_Puri.webp" type="image/webp" />
              <source srcset="/assets/images/carousels/shri_hardeep_singh_puri.png" type="image/png" />
              <img src="/assets/images/carousels/shri_hardeep_singh_puri.png" alt="first slide" />
            </picture>

            <div class="quotes">
              "Municipalities need to lay a foundation of robust financial
              management for both, enhancing own revenues, as well as tapping
              the capital market through municipal bonds"

              <i class="minister-name">-Hardeep Singh Puri, Minister of State (Independent Charge)
                Housing and Urban Affairs</i>
            </div>
          </div>
        </div>

        <app-map-section></app-map-section>

        <!-- <div class="col-sm-12">
          <div class="row">
            <div class="col-md-6">
              <div class="about-block">
                <i class="fa fa-inr" aria-hidden="true"></i>
                <h4>Enhance own revenues</h4>
                <div class="description">
                  <p>
                    Gain access to best practices and innovations, besides
                    benchmarking the own revenue performance your organisation
                    with other urban local bodies and civic agencies in your
                    peer group.
                  </p> -->
        <!-- <div class="text-center">
                    <a [routerLink]="['/dashboard/report']">
                      <div class="btn btn-sm btn-primary">Explore</div>
                    </a>
                  </div> -->
        <!-- </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-block">
                <i class="fa fa-gavel" aria-hidden="true"></i>
                <h4>Raise market financing</h4>
                <div class="description">
                  <p>
                    Look up comparative financial and performance information of
                    urban local bodies and civic agencies, credit rating
                    reports, details of municipal bond issuances and database of
                    Public Private Partnerships in urban infrastructure and
                    services.
                  </p> -->
        <!-- <div class="text-center">
                    <a [routerLink]="['/municipal-law']">
                      <div class="btn btn-sm btn-primary">Explore</div>
                    </a>
                  </div> -->
        <!-- </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="about-block">
                <i class="fa fa-building" aria-hidden="true"></i>

                <h4>Improve financial management and budgetary control</h4>
                <div class="description">
                  <p>
                    Refer model RFPs, technical documents and model policies for
                    accounting, budgeting, MIS and auditing for best in class
                    financial management and budgetary control
                  </p> -->
        <!-- <div class="text-center">
                    <a [routerLink]="['/borrowings/report']">
                      <div class="btn btn-sm btn-primary">Explore</div>
                    </a>
                  </div> -->
        <!-- </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-block">
                <i class="fa fa-users" aria-hidden="true"></i>

                <h4>Build skills and competencies</h4>
                <div class="description">
                  <p>
                    Get started on reform initiatives and innovations with ready
                    to use playbooks, sign-up for digital learning modules
                  </p> -->
        <!-- <div class="text-center">
                    <a [routerLink]="['/borrowings/municipal-bond']">
                      <div class="btn btn-sm btn-primary">Explore</div>
                    </a>
                  </div> -->
        <!-- </div>
              </div>
            </div>
          </div>
        </div> -->
        <h2 class="text-center benifitHeading" style="margin: 3vw auto">
          <span>Benefits</span>
        </h2>
        <div class="row justify-content-center">
          <div class="scheme-section-card d-flex wow dg-fadeInDown col-sm-4 col-xs-6 col-md-4 col"
            data-wow-duration="1s" data-wow-delay="0s">
            <div class="sectorcard w-100 card">
              <p class="sector-title card-header">
                AUTOMATE ADMN OF XV FC GRANTS & ADDNL BORROWINGS OF 2% OF GSDP
              </p>
              <div class="card-body">
                <div class="sector-icon wow fadeInleft animated animated" data-wow-duration="0.7s"
                  style="visibility: visible; animation-duration: 0.7s">
                  <img alt="Transport" title="Transport" class="lazy"
                    src="/assets/images/card-icons/grant_administration_white.svg" />
                  <img alt="Transport" title="Transport" class="lazy"
                    src="/assets/images/card-icons/grant_administration.svg" />
                </div>
                <div class="sector-info-hidden">
                  <p>
                    Submit all financial data online, and states and MoHUA
                    verify and approve claims online.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="scheme-section-card d-flex wow dg-fadeInDown col-sm-4 col-xs-6 col-md-4 col"
            data-wow-duration="1s" data-wow-delay="0s">
            <div class="sectorcard w-100 card">
              <p class="sector-title card-header">
                Benchmark financial performance indicators
              </p>
              <div class="card-body">
                <div class="sector-icon wow fadeInleft animated animated" data-wow-duration="0.7s"
                  style="visibility: visible; animation-duration: 0.7s">
                  <img alt="Transport" title="Transport" class="lazy"
                    src="/assets/images/card-icons/performance_indicators_white.svg" />
                  <img alt="Transport" title="Transport" class="lazy"
                    src="/assets/images/card-icons/performance_indicators.svg" />
                </div>
                <div class="sector-info-hidden">
                  <p>
                    Compare revenue performance with peer ULBs, benchmark
                    against the best.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="scheme-section-card d-flex wow dg-fadeInDown col-sm-4 col-xs-6 col-md-4 col"
            data-wow-duration="1s" data-wow-delay="0s">
            <div class="sectorcard w-100 card">
              <p class="sector-title card-header">Raise market financing</p>
              <div class="card-body">
                <div class="sector-icon wow fadeInleft animated animated" data-wow-duration="0.7s"
                  style="visibility: visible; animation-duration: 0.7s">
                  <img alt="Transport" title="Transport" class="lazy"
                    src="/assets/images/card-icons/raise_market_financing_white.svg" />
                  <img alt="Transport" title="Transport" class="lazy"
                    src="/assets/images/card-icons/raise_market_financing.svg" />
                </div>
                <div class="sector-info-hidden">
                  <p>
                    Obtain guidance on completing audited annual accounts,
                    access credit rating reports and municipal borrowings data.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="scheme-section-card d-flex wow dg-fadeInDown col-sm-4 col-xs-6 col-md-4 col"
            data-wow-duration="1s" data-wow-delay="0s">
            <div class="sectorcard w-100 card">
              <p class="sector-title card-header">Access best practices</p>
              <div class="card-body">
                <div class="sector-icon wow fadeInleft animated animated" data-wow-duration="0.7s"
                  style="visibility: visible; animation-duration: 0.7s">
                  <img alt="Transport" title="Transport" class="lazy"
                    src="/assets/images/card-icons/best_practices_white.svg" />
                  <img alt="Transport" title="Transport" class="lazy"
                    src="/assets/images/card-icons/best_practices.svg" />
                </div>
                <div class="sector-info-hidden">
                  <p>
                    Gain access to a comprehensive and easy to use database of
                    best practices in revenue enhancement, credit rating and
                    municipal borrowings.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="scheme-section-card d-flex wow dg-fadeInDown col-sm-4 col-xs-6 col-md-4 col"
            data-wow-duration="1s" data-wow-delay="0s">
            <div class="sectorcard w-100 card">
              <p class="sector-title card-header">
                Build skills and competencies
              </p>
              <div class="card-body">
                <div class="sector-icon wow fadeInleft animated animated" data-wow-duration="0.7s"
                  style="visibility: visible; animation-duration: 0.7s">
                  <img alt="Transport" title="Transport" class="lazy"
                    src="/assets/images/card-icons/skills_and_competencies_white.svg" />
                  <img alt="Transport" title="Transport" class="lazy"
                    src="/assets/images/card-icons/skills_and_competencies.svg" />
                </div>
                <div class="sector-info-hidden">
                  <p>
                    Certification-based skilling of municipal revenue and
                    finance officials through digital content and delivery.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="partners">
    <div class="container">
      <div class="row" style="justify-content: space-between">
        <div class="col-md-2 col-sm-4 col-xs-4">
          <div class="text-center">
            <div class="imp-partner">Conceived and Managed by</div>
            <div>
              <a href="http://www.janaagraha.org/" target="_new">
                <img src="assets/images/logo-for-web1.png" alt="Janaagraha" />
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4">
          <div class="text-center">
            <div class="imp-partner">Knowledge Partner</div>
            <div>
              <a href="https://www.magc.in/" target="_new">
                <img src="assets/images/mgc-logo.png" style="width: 61%" alt="MAGC" />
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4">
          <div class="text-center">
            <div class="imp-partner">Technology Partner</div>
            <div>
              <a href="https://dhwaniris.in/" target="_new">
                <img width="50%"
                  src="https://dhwaniris.in/wp-content/uploads/2018/08/Dhwani-Logo_Versions-e1533798168980.png"
                  alt="Dhwani RIS" style="width: 58%" />
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-sm-12">
          <div class="text-center mt-md-2" style="width: 100%">
            <div class="imp-partner">Supported by</div>
            <div class="support-by">
              <a href="https://www.omidyarnetwork.in/" target="_new">
                <img src="assets/images/omdiyar-logo.png" style="width: 100%" alt="OMDIYAR" />
              </a>

              <a href="https://www.gatesfoundation.org/" target="_new">
                <img src="assets/images/BMGF.png" alt="Bill and Milanda Gates Foundation" />
              </a>

              <a href="https://shaktifoundation.in/" target="_new">
                <img src="assets/images/shakti-logo.jpg" alt="Shakti" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>