<form
  [formGroup]="form"
  *ngIf="form"
  [ngClass]="{
    'non-ulb-view-table': canSeeApproveActionTaken || canTakeApproveAction,
    'ulb-view-table':
      (canSeeApproveActionTaken || canTakeApproveAction) && canUploadFile
  }"
>
  <table
    aria-describedby="Water Waste Management Form"
    style="margin-bottom: 5%"
  >
    <thead>
      <th scope="col">Service Level Indicators</th>
      <th scope="col">Benchmark</th>
      <th scope="col">
        Baseline Indicator <br />
        2020-21
      </th>

      <th *ngFor="let column of targets" scope="col">
        <span [innerHTML]="column.name"></span>
      </th>
    </thead>

    <tbody>
      <tr
        *ngIf="services[0] as service"
        [formGroupName]="service.key"
        [ngClass]="{
          'rejected-row':
            form.controls[service.key]['controls']['status'].value ===
            rejectAction
        }"
      >
        <td>
          <span class="service-name"
            >{{ service.name }}
            <span
              *ngIf="form?.controls[service.key].validator({})['required']"
              class="mandatory"
              >*</span
            ></span
          >
        </td>
        <td>
          <span class="benchamark-cell">{{ service.benchmark }}</span>
        </td>
        <td formGroupName="baseline">
          <div class="input-group data-input">
            <input
              (blur)="
                onBlur(
                  form.controls[service.key]['controls']['baseline'].controls[
                    '2021'
                  ]
                )
              "
              [id]="service.key + 'baseline'"
              type="text"
              class="form-control"
              formControlName="2021"
              [ngClass]="{
                'is-invalid':
                  (isSubmitButtonClick &&
                    form.controls[service.key].controls['baseline']?.invalid) ||
                  (form.controls[service.key].controls['baseline']?.touched &&
                    form.controls[service.key].controls['baseline']?.invalid)
              }"
            />

            <span class="input-group-addon"
              ><em class="glyphicon">
                {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
              </em></span
            >
          </div>

          <span
            class="error-message"
            *ngIf="
              !form.controls[service.key]['controls']['baseline'].controls[
                '2021'
              ]?.errors?.required &&
              form.controls[service.key]['controls']['baseline'].controls[
                '2021'
              ]?.errors as error
            "
          >
            <span *ngIf="error.pattern">
              Only numeric values with 2 decimals digit are allowed and must be
              greater than or equal to 0.
            </span>
            <span *ngIf="error.max"> {{ error.max }} </span>

            <!-- {{
            form.controls[service.key].controls["baseline"]
              .controls["2021"].errors | json
          }} -->
          </span>
        </td>
        <td *ngFor="let year of targets" formGroupName="target">
          <div class="input-group data-input">
            <input
              (blur)="
                onBlur(
                  form.controls[service.key]['controls']['target'].controls[
                    year.key
                  ]
                )
              "
              [id]="service.key + year.key"
              type="text"
              class="form-control"
              [formControlName]="year.key"
              [ngClass]="{
                'is-invalid':
                  (isSubmitButtonClick ||
                    form.controls[service.key].controls['target'].controls[
                      year.key
                    ].dirty) &&
                  form.controls[service.key].controls['target'].controls[
                    year.key
                  ].invalid
              }"
            />
            <span class="input-group-addon"
              ><em class="glyphicon">
                {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
              </em></span
            >
          </div>
          <span
            class="error-message"
            *ngIf="
              !form.controls[service.key]['controls']['target'].controls[
                year.key
              ]?.errors?.required &&
              form.controls[service.key]['controls']['target'].controls[
                year.key
              ]?.errors as error
            "
          >
            <span *ngIf="error.pattern">
              Only numeric values with 2 decimals digit are allowed and must be
              greater than or equal to 0.
            </span>
            <span *ngIf="error.max"> {{ error.max }} </span></span
          >
        </td>
        <td *ngIf="canSeeApproveActionTaken || canTakeApproveAction">
          <div
            class="actions"
            [ngClass]="{
              'action-required':
                isSubmitButtonClick &&
                form.controls[service.key].controls['status'].invalid
            }"
          >
            <div
              class="action"
              *ngIf="
                form.controls[service.key]['controls']['status'].enabled ||
                form.controls[service.key]['controls']['status'].value ===
                  approveAction
              "
            >
              <label>
                <input
                  type="radio"
                  [value]="approveAction"
                  formControlName="status"
                />
                <span>
                  {{
                    form.controls[service.key]["controls"]["status"].disabled
                      ? "Approved"
                      : actionNames[approveAction]
                  }}
                </span>
              </label>
            </div>
            <div
              class="action"
              *ngIf="
                form.controls[service.key]['controls']['status'].enabled ||
                form.controls[service.key]['controls']['status'].value ===
                  rejectAction
              "
            >
              <label>
                <input
                  type="radio"
                  [value]="rejectAction"
                  formControlName="status"
                />
                <span>
                  {{
                    form.controls[service.key]["controls"]["status"].disabled
                      ? "Rejected"
                      : actionNames[rejectAction]
                  }}
                </span>
              </label>
            </div>
          </div>
        </td>
      </tr>
      <tr
        *ngIf="
          form.controls[services[0].key]['controls']['status'].value ===
          rejectAction
        "
      >
        <td></td>
        <td></td>
        <td colspan="5" style="text-align: left">
          <span style="font-weight: 700; text-align: left"
            >Reason for rejection</span
          >
          <div class="input-group" style="width: 100%">
            <div *ngIf="form.controls[services[0].key]['controls']['rejectReason']?.disabled">
              {{form.controls[services[0].key]['controls']['rejectReason'].value}}
            </div>
            <textarea
              *ngIf="form.controls[services[0].key]['controls']['rejectReason'].enabled"
              rows="3"
              style="width: 100%"
              class="form-control"
              [formControl]="
                form.controls[services[0].key]['controls']['rejectReason']
              "
              [ngClass]="{
                'is-invalid':
                  isSubmitButtonClick &&
                  form.controls[services[0].key].controls['rejectReason']
                    .invalid
              }"
            >
            </textarea>
          </div>
        </td>
      </tr>

      <tr
        *ngIf="services[1] as service"
        [formGroupName]="service.key"
        [ngClass]="{
          'rejected-row':
            form.controls[service.key]['controls']['status'].value ===
            rejectAction
        }"
      >
        <td>
          <span class="service-name"
            >{{ service.name }}
            <span
              *ngIf="form?.controls[service.key].validator({})['required']"
              class="mandatory"
              >*</span
            ></span
          >
        </td>
        <td>
          <span class="benchamark-cell">{{ service.benchmark }}</span>
        </td>
        <td formGroupName="baseline">
          <div class="input-group data-input">
            <input
              (blur)="
                onBlur(
                  form.controls[service.key]['controls']['baseline'].controls[
                    '2021'
                  ]
                )
              "
              [id]="service.key + 'baseline'"
              type="text"
              class="form-control"
              formControlName="2021"
              [ngClass]="{
                'is-invalid':
                  (isSubmitButtonClick &&
                    form.controls[service.key].controls['baseline']?.invalid) ||
                  (form.controls[service.key].controls['baseline']?.touched &&
                    form.controls[service.key].controls['baseline']?.invalid)
              }"
            />

            <span class="input-group-addon"
              ><em class="glyphicon">
                {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
              </em></span
            >
          </div>

          <span
            class="error-message"
            *ngIf="
              !form.controls[service.key]['controls']['baseline'].controls[
                '2021'
              ]?.errors?.required &&
              form.controls[service.key]['controls']['baseline'].controls[
                '2021'
              ]?.errors as error
            "
          >
            <span *ngIf="error.pattern">
              Only numeric values with 2 decimals digit are allowed and must be
              greater than or equal to 0.
            </span>
            <span *ngIf="error.max"> {{ error.max }} </span>

            <!-- {{
            form.controls[service.key].controls["baseline"]
              .controls["2021"].errors | json
          }} -->
          </span>
        </td>
        <td *ngFor="let year of targets" formGroupName="target">
          <div class="input-group data-input">
            <input
              (blur)="
                onBlur(
                  form.controls[service.key]['controls']['target'].controls[
                    year.key
                  ]
                )
              "
              [id]="service.key + year.key"
              type="text"
              class="form-control"
              [formControlName]="year.key"
              [ngClass]="{
                'is-invalid':
                  (isSubmitButtonClick ||
                    form.controls[service.key].controls['target'].controls[
                      year.key
                    ].dirty) &&
                  form.controls[service.key].controls['target'].controls[
                    year.key
                  ].invalid
              }"
            />
            <span class="input-group-addon"
              ><em class="glyphicon">
                {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
              </em></span
            >
          </div>
          <span
            class="error-message"
            *ngIf="
              !form.controls[service.key]['controls']['target'].controls[
                year.key
              ]?.errors?.required &&
              form.controls[service.key]['controls']['target'].controls[
                year.key
              ]?.errors as error
            "
          >
            <span *ngIf="error.pattern">
              Only numeric values with 2 decimals digit are allowed and must be
              greater than or equal to 0.
            </span>
            <span *ngIf="error.max"> {{ error.max }} </span></span
          >
        </td>
        <td *ngIf="canSeeApproveActionTaken || canTakeApproveAction">
          <div
            class="actions"
            [ngClass]="{
              'action-required':
                isSubmitButtonClick &&
                form.controls[service.key].controls['status'].invalid
            }"
          >
            <div
              class="action"
              *ngIf="
                form.controls[service.key]['controls']['status'].enabled ||
                form.controls[service.key]['controls']['status'].value ===
                  approveAction
              "
            >
              <label>
                <input
                  type="radio"
                  [value]="approveAction"
                  formControlName="status"
                />
                <span>
                  {{
                    form.controls[service.key]["controls"]["status"].disabled
                      ? "Approved"
                      : actionNames[approveAction]
                  }}
                </span>
              </label>
            </div>
            <div
              class="action"
              *ngIf="
                form.controls[service.key]['controls']['status'].enabled ||
                form.controls[service.key]['controls']['status'].value ===
                  rejectAction
              "
            >
              <label>
                <input
                  type="radio"
                  [value]="rejectAction"
                  formControlName="status"
                />
                <span>
                  {{
                    form.controls[service.key]["controls"]["status"].disabled
                      ? "Rejected"
                      : actionNames[rejectAction]
                  }}
                </span>
              </label>
            </div>
          </div>
        </td>
      </tr>
      <tr
        *ngIf="
          form.controls[services[1].key]['controls']['status'].value ===
          rejectAction
        "
      >
        <td></td>
        <td></td>
        <td colspan="5" style="text-align: left">
          <span style="font-weight: 700; text-align: left"
            >Reason for rejection</span
          >
          <div class="input-group" style="width: 100%">
             <div *ngIf="form.controls[services[1].key]['controls']['rejectReason']?.disabled">
              {{form.controls[services[1].key]['controls']['rejectReason'].value}}
            </div>
            <textarea
            *ngIf="form.controls[services[1].key]['controls']['rejectReason']?.enabled"
              rows="3"
              style="width: 100%"
              class="form-control"
              [formControl]="
                form.controls[services[1].key]['controls']['rejectReason']
              "
              placeholder="Reason for Reject"
              [ngClass]="{
                'is-invalid':
                  isSubmitButtonClick &&
                  form.controls[services[1].key].controls['rejectReason']
                    .invalid
              }"
            >
            </textarea>
          </div>
        </td>
      </tr>

      <tr
        *ngIf="services[2] as service"
        [formGroupName]="service.key"
        [ngClass]="{
          'rejected-row':
            form.controls[service.key]['controls']['status'].value ===
            rejectAction
        }"
      >
        <td>
          <span class="service-name"
            >{{ service.name }}
            <span
              *ngIf="form?.controls[service.key].validator({})['required']"
              class="mandatory"
              >*</span
            ></span
          >
        </td>
        <td>
          <span class="benchamark-cell">{{ service.benchmark }}</span>
        </td>
        <td formGroupName="baseline">
          <div class="input-group data-input">
            <input
              (blur)="
                onBlur(
                  form.controls[service.key]['controls']['baseline'].controls[
                    '2021'
                  ]
                )
              "
              [id]="service.key + 'baseline'"
              type="text"
              class="form-control"
              formControlName="2021"
              [ngClass]="{
                'is-invalid':
                  (isSubmitButtonClick &&
                    form.controls[service.key].controls['baseline']?.invalid) ||
                  (form.controls[service.key].controls['baseline']?.touched &&
                    form.controls[service.key].controls['baseline']?.invalid)
              }"
            />

            <span class="input-group-addon"
              ><em class="glyphicon">
                {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
              </em></span
            >
          </div>

          <span
            class="error-message"
            *ngIf="
              !form.controls[service.key]['controls']['baseline'].controls[
                '2021'
              ]?.errors?.required &&
              form.controls[service.key]['controls']['baseline'].controls[
                '2021'
              ]?.errors as error
            "
          >
            <span *ngIf="error.pattern">
              Only numeric values with 2 decimals digit are allowed and must be
              greater than or equal to 0.
            </span>
            <span *ngIf="error.max"> {{ error.max }} </span>

            <!-- {{
            form.controls[service.key].controls["baseline"]
              .controls["2021"].errors | json
          }} -->
          </span>
        </td>
        <td *ngFor="let year of targets" formGroupName="target">
          <div class="input-group data-input">
            <input
              (blur)="
                onBlur(
                  form.controls[service.key]['controls']['target'].controls[
                    year.key
                  ]
                )
              "
              [id]="service.key + year.key"
              type="text"
              class="form-control"
              [formControlName]="year.key"
              [ngClass]="{
                'is-invalid':
                  (isSubmitButtonClick ||
                    form.controls[service.key].controls['target'].controls[
                      year.key
                    ].dirty) &&
                  form.controls[service.key].controls['target'].controls[
                    year.key
                  ].invalid
              }"
            />
            <span class="input-group-addon"
              ><em class="glyphicon">
                {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
              </em></span
            >
          </div>
          <span
            class="error-message"
            *ngIf="
              !form.controls[service.key]['controls']['target'].controls[
                year.key
              ]?.errors?.required &&
              form.controls[service.key]['controls']['target'].controls[
                year.key
              ]?.errors as error
            "
          >
            <span *ngIf="error.pattern">
              Only numeric values with 2 decimals digit are allowed and must be
              greater than or equal to 0.
            </span>
            <span *ngIf="error.max"> {{ error.max }} </span></span
          >
        </td>
        <td *ngIf="canSeeApproveActionTaken || canTakeApproveAction">
          <div
            class="actions"
            [ngClass]="{
              'action-required':
                isSubmitButtonClick &&
                form.controls[service.key].controls['status'].invalid
            }"
          >
            <div
              class="action"
              *ngIf="
                form.controls[service.key]['controls']['status'].enabled ||
                form.controls[service.key]['controls']['status'].value ===
                  approveAction
              "
            >
              <label>
                <input
                  type="radio"
                  [value]="approveAction"
                  formControlName="status"
                />
                <span>
                  {{
                    form.controls[service.key]["controls"]["status"].disabled
                      ? "Approved"
                      : actionNames[approveAction]
                  }}
                </span>
              </label>
            </div>
            <div
              class="action"
              *ngIf="
                form.controls[service.key]['controls']['status'].enabled ||
                form.controls[service.key]['controls']['status'].value ===
                  rejectAction
              "
            >
              <label>
                <input
                  type="radio"
                  [value]="rejectAction"
                  formControlName="status"
                />
                <span>
                  {{
                    form.controls[service.key]["controls"]["status"].disabled
                      ? "Rejected"
                      : actionNames[rejectAction]
                  }}
                </span>
              </label>
            </div>
          </div>
        </td>
      </tr>
      <tr
        *ngIf="
          form.controls[services[2].key]['controls']['status'].value ===
          rejectAction
        "
      >
        <td></td>
        <td></td>
        <td colspan="5" style="text-align: left">
          <span style="font-weight: 700; text-align: left"
            >Reason for rejection</span
          >
          <div class="input-group" style="width: 100%">
            <div *ngIf="form.controls[services[2].key]['controls']['rejectReason']?.disabled">
              {{form.controls[services[2].key]['controls']['rejectReason'].value}}
            </div>
            <textarea
            *ngIf="form.controls[services[2].key]['controls']['rejectReason']?.enabled"
              rows="3"
              style="width: 100%"
              class="form-control"
              [formControl]="
                form.controls[services[2].key]['controls']['rejectReason']
              "
              placeholder="Reason for Reject"
              [ngClass]="{
                'is-invalid':
                  isSubmitButtonClick &&
                  form.controls[services[2].key].controls['rejectReason']
                    .invalid
              }"
            >
            </textarea>
          </div>
        </td>
      </tr>

      <tr
        *ngIf="services[3] as service"
        [formGroupName]="service.key"
        [ngClass]="{
          'rejected-row':
            form.controls[service.key]['controls']['status'].value ===
            rejectAction
        }"
      >
        <td>
          <span class="service-name"
            >{{ service.name }}
            <span
              *ngIf="form?.controls[service.key].validator({})['required']"
              class="mandatory"
              >*</span
            ></span
          >
        </td>
        <td>
          <span class="benchamark-cell">{{ service.benchmark }}</span>
        </td>
        <td formGroupName="baseline">
          <div class="input-group data-input">
            <input
              (blur)="
                onBlur(
                  form.controls[service.key]['controls']['baseline'].controls[
                    '2021'
                  ]
                )
              "
              [id]="service.key + 'baseline'"
              type="text"
              class="form-control"
              formControlName="2021"
              [ngClass]="{
                'is-invalid':
                  (isSubmitButtonClick &&
                    form.controls[service.key].controls['baseline']?.invalid) ||
                  (form.controls[service.key].controls['baseline']?.touched &&
                    form.controls[service.key].controls['baseline']?.invalid)
              }"
            />

            <span class="input-group-addon"
              ><em class="glyphicon">
                {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
              </em></span
            >
          </div>

          <span
            class="error-message"
            *ngIf="
              !form.controls[service.key]['controls']['baseline'].controls[
                '2021'
              ]?.errors?.required &&
              form.controls[service.key]['controls']['baseline'].controls[
                '2021'
              ]?.errors as error
            "
          >
            <span *ngIf="error.pattern">
              Only numeric values with 2 decimals digit are allowed and must be
              greater than or equal to 0.
            </span>
            <span *ngIf="error.max"> {{ error.max }} </span>

            <!-- {{
            form.controls[service.key].controls["baseline"]
              .controls["2021"].errors | json
          }} -->
          </span>
        </td>
        <td *ngFor="let year of targets" formGroupName="target">
          <div class="input-group data-input">
            <input
              (blur)="
                onBlur(
                  form.controls[service.key]['controls']['target'].controls[
                    year.key
                  ]
                )
              "
              [id]="service.key + year.key"
              type="text"
              class="form-control"
              [formControlName]="year.key"
              [ngClass]="{
                'is-invalid':
                  (isSubmitButtonClick ||
                    form.controls[service.key].controls['target'].controls[
                      year.key
                    ].dirty) &&
                  form.controls[service.key].controls['target'].controls[
                    year.key
                  ].invalid
              }"
            />
            <span class="input-group-addon"
              ><em class="glyphicon">
                {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
              </em></span
            >
          </div>
          <span
            class="error-message"
            *ngIf="
              !form.controls[service.key]['controls']['target'].controls[
                year.key
              ]?.errors?.required &&
              form.controls[service.key]['controls']['target'].controls[
                year.key
              ]?.errors as error
            "
          >
            <span *ngIf="error.pattern">
              Only numeric values with 2 decimals digit are allowed and must be
              greater than or equal to 0.
            </span>
            <span *ngIf="error.max"> {{ error.max }} </span></span
          >
        </td>
        <td *ngIf="canSeeApproveActionTaken || canTakeApproveAction">
          <div
            class="actions"
            [ngClass]="{
              'action-required':
                isSubmitButtonClick &&
                form.controls[service.key].controls['status'].invalid
            }"
          >
            <div
              class="action"
              *ngIf="
                form.controls[service.key]['controls']['status'].enabled ||
                form.controls[service.key]['controls']['status'].value ===
                  approveAction
              "
            >
              <label>
                <input
                  type="radio"
                  [value]="approveAction"
                  formControlName="status"
                />
                <span>
                  {{
                    form.controls[service.key]["controls"]["status"].disabled
                      ? "Approved"
                      : actionNames[approveAction]
                  }}
                </span>
              </label>
            </div>
            <div
              class="action"
              *ngIf="
                form.controls[service.key]['controls']['status'].enabled ||
                form.controls[service.key]['controls']['status'].value ===
                  rejectAction
              "
            >
              <label>
                <input
                  type="radio"
                  [value]="rejectAction"
                  formControlName="status"
                />
                <span>
                  {{
                    form.controls[service.key]["controls"]["status"].disabled
                      ? "Rejected"
                      : actionNames[rejectAction]
                  }}
                </span>
              </label>
            </div>
          </div>
        </td>
      </tr>
      <tr
        *ngIf="
          form.controls[services[3].key]['controls']['status'].value ===
          rejectAction
        "
      >
        <td></td>
        <td></td>
        <td colspan="5" style="text-align: left">
          <span style="font-weight: 700; text-align: left"
            >Reason for rejection</span
          >
          <div class="input-group" style="width: 100%">
             <div *ngIf="form.controls[services[3].key]['controls']['rejectReason']?.disabled">
              {{form.controls[services[3].key]['controls']['rejectReason'].value}}
            </div>
            <textarea
            *ngIf="form.controls[services[3].key]['controls']['rejectReason']?.enabled"
              rows="3"
              style="width: 100%"
              class="form-control"
              [formControl]="
                form.controls[services[3].key]['controls']['rejectReason']
              "
              placeholder="Reason for Reject"
              [ngClass]="{
                'is-invalid':
                  isSubmitButtonClick &&
                  form.controls[services[3].key].controls['rejectReason']
                    .invalid
              }"
            >
            </textarea>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-end">
    <button
      id="save-as-Draft"
      *ngIf="canUploadFile || canTakeApproveAction"
      class="btn btn-primary btn-upload mt-2"
      style="float: right; margin-right: 2%"
      (click)="onSaveAsDraftClick()"
    >
      Save as draft
    </button>
    <button
      id="previous"
      class="btn btn-primary btn-upload mt-2"
      style="float: right; margin-right: 2%"
      (click)="previous.emit(true)"
    >
      Previous
    </button>

    <button
      id="next"
      class="btn btn-primary btn-upload mt-2"
      style="float: right; margin-right: 2%"
      (click)="showNext.emit(true)"
    >
      Next
    </button>
  </div>

  <!-- <h3>Upload Documents</h3> -->

  <!-- <app-documents-upload
    [isSubmitButtonClick]="isSubmitButtonClick"
    [userType]="USER_TYPE.ULB"
    [form]="form.controls.documents"
    [documents]="prefilledDocuments"
    [canUploadFile]="canUploadFile"
    [questions]="wasterWaterQuestion"
    [canSeeApproveActionTaken]="canSeeApproveActionTaken"
    [canTakeApproveAction]="canTakeApproveAction"
    (outputValues)="onSolidWasteEmit($event)"
    (showNext)="showNext.emit()"
    (previous)="previous.emit()"
    (saveAsDraft)="onSaveAsDraftClick()"
  >
  </app-documents-upload> -->
</form>
