
<div class="container-fluid mb-4">
    <div class="row" *ngIf="!isApiComplete">
        <div class="col-sm-12">
            <div class="loader">
                <app-form-loader></app-form-loader>
            </div>  
        </div>
    </div>
    <div class="row" *ngIf="isApiComplete">
        <div class="col-sm-12">
            <!-- first section info -->
            <section class="mt-3 mb-3">
                <app-common-state-dashboard [stateInfo]="stateInfo" [citiesType]="cityTypeInState" 
                [allData]="formData" (cityTabClick)="cityTabChange($event)" [formDataCompleted]="formDataCompleted"></app-common-state-dashboard>
            </section>

            <!-- second section tyoes  in state  -->
            <!-- <section class="mt-3 mb-3">
                <app-common-state-dashboard [citiesType]="citieTypeInState"></app-common-state-dashboard>
            </section> -->
        </div>
    </div>
</div>

