<h2>
  Information Required on property tax and user charges for Ministry of Finance
  scheme
</h2>

<p>
  Ministry of Housing & Urban Affairs is delighted to launch the cityfinance
  portal to collect information from states on property tax and user charges.
  Online submission of information from you would help us in analyzing the
  information quickly on real time basis.
</p>

<p>
  States are required to undertake following reforms as prerequisites for
  additional borrowing limit of 0.25 percent of GSDP for the year 2020-21:
</p>
<p>
  (1) Notify (a) floor rates of property tax in ULBs which are in consonance
  with the prevailing circle rates (i.e. guideline rates for property
  transactions) and (b) floor rates of user charges in respect of the provision
  of water-supply, drainage and sewerage which reflect current costs/past
  inflation
</p>

<p>
  (2) Put in place a system of periodic increase in floor rates of property
  tax/user charges in line with the price increases.
</p>

<p>
  The Ministry of Housing and Urban Affairs, nodal ministry to assess the
  progress of these reforms and recommend release of additional borrowing, is
  collecting the information on existing status and proposed implementation plan
  for above reforms. It would help us if you answer all the questions in next
  sections. This online submission of information would be first step towards
  implementing the scheme.<br />
</p>
<h2 class="text-center">Guidelines for the user</h2>
<p *ngIf="userType === USER_TYPE.STATE">
  1. The form is divided into two parts 1) Property Tax and 2) User Charges.
  Please try to answer all the questions. Once you answer all the questions you
  would be able to submit the form
</p>
<p *ngIf="userType === USER_TYPE.ULB">
  1. Please try to answer all the questions. Once you answer all the questions
  you would be able to submit the form
</p>
<p>
  2. You can fill the form at one go or in several sessions by saving it as
  draft.
</p>
<p>3. Please be brief and to the point in answering the questions.</p>
<p>
  4. If you wish to supplement your answers with supporting documents, like a
  copy of the relevant Act/Rules/Bye laws or a PPT/word document detailing the
  implementation plan, please upload the documents in the Upload Documents
  section of the form. Please upload the documents (if possible, highlight the
  relevant sections in the uploaded document) in word, excel or PDF format only.
</p>
<p>
  5. It would be easier for you before to put all the documents that are
  required to be uploaded in a single folder before you start uploading them.
</p>
<p>
  6. In case you want to upload several documents against a particular question
  it is advisable to merge the PDF files.
</p>
<p>
  7. It is advisable to upload relevant implementation plan in PPT/MS Word/pdf
  format
</p>
<p *ngIf="userType === USER_TYPE.STATE">
  8. Please use following format for naming the documents to be uploaded:
  nameofthedocument_State name
</p>
<p *ngIf="userType === USER_TYPE.ULB">
  8. Please use following format for naming the documents to be uploaded:
  nameofthedocument_State name_ULB name
</p>
<br /><br />

<ng-content select=".footer"> </ng-content>
