<div class="row">
    <div class="col-sm-12">
        <div class="chart-con p-3">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <span class="chartTitle">
                      For the latest available Financial year
                  </span>
                </div>
                <div class="col-sm-12 col-md-6 text-end">
                    <div class="pd-btn" style="display: inline-block; text-align: center;" *ngFor="let btn of headerActionsBtn">
                        <a (click)="actionClick(btn)" style="text-decoration: none;">
                            <div>
                                <img [src]="btn.svg" alt="">
                            </div>
                            <div class="chartActionBtn">
                                {{btn.name}}
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-7 col-sm-7 col-md-4">
                    <div class="input-group inp-grp">
                        <button type="button" class="btn btn-outline-secondary" (click)="openModal()">Compare By:</button>
                    </div>
                </div>
                <div class="col-4 col-sm-5 col-md-3 ps-2">
                    <select class="form-select" id="years" aria-label="Default select">
                  <option value="2020-21" selected>2020-21</option>
                   <option value="2021-22">2021-22</option>
                </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 mt-3" id="doughnutCharts" #doughnutCharts>
                    <div class="row mx-auto justify-content-center">
                        <div class="mb-2" [ngClass]="{'col-6 col-sm-6' : isCompareState, 'col-6 col-sm-12' : !isCompareState}">
                            <h3 class="chart-l text-center">Mumbai</h3>
                            <canvas id="doughnut" style="width: 95vw; height: 95vh;"></canvas>
                        </div>
                        <div class="mb-2" [ngClass]="{'col-6 col-sm-6' : isCompareState}" [hidden]="!isCompareState">
                            <h3 class="chart-l text-center">State Average</h3>
                            <canvas id="stateDoughnut" style="width: 95vw; height: 95vh;"></canvas>
                        </div>
                    </div>
                    <div class="legends">
                        <ul style="display: flex; padding: 0px; align-items: flex-start; justify-content: center; flex-wrap: wrap; margin-top: 1rem;">
                            <li *ngFor="let item of doughnutLabels" style="display: flex; align-items: center; padding: 0.6rem;">
                                <div style="width: 30px; height: 16px; display: inline-block;" [style.background-color]="item.color"></div>
                                <span class="ps-2">{{item.name}}</span>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
