.chart-con {
    background: #FFFBEF 0% 0% no-repeat padding-box;
    border-radius: 12px;
}

.chartTitle {
    font: normal normal 600 16px/23px 'Archivo';
    letter-spacing: 0px;
    color: #0F1F40;
}

.chartActionBtn {
    font: normal normal medium 11px/12px 'Archivo';
    letter-spacing: 0px;
    color: #E67E15;
}

.chart-l {
    font: normal normal 600 12px/14px 'Archivo';
    letter-spacing: 0px;
    color: #0F1F40;
}

.form-select {
    border: 1px solid #D0D0D0;
    border-radius: 6px;
    font: normal normal 600 13px/14px 'Archivo';
    letter-spacing: 0px;
    color: #000000;
    padding: 0.75rem 2.25rem 0.75rem 0.75rem;
}

.btn-outline-secondary {
    border: 1px solid #D0D0D0;
    border-radius: 6px;
    font: normal normal 600 13px/14px 'Archivo';
    letter-spacing: 0px;
    color: #000000;
    padding: 0.75rem 2.25rem 0.75rem 0.75rem;
    width: 90%;
    text-align: inherit;
    background-color: #FFFFFF;
}

.pd-btn {
    padding: .25rem .5rem;
}
