.wrapper {
  width: 88vw;
  margin: 2% auto;
  padding: 1% 2%;
  position: relative;
  .header {
    padding: 0 24px;
    text-align: center;
    width: 96%;
    margin: auto;
    position: relative;
  }
}
.tick {
  width: 16%;
  // height: 30px;
  margin: auto;
  display: block;
}

:host {
  .box {
    box-shadow: 1px 1px 11px 1px #b9b5b5;
    padding: 5%;
    display: flex;
    width: 45vw;
    border-radius: 5px;
    border: 1px solid #c7c5c5;
    // text-align: center;
    align-items: center;
    justify-content: center;
    margin: 5% auto;
  }

  .btn {
    outline: none;
  }

  app-tick-icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    display: inline-block;
  }

  .form-editable {
    .back_button {
      // margin: 2rem 24px;
      font-size: 2rem;
      float: left;
      left: 0px;
      margin-top: 0%;
      position: absolute;
      padding: 0.4vw 1.7vw;

      // left: 0px;
    }
  }

  .btn-primary {
    outline: none;
  }

  ::ng-deep .mat-horizontal-stepper-header-container {
    width: 75% !important;
    margin: auto;
  }

  ::ng-deep .question-instruction {
    font-style: italic;
  }

  ::ng-deep .mandatory {
    color: red;
  }

  ::ng-deep .block-steeper-top-navigation .mat-horizontal-stepper-header {
    pointer-events: none !important;
  }
  ::ng-deep .mat-step-header[ng-reflect-selected="true"] .mat-step-icon,
  ::ng-deep .mat-step-header[aria-selected="true"] .mat-step-icon {
    background: #009a00;
  }

  ::ng-deep .mat-step-header[ng-reflect-selected="false"] .mat-step-icon,
  ::ng-deep .mat-step-header[aria-selected="false"] .mat-step-icon {
    background: #059b9a;
  }

  button {
    outline: none;
  }
}

::ng-deep .mat-horizontal-content-container {
  margin-top: 1%;
}
// ::ng-deep .mat-expansion-panel-header {
//   background: red;
// }
// ::ng-deep .mat-expansion-panel-header:hover {
//   background: green;
// }
::ng-deep .mat-calendar-controls {
  .mat-button {
    background: transparent !important;
    color: gray;
  }
}
::ng-deep .mat-step-header.cdk-program-focused {
  background: transparent !important;
}

::ng-deep {
  mat-radio-group.is-invalid {
    .mat-radio-outer-circle {
      border-color: red;
    }
  }

  ::ng-deep {
    .preview-wrapper {
      .back_button {
        position: absolute;
        z-index: 2;
        width: fit-content;
        padding: 0.4vw 1.7vw;
      }
    }
  }
}
