.topBar {
  background-color: #F5F7FF;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.mat-slide-toggle-content {
  vertical-align: top;
  display: inline-block;
  line-height: 24px;
}
.compareDialog {
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 13px 54px #06060696;
          box-shadow: 0px 13px 54px #06060696;
}

@media only screen and (max-width: 1024px) {
  .compareDialog {
    width: 60vw !important;
  }
}

@media only screen and (max-width: 800px) {
  .compareDialog {
    width: 70vw !important;
  }
}

.infoBar {
  background-color: #F2F3F8;
  font-size: 13px;
  border-radius: 8px;
  width: auto;
}

@media only screen and (max-width: 600px) {
  .infoBar {
    font-size: 13px;
    width: 100vw;
  }
  .compareDialog {
    width: 90vw !important;
  }
}

.checkbox-round {
  width: 1em;
  height: 1em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: orange;
  opacity: 1;
}

.inputCheckbox > label {
  font-weight: bold;
  color: #6E7281;
  padding-left: 5px;
  font-size: 0.8em;
}

@media only screen and (max-width: 800px) {
  .inputCheckbox > label {
    font-size: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .inputCheckbox {
    width: 50%;
  }
  .inputCheckbox > label {
    font-size: 10px;
  }
}

.inputCheckbox > label:checked {
  color: #0F1F40;
}

@media only screen and (max-width: 600px) {
  .differ {
    margin-left: 10px;
  }
}

.compareInput input {
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #D3D4D5;
  width: 20vw;
}

.compareButton > button {
  -webkit-box-shadow: 0px 2px 8px #FFDAA8;
          box-shadow: 0px 2px 8px #FFDAA8;
  border-radius: 8px;
  background: #E67E15;
  border: none;
  padding: 10px;
  color: #fff;
  width: 8vw;
}

@media only screen and (max-width: 800px) {
  .compareButton > button {
    width: 10vw;
  }
}

@media only screen and (max-width: 600px) {
  .formInput {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .compareInput input {
    width: 100vw;
    padding: 5px;
  }
  .compareButton > button {
    width: 20vw;
    font-size: 10px;
    display: inline-block;
    float: none !important;
    left: 50%;
    position: relative;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}

@media only screen and (max-width: 400px) {
  .compareButton > button {
    width: 20vw;
    margin: 0 auto;
    font-size: 10px;
  }
}

.lastButtons button {
  border: 1px solid #6E7281;
  border-radius: 8px;
  padding: 10px;
  color: #6E7281;
  background-color: #fff;
  margin: 5px;
  width: 8vw;
}

@media only screen and (max-width: 600px) {
  .lastButtons button {
    width: 20vw;
    font-size: 10px;
  }
}

.ownRevText {
  font-size: 0.8em;
}

.selectDiv {
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
}

@media only screen and (max-width: 1042px) {
  .selectDiv {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .selectDiv {
    left: 18%;
    position: relative;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    font-size: 11px;
  }
}

.example-chip-list {
  width: 100%;
}

::ng-deep #mat-option-0,
::ng-deep .firstCls {
  border-top: 1px solid lightgray;
}

.chipsDiv {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: gray;
  border: 1px solid #3E5DB1;
  color: white;
  border-radius: 46px;
  padding: 5px;
  margin: 10px;
  margin-bottom: 10px;
  background-color: #F2F5FF;
  font-size: 14px;
  color: #3E5DB1;
}

.chipsDiv button {
  background: none;
  border: none;
}

.cancleIcon {
  background-color: transparent;
  color: #3E5DB1;
  border: 1px;
  vertical-align: bottom;
}
/*# sourceMappingURL=compare-dialog.component.css.map */