<button class="back_button" (click)="window.history.back()">Back</button>

<h3 *ngIf="profileData && profileData.role === USER_TYPE.MoHUA" class="mt-3">
  <span *ngIf="profileForm.enabled">Edit</span>
  <span *ngIf="!profileForm.enabled">View</span>
  Profile
</h3>
<h3 *ngIf="!profileData">Create MoHUA</h3>

<form
  [formGroup]="profileForm"
  *ngIf="profileForm"
  (ngSubmit)="onFormSubmit(profileForm)"
>
   
  <div class="row" style="margin-left: 1%;">
    <div class="col-sm-6 col-md-12 col-lg-6" style="margin-top: 5%;">
      <div>
        <label for="name"
          >User Name
          <span
            class="asterik"
            *ngIf="profileForm.controls.name.validator({})['required']"
            >*</span
          >
        </label>
        <input
          id="name"
          type="text"
          formControlName="name"
          class="form-control"
          [ngClass]="{
            'is-invalid': GetFormControlErrors('name')
          }"
        />
        <small
          *ngIf="GetFormControlErrors('name') as nameError"
          class="form-field-error-message"
        >
          <span *ngIf="nameError?.required"> User name cannot be empty. </span>
          <span *ngIf="nameError?.alphabet_required">
            {{ nameError["alphabet_required"] }}
          </span>
        </small>
      </div>
    </div>
    <div class="col-sm-6 col-md-12 col-lg-6" style="margin-top: 5%;">
      <div>
        <label for="email"
          >Email ID
          <span
            class="asterik"
            *ngIf="profileForm.controls.email.validator({})['required']"
            >*</span
          >
        </label>
        <input
          id="email"
          type="email"
          formControlName="email"
          class="form-control"
          [ngClass]="{
            'is-invalid': GetFormControlErrors('email')
          }"
        />
        <small
          *ngIf="GetFormControlErrors('email') as emailError"
          class="form-field-error-message"
        >
          <span *ngIf="emailError?.required">Email ID cannot be empty.</span>
          <span *ngIf="emailError?.email === false">Email ID is not valid.</span>
        </small>
      </div>    
    </div>
  </div>
  <div class="row" style="margin-left: 1%;">
    <div class="col-sm-6 col-md-6 col-lg-6" style="margin-top: 5%;">
      <div>
        <label for="mobile"
          >Mobile No
          <span
            class="asterik"
            *ngIf="profileForm.controls.mobile.validator({})['required']"
            >*</span
          >
        </label>
        <input
          id="mobile"
          type="text"
          formControlName="mobile"
          class="form-control"
          [ngClass]="{
            'is-invalid': GetFormControlErrors('mobile')
          }"
        />
        <small
          *ngIf="GetFormControlErrors('mobile') as error"
          class="form-field-error-message"
        >
          <span *ngIf="error?.required"> Mobile No cannot be empty. </span>
          <span *ngIf="error?.pattern === false">
            Mobile No must start with either 6 / 7 / 8 / 9, and of 10 digits only.
          </span>
        </small>
      </div>
    
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6" style="margin-top: 5%;">

      <div>
        <label for="designation"
          >Designation
          <span
            class="asterik"
            *ngIf="profileForm.controls.designation.validator({})['required']"
            >*</span
          >
        </label>
        <input
          id="designation"
          type="text"
          formControlName="designation"
          class="form-control"
          [ngClass]="{
            'is-invalid': GetFormControlErrors('designation')
          }"
        />
        <small
          *ngIf="GetFormControlErrors('designation') as error"
          class="form-field-error-message"
        >
          <span *ngIf="error?.required"> Designation cannot be empty. </span>
        </small>
      </div>
    </div>
  </div>
  <div class="row" style="margin-left: 1%;">
    <div class="col-sm-6 col-md-6 col-lg-6" style="margin-top: 5%;">
      <div>
        <label for="departmentName"
          >Department Name
          <span
            class="asterik"
            *ngIf="profileForm.controls.departmentName.validator({})['required']"
            >*</span
          >
        </label>
        <input
          id="departmentName"
          type="text"
          formControlName="departmentName"
          class="form-control"
          [ngClass]="{
            'is-invalid': GetFormControlErrors('departmentName')
          }"
        />
        <small
          *ngIf="GetFormControlErrors('departmentName') as error"
          class="form-field-error-message"
        >
          <span *ngIf="error?.required">Department Name cannot be empty. </span>
        </small>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6" style="margin-top: 5%;">
      <div>
        <label for="departmentEmail"
          >Department Email ID
          <span
            class="asterik"
            *ngIf="profileForm.controls.departmentEmail.validator({})['required']"
            >*</span
          >
        </label>
        <input
          id="departmentEmail"
          type="email"
          formControlName="departmentEmail"
          class="form-control"
          [ngClass]="{
            'is-invalid': GetFormControlErrors('departmentEmail')
          }"
        />
        <small
          *ngIf="GetFormControlErrors('departmentEmail') as error"
          class="form-field-error-message"
        >
          <span *ngIf="error?.required">Department Email ID cannot be empty. </span>
          <span *ngIf="error?.email === false"
            >Department Email ID is not valid.
          </span>
        </small>
      </div>
    </div>
  </div>
  <div class="row" style="margin-left: 1%;">
    <div class="col-sm-6 col-md-6 col-lg-6" style="margin-top: 5%;">
      <div>
        <label for="departmentContactNumber"
          >Department Contant No
          <span
            class="asterik"
            *ngIf="
              profileForm.controls.departmentContactNumber.validator({})['required']
            "
            >*</span
          >
        </label>
        <input
          id="departmentContactNumber"
          type="text"
          formControlName="departmentContactNumber"
          class="form-control"
          [ngClass]="{
            'is-invalid': GetFormControlErrors('departmentContactNumber')
          }"
        />
        <small
          *ngIf="GetFormControlErrors('departmentContactNumber') as error"
          class="form-field-error-message"
        >
          <span *ngIf="error?.required"> Contact No cannot be empty. </span>
          <span *ngIf="error?.pattern === false">
            Contact No must start with either 6 / 7 / 8 / 9, and of 10 digits only.
          </span>
        </small>
      </div>
    
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6" style="margin-top: 5%;">
      <div>
        <label for="address"
          >Address
          <span
            class="asterik"
            *ngIf="profileForm.controls.address.validator({})['required']"
            >*</span
          >
        </label>
        <input
          id="address"
          type="text"
          formControlName="address"
          class="form-control"
          [ngClass]="{
            'is-invalid': GetFormControlErrors('address')
          }"
        />
        <small
          *ngIf="GetFormControlErrors('address') as error"
          class="form-field-error-message"
        >
          <span *ngIf="error?.required"> Adddress cannot be empty. </span>
        </small>
      </div>
    
      <p *ngIf="formErrors" class="error-message">
        <span
          *ngFor="let error of formErrors; let i = index"
          style="display: block; color: red"
        >
          {{ i + 1 }}. {{ error }}
        </span>
      </p>
    
      <p *ngIf="respone.errorMessage" class="error-message">
        {{ respone.errorMessage }}
      </p>
    
    </div>
  </div>

  <div
    class="input-group d-block"
    *ngIf="profileForm.disabled"
    style="display: block"
  >
    <button type="button" class="btn btn-primary" (click)="enableProfileEdit()">
      Edit
    </button>
  </div>

  <div
    *ngIf="profileForm.enabled"
    class="mt-2 mt-4"
    style="display: block; width: 100%"
  >
    <button
      type="submit"
      class="btn btn-primary mr-2"
      [disabled]="profileForm.invalid || isApiInProcess"
    >
      {{ profileData ? "Update Profile" : "Create" }}
    </button>
    <p *ngIf="respone.successMessage" class="success-message">
      {{ respone.successMessage }}
    </p>
  </div>
</form>
