<div style="margin-left: 1pc; margin-right: 1pc;">
    <h5 class="ag-tb-h">List of Projects to be Executed with 15th FC Grants<span style="color: red;">*</span></h5>
    <ag-grid-angular (gridReady)="onGridReady($event)" #agGrid1 [animateRows]="true" [tooltipMouseTrack]="true" [tooltipShowDelay]="0" (cellEditingStopped)="cellValueChanged($event)" style="width: 100%; height: 300px;" class="ag-theme-alpine" [frameworkComponents]="frameworkComponents"
        [rowData]="rowData.projectExecute" [columnDefs]="project" [rowClassRules]="rowDisableClass">
    </ag-grid-angular>
    <!-- <button [disabled]="isDisabled" style="margin-top: 10px; font-size: 12px; margin-left: 1pc;" (click)="removeRow('')" class="btn pull-right btn-success">
      <span class="material-icons text-center" style="font-size: 12px; margin-right: 3px;">
          remove_circle_outline
      </span>Remove row</button> -->
    <button [disabled]="isDisabled" style="margin-top: 10px; font-size: 12px;" (click)="addRow()" class="btn pull-right btn-success">
      <span class="material-icons text-center" style="font-size: 12px; margin-right: 3px;">
          add_circle_outline
      </span>Add row</button>
    <br>
    <br>
    <h5 class="ag-tb-h">Project List and Source of Funds<span style="color: red;">*</span> ( Amount in INR Lakhs)</h5>
    <ag-grid-angular (gridReady)="onGridReady($event)" #agGrid2 [animateRows]="true" [tooltipMouseTrack]="true" [tooltipShowDelay]="0" style="width: 100%; height: 300px;" (cellEditingStopped)="fundValueChanges($event)" class="ag-theme-alpine" [frameworkComponents]="frameworkComponents"
        [rowData]="rowData.sourceFund" [columnDefs]="fund" [rowClassRules]="rowDisableClass">
    </ag-grid-angular>
    <br>
    <h5 class="ag-tb-h">Year-wise Outlay for 15th FC Grants<span style="color: red;">*</span> (Amount in INR Lakhs)</h5>
    <ag-grid-angular (gridReady)="onGridReady($event)" #agGrid3 [animateRows]="true" [tooltipMouseTrack]="true" [tooltipShowDelay]="0" style="width: 100%; height: 300px;" (cellEditingStopped)="yearValueChanges($event)" class="ag-theme-alpine" [frameworkComponents]="frameworkComponents"
        [rowData]="rowData.yearOutlay" [columnDefs]="year" [rowClassRules]="rowDisableClass">
    </ag-grid-angular>
    <br>
</div>