.ag-tb-h {
    font-size: 14px;
    font-weight: 500;
    margin-top: 0;
}

::ng-deep .ag-header-row {
    background-color: #059b9a;
    color: #FFFFFF;
}

::ng-deep .ag-header-row:last-child {
    width: 350px;
}

::ng-deep .row-disable,
::ng-deep .row-disable2 {
    background-color: #d6dbdf !important;
    color: #FFFFFF;
    pointer-events: none !important;
    .btn-del {
        display: none !important;
    }
}

// ::ng-deep .ag-cell-not-inline-editing {
//     .btn-del {
//         display: none !important;
//     }
// }