<div class="container-fluid pd-c" style="overflow-x: hidden;">
    <div class="row">
        <app-mapcomponent *ngIf="mapData" [mapData]="mapData" (onStateChange)="onStateChange($event)"
            (onCardClick)="onCardClick($event)" [populationCategories]="populationCategories">
        </app-mapcomponent>
        <hr class="my-3">
    </div>

    <div class="row mb-3 mt-3 ps-3 pe-3">
        <div class="col-sm-12 header2">
            {{ title }}
        </div>
    </div>

    <div class="row mt-2 ps-3 pe-3">
        <div class="col-sm-3">
            <!-- <label for="form" class="l-l">Select State:</label>
            <select class="form-select ms-1" [(ngModel)]="state" (change)="loadData()"
                *ngIf="userData?.role != 'STATE'">
                <option selected value="" class="s-pl">All</option>
                <option *ngFor="let item of stateList" [value]="item._id">{{item.name}}</option>
            </select> -->
        </div>
        <div class="col-sm-5 offset-sm-4 text-end">
            <div class="col-12 d-flex justify-content-end">
                <select class="form-select ms-2 d-inline-block" style="max-width: 5rem !important;"
                    [(ngModel)]="perPage" (change)="onPerPageChange()">
                    <option class="s-pl" value="10">10</option>
                    <option class="s-pl" value="25">25</option>
                    <option class="s-pl" value="50">50</option>
                    <option class="s-pl" value="all">All</option>
                </select>
                <select class="form-select ms-2 d-inline-block" style="max-width: 16rem !important;"
                    [(ngModel)]="csvType">
                    <option class="s-pl" value="csvFROverall">ULB Ranking Overall Data</option>
                    <!-- <option class="s-pl" value="csvFRUlb">ULB Ranking Financial Data</option> -->
                </select>
                <!-- <button type="button" class="btn btn-primary ms-2" [disabled]="selectedId.length == 0"
                    (click)="openDialog('Approve')">Approve all</button>
                <button type="button" class="btn btn-primary ms-2" [disabled]="selectedId.length == 0"
                    (click)="openDialog('Return')">Return all</button> -->
                <button type="button" class="btn btn-danger ms-2" style="display: flex;" (click)="download()"
                    [disabled]="isDownloadStart">Download &nbsp;<mat-spinner [diameter]="20"
                        [hidden]="!isDownloadStart">
                    </mat-spinner></button>
            </div>
        </div>
    </div>
    <div class="row p-3">
        <div class="col-sm-12">
            <div class="mat-elevation-z8 mt-1 p-3" [formGroup]="filterForm" #scrollBar>
                <div class="table-responsive" [ngClass]="{'paginated-table': isInfiniteScroll}"
                    *ngIf="isInfiniteScroll || !isLoader" (scroll)="handleScroll($event)">
                    <table class="table table-striped ulb-table">
                        <thead>
                            <tr style="background-color: #047474; color: #FFFFFF;">
                                <th style="width: 17rem;max-width: 17rem;" *ngFor="let item of modifiedColumns">
                                    {{item.value}}
                                    <span *ngIf="getSortIcon(item)">
                                        <i *ngIf="!item.sort" class="fa fa-sort"
                                            (click)="sortTableData(item,1);item.sort = -1" aria-hidden="true"></i>
                                        <i *ngIf="item.sort === 1" class="fa fa-sort-asc"
                                            (click)="sortTableData(item,-1);item.sort = -1" aria-hidden="true"></i>
                                        <i *ngIf="item.sort === -1" class="fa fa-sort-desc"
                                            (click)="sortTableData(item,1);item.sort = 1" aria-hidden="true"></i>
                                    </span>
                                    <!-- <i class="fa fa-sort-asc" (click)="sortTableData(item,'asc');item.sort = '1';" aria-hidden="true"></i>
                                    <i class="fa fa-sort-desc" (click)="sortTableData(item,'desc');item.sort = '-1';" aria-hidden="true"></i> -->
                                </th>
                                <!-- <th></th> -->
                            </tr>
                            <tr class="filter">
                                <th class="filter"></th>
                                <th class="filter">
                                    <div class="input-group">
                                        <input type="text" style="width: 40%;" formControlName="ulbName"
                                            class="form-control in-se-s" (keyup.enter)="loadData('', 'search')"
                                            aria-label="Ulb name" placeholder="Ulb Name">
                                        <span class="input-group-text">
                                            <span class="fa fa-search form-control-feedback"></span>
                                        </span>
                                    </div>
                                </th>
                                <th class="filter">
                                    <div class="input-group">
                                        <input type="text" formControlName="censusCode" class="form-control in-se-s"
                                            style="width: 40%;" (keyup.enter)="loadData('', 'search')" aria-label="censusCode"
                                            placeholder="Ulb Code">
                                        <span class="input-group-text">
                                            <span class="fa fa-search form-control-feedback"></span>
                                        </span>
                                    </div>

                                </th>
                                <th class="filter">
                                    <div class="input-group">
                                        <!-- <input type="text" formControlName="stateName" class="form-control in-se-s"
                                            style="width: 40%;" (keyup.enter)="loadData()" aria-label="stateName"
                                            placeholder="State Name"> -->
                                        <select class="form-select ms-1" style="line-height: 1.1rem;"
                                            formControlName="stateName" (change)="loadData('', 'search')"
                                            *ngIf="userData?.role != 'STATE'">
                                            <option selected value="" class="s-pl">All</option>
                                            <option *ngFor="let item of stateList" [value]="item._id">{{item.name}}
                                            </option>
                                        </select>
                                        <!-- <span class="input-group-text">
                                            <span class="fa fa-search form-control-feedback"></span>
                                        </span> -->
                                    </div>
                                </th>
                                <th class="filter">
                                    <div class="input-group">
                                        <!-- <input type="text" formControlName="populationCategory" class="form-control in-se-s"
                                            style="width: 40%;" (keyup.enter)="loadData()" aria-label="populationCategory"
                                            placeholder="Population Category">
                                        <span class="input-group-text">
                                            <span class="fa fa-search form-control-feedback"></span>
                                        </span> -->
                                        <select class="form-select ms-2" style="line-height: 1.1rem;"
                                            formControlName="populationType" (change)="loadData('', 'search')">
                                            <option selected value="" class="s-pl">All</option>
                                            <option *ngFor="let item of populationCategories" [value]="item._id">
                                                {{item.name}}</option>
                                        </select>
                                    </div>
                                </th>
                                <th></th>
                                <th></th>
                                <th class="filter">
                                    <div class="input-group">
                                        <!-- <input type="text" formControlName="status" class="form-control in-se-s"
                                        (keyup.enter)="loadData()" aria-label="Status" placeholder="Status"> -->
                                        <select class="form-select ms-2" style="line-height: 1.1rem;"
                                            formControlName="status" (change)="loadData('', 'search')">
                                            <option selected value="" class="s-pl">All</option>
                                            <option *ngFor="let item of statusFilterList" [value]="item._id">
                                                {{item.name}}</option>
                                        </select>
                                    </div>
                                </th>
                                <!-- <th class="filter">
                                    <select class="form-select in-sel" style="width: 71px;" formControlName="filled1"
                                        (change)="loadData()">
                                        <option selected value="">Search</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </th> -->
                                <th class="filter">
                                    <button class="btn btn-primary" (click)="resetFilter()">Reset</button>
                                </th>
                                <!-- <th class="filter"></th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of data | paginate
                            : {
                                id: 'foo',
                                itemsPerPage: tableDefaultOptions.itemPerPage,
                                currentPage: tableDefaultOptions.currentPage,
                                totalItems: max(tableDefaultOptions.totalCount, this.listFetchOption.skip + this.tableDefaultOptions.itemPerPage)
                            }; let tabelIndex=index">
                                <td style="width: 5%;">{{isInfiniteScroll ? tabelIndex+1 :
                                    (tableDefaultOptions.itemPerPage * (tableDefaultOptions.currentPage -1) +
                                    tabelIndex+1)}}</td>
                                <td>{{item?.ulbName}}</td>
                                <td>{{item?.censusCode}}</td>
                                <td style="width: 11%;">{{item?.stateName}}</td>
                                <td>{{item.populationType}}</td>
                                <td>{{item?.ulbDataSubmitted}}</td>
                                <td>{{item?.pmuVerificationProgress}}</td>
                                <!-- temp comment for production -->
                                <!-- <td>{{item?.formStatus}}</td>  -->
                                <td [class.clickable]="canSeeTrackingHistory" (click)="showTrackingHistory(item)">{{item.formStatus}}</td>

                                <!-- <td *ngIf="item.filled_provisional">{{ item.filled_provisional }}</td> -->
                                <!-- <p>{{ item | json }}</p> -->
                                <td *ngIf="!item?.cantakeAction">
                                    <button type="button" class="btn btn-primary"
                                        (click)="navigateTo('/rankings/ulb-form',item.ulbId,false)">View</button>
                                </td>
                                <td *ngIf="item?.cantakeAction">
                                    <button type="button" class="btn btn-primary"
                                        (click)="navigateTo('/rankings/ulb-form',item.ulbId,true)">Review</button>
                                </td>
                                <!-- <td>
                                    <div class="form-check"
                                        [matTooltip]="item?.cantakeAction == false ? 'Not eligible to take action' : ''">
                                        <mat-checkbox class=''
                                            [ngClass]="{'checkboxBackground' : item?.cantakeAction == false}"
                                            [disabled]="item?.cantakeAction == false"
                                            (change)="selected_checkbox(item?.ulbId, item.isChecked)"
                                            [(ngModel)]="item.isChecked" [ngModelOptions]="{standalone: true}">
                                        </mat-checkbox>
                                    </div>
                                </td> -->
                            </tr>
                        </tbody>
                        
                    </table>
                    <div style="text-align: center;padding-bottom: 20px;" *ngIf="!data?.length">
                        {{notFoundMessage}}
                    </div>
                </div>
                <div class="d-flex justify-content-center p-3" *ngIf="isLoader">
                    <div class="spinner-grow text-success" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <div class="spinner-grow text-danger ms-2" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <div class="spinner-grow text-warning ms-2" role="status">
                        <span class="visually-hidden ">Loading...</span>
                    </div>
                    <div class="spinner-grow text-info ms-2" role="status">
                        <span class="visually-hidden ">Loading...</span>
                    </div>
                </div>

                <pagination-controls style="float: right; position: relative; margin-top: 2rem;" id="foo"
                    *ngIf="!isLoader && !(data?.length == 0) && !isInfiniteScroll" (pageChange)="loadData($event)"
                    directionLinks="true" autoHide="false">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>