.dropdown {
    border-radius: 6px
}

.form-select {
    display: inline-block;
    width: 70%;
}

.pd-c {
    padding-right: 0.1rem;
    padding-left: 0.25rem;
}

.header2 {
    font-family: "Roboto", Medium;
    color: #373737;
    font-size: 20px;
    margin-top: 0.2rem;
    font-weight: 600;
}

.l-l {
    font-weight: 500;
}

.paginated-table {
    overflow: auto;
    table {
        border-collapse: collapse;
        width: 100%;

        thead {
            position: sticky;
            top: 0;
            z-index: 1;
        }

        .filter {
            background-color: white;
        }
    }
}

.table-striped .clickable{
    color:blue;
    cursor:pointer;
}
::ng-deep #DashboardComponentModal {
    max-height: 80vh;
    padding-top: 0;
}