.header-p {
    background-color: #047474;
    height: 100px;
    text-align: center;
    padding: 10px;
}

.heading-p {
    color: #FFFFFF;
    font-size: 24px;
    margin-top: 1rem;
    font-weight: 700;
}

.header-u-p {
    background-color: #047474;
    height: 65px;
    text-align: center;
    padding: 10px;
}

.heading-u-p {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    padding-top: .5rem;
}

.sub-h {
    font-weight: 600;
    font-size: 19px;
}

.form-h {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: .5rem;
}

.st-d {
    margin-top: 1.5rem;
}

.form-status {
    margin: 0;
    padding-top: 7px;
}

.card {
    padding: 5px 10px;
    background-color: #EBF5F5;
}

.qus-h {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.ans-h {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.alert {
    position: relative;
    z-index: 2;
}