<div class="row">
  <div class="col-sm-12 f-h">
    <div class="card-body">
      <form [formGroup]="filterForm">
        <div class="row">
          <div class="col-lg-12 col-sm-12 col-12 text-center text-md-left">
            <h5>
              <a (click)="filterModel()" class="fil-btn" style="text-decoration: none">
                <span>
                  <img src="../../../../assets/new_dashBord_ftr_hdr/filter.svg" alt="" />
                </span>
                <span> Filter by </span>
              </a>
            </h5>
          </div>
        </div>
        <div class="row mt-4 responsiveFilterClass">
          <div class="col-lg-12 col-sm-12 col-md-12 fl-form">
            <div class="row">
              <div class="col-lg-2 col-md-2 col-sm-2">
                <angular2-multiselect class="form-select" (onSelect)="onStateChange($event)" (onDeSelectAll)="onStateChange({_id: ''})" class="expo-drp-in ind-selct" [data]="stateList" [formControl]="state"
                  [settings]="dropdownSettings">
                </angular2-multiselect>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2">
                <!-- <select class="form-select" aria-label="Default select" formControlName="ulb">
                                   <option value="" selected>City</option>
                                   <option [value]="item?.code" *ngFor="let item of stateList">{{item?.name}}</option>
                               </select> -->
                <input type="text" class="form-control" placeholder="Search for ULB" matInput formControlName="ulb"
                  [matAutocomplete]="auto" style="
                    line-height: 1.5;
                    font-size: 1rem;
                    height: 39px !important;
                    font-weight: 600;
                  " />
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <a (click)="filterData('ulb', option)" *ngFor="let option of filteredOptions; let i = index"
                    style="text-decoration: none">
                    <mat-option [value]="option?.name">
                      <span style="font-size: medium"> {{ option?.name }}</span>
                    </mat-option>
                  </a>
                </mat-autocomplete>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 d-flex input-wrapper" *ngIf="filterInputData?.comp == 'dataSets'">
                <!-- <label class="rowLabel">File Type</label> -->
                <select name="selectedType" [(ngModel)]="selectedType" (change)="onChangeType($event)"
                  formControlName="contentType" class="rowPdf">
                  <option value="" disabled>File Type</option>
                  <option *ngFor="let item of cType" [value]="item">
                    {{ item }}
                  </option>
                </select>
              </div>
              <!-- <div class="col-lg-2" *ngIf="filterInputData?.comp == 'dataSets'">
                                <select class="form-select" aria-label="Default select" formControlName="sortBy">
                                 <option value="" selected>Sort By</option>
                    
                               </select>
                            </div> -->

              <div class="col-lg-2 col-md-2 col-sm-2 input-wrapper" *ngIf="
                  filterInputData?.comp == 'bestPractices' ||
                  filterInputData?.comp == 'dataSets' ||
                  filterInputData?.comp == 'report-publications'
                ">
                <select name="selectedValue" [(ngModel)]="selectedValue" (change)="onChange($event)"
                  class="rowPdf form-control" formControlName="year" style="
                    line-height: 1.5;
                    font-size: 1rem;
                    font-weight: 600;
                    width: 100%;
                    height: 39px !important;
                  ">

                  <option *ngFor="let item of yearList" [value]="item">
                    {{ item }}
                  </option>
                  <!-- <option [value]="item?.code" *ngFor="let item of stateList">{{item?.name}}</option> -->
                </select>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 text-end d-flex input-wrapper" [ngClass]="{
                  'col-lg-5 col-md-5 col-sm-5':
                    filterInputData?.comp == 'bestPractices'
                }">
                <button type="button" class="clearBtn" (click)="clearAll()">
                  <span> Clear All </span>
                  <span style="padding-left: 6px; width: 12px">
                    <img src="../../../../assets/new_dashBord_ftr_hdr/cancel.svg" alt="" />
                  </span>
                </button>

                <button *ngIf="downloadValue" (click)="initiateDownload()" class="clearBtn m-2">
                  Download
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>