<div class="container">
    <div class="row mt-2">
        <div style="text-align: center; margin-bottom: 25px">
            <h3 *ngIf="!viewMode">Upload Annual Accounts</h3>
            <h3 *ngIf="viewMode">Annual Accounts Details</h3>
        </div>
        <form [formGroup]="validateForm">
            <div>
                <div class="form-group form-field-layout st-f">
                    <label>1. Name of the State*</label><br />
                    <select class="form-select" formControlName="state" (change)="loadUlb($event)">
            <option value="null">Select State</option>
            <option *ngIf="stateList.length == 0" disabled>
              No States Available
            </option>
            <option *ngFor="let state of stateList" [value]="state._id">
              {{ state.name }}
            </option>
          </select>
                </div>
                <div style="display: none;" class="form-field-layout">
                    <label>2. Type of Body*</label>
                    <mat-radio-group class="radio-group" formControlName="bodyType" (change)="resetBodyValues()">
                        <mat-radio-button class="radio-button" value="ulb">
                            Urban Local Body
                        </mat-radio-button>
                        <mat-radio-button class="radio-button" value="parastatal">
                            Parastatal Agency
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="row">
                    <div class="form-field-layout col-sm-4">
                        <label>2. Name of the
              <span *ngIf="validateForm.controls['bodyType'].value == 'ulb'">Urban Local Body*</span><span
                *ngIf="validateForm.controls['bodyType'].value == 'parastatal'">Parastatal Agency*</span></label>
                        <div *ngIf="validateForm.controls['bodyType'].value == 'ulb'">
                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="form-group">
                                        <select class="form-select" formControlName="ulb" (change)="updateUlbType($event)">
                      <option value="null">Select ULB</option>
                      <option *ngIf="ulbList.length == 0" disabled>
                        No ULB available for selected State
                      </option>
                      <option *ngFor="let ulb of ulbList" [value]="ulb._id">
                        {{ ulb.name }}
                      </option>
                    </select>
                                    </div>
                                    <p class="small" style="width: 215%;margin-top: 5%;">
                                        Unable to find ULB name in the list?<br /> Please provide your details
                                        <a href="https://forms.gle/pdDLT7XSSikNfyf66" target="_blank" rel="noopener noreferrer">here</a>.
                                    </p>
                                </div>
                                <!-- <div class="col-sm-8">
                <div class="form-group">
                  <div class="row" style="display: flex">
                    <span
                      style="margin-top: 3px; margin-left: 15px; font-weight: 600;"
                      >ULB Type : </span
                    ><br />
                    <input
                      class="form-control"
                      type="text"
                      formControlName="ulbType"
                      readonly
                    />
                  </div>
                </div>
              </div> -->
                            </div>
                        </div>
                        <div *ngIf="validateForm.controls['bodyType'].value == 'parastatal'">
                            <div class="form-group">
                                <input class="form-control" type="text" formControlName="parastatalName" placeholder="Enter parastatal" />
                            </div>
                            <span *ngIf="
                  (validateForm.controls.parastatalName?.errors || {})[
                    'pattern'
                  ]
                " style="color: red">Please enter valid Parastatal Name.</span>
                        </div>
                    </div>
                    <div class="col-md-4 form-field-layout" *ngIf="(validateForm?.controls)['bodyType']?.value == 'ulb'">
                        <label>ULB Type</label><br />
                        <div class="form-group">
                            <input class="form-control" type="text" formControlName="ulbType" readonly />
                        </div>
                        <span *ngIf="(validateForm.controls.person?.errors || {})['pattern']" style="color: red">Please enter valid
              name.</span>
                    </div>
                </div>

                <div class="row " style="margin-top:5px">
                    <div class="col-md-4 form-field-layout">
                        <label>3. Name of the Person*</label><br />
                        <div class="form-group">
                            <input class="form-control" type="text" formControlName="person" placeholder="Enter name" />
                        </div>
                        <span *ngIf="(validateForm.controls.person?.errors || {})['pattern']" style="color: red">Please enter valid
              name.</span>
                    </div>
                    <div class="col-md-4 form-field-layout">
                        <label>4. Designation*</label><br />
                        <div class="form-group">
                            <input class="form-control" type="text" formControlName="designation" placeholder="Enter designation" />
                        </div>
                        <span *ngIf="
                (validateForm.controls.designation?.errors || {})['pattern']
              " style="color: red">Please enter valid designation.</span>
                    </div>
                    <div class="col-md-4 form-field-layout">
                        <label>5. Email Id*</label><br />
                        <div class="form-group">
                            <input placeholder="Enter email" class="form-control" type="text" formControlName="email" />
                        </div>
                        <span *ngIf="(validateForm.controls.email?.errors || {})['pattern']" style="color: red">Please enter valid
              email.</span>
                    </div>
                </div>
            </div>

            <div class="instructions-layout" *ngIf="viewMode ? anyDocumentUploaded : true">
                <h4 style="font-weight: 600;margin-top: 3%;">
                    Please read the following instructions and upload the documents:
                </h4>
                <p>
                    1. All the documents pertaining to a specific financial year should be combined into a single document before uploading.
                    <br />2. Please use following format for naming the documents to be uploaded: nameofthedocument_FY_ULB Name (Example: Name of the document for annual audited accounts of Jaipur for 2015-16: Annual accounts_15-16_Jaipur municipal corporation).<br
                    />3. Please upload the documents in PDF and Excel format according to type mentioned in the question.<br />4. File size of the single document should not exceed 50 MB. If it exceeds 50 MB the compress the file size using
                    <a href="https://pdfcompressor.com/" rel="noopener noreferrer" target="_blank">
            https://pdfcompressor.com/ </a>.
                </p>
            </div>
            <div *ngIf="!viewMode">
                <div>
                    <label>Audited/Unaudited Annual Accounts for financial year
            2015-16:-</label><br />
                    <div class="row">
                        <div class="col-sm-6 button-layout">
                            <label>Upload PDF:</label>&nbsp;
                            <input style="display: none" #pdf15_16 type="file" accept=".pdf" (change)="upload($event, 'pdf', 'financial_year_2015_16', '2015-16')" />
                            <button [disabled]="
              !validateForm.valid ||
              ((validateForm.value.parastatalName == null ||
                validateForm.value.parastatalName == '') &&
                validateForm.value.ulb == null) ||
              disableSubmit
            " class="btn btn-primary" (click)="pdf15_16.click()">
                Select File
              </button>
                            <div *ngIf="loader.financial_year_2015_16.pdf" class="spinner-layout">
                                <mat-progress-spinner class="example-margin" color="warn" mode="indeterminate" diameter="25">
                                </mat-progress-spinner>
                                <span>{{ loader.financial_year_2015_16.name.pdf }}</span>
                            </div>
                            <span *ngIf="documents.financial_year_2015_16.pdf.length > 0" style="overflow-wrap: break-word">
                &nbsp;{{ documents.financial_year_2015_16.pdf[0].name }} &nbsp;

                <a>
                  <i class="fa fa-trash icon-layout" aria-hidden="true" title="Remove File"
                    (click)="remove('year_15_16', 'pdf')"></i></a>
              </span>
                        </div>
                        <div class="col-sm-6 button-layout">
                            <label>Upload Excel:</label>&nbsp;
                            <input style="display: none" #excel15_16 type="file" accept=".xls, .xlsx" (change)="upload($event, 'excel', 'financial_year_2015_16', '2015-16')" />
                            <button [disabled]="
              !validateForm.valid ||
              ((validateForm.value.parastatalName == null ||
                validateForm.value.parastatalName == '') &&
                validateForm.value.ulb == null) ||
              disableSubmit
            " class="btn btn-primary" (click)="excel15_16.click()">
                Select File
              </button>
                            <div *ngIf="loader.financial_year_2015_16.excel" class="spinner-layout">
                                <mat-progress-spinner class="example-margin" color="warn" mode="indeterminate" diameter="25">
                                </mat-progress-spinner>
                                <span>{{ loader.financial_year_2015_16.name.excel }}</span>
                            </div>
                            <span *ngIf="documents.financial_year_2015_16.excel.length > 0" style="overflow-wrap: break-word">
                &nbsp;{{ documents.financial_year_2015_16.excel[0].name }}
                &nbsp;
                <a>
                  <i class="fa fa-trash icon-layout" aria-hidden="true" title="Remove File"
                    (click)="remove('year_15_16', 'excel')"></i> </a></span>
                        </div>
                    </div>
                    <label>Audited/Unaudited Annual Accounts for financial year
            2016-17:-</label><br />
                    <div class="row">
                        <div class="col-sm-6 button-layout">
                            <label>Upload PDF:</label>&nbsp;
                            <input style="display: none" #pdf16_17 type="file" accept=".pdf" (change)="upload($event, 'pdf', 'financial_year_2016_17', '2016-17')" />
                            <button [disabled]="
              !validateForm.valid ||
              ((validateForm.value.parastatalName == null ||
                validateForm.value.parastatalName == '') &&
                validateForm.value.ulb == null) ||
              disableSubmit
            " class="btn btn-primary" (click)="pdf16_17.click()">
                Select File
              </button>
                            <div *ngIf="loader.financial_year_2016_17.pdf" class="spinner-layout">
                                <mat-progress-spinner class="example-margin" color="warn" mode="indeterminate" diameter="25">
                                </mat-progress-spinner>
                                <span>{{ loader.financial_year_2016_17.name.pdf }}</span>
                            </div>
                            <span *ngIf="documents.financial_year_2016_17.pdf.length > 0" style="overflow-wrap: break-word">
                &nbsp;{{ documents.financial_year_2016_17.pdf[0].name }}&nbsp;
                <a>
                  <i class="fa fa-trash icon-layout" aria-hidden="true" title="Remove File"
                    (click)="remove('year_16_17', 'pdf')"></i></a></span>
                        </div>
                        <div class="col-sm-6 button-layout">
                            <label>Upload Excel:</label>&nbsp;
                            <input style="display: none" #excel16_17 type="file" accept=".xls, .xlsx" (change)="upload($event, 'excel', 'financial_year_2016_17', '2016-17')" />
                            <button [disabled]="
              !validateForm.valid ||
              ((validateForm.value.parastatalName == null ||
                validateForm.value.parastatalName == '') &&
                validateForm.value.ulb == null) ||
              disableSubmit
            " class="btn btn-primary" (click)="excel16_17.click()">
                Select File
              </button>
                            <div *ngIf="loader.financial_year_2016_17.excel" class="spinner-layout">
                                <mat-progress-spinner class="example-margin" color="warn" mode="indeterminate" diameter="25">
                                </mat-progress-spinner>
                                <span>{{ loader.financial_year_2016_17.name.excel }}</span>
                            </div>
                            <span *ngIf="documents.financial_year_2016_17.excel.length > 0" style="overflow-wrap: break-word">
                &nbsp;{{ documents.financial_year_2016_17.excel[0].name }}&nbsp;
                <a>
                  <i class="fa fa-trash icon-layout" aria-hidden="true" title="Remove File"
                    (click)="remove('year_16_17', 'excel')"></i></a>
              </span>
                        </div>
                    </div>
                    <label>Audited/Unaudited Annual Accounts for financial year
            2017-18:-</label><br />
                    <div class="row">
                        <div class="col-sm-6 button-layout">
                            <label>Upload PDF:</label>&nbsp;
                            <input style="display: none" #pdf17_18 type="file" accept=".pdf" (change)="upload($event, 'pdf', 'financial_year_2017_18', '2017-18')" />
                            <button [disabled]="
              !validateForm.valid ||
              ((validateForm.value.parastatalName == null ||
                validateForm.value.parastatalName == '') &&
                validateForm.value.ulb == null) ||
              disableSubmit
            " class="btn btn-primary" (click)="pdf17_18.click()">
                Select File
              </button>
                            <div *ngIf="loader.financial_year_2017_18.pdf" class="spinner-layout">
                                <mat-progress-spinner class="example-margin" color="warn" mode="indeterminate" diameter="25">
                                </mat-progress-spinner>
                                <span>{{ loader.financial_year_2017_18.name.pdf }}</span>
                            </div>
                            <span *ngIf="documents.financial_year_2017_18.pdf.length > 0" style="overflow-wrap: break-word">
                &nbsp;{{ documents.financial_year_2017_18.pdf[0].name }}&nbsp;
                <a>
                  <i class="fa fa-trash icon-layout" aria-hidden="true" title="Remove File"
                    (click)="remove('year_17_18', 'pdf')"></i></a>
              </span>
                        </div>
                        <div class="col-sm-6 button-layout">
                            <label>Upload Excel:</label>&nbsp;
                            <input style="display: none" #excel17_18 type="file" accept=".xls, .xlsx" (change)="upload($event, 'excel', 'financial_year_2017_18', '2017-18')" />
                            <button [disabled]="
              !validateForm.valid ||
              ((validateForm.value.parastatalName == null ||
                validateForm.value.parastatalName == '') &&
                validateForm.value.ulb == null) ||
              disableSubmit
            " class="btn btn-primary" (click)="excel17_18.click()">
                Select File
              </button>
                            <div *ngIf="loader.financial_year_2017_18.excel" class="spinner-layout">
                                <mat-progress-spinner class="example-margin" color="warn" mode="indeterminate" diameter="25">
                                </mat-progress-spinner>
                                <span>{{ loader.financial_year_2017_18.name.excel }}</span>
                            </div>
                            <span *ngIf="documents.financial_year_2017_18.excel.length > 0" style="overflow-wrap: break-word">
                &nbsp;{{ documents.financial_year_2017_18.excel[0].name }}
                &nbsp;
                <a>
                  <i class="fa fa-trash icon-layout" aria-hidden="true" title="Remove File"
                    (click)="remove('year_17_18', 'excel')"></i></a>
              </span>
                        </div>
                    </div>
                    <label>Audited/Unaudited Annual Accounts for financial year
            2018-19:-</label><br />
                    <div class="row">
                        <div class="col-sm-6 button-layout">
                            <label>Upload PDF:</label>&nbsp;
                            <input style="display: none" #pdf18_19 type="file" accept=".pdf" (change)="upload($event, 'pdf', 'financial_year_2018_19', '2018-19')" />
                            <button [disabled]="
              !validateForm.valid ||
              ((validateForm.value.parastatalName == null ||
                validateForm.value.parastatalName == '') &&
                validateForm.value.ulb == null) ||
              disableSubmit
            " class="btn btn-primary" (click)="pdf18_19.click()">
                Select File
              </button>
                            <div *ngIf="loader.financial_year_2018_19.pdf" class="spinner-layout">
                                <mat-progress-spinner class="example-margin" color="warn" mode="indeterminate" diameter="25">
                                </mat-progress-spinner>
                                <span>{{ loader.financial_year_2018_19.name.pdf }}</span>
                            </div>
                            <span *ngIf="documents.financial_year_2018_19.pdf.length > 0" style="overflow-wrap: break-word">
                &nbsp;{{ documents.financial_year_2018_19.pdf[0].name }} &nbsp;

                <a>
                  <i class="fa fa-trash icon-layout" aria-hidden="true" title="Remove File"
                    (click)="remove('year_18_19', 'pdf')"></i></a>
              </span>
                        </div>
                        <div class="col-sm-6 button-layout">
                            <label>Upload Excel:</label>&nbsp;
                            <input style="display: none" #excel18_19 type="file" accept=".xls, .xlsx" (change)="upload($event, 'excel', 'financial_year_2018_19', '2018-19')" />
                            <button [disabled]="
              !validateForm.valid ||
              ((validateForm.value.parastatalName == null ||
                validateForm.value.parastatalName == '') &&
                validateForm.value.ulb == null) ||
              disableSubmit
            " class="btn btn-primary" (click)="excel18_19.click()">
                Select File
              </button>
                            <div *ngIf="loader.financial_year_2018_19.excel" class="spinner-layout">
                                <mat-progress-spinner class="example-margin" color="warn" mode="indeterminate" diameter="25">
                                </mat-progress-spinner>
                                <span>{{ loader.financial_year_2018_19.name.excel }}</span>
                            </div>
                            <span *ngIf="documents.financial_year_2018_19.excel.length > 0" style="overflow-wrap: break-word">
                &nbsp;{{ documents.financial_year_2018_19.excel[0].name }}
                &nbsp;

                <a>
                  <i class="fa fa-trash icon-layout" aria-hidden="true" title="Remove File"
                    (click)="remove('year_18_19', 'excel')"></i></a>
              </span>
                        </div>
                    </div>
                    <label>Audited Annual Accounts for financial year 2019-20 including Schedules:-</label><br />
                    <div class="row">
                        <div class="col-sm-6 button-layout">
                            <label>Upload PDF:</label>&nbsp;
                            <input style="display: none" #pdf19_20 type="file" accept=".pdf" (change)="upload($event, 'pdf', 'financial_year_2019_20', '2019-20')" />
                            <button [disabled]="
                          !validateForm.valid ||
                          ((validateForm.value.parastatalName == null ||
                            validateForm.value.parastatalName == '') &&
                            validateForm.value.ulb == null) ||
                          disableSubmit
                        " class="btn btn-primary" (click)="pdf19_20.click()">
                            Select File
                          </button>
                            <div *ngIf="loader.financial_year_2019_20.pdf" class="spinner-layout">
                                <mat-progress-spinner class="example-margin" color="warn" mode="indeterminate" diameter="25">
                                </mat-progress-spinner>
                                <span>{{ loader.financial_year_2019_20.name.pdf }}</span>
                            </div>
                            <span *ngIf="documents.financial_year_2019_20.pdf.length > 0" style="overflow-wrap: break-word">
                            &nbsp;{{ documents.financial_year_2019_20.pdf[0].name }} &nbsp;

                            <a>
                              <i class="fa fa-trash icon-layout" aria-hidden="true" title="Remove File"
                                (click)="remove('year_19_20', 'pdf')"></i></a>
                          </span>
                        </div>
                        <div class="col-sm-6 button-layout">
                            <label>Upload Excel:</label>&nbsp;
                            <input style="display: none" #excel19_20 type="file" accept=".xls, .xlsx" (change)="upload($event, 'excel', 'financial_year_2019_20', '2019-20')" />
                            <button [disabled]="
                          !validateForm.valid ||
                          ((validateForm.value.parastatalName == null ||
                            validateForm.value.parastatalName == '') &&
                            validateForm.value.ulb == null) ||
                          disableSubmit
                        " class="btn btn-primary" (click)="excel19_20.click()">
                            Select File
                          </button>
                            <div *ngIf="loader.financial_year_2019_20.excel" class="spinner-layout">
                                <mat-progress-spinner class="example-margin" color="warn" mode="indeterminate" diameter="25">
                                </mat-progress-spinner>
                                <span>{{ loader.financial_year_2019_20.name.excel }}</span>
                            </div>
                            <span *ngIf="documents.financial_year_2019_20.excel.length > 0" style="overflow-wrap: break-word">
                            &nbsp;{{ documents.financial_year_2019_20.excel[0].name }}
                            &nbsp;

                            <a>
                              <i class="fa fa-trash icon-layout" aria-hidden="true" title="Remove File"
                                (click)="remove('year_19_20', 'excel')"></i></a>
                          </span>
                        </div>
                    </div>
                    <label>Audited Annual Accounts for financial year 2020-21 including Schedules:-</label><br />
                    <div class="row">
                        <div class="col-sm-6 button-layout">
                            <label>Upload PDF:</label>&nbsp;
                            <input style="display: none" #pdf20_21 type="file" accept=".pdf" (change)="upload($event, 'pdf', 'financial_year_2020_21', '2020-21')" />
                            <button [disabled]="
                          !validateForm.valid ||
                          ((validateForm.value.parastatalName == null ||
                            validateForm.value.parastatalName == '') &&
                            validateForm.value.ulb == null) ||
                          disableSubmit
                        " class="btn btn-primary" (click)="pdf20_21.click()">
                            Select File
                          </button>
                            <div *ngIf="loader.financial_year_2020_21.pdf" class="spinner-layout">
                                <mat-progress-spinner class="example-margin" color="warn" mode="indeterminate" diameter="25">
                                </mat-progress-spinner>
                                <span>{{ loader.financial_year_2020_21.name.pdf }}</span>
                            </div>
                            <span *ngIf="documents.financial_year_2020_21.pdf.length > 0" style="overflow-wrap: break-word">
                            &nbsp;{{ documents.financial_year_2020_21.pdf[0].name }} &nbsp;

                            <a>
                              <i class="fa fa-trash icon-layout" aria-hidden="true" title="Remove File"
                                (click)="remove('year_20_21', 'pdf')"></i></a>
                          </span>
                        </div>
                        <div class="col-sm-6 button-layout">
                            <label>Upload Excel:</label>&nbsp;
                            <input style="display: none" #excel20_21 type="file" accept=".xls, .xlsx" (change)="upload($event, 'excel', 'financial_year_2020_21', '2020-21')" />
                            <button [disabled]="
                          !validateForm.valid ||
                          ((validateForm.value.parastatalName == null ||
                            validateForm.value.parastatalName == '') &&
                            validateForm.value.ulb == null) ||
                          disableSubmit
                        " class="btn btn-primary" (click)="excel20_21.click()">
                            Select File
                          </button>
                            <div *ngIf="loader.financial_year_2020_21.excel" class="spinner-layout">
                                <mat-progress-spinner class="example-margin" color="warn" mode="indeterminate" diameter="25">
                                </mat-progress-spinner>
                                <span>{{ loader.financial_year_2020_21.name.excel }}</span>
                            </div>
                            <span *ngIf="documents.financial_year_2020_21.excel.length > 0" style="overflow-wrap: break-word">
                            &nbsp;{{ documents.financial_year_2020_21.excel[0].name }}
                            &nbsp;

                            <a>
                              <i class="fa fa-trash icon-layout" aria-hidden="true" title="Remove File"
                                (click)="remove('year_20_21', 'excel')"></i></a>
                          </span>
                        </div>
                    </div>
                    <br /><br />
                </div>
                <div>
                    <button (click)="submitForm()" mat-button color="primary" [disabled]="
              !validateForm.valid ||
              ((validateForm.value.parastatalName == null ||
                validateForm.value.parastatalName == '') &&
                validateForm.value.ulb == null) ||
              disableSubmit
            ">
            Submit
          </button>
                </div>
                <br />
            </div>
        </form>
    </div>
</div>
<ng-template #template>
    <div class="modal-body" style="padding: 0ch;">
        <div style="margin-bottom: 0.5rem; display: flex; justify-content: flex-end;">
            <button style="min-width: min-content;" (click)="alertClose()" class="btn btn-danger" title="Close" type="button" data-dismiss="modal" aria-label="Close">
        <i class="fa fa-times" style="color: white;"></i>
      </button>
        </div>
        <div class="modal-title">
            <h3>Version Tracking</h3>
        </div>
        <div class="table-responsive" style="max-height: 50vh; overflow-y: auto">
            <table class="table tracking-history-table">
                <thead>
                    <tr>
                        <th style="position: sticky; top: 0">Sr. No</th>
                        <th style="position: sticky; top: 0">Type</th>
                        <th style="position: sticky; top: 0">Year</th>
                        <th style="position: sticky; top: 0">Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of historyYear ;let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ typeInHistory }}</td>
                        <td>{{ formatChange(yearInHistory) }}</td>
                        <td><a target="_blank" href="{{getUrl(item) | toStorageUrl}}">{{getName(item)}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p style="margin-bottom: 2pc;">Above files are previously uploaded</p>
        <div class="pull-right">
            <button (click)="stay()" class="btn btn-primary " style="margin-right: 2pc;">Stay</button>
            <button (click)="proceed()" class="btn btn-primary ">Upload</button>
        </div>
    </div>
</ng-template>


<ng-template #saveTemplate>
    <div class="modal-body" style="padding: 0ch;">
        <div class="modal-title text-success text-center">
            <h3>Thank You!</h3>
        </div>
        <p style="margin-bottom: 2pc;">You can Download your Acknowledgement of Submission from here..
            <mat-icon class="cursor" style="margin-right: 2pc;" (click)="downloadAsPDF()" aria-hidden="false">
                <img src="../../../../assets/images//file (1).png">
            </mat-icon>
        </p>
        <div class="pull-right">
            <a [routerLink]="['/home']" (click)="alertClose()">Go to Home</a>
        </div>
    </div>
</ng-template>


<ng-template #fileTemplate>
    <div class="modal-body" style="padding: 0ch;">
        <div class="modal-title text-danger text-center">
            <h3>Missing Files!?</h3>
        </div>
        <p>{{totalFiles}} files are not uploaded still want to continue?</p>
        <div class="text-center">
            <button (click)="stay()" class="btn btn-primary " style="margin-right: 2pc;">No</button>
            <button (click)="proceed()" class="btn btn-primary ">Yes</button>
        </div>
    </div>
</ng-template>

<div class="container dwn" #prev2>
    <div class="row">
        <a><img style="float: right; width: 30%;" src="assets/cityFinanceLogo.png" alt="city-Finance-Logo-Pdf" border="0"></a>
    </div>
    <br>
    <br>
    <div class="row">
        <h2 style="text-align: center;">Cityfinance Annual Accounts Upload <br> Acknowledgment Slip <br> {{date| dateFormat}}
        </h2>
    </div>
    <br>
    <div class="row">
        1. Name of the State
        <label style="float: right; width: 60%;">{{stateListName[validateForm.value.state]}}</label>
    </div>
    <br>
    <div class="row">
        2. Name of the Urban Local Body
        <label style="float: right; width: 60%;">{{ulbListName[validateForm.value.ulb]?.name}}</label>
    </div>
    <br>
    <div class="row">
        3. ULB Type
        <label style="float: right; width: 60%;">{{ulbListName[validateForm.value.ulb]?.ulbType.name}}</label>
    </div>
    <br>
    <div class="row">4. Name of the Person <label style="float: right; width: 60%;">{{validateForm.value.person}}</label>
    </div>
    <br>
    <div class="row">5. Designation <label style="float: right; width: 60%;">{{validateForm.value.designation}}</label>
    </div>
    <br>
    <div class="row">6. Email Id <label style="float: right; width: 60%;">{{validateForm.value.email}}</label></div>
    <br>
    <div class="row">
        <div class="instructions-layout">
            <h4 style="font-weight: 600;margin-top: 3%;">
                This is to confirm that we have received the following financial statements for {{ulbListName[validateForm.value.ulb]?.name}} ULB on {{date | dateFormat}}.
            </h4>
        </div>
    </div>
    <br>
    <div style="margin-left: 1em;">
        <div class="row">
            1) Audited/Unaudited Annual Accounts for financial year 2015-16:- <br>
            <div style="margin-left: 1em;margin-bottom: 1em;margin-top: 1em;"><label>a)PDF: <a download="true" target="_blank"
            href="{{documents.financial_year_2015_16.pdf[0]?.url | toStorageUrl}}">{{
            documents.financial_year_2015_16.pdf[0]?.name }}</a></label></div>

            <div style="margin-left: 1em;"><label>b)Excel: <a target="_blank"
            href="{{documents.financial_year_2015_16.excel[0]?.url | toStorageUrl}}">{{
            documents.financial_year_2015_16.excel[0]?.name }}</a></label></div>
        </div>
        <br>
        <div class="row">
            2) Audited/Unaudited Annual Accounts for financial year 2016-17:- <br>
            <div style="margin-left: 1em;margin-bottom: 1em;margin-top: 1em;"><label>a)PDF: <a target="_blank"
            href="{{documents.financial_year_2016_17.pdf[0]?.url | toStorageUrl}}">{{
            documents.financial_year_2016_17.pdf[0]?.name }}</a></label></div>

            <div style="margin-left: 1em;"><label>b)Excel: <a target="_blank"
            href="{{documents.financial_year_2016_17.excel[0]?.url | toStorageUrl}}">{{
            documents.financial_year_2016_17.excel[0]?.name }}</a></label></div>
        </div>
        <br>
        <div class="row">
            3) Audited/Unaudited Annual Accounts for financial year 2017-18:- <br>
            <div style="margin-left: 1em;margin-bottom: 1em;margin-top: 1em;"><label>a)PDF: <a target="_blank"
            href="{{documents.financial_year_2017_18.pdf[0]?.url | toStorageUrl}}">{{
            documents.financial_year_2017_18.pdf[0]?.name }}</a></label></div>

            <div style="margin-left: 1em;"><label>b)Excel: <a target="_blank"
            href="{{documents.financial_year_2017_18.excel[0]?.url | toStorageUrl}}">{{
            documents.financial_year_2017_18.excel[0]?.name }}</a></label></div>
        </div>
        <br>
        <div class="row">
            4) Audited/Unaudited Annual Accounts for financial year 2018-19:- <br>
            <div style="margin-left: 1em;margin-bottom: 1em;margin-top: 1em;"><label>a)PDF: <a target="_blank"
            href="{{documents.financial_year_2018_19.pdf[0]?.url | toStorageUrl}}">{{
            documents.financial_year_2018_19.pdf[0]?.name }}</a></label></div>

            <div style="margin-left: 1em;"><label>b)Excel: <a target="_blank"
            href="{{documents.financial_year_2018_19.excel[0]?.url | toStorageUrl}}">{{
            documents.financial_year_2018_19.excel[0]?.name }}</a></label></div>
        </div>
        <div class="row">
            5) Audited/Unaudited Annual Accounts for financial year 2019-20:- <br>
            <div style="margin-left: 1em;margin-bottom: 1em;margin-top: 1em;"><label>a)PDF: <a target="_blank"
            href="{{documents.financial_year_2019_20.pdf[0]?.url | toStorageUrl}}">{{
            documents.financial_year_2019_20.pdf[0]?.name }}</a></label></div>

            <div style="margin-left: 1em;"><label>b)Excel: <a target="_blank"
            href="{{documents.financial_year_2019_20.excel[0]?.url | toStorageUrl}}">{{
            documents.financial_year_2019_20.excel[0]?.name }}</a></label></div>
        </div>
        <div class="row">
          5) Audited/Unaudited Annual Accounts for financial year 2020-21:- <br>
          <div style="margin-left: 1em;margin-bottom: 1em;margin-top: 1em;"><label>a)PDF: <a target="_blank"
          href="{{documents.financial_year_2020_21.pdf[0]?.url | toStorageUrl}}">{{
          documents.financial_year_2020_21.pdf[0]?.name }}</a></label></div>

          <div style="margin-left: 1em;"><label>b)Excel: <a target="_blank"
          href="{{documents.financial_year_2020_21.excel[0]?.url | toStorageUrl}}">{{
          documents.financial_year_2020_21.excel[0]?.name }}</a></label></div>
      </div>
    </div>
    <br>
    <p>The financial statements will be verified and standardized before being displayed under the "Financial Statements" tab for analysis by the public.
        <br><br> We thank you for sharing the above information with us and for your contribution to keeping Indian cities financially accountable and sustainable
    </p>
    <footer style="margin-top: 3em;">
        <p style="text-align: center;">Note: This is a system generated report and does not require signature</p>
        <br>
        <p style="float: right;">Reach us at contact@cityfinance.in
        </p>
    </footer>
</div>
