.mat-drawer-content {
  position: relative;
  z-index: 1;
  display: block;
  height: 120rem;
  overflow: auto;
}

.container-fluid {
  // margin-left: 20px;
  background-color: #ffffff;
}

.header1 {
  font-family: Roboto, Medium;
  color: #373737;
  font-size: 24px;
  //   margin-bottom: 20px;
  margin-top: 30px;
}

.sideNav {
  background-color: #f2f2f2;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}

h5 {
  display: inline-block;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: Segoe UI;
  vertical-align: middle;
}

.subBtnDiv {
  margin-top: 20px;
}

.subBtn {
  background-color: #124a55;
  font-size: 12px;
  font-weight: normal;
  font-family: Segoe UI;
  border-radius: 3px;
  margin-bottom: 10px;
}

// .mat-raised-button {
//     position: relative;
//     font-size: 12px;
//     font-weight: normal;
//     font-family: Segoe UI;
//     border-radius: 3px;
//     opacity: 1;
//     // padding: 3px 3px 3px 3px;
//     width: 63px;
//     height: 35px;
// }
ul {
  margin-left: 3px;
  margin-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 14px;
  padding-left: 8px;
  vertical-align: middle;
  margin-bottom: 0.6rem;
}

// ul:hover {
//     background-color: #ffc500;
//     color: #ffff;
// }
// ul>a:focus,
// ul>a:hover,
// ul.active,
// a.active {
//     text-decoration: none;
//     background-color: #ffc500 !important;
//     background: #ffc500 !important;
// }
ul.active {
  background-color: #ffc500;
  margin-left: 3px;
  margin-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  color: #ffff;
}

a {
  text-decoration: none;
  color: #000000;
  opacity: 1;
  font-weight: 600;
}

a:hover,
ul:hover {
  background-color: #ffc500;
  margin-left: 1px;
  margin-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  color: #ffff;
}

.mat-icon {
  width: 20px;
  height: 0px;
}

.material-icons {
  font-size: 12px;
}

.pull-right {
  width: 14px;
  margin-right: 0.5rem;
}

::ng-deep .tooltip-inner {
  //  background-color: #009688;
  //  color: #fff;
  width: 150px;
}

// .sticky {
//     position: fixed;
//     top: 0;
//     overflow-x: hidden;
//     overflow-y: auto;
//     z-index: 10;
//     height: 85%;
//     //  width: 20%;

// }

.newSticky {
  position: sticky;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 10;
  height: 50%;
}

.sticky-se {
  position: fixed;
  top: 9%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 10;
  height: 90%;
  width: 20%;
}

.stickyMain {
  margin-left: 16.6667%;
}

.icon-a {
  align-items: center;
}

::ng-deep .material-icons[_ngcontent-smm-c383] {
  font-size: 12px;
  vertical-align: text-top;
}
