<div id="preview" #preview>
  <div style="background: #047474; color: white; padding: 2% 0% 1% 0%; position: relative;">
    <h2 style="text-align: center; margin-top: 0px">15th FC Form</h2>

    <h3 style="text-align: center; margin-top: 3px">
      {{ data?.ulbName || userDetails.name }}
    </h3>
    <i
      style="position: absolute; right: 3%; top: 14%; transform: scale(1.5);cursor: pointer;"
      class="fa fa-times"
      aria-hidden="true"
      (click)="_matDialog.closeAll()"
    ></i>
  </div>

  <div class="d-flex justify-content-between mt-2" style="padding-left: 2%">
    <p class="form-status">
      <b>Application Current Status:</b> {{ data?.customStatusText }}
    </p>

    <button
      id="donwloadButton"
      style="right: 0%; outline: none; margin-right: 2%"
      class="btn btn-primary btn-upload"
      (click)="downloadAsPDF()"
    >
      Download as PDF
    </button>
  </div>
  <div style="position: relative; padding: 1% 2%" class="scrol">
    <h3 style="text-align: center">Service Level Indicators</h3>

    <table
      aria-describedby="Water Waste Management Form"
      style="margin-bottom: 5%; width: 100%; border: 1px solid #dedede"
      cellspacing="0"
      cellpadding="0"
    >
      <thead style="color: #047474">
        <th style="padding: 1%" scope="col">Service Level Indicators</th>
        <td></td>
        <th style="padding: 1%; text-align: center" scope="col">
          Baseline Indicator <br />
          2020-21
        </th>
        <th
          style="padding: 1%; text-align: center"
          *ngFor="let column of targets"
          scope="col"
          [innerHTML]="column.name"
        ></th>
      </thead>

      <tbody>
        <tr *ngIf="services[0] as service">
          <td style="padding: 1%" class="td-width">
            {{ service.name }}
          </td>
          <td>
            <svg
              *ngIf="
                data?.waterManagement[service.key]?.status ===
                  uploadSTATUS.APPROVED ||
                (data.status === uploadSTATUS.APPROVED &&
                  data.actionTakenBy === USER_TYPES.MoHUA)
              "
              xmlns="http://www.w3.org/2000/svg"
              width="15.932"
              height="13.936"
              viewBox="0 0 15.932 13.936"
            >
              <defs>
                <style>
                  .a {
                    fill: #00df76;
                  }
                  .b {
                    fill: #00ab5e;
                  }
                  .c {
                    fill: #fff5f5;
                  }
                  .d {
                    fill: #dfebf1;
                  }
                </style>
              </defs>
              <g transform="translate(-0.083)">
                <g transform="translate(0.083 0)">
                  <ellipse
                    class="a"
                    cx="6.966"
                    cy="6.968"
                    rx="6.966"
                    ry="6.968"
                    transform="translate(0 0)"
                  />
                </g>
                <path
                  class="b"
                  d="M255.694,0h-.009V13.936h.009a6.968,6.968,0,0,0,0-13.936Z"
                  transform="translate(-248.646 0)"
                />
                <path
                  class="c"
                  d="M108.032,147.2l2.817,2.817a.315.315,0,0,0,.445,0l4.625-4.625a.315.315,0,0,0,0-.445l-.842-.842a.315.315,0,0,0-.445,0l-3.364,3.364a.315.315,0,0,1-.445,0l-1.508-1.508a.315.315,0,0,0-.439-.006l-.839.793A.315.315,0,0,0,108.032,147.2Z"
                  transform="translate(-104.921 -140.093)"
                />
                <path
                  class="d"
                  d="M258.8,144.1a.315.315,0,0,0-.445,0l-2.672,2.672v2.574l3.959-3.959a.315.315,0,0,0,0-.445Z"
                  transform="translate(-248.646 -140.092)"
                />
              </g>
            </svg>

            <svg
              *ngIf="
                data?.waterManagement[service.key]?.status ===
                uploadSTATUS.REJECTED
              "
              xmlns="http://www.w3.org/2000/svg"
              width="15.932"
              height="13.936"
              viewBox="0 0 15.932 13.936"
            >
              <defs>
                <style>
                  .ared {
                    fill: #e24c4b;
                  }
                  .bred {
                    fill: #d1403f;
                  }
                  .c {
                    fill: #fff;
                  }
                </style>
              </defs>
              <circle
                class="ared"
                cx="7"
                cy="7"
                r="7"
                transform="translate(0 0)"
              />
              <path
                class="bred"
                d="M62.246,55.248a7.021,7.021,0,0,1-7,7,6.888,6.888,0,0,1-5.469-2.625,6.906,6.906,0,0,0,4.375,1.531,7.021,7.021,0,0,0,7-7,6.906,6.906,0,0,0-1.531-4.375A6.888,6.888,0,0,1,62.246,55.248Z"
                transform="translate(-48.246 -48.248)"
              />
              <path
                class="c"
                d="M123.919,123.919a.687.687,0,0,1-.963,0l-2.231-2.231-2.231,2.231a.681.681,0,0,1-.963-.963l2.231-2.231-2.231-2.231a.681.681,0,0,1,.963-.963l2.231,2.231,2.231-2.231a.681.681,0,0,1,.963.963l-2.231,2.231,2.231,2.231A.687.687,0,0,1,123.919,123.919Z"
                transform="translate(-113.725 -113.725)"
              />
            </svg>
          </td>
          <td style="padding: 1%; text-align: center">
            <span *ngIf="data?.waterManagement[service.key]?.baseline">
              {{ data?.waterManagement[service.key]?.baseline["2021"] }}
            </span>
            <em
              class="glyphicon"
              style="font-weight: 600"
              *ngIf="
                data?.waterManagement[service.key]?.baseline &&
                data?.waterManagement[service.key]?.baseline['2021']
              "
            >
              {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
            </em>
          </td>
          <td
            style="padding: 1%; text-align: center"
            *ngFor="let year of targets"
          >
            <span *ngIf="data?.waterManagement[service.key]?.target">
              {{ data?.waterManagement[service.key]?.target[year.key] }}
            </span>

            <em
              class="glyphicon"
              style="font-weight: 600"
              *ngIf="
                data?.waterManagement[service.key]?.target &&
                data?.waterManagement[service.key]?.target[year.key]
              "
            >
              {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
            </em>
          </td>
        </tr>
        <tr
          *ngIf="
            data?.waterManagement[services[0].key].status ===
            uploadSTATUS.REJECTED
          "
        >
          <td></td>
          <td></td>

          <td colspan="5" style="padding-left: 1%">
            <h5 style="margin-bottom: 0px">Reason for rejection</h5>
            {{ data?.waterManagement[services[0].key].rejectReason }}
          </td>
        </tr>

        <tr *ngIf="services[1] as service">
          <td style="padding: 1%" class="td-width">
            {{ service.name }}
          </td>
          <td>
            <svg
              *ngIf="
                data?.waterManagement[service.key]?.status ===
                  uploadSTATUS.APPROVED ||
                (data.status === uploadSTATUS.APPROVED &&
                  data.actionTakenBy === USER_TYPES.MoHUA)
              "
              xmlns="http://www.w3.org/2000/svg"
              width="15.932"
              height="13.936"
              viewBox="0 0 15.932 13.936"
            >
              <defs>
                <style>
                  .a {
                    fill: #00df76;
                  }
                  .b {
                    fill: #00ab5e;
                  }
                  .c {
                    fill: #fff5f5;
                  }
                  .d {
                    fill: #dfebf1;
                  }
                </style>
              </defs>
              <g transform="translate(-0.083)">
                <g transform="translate(0.083 0)">
                  <ellipse
                    class="a"
                    cx="6.966"
                    cy="6.968"
                    rx="6.966"
                    ry="6.968"
                    transform="translate(0 0)"
                  />
                </g>
                <path
                  class="b"
                  d="M255.694,0h-.009V13.936h.009a6.968,6.968,0,0,0,0-13.936Z"
                  transform="translate(-248.646 0)"
                />
                <path
                  class="c"
                  d="M108.032,147.2l2.817,2.817a.315.315,0,0,0,.445,0l4.625-4.625a.315.315,0,0,0,0-.445l-.842-.842a.315.315,0,0,0-.445,0l-3.364,3.364a.315.315,0,0,1-.445,0l-1.508-1.508a.315.315,0,0,0-.439-.006l-.839.793A.315.315,0,0,0,108.032,147.2Z"
                  transform="translate(-104.921 -140.093)"
                />
                <path
                  class="d"
                  d="M258.8,144.1a.315.315,0,0,0-.445,0l-2.672,2.672v2.574l3.959-3.959a.315.315,0,0,0,0-.445Z"
                  transform="translate(-248.646 -140.092)"
                />
              </g>
            </svg>

            <svg
              *ngIf="
                data?.waterManagement[service.key]?.status ===
                uploadSTATUS.REJECTED
              "
              xmlns="http://www.w3.org/2000/svg"
              width="15.932"
              height="13.936"
              viewBox="0 0 15.932 13.936"
            >
              <defs>
                <style>
                  .ared {
                    fill: #e24c4b;
                  }
                  .bred {
                    fill: #d1403f;
                  }
                  .c {
                    fill: #fff;
                  }
                </style>
              </defs>
              <circle
                class="ared"
                cx="7"
                cy="7"
                r="7"
                transform="translate(0 0)"
              />
              <path
                class="bred"
                d="M62.246,55.248a7.021,7.021,0,0,1-7,7,6.888,6.888,0,0,1-5.469-2.625,6.906,6.906,0,0,0,4.375,1.531,7.021,7.021,0,0,0,7-7,6.906,6.906,0,0,0-1.531-4.375A6.888,6.888,0,0,1,62.246,55.248Z"
                transform="translate(-48.246 -48.248)"
              />
              <path
                class="c"
                d="M123.919,123.919a.687.687,0,0,1-.963,0l-2.231-2.231-2.231,2.231a.681.681,0,0,1-.963-.963l2.231-2.231-2.231-2.231a.681.681,0,0,1,.963-.963l2.231,2.231,2.231-2.231a.681.681,0,0,1,.963.963l-2.231,2.231,2.231,2.231A.687.687,0,0,1,123.919,123.919Z"
                transform="translate(-113.725 -113.725)"
              />
            </svg>
          </td>

          <td style="padding: 1%; text-align: center">
            <span *ngIf="data?.waterManagement[service.key]?.baseline">
              {{ data?.waterManagement[service.key]?.baseline["2021"] }}
            </span>
            <em
              class="glyphicon"
              style="font-weight: 600"
              *ngIf="
                data?.waterManagement[service.key]?.baseline &&
                data?.waterManagement[service.key]?.baseline['2021']
              "
            >
              {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
            </em>
          </td>
          <td
            style="padding: 1%; text-align: center"
            *ngFor="let year of targets"
          >
            <span *ngIf="data?.waterManagement[service.key]?.target">
              {{ data?.waterManagement[service.key]?.target[year.key] }}
            </span>

            <i
              class="glyphicon"
              style="font-weight: 600"
              *ngIf="
                data?.waterManagement[service.key]?.target &&
                data?.waterManagement[service.key]?.target[year.key]
              "
            >
              {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
            </i>
          </td>
        </tr>
        <tr
          *ngIf="
            data?.waterManagement[services[1].key].status ===
            uploadSTATUS.REJECTED
          "
        >
          <td></td>
          <td></td>
          <td colspan="5" style="padding-left: 1%">
            <h5 style="margin-bottom: 0px">Reason for rejection</h5>
            {{ data?.waterManagement[services[1].key].rejectReason }}
          </td>
        </tr>

        <tr *ngIf="services[2] as service">
          <td style="padding: 1%" class="td-width">
            {{ service.name }}
          </td>
          <td>
            <svg
              *ngIf="
                data?.waterManagement[service.key]?.status ===
                  uploadSTATUS.APPROVED ||
                (data.status === uploadSTATUS.APPROVED &&
                  data.actionTakenBy === USER_TYPES.MoHUA)
              "
              xmlns="http://www.w3.org/2000/svg"
              width="15.932"
              height="13.936"
              viewBox="0 0 15.932 13.936"
            >
              <defs>
                <style>
                  .a {
                    fill: #00df76;
                  }
                  .b {
                    fill: #00ab5e;
                  }
                  .c {
                    fill: #fff5f5;
                  }
                  .d {
                    fill: #dfebf1;
                  }
                </style>
              </defs>
              <g transform="translate(-0.083)">
                <g transform="translate(0.083 0)">
                  <ellipse
                    class="a"
                    cx="6.966"
                    cy="6.968"
                    rx="6.966"
                    ry="6.968"
                    transform="translate(0 0)"
                  />
                </g>
                <path
                  class="b"
                  d="M255.694,0h-.009V13.936h.009a6.968,6.968,0,0,0,0-13.936Z"
                  transform="translate(-248.646 0)"
                />
                <path
                  class="c"
                  d="M108.032,147.2l2.817,2.817a.315.315,0,0,0,.445,0l4.625-4.625a.315.315,0,0,0,0-.445l-.842-.842a.315.315,0,0,0-.445,0l-3.364,3.364a.315.315,0,0,1-.445,0l-1.508-1.508a.315.315,0,0,0-.439-.006l-.839.793A.315.315,0,0,0,108.032,147.2Z"
                  transform="translate(-104.921 -140.093)"
                />
                <path
                  class="d"
                  d="M258.8,144.1a.315.315,0,0,0-.445,0l-2.672,2.672v2.574l3.959-3.959a.315.315,0,0,0,0-.445Z"
                  transform="translate(-248.646 -140.092)"
                />
              </g>
            </svg>

            <svg
              *ngIf="
                data?.waterManagement[service.key]?.status ===
                uploadSTATUS.REJECTED
              "
              xmlns="http://www.w3.org/2000/svg"
              width="15.932"
              height="13.936"
              viewBox="0 0 15.932 13.936"
            >
              <defs>
                <style>
                  .ared {
                    fill: #e24c4b;
                  }
                  .bred {
                    fill: #d1403f;
                  }
                  .c {
                    fill: #fff;
                  }
                </style>
              </defs>
              <circle
                class="ared"
                cx="7"
                cy="7"
                r="7"
                transform="translate(0 0)"
              />
              <path
                class="bred"
                d="M62.246,55.248a7.021,7.021,0,0,1-7,7,6.888,6.888,0,0,1-5.469-2.625,6.906,6.906,0,0,0,4.375,1.531,7.021,7.021,0,0,0,7-7,6.906,6.906,0,0,0-1.531-4.375A6.888,6.888,0,0,1,62.246,55.248Z"
                transform="translate(-48.246 -48.248)"
              />
              <path
                class="c"
                d="M123.919,123.919a.687.687,0,0,1-.963,0l-2.231-2.231-2.231,2.231a.681.681,0,0,1-.963-.963l2.231-2.231-2.231-2.231a.681.681,0,0,1,.963-.963l2.231,2.231,2.231-2.231a.681.681,0,0,1,.963.963l-2.231,2.231,2.231,2.231A.687.687,0,0,1,123.919,123.919Z"
                transform="translate(-113.725 -113.725)"
              />
            </svg>
          </td>

          <td style="padding: 1%; text-align: center">
            <span *ngIf="data?.waterManagement[service.key]?.baseline">
              {{ data?.waterManagement[service.key]?.baseline["2021"] }}
            </span>
            <em
              class="glyphicon"
              style="font-weight: 600"
              *ngIf="
                data?.waterManagement[service.key]?.baseline &&
                data?.waterManagement[service.key]?.baseline['2021']
              "
            >
              {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
            </em>
          </td>
          <td
            style="padding: 1%; text-align: center"
            *ngFor="let year of targets"
          >
            <span *ngIf="data?.waterManagement[service.key]?.target">
              {{ data?.waterManagement[service.key]?.target[year.key] }}
            </span>

            <em
              class="glyphicon"
              style="font-weight: 600"
              *ngIf="
                data?.waterManagement[service.key]?.target &&
                data?.waterManagement[service.key]?.target[year.key]
              "
            >
              {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
            </em>
          </td>
        </tr>
        <tr
          *ngIf="
            data?.waterManagement[services[2].key].status ===
            uploadSTATUS.REJECTED
          "
        >
          <td></td>
          <td></td>
          <td colspan="5" style="padding-left: 1%">
            <h5 style="margin-bottom: 0px">Reason for rejection</h5>
            {{ data?.waterManagement[services[2].key].rejectReason }}
          </td>
        </tr>

        <tr *ngIf="services[3] as service">
          <td style="padding: 1%" class="td-width">
            {{ service.name }}
          </td>
          <td>
            <svg
              *ngIf="
                data?.waterManagement[service.key]?.status ===
                  uploadSTATUS.APPROVED ||
                (data.status === uploadSTATUS.APPROVED &&
                  data.actionTakenBy === USER_TYPES.MoHUA)
              "
              xmlns="http://www.w3.org/2000/svg"
              width="15.932"
              height="13.936"
              viewBox="0 0 15.932 13.936"
            >
              <defs>
                <style>
                  .a {
                    fill: #00df76;
                  }
                  .b {
                    fill: #00ab5e;
                  }
                  .c {
                    fill: #fff5f5;
                  }
                  .d {
                    fill: #dfebf1;
                  }
                </style>
              </defs>
              <g transform="translate(-0.083)">
                <g transform="translate(0.083 0)">
                  <ellipse
                    class="a"
                    cx="6.966"
                    cy="6.968"
                    rx="6.966"
                    ry="6.968"
                    transform="translate(0 0)"
                  />
                </g>
                <path
                  class="b"
                  d="M255.694,0h-.009V13.936h.009a6.968,6.968,0,0,0,0-13.936Z"
                  transform="translate(-248.646 0)"
                />
                <path
                  class="c"
                  d="M108.032,147.2l2.817,2.817a.315.315,0,0,0,.445,0l4.625-4.625a.315.315,0,0,0,0-.445l-.842-.842a.315.315,0,0,0-.445,0l-3.364,3.364a.315.315,0,0,1-.445,0l-1.508-1.508a.315.315,0,0,0-.439-.006l-.839.793A.315.315,0,0,0,108.032,147.2Z"
                  transform="translate(-104.921 -140.093)"
                />
                <path
                  class="d"
                  d="M258.8,144.1a.315.315,0,0,0-.445,0l-2.672,2.672v2.574l3.959-3.959a.315.315,0,0,0,0-.445Z"
                  transform="translate(-248.646 -140.092)"
                />
              </g>
            </svg>

            <svg
              *ngIf="
                data?.waterManagement[service.key]?.status ===
                uploadSTATUS.REJECTED
              "
              xmlns="http://www.w3.org/2000/svg"
              width="15.932"
              height="13.936"
              viewBox="0 0 15.932 13.936"
            >
              <defs>
                <style>
                  .ared {
                    fill: #e24c4b;
                  }
                  .bred {
                    fill: #d1403f;
                  }
                  .c {
                    fill: #fff;
                  }
                </style>
              </defs>
              <circle
                class="ared"
                cx="7"
                cy="7"
                r="7"
                transform="translate(0 0)"
              />
              <path
                class="bred"
                d="M62.246,55.248a7.021,7.021,0,0,1-7,7,6.888,6.888,0,0,1-5.469-2.625,6.906,6.906,0,0,0,4.375,1.531,7.021,7.021,0,0,0,7-7,6.906,6.906,0,0,0-1.531-4.375A6.888,6.888,0,0,1,62.246,55.248Z"
                transform="translate(-48.246 -48.248)"
              />
              <path
                class="c"
                d="M123.919,123.919a.687.687,0,0,1-.963,0l-2.231-2.231-2.231,2.231a.681.681,0,0,1-.963-.963l2.231-2.231-2.231-2.231a.681.681,0,0,1,.963-.963l2.231,2.231,2.231-2.231a.681.681,0,0,1,.963.963l-2.231,2.231,2.231,2.231A.687.687,0,0,1,123.919,123.919Z"
                transform="translate(-113.725 -113.725)"
              />
            </svg>
          </td>

          <td style="padding: 1%; text-align: center">
            <span *ngIf="data?.waterManagement[service.key]?.baseline">
              {{ data?.waterManagement[service.key]?.baseline["2021"] }}
            </span>
            <em
              class="glyphicon"
              style="font-weight: 600"
              *ngIf="
                data?.waterManagement[service.key]?.baseline &&
                data?.waterManagement[service.key]?.baseline['2021']
              "
            >
              {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
            </em>
          </td>
          <td
            style="padding: 1%; text-align: center"
            *ngFor="let year of targets"
          >
            <span *ngIf="data?.waterManagement[service.key]?.target">
              {{ data?.waterManagement[service.key]?.target[year.key] }}
            </span>

            <em
              class="glyphicon"
              style="font-weight: 600"
              *ngIf="
                data?.waterManagement[service.key]?.target &&
                data?.waterManagement[service.key]?.target[year.key]
              "
            >
              {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
            </em>
          </td>
        </tr>
        <tr
          *ngIf="
            data?.waterManagement[services[3].key].status ===
            uploadSTATUS.REJECTED
          "
        >
          <td></td>
          <td></td>
          <td colspan="5" style="padding-left: 1%">
            <h5 style="margin-bottom: 0px">Reason for rejection</h5>
            {{ data?.waterManagement[services[3].key].rejectReason }}
          </td>
        </tr>
      </tbody>
    </table>

    <h3 style="text-align: center">Upload Plans</h3>
    <ol>
      <li
        *ngFor="let question of solidWasteQuestions"
        style="margin-bottom: 1.5%"
      >
        {{ question.question }}
        <div style="display: flex; flex-wrap: wrap; margin-top: 0.5rem">
          <a
            style="display: inline !important"
            *ngIf="
              data?.solidWasteManagement?.documents &&
              data?.solidWasteManagement?.documents[question.key] &&
              data?.solidWasteManagement?.documents[question.key][0]
            "
            [href]="data?.solidWasteManagement?.documents[question.key][0]?.url | toStorageUrl"
            target="_blank"
          >
            {{ data?.solidWasteManagement?.documents[question.key][0].name }}
          </a>
          <span
            style="display: inline-flex; width: 50%; margin-left: 3%"
            *ngIf="
              data?.solidWasteManagement?.documents &&
              data?.solidWasteManagement?.documents[question.key] &&
              data?.solidWasteManagement?.documents[question.key][0]?.status
            "
          >
            <span>
              <svg
                *ngIf="
                  (data?.solidWasteManagement?.documents &&
                    data?.solidWasteManagement?.documents[question.key] &&
                    data?.solidWasteManagement?.documents[question.key][0]
                      ?.status === uploadSTATUS.APPROVED) ||
                  (data.status === uploadSTATUS.APPROVED &&
                    data.actionTakenBy === USER_TYPES.MoHUA)
                "
                xmlns="http://www.w3.org/2000/svg"
                width="15.932"
                height="13.936"
                viewBox="0 0 15.932 13.936"
              >
                <defs>
                  <style>
                    .a {
                      fill: #00df76;
                    }
                    .b {
                      fill: #00ab5e;
                    }
                    .c {
                      fill: #fff5f5;
                    }
                    .d {
                      fill: #dfebf1;
                    }
                  </style>
                </defs>
                <g transform="translate(-0.083)">
                  <g transform="translate(0.083 0)">
                    <ellipse
                      class="a"
                      cx="6.966"
                      cy="6.968"
                      rx="6.966"
                      ry="6.968"
                      transform="translate(0 0)"
                    />
                  </g>
                  <path
                    class="b"
                    d="M255.694,0h-.009V13.936h.009a6.968,6.968,0,0,0,0-13.936Z"
                    transform="translate(-248.646 0)"
                  />
                  <path
                    class="c"
                    d="M108.032,147.2l2.817,2.817a.315.315,0,0,0,.445,0l4.625-4.625a.315.315,0,0,0,0-.445l-.842-.842a.315.315,0,0,0-.445,0l-3.364,3.364a.315.315,0,0,1-.445,0l-1.508-1.508a.315.315,0,0,0-.439-.006l-.839.793A.315.315,0,0,0,108.032,147.2Z"
                    transform="translate(-104.921 -140.093)"
                  />
                  <path
                    class="d"
                    d="M258.8,144.1a.315.315,0,0,0-.445,0l-2.672,2.672v2.574l3.959-3.959a.315.315,0,0,0,0-.445Z"
                    transform="translate(-248.646 -140.092)"
                  />
                </g>
              </svg>

              <svg
                *ngIf="
                  data?.solidWasteManagement?.documents &&
                  data?.solidWasteManagement?.documents[question.key] &&
                  data?.solidWasteManagement?.documents[question.key][0]
                    ?.status === uploadSTATUS.REJECTED
                "
                xmlns="http://www.w3.org/2000/svg"
                width="15.932"
                height="15.932"
                viewBox="0 0 15.932 15.932"
              >
                <defs>
                  <style>
                    .ared {
                      fill: #e24c4b;
                    }
                    .bred {
                      fill: #d1403f;
                    }
                    .c {
                      fill: #fff;
                    }
                  </style>
                </defs>
                <circle
                  class="ared"
                  cx="7"
                  cy="7"
                  r="7"
                  transform="translate(0 0)"
                />
                <path
                  class="bred"
                  d="M62.246,55.248a7.021,7.021,0,0,1-7,7,6.888,6.888,0,0,1-5.469-2.625,6.906,6.906,0,0,0,4.375,1.531,7.021,7.021,0,0,0,7-7,6.906,6.906,0,0,0-1.531-4.375A6.888,6.888,0,0,1,62.246,55.248Z"
                  transform="translate(-48.246 -48.248)"
                />
                <path
                  class="c"
                  d="M123.919,123.919a.687.687,0,0,1-.963,0l-2.231-2.231-2.231,2.231a.681.681,0,0,1-.963-.963l2.231-2.231-2.231-2.231a.681.681,0,0,1,.963-.963l2.231,2.231,2.231-2.231a.681.681,0,0,1,.963.963l-2.231,2.231,2.231,2.231A.687.687,0,0,1,123.919,123.919Z"
                  transform="translate(-113.725 -113.725)"
                />
              </svg>
            </span>
            <span
              style="padding-left: 2%; position: relative"
              *ngIf="
                data?.solidWasteManagement?.documents &&
                data?.solidWasteManagement?.documents[question.key] &&
                data?.solidWasteManagement?.documents[question.key][0]
                  ?.status === uploadSTATUS.REJECTED
              "
            >
              <span style="font-weight: 700">Reason for rejection: </span>
              {{
                data?.solidWasteManagement?.documents[question.key][0]
                  .rejectReason
              }}
            </span>
          </span>
        </div>
      </li>
    </ol>

    <div *ngIf="isULBMillionPlus">
      <h3 style="text-align: center">Upload Plans(Million+ City)</h3>
      <ol>
        <li
          *ngFor="let question of millionPlusCitiesQuestions"
          style="margin-bottom: 1.5%"
        >
          {{ question.question }} <br />

          <div style="display: flex; flex-wrap: wrap; margin-top: 0.5rem">
            <a
              style="display: inline !important"
              *ngIf="
                data?.millionPlusCities?.documents &&
                data?.millionPlusCities?.documents[question.key] &&
                data?.millionPlusCities?.documents[question.key][0]
              "
              [href]="data?.millionPlusCities?.documents[question.key][0]?.url | toStorageUrl"
              target="_blank"
            >
              {{ data?.millionPlusCities?.documents[question.key][0].name }}
            </a>
            <span
              style="display: inline-flex; width: 50%; margin-left: 3%"
              *ngIf="
                data?.millionPlusCities?.documents &&
                data?.millionPlusCities?.documents[question.key] &&
                data?.millionPlusCities?.documents[question.key][0]?.status
              "
            >
              <span>
                <svg
                  *ngIf="
                    (data?.millionPlusCities?.documents &&
                      data?.millionPlusCities?.documents[question.key] &&
                      data?.millionPlusCities?.documents[question.key][0]
                        ?.status === uploadSTATUS.APPROVED) ||
                    (data.status === uploadSTATUS.APPROVED &&
                      data.actionTakenBy === USER_TYPES.MoHUA)
                  "
                  xmlns="http://www.w3.org/2000/svg"
                  width="15.932"
                  height="13.936"
                  viewBox="0 0 15.932 13.936"
                >
                  <defs>
                    <style>
                      .a {
                        fill: #00df76;
                      }
                      .b {
                        fill: #00ab5e;
                      }
                      .c {
                        fill: #fff5f5;
                      }
                      .d {
                        fill: #dfebf1;
                      }
                    </style>
                  </defs>
                  <g transform="translate(-0.083)">
                    <g transform="translate(0.083 0)">
                      <ellipse
                        class="a"
                        cx="6.966"
                        cy="6.968"
                        rx="6.966"
                        ry="6.968"
                        transform="translate(0 0)"
                      />
                    </g>
                    <path
                      class="b"
                      d="M255.694,0h-.009V13.936h.009a6.968,6.968,0,0,0,0-13.936Z"
                      transform="translate(-248.646 0)"
                    />
                    <path
                      class="c"
                      d="M108.032,147.2l2.817,2.817a.315.315,0,0,0,.445,0l4.625-4.625a.315.315,0,0,0,0-.445l-.842-.842a.315.315,0,0,0-.445,0l-3.364,3.364a.315.315,0,0,1-.445,0l-1.508-1.508a.315.315,0,0,0-.439-.006l-.839.793A.315.315,0,0,0,108.032,147.2Z"
                      transform="translate(-104.921 -140.093)"
                    />
                    <path
                      class="d"
                      d="M258.8,144.1a.315.315,0,0,0-.445,0l-2.672,2.672v2.574l3.959-3.959a.315.315,0,0,0,0-.445Z"
                      transform="translate(-248.646 -140.092)"
                    />
                  </g>
                </svg>

                <svg
                  *ngIf="
                    data?.millionPlusCities?.documents &&
                    data?.millionPlusCities?.documents[question.key] &&
                    data?.millionPlusCities?.documents[question.key][0]
                      ?.status === uploadSTATUS.REJECTED
                  "
                  xmlns="http://www.w3.org/2000/svg"
                  width="15.932"
                  height="15.932"
                  viewBox="0 0 15.932 15.932"
                >
                  <defs>
                    <style>
                      .ared {
                        fill: #e24c4b;
                      }
                      .bred {
                        fill: #d1403f;
                      }
                      .c {
                        fill: #fff;
                      }
                    </style>
                  </defs>
                  <circle
                    class="ared"
                    cx="7"
                    cy="7"
                    r="7"
                    transform="translate(0 0)"
                  />
                  <path
                    class="bred"
                    d="M62.246,55.248a7.021,7.021,0,0,1-7,7,6.888,6.888,0,0,1-5.469-2.625,6.906,6.906,0,0,0,4.375,1.531,7.021,7.021,0,0,0,7-7,6.906,6.906,0,0,0-1.531-4.375A6.888,6.888,0,0,1,62.246,55.248Z"
                    transform="translate(-48.246 -48.248)"
                  />
                  <path
                    class="c"
                    d="M123.919,123.919a.687.687,0,0,1-.963,0l-2.231-2.231-2.231,2.231a.681.681,0,0,1-.963-.963l2.231-2.231-2.231-2.231a.681.681,0,0,1,.963-.963l2.231,2.231,2.231-2.231a.681.681,0,0,1,.963.963l-2.231,2.231,2.231,2.231A.687.687,0,0,1,123.919,123.919Z"
                    transform="translate(-113.725 -113.725)"
                  />
                </svg>
              </span>
              <span
                style="padding-left: 2%; position: relative"
                *ngIf="
                  data?.millionPlusCities?.documents &&
                  data?.millionPlusCities?.documents[question.key] &&
                  data?.millionPlusCities?.documents[question.key][0]
                    ?.status === uploadSTATUS.REJECTED
                "
              >
                <span style="font-weight: 700">Reason for rejection: </span>
                {{
                  data?.millionPlusCities?.documents[question.key][0]
                    .rejectReason
                }}
              </span>
            </span>
          </div>
        </li>
      </ol>
    </div>
    <div class="mt-4" style="padding-left: 3%; float: right">
      <h5>
        Form First Submitted On:
        <span style="font-weight: normal">
          {{
            (data["firstSubmitedAt"] | date: "MMMM d, y, h:mm a":"+00") ||
              "Not Submitted"
          }}</span
        >
      </h5>
      <h5>
        Form Last Rejected On:
        <span style="font-weight: normal">
          {{
            (data["rejectedAt"] | date: "MMMM d, y, h:mm a":"+00") ||
              "No Reject Found"
          }}</span
        >
      </h5>
    </div>
  </div>
</div>
