<div class="fc-grant">
  <div class="container-fluid">
    <div class="align-items-center d-flex flex-wrap">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="card">
          <div class="card-body border register bg-white">
            <h5 class="text-center"><b>Sign Up</b></h5>

            <div class="col-xs-12 mb-1">
              <div class="row">
                <h5 *ngIf="!registrationType" class="m-1">Select User Type</h5>
                <app-user-type-confirmation
                  *ngIf="!registrationType"
                  (userTypeSelected)="onSelectionUserType($event)"
                >
                </app-user-type-confirmation>

                <form
                  class="registration-form"
                  *ngIf="registrationType === 'user'"
                  [formGroup]="registrationForm"
                  (ngSubmit)="signup(registrationForm)"
                >
                  <!-- <div class="input-group">
                    <input
                      id="name"
                      autocomplete="username"
                      class="form-control"
                      [formControl]="registrationForm.controls['name']"
                      placeholder="User name*"
                      [ngClass]="{
                        'is-invalid': GetFormControlErrors('name')
                      }"
                    />
                  </div> -->
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                    style="border: none"
                  >
                    <mat-label class="text-gray"
                      >User name<span style="color: red">*</span></mat-label
                    >

                    <input
                      [formControl]="registrationForm.controls['name']"
                      matInput
                    />
                  </mat-form-field>
                  <small
                    *ngIf="GetFormControlErrors('name') as error"
                    class="form-field-error-message"
                  >
                    <span *ngIf="error?.required">
                      User name cannot be empty.
                    </span>
                    <span *ngIf="error?.pattern">
                      User name must of only Alphabet characters only and 1st
                      letter must be capital.</span
                    >
                  </small>

                  <!-- <div class="input-group">
                    <input
                      id="email"
                      class="form-control"
                      [formControl]="registrationForm.controls['email']"
                      placeholder="Email ID*"
                      [ngClass]="{
                        'is-invalid': GetFormControlErrors('email')
                      }"
                    />
                  </div> -->
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label class="text-gray"
                      >Email ID<span style="color: red">*</span></mat-label
                    >

                    <input
                      [formControl]="registrationForm.controls['email']"
                      matInput
                    />
                  </mat-form-field>
                  <small
                    *ngIf="GetFormControlErrors('email') as error"
                    class="form-field-error-message"
                  >
                    <span *ngIf="error?.required">
                      Email ID cannot be empty.
                    </span>
                    <span *ngIf="error?.email === false">
                      Email Id is not valid</span
                    >
                  </small>

                  <!-- <div class="input-group">
                    <input
                      id="mobile"
                      class="form-control"
                      [formControl]="registrationForm.controls['mobile']"
                      placeholder="Mobile No*"
                      [ngClass]="{
                        'is-invalid': GetFormControlErrors('mobile')
                      }"
                    />
                  </div> -->
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label class="text-gray"
                      >Mobile No<span style="color: red">*</span></mat-label
                    >

                    <input
                      [formControl]="registrationForm.controls['mobile']"
                      matInput
                    />
                  </mat-form-field>
                  <small
                    *ngIf="GetFormControlErrors('mobile') as error"
                    class="form-field-error-message"
                  >
                    <span *ngIf="error?.required">
                      Mobile No cannot be empty.
                    </span>
                    <span *ngIf="error?.pattern === false">
                      Mobile No must start with either 6 / 7 / 8 / 9, and of 10
                      digits only.
                    </span>
                  </small>

                  <!-- <div class="input-group">
                    <input
                      id="designation"
                      class="form-control"
                      [formControl]="registrationForm.controls['designation']"
                      placeholder="Designation*"
                      [ngClass]="{
                        'is-invalid': GetFormControlErrors('designation')
                      }"
                    />
                  </div> -->
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label class="text-gray"
                      >Designation<span style="color: red">*</span></mat-label
                    >

                    <input
                      [formControl]="registrationForm.controls['designation']"
                      matInput
                    />
                  </mat-form-field>
                  <small
                    *ngIf="GetFormControlErrors('designation') as error"
                    class="form-field-error-message"
                  >
                    <span *ngIf="error?.required">
                      Designation cannot be empty.
                    </span>
                  </small>

                  <!-- <div class="input-group">
                    <input
                      id="organization"
                      class="form-control"
                      [formControl]="registrationForm.controls['organization']"
                      placeholder="Organisation/Instituition Name*"
                      [ngClass]="{
                        'is-invalid': GetFormControlErrors('organization')
                      }"
                    />
                  </div> -->
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label class="text-gray"
                      >Organisation/Instituition Name<span style="color: red"
                        >*</span
                      ></mat-label
                    >

                    <input
                      [formControl]="registrationForm.controls['organization']"
                      matInput
                    />
                  </mat-form-field>
                  <small
                    *ngIf="GetFormControlErrors('organization') as error"
                    class="form-field-error-message"
                  >
                    <span *ngIf="error?.required">
                      Organisation/Instituition Name cannot be empty.
                    </span>
                  </small>

                  <!-- <div class="input-group">
                    <input
                      id="password"
                      type="password"
                      class="form-control"
                      [formControl]="registrationForm.controls['password']"
                      placeholder="Password*"
                      [ngClass]="{
                        'is-invalid': GetFormControlErrors('password')
                      }"
                    />
                  </div> -->
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label class="text-gray"
                      >Password<span style="color: red">*</span></mat-label
                    >

                    <input
                      type="password"
                      [formControl]="registrationForm.controls['password']"
                      matInput
                    />
                  </mat-form-field>
                  <small
                    *ngIf="GetFormControlErrors('password') as error"
                    class="form-field-error-message"
                  >
                    <span *ngIf="error?.password">
                      {{ error.password }}
                    </span>
                  </small>

                  <!-- <div class="input-group">
                    <input
                      id="password"
                      type="password"
                      class="form-control"
                      [formControl]="
                        registrationForm.controls['confirmPassword']
                      "
                      placeholder="Confirm Password*"
                      [ngClass]="{
                        'is-invalid': GetFormControlErrors('confirmPassword')
                      }"
                    />
                  </div> -->
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label class="text-gray"
                      >Confirm Password<span style="color: red"
                        >*</span
                      ></mat-label
                    >

                    <input
                      type="password"
                      [formControl]="
                        registrationForm.controls['confirmPassword']
                      "
                      matInput
                    />
                  </mat-form-field>
                  <small
                    *ngIf="GetFormControlErrors('confirmPassword') as error"
                    class="form-field-error-message"
                  >
                    <span *ngIf="error?.passwordMisMatch">
                      {{ error.passwordMisMatch }}
                    </span>

                    <span *ngIf="error?.required">
                      Confirm Password is required
                    </span>
                  </small>

                  <p *ngIf="formError">
                    <span
                      *ngFor="let error of formError; let i = index"
                      style="display: block; color: red"
                    >
                      {{ i + 1 }}. {{ error }}
                    </span>
                  </p>
                  <p *ngIf="respone.errorMessage" class="error-message">
                    {{ respone.errorMessage }}
                  </p>
                  <p *ngIf="respone.successMessage" class="success-message">
                    {{ respone.successMessage }}
                  </p>

                  <re-captcha
                    *ngIf="reCaptcha.show"
                    (resolved)="resolveCaptcha($event)"
                    [siteKey]="reCaptcha.siteKey"
                  >
                  </re-captcha>

                  <div class="input-group mt-2" style="width: 100%">
                    <button
                      style="width: 100%"
                      type="submit"
                      class="btn btn-primary"
                      [disabled]="!registrationForm.valid"
                    >
                      Sign up
                    </button>
                  </div>
                </form>

                <form
                  class="registration-form"
                  [formGroup]="registrationForm"
                  (ngSubmit)="signup(registrationForm)"
                  *ngIf="registrationType === 'ulb'"
                >
                  <div class="error-text col-xs-12" *ngIf="badCredentials">
                    <p class="text-danger">Invalid Username or Password!!</p>
                  </div>

                  <!-- <div class="input-group">
                    <select
                      name="State*"
                      id="state"
                      formControlName="state"
                      class="form-control"
                      placeholder="State*"
                      [ngClass]="{
                        'is-invalid':
                          formSubmitted &&
                          registrationForm?.controls?.state.errors
                      }"
                    >
                      <option value="" selected disabled>State*</option>
                      <option
                        *ngFor="let state of stateList"
                        [value]="state._id"
                      >
                        {{ state.name }}
                      </option>
                    </select>
                  </div> -->

                  <mat-form-field appearance="outline">
                    <mat-label class="text-gray"
                      >State<span style="color: red">*</span>
                    </mat-label>
                    <mat-select formControlName="state">
                      <mat-option
                        *ngFor="let state of stateList"
                        [value]="state._id"
                      >
                        {{ state.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <!-- <div class="input-group">
                    <select
                      name="ulb"
                      id="ulb"
                      [formControl]="registrationForm.controls['name']"
                      class="form-control"
                      placeholder="Urban Local Body*"
                      [ngClass]="{
                        'is-invalid':
                          formSubmitted &&
                          registrationForm?.controls?.name.errors
                      }"
                    >
                      <option value="" selected disabled>
                        Urban Local Body
                      </option>
                      <option
                        value=""
                        *ngIf="ulbList && !ulbList.length"
                        selected
                        disabled
                      >
                        NO Urban Local Body Available
                      </option>
                      <option *ngFor="let ulb of ulbList" [value]="ulb.name">
                        {{ ulb.name }}
                      </option>
                    </select>
                  </div> -->

                  <mat-form-field appearance="outline">
                    <mat-label class="text-gray"
                      >Urban Local Body<span style="color: red"
                        >*</span
                      ></mat-label
                    >
                    <mat-select formControlName="name">
                      <mat-option
                        value=""
                        *ngIf="ulbList && !ulbList.length"
                        selected
                        disabled
                      >
                        NO Urban Local Body Available
                      </mat-option>
                      <mat-option
                        *ngFor="let ulb of ulbList"
                        [value]="ulb.name"
                      >
                        {{ ulb.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <!-- <div class="input-group">
                    <input
                      id="ulb_code"
                      type="text"
                      class="form-control"
                      [formControl]="registrationForm.controls['ulb']"
                      placeholder="Census Code/ULB Code*"
                    />
                    <i
                      class="fa fa-spinner fa-spin ulbSpinner"
                      aria-hidden="true"
                      [hidden]="!isCheckingULBCode"
                    ></i>
                  </div> -->

                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label class="text-gray"
                      >Census Code/ULB Code<span style="color: red"
                        >*</span
                      ></mat-label
                    >

                    <input
                      [formControl]="registrationForm.controls['ulb']"
                      matInput
                    />
                  </mat-form-field>

                  <small *ngIf="ulbCodeError" class="form-field-error-message">
                    {{ ulbCodeError }}
                  </small>

                  <!-- <div class="input-group">
                    <input
                      id="commissionerName"
                      type="text"
                      class="form-control"
                      [formControl]="
                        registrationForm.controls['commissionerName']
                      "
                      placeholder="Municipal Commissioner/Executive Officer Name *"
                      [ngClass]="{
                        'is-invalid': GetFormControlErrors('commissionerName')
                      }"
                    />
                  </div>
                  <small
                    *ngIf="GetFormControlErrors('commissionerName') as error"
                    class="form-field-error-message"
                  >
                    <span *ngIf="error?.required">
                      Municipal Commissioner/Executive Officer Name cannot be
                      empty.
                    </span>
                    <span *ngIf="error?.pattern">
                      Municipal Commissioner/Executive Officer Name must of only
                      Alphabet characters only and 1st letter must be
                      capital.</span
                    >
                  </small>

                  <div class="input-group">
                    <input
                      id="commissionerConatactNumber"
                      type="tel"
                      class="form-control"
                      [formControl]="
                        registrationForm.controls['commissionerConatactNumber']
                      "
                      placeholder="Municipal Commissioner/Executive Officer Contact No*"
                      [ngClass]="{
                        'is-invalid': GetFormControlErrors(
                          'commissionerConatactNumber'
                        )
                      }"
                    />
                  </div>
                  <small
                    *ngIf="
                      GetFormControlErrors(
                        'commissionerConatactNumber'
                      ) as error
                    "
                    class="form-field-error-message"
                  >
                    <span *ngIf="error?.required">
                      Mobile No cannot be empty.
                    </span>
                    <span *ngIf="error?.pattern === false">
                      Mobile No must start with either 6 / 7 / 8 / 9, and of 10
                      digits only.
                    </span>
                  </small> -->

                  <!-- <div class="input-group">
                    <input
                      id="designation"
                      type="text"
                      class="form-control"
                      [formControl]="
                        registrationForm.controls['accountantName']
                      "
                      placeholder="ULB Nodal Officer Name *"
                      [ngClass]="{
                        'is-invalid': GetFormControlErrors('accountantName')
                      }"
                    />
                  </div> -->

                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label class="text-gray"
                      >ULB Nodal Officer Name<span style="color: red"
                        >*</span
                      ></mat-label
                    >

                    <input
                      [formControl]="
                        registrationForm.controls['accountantName']
                      "
                      matInput
                    />
                  </mat-form-field>

                  <small
                    *ngIf="GetFormControlErrors('accountantName') as error"
                    class="form-field-error-message"
                  >
                    <span *ngIf="error?.required">
                      ULB Nodal Officer Name cannot be empty.
                    </span>
                    <span *ngIf="error?.pattern">
                      ULB Nodal Officer Name must of only Alphabet characters
                      only and 1st letter must be capital.</span
                    >
                  </small>
                  <!-- 
                  <div class="input-group">
                    <input
                      id="accountantConatactNumber"
                      type="tel"
                      class="form-control"
                      [formControl]="
                        registrationForm.controls['accountantConatactNumber']
                      "
                      placeholder="ULB Nodal Officer Contact No *"
                      [ngClass]="{
                        'is-invalid': GetFormControlErrors(
                          'accountantConatactNumber'
                        )
                      }"
                    />
                  </div> -->

                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label class="text-gray"
                      >ULB Nodal Officer Contact No<span style="color: red"
                        >*</span
                      ></mat-label
                    >

                    <input
                      [formControl]="
                        registrationForm.controls['accountantConatactNumber']
                      "
                      matInput
                    />
                  </mat-form-field>

                  <small
                    *ngIf="
                      GetFormControlErrors('accountantConatactNumber') as error
                    "
                    class="form-field-error-message"
                  >
                    <span *ngIf="error?.required">
                      Contact No cannot be empty.
                    </span>
                    <span *ngIf="error?.pattern === false">
                      Contact No must start with either 6 / 7 / 8 / 9, and of 10
                      digits only.
                    </span>
                  </small>

                  <!-- <div class="input-group">
                    <input
                      id="accountantEmail"
                      type="email"
                      class="form-control"
                      [formControl]="
                        registrationForm.controls['accountantEmail']
                      "
                      placeholder="ULB Nodal Officer Email ID *"
                      [ngClass]="{
                        'is-invalid': GetFormControlErrors('accountantEmail')
                      }"
                    />
                  </div> -->

                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label class="text-gray"
                      >ULB Nodal Officer Email ID<span style="color: red"
                        >*</span
                      ></mat-label
                    >

                    <input
                      [formControl]="
                        registrationForm.controls['accountantEmail']
                      "
                      matInput
                    />
                  </mat-form-field>

                  <small
                    *ngIf="GetFormControlErrors('accountantEmail') as error"
                    class="form-field-error-message"
                  >
                    <span *ngIf="error?.required">
                      Email ID cannot be empty.
                    </span>
                    <span *ngIf="error?.email === false">
                      Email Id is not valid</span
                    >
                  </small>

                  <p *ngIf="formError" style="text-align: left">
                    <span
                      *ngFor="let error of formError; let i = index"
                      style="display: block; color: red"
                    >
                      {{ i + 1 }}. {{ error }}
                    </span>
                  </p>

                  <p *ngIf="respone.errorMessage" class="error-message">
                    {{ respone.errorMessage }}
                  </p>
                  <p *ngIf="respone.successMessage" class="success-message">
                    {{ respone.successMessage }}
                  </p>
                  <re-captcha
                    *ngIf="reCaptcha.show"
                    (resolved)="resolveCaptcha($event)"
                    [siteKey]="reCaptcha.siteKey"
                  >
                  </re-captcha>

                  <div class="input-group mt-1" style="width: 100%">
                    <button
                      style="width: 100%"
                      type="submit"
                      class="btn btn-primary"
                      [disabled]="!canSubmitForm()"
                    >
                      Sign up
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="card-footer">
              <div class="text-dark last-para" style="text-align: center">
                <span class="mt-1">
                  Already have an Account?
                  <a [routerLink]="['/login']" [queryParams]="{user: 'USER'}">Sign in here</a></span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 text-center image-side">
        <div class="img-wrapper text-center">
          <img
            src="../assets/images/Group 13309.png"
            class="img-responsive m-auto"
          />
        </div>

        <P
          >For clarifications/ questions, please email us at
          <br />
          <a href="mailto:15fcgrant@cityfinance.in">15fcgrant@cityfinance.in</a
          >.
        </P>
        <p>We will respond to you within 24 hours.</p>
      </div>
    </div>
  </div>
</div>
