.header-p {
  background-color: #047474;
  text-align: center;
  padding: 10px;
  // height: 100px;
}

.heading-p {
  color: #FFFFFF;
  font-size: 22px;
  height: auto;
  font-weight: 700;
}

.sub-h {
  font-weight: 600;
  font-size: 18px;
}

.form-h {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: .5rem;
}
.btn-upload {
  background-color: #059b9a!important;
  color: #fff;
  border: 0;
}
.d-qus {
  font-weight: 500;
}
.score {
  border: 1px solid transparent;
  background: limegreen;
  border-radius: 4px;
 // margin-top: 1rem;
 // padding: 0.2rem 1rem;
  color: #fff;
  margin-top: 0.5rem; padding: 5px;
}
