<div class="row mt-3" style="" *ngIf="hDisable">
    <div class="col-sm-12 text-center">
        <h4 style="font-size: 24px; font-weight: 700;">
            {{loggedInUser?.role}}
        </h4>
    </div>
</div>
<div class="row">
    <!-- <div class="col-sm-8 col-lg-8 col-md-8 header2">
        <strong>GRANT TRANSFER DATA UPLOAD</strong>
    </div> -->
    <div class="col-sm-9">
        <h4 class="form-header">
            Grant Transfer Data Upload
        </h4>
    </div>

    <div class="col-sm-3 text-end" style="margin-bottom: 1rem;">
        <button type="button" (click)="getTemplate()" class="btn btn-primary">
            Download Latest Data
          </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" style="font-size: 14px">
        <b>NOTE:</b> Dates mentioned in the downloaded file are in <b>MM/DD/YYYY</b> Format. It is mandatory to maintain the same format while editing the downloaded Sheet.
    </div>
</div>
<div class="mat-card pt-3 ps-2" style="margin-top: 1rem;">
    <ng-container>
        <app-comm-file-upload [delFileType]="delType" [quesName]="quesName" [requiredBtn]="requiredBtn" [FromLinkinPfms]="true" (getFileUploadResult)="uploadedFile($event)" [formName]="'gtc'"></app-comm-file-upload>
        <br>
    </ng-container>
</div>
<div class="spinner" *ngIf="showLoader" style="z-index: 999999; position: fixed; top: 0px; bottom: 0px">
    <mat-spinner></mat-spinner>
</div>

<div class="row" style="margin-top: 2rem; margin-bottom: 1rem;">
    <div class="col-sm-6 col-md-6 col-lg-6 text-left">
        <button *ngIf="!showLoader" [routerLink]="bkRouter" class="btn btn-back">BACK</button>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 text-right" style="text-align:end;">
        <button *ngIf="!showLoader" class="btn btn-next" (click)="save()" [disabled]="isDisabled">{{saveBtnText}}</button>
    </div>
</div>


<ng-template #template>
    <div class="modal-body text-center">
        <div class="modal-header">
            <h4 class="modal-title pull-left" style="color: red;"> <i>Alert!</i> </h4>
            <div class="text-right">
                <a (click)="alertClose()">
                    <img src="../../../../assets/form-icon/close-red-icon.png">
                </a>
            </div>
        </div>

        <p style="margin-top: 8px;">
            Are you sure you want to proceed further?
        </p>
        <div>
            <button type="button" class="btn btn-secondary " (click)="stay()">Stay</button>
            <button type="button" class="btn btn-success " style="margin-left: 6px; width: auto; background-color: #5cb85c" (click)="proceed()">
                Save & Proceed</button>
        </div>

    </div>
</ng-template>
