:host {
  ::ng-deep {
    div.mat-tab-label {
      padding: 24px 24px !important;
      border: none;
    }
  }
  .questionnaire-tab-group {
    width: 57vw;
    margin: 5% auto;
  }
  .fill-questionnaire {
    float: right;
    position: absolute;
    right: 0px;
    margin-top: -3%;
  }
  .tableWrapper {
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 5%;
    overflow: hidden;
  }
  .table-heading {
    position: relative;
  }
  .table {
    width: 101%;
    max-width: 101%;

    th:nth-child(1) {
      width: 1%;
    }

    th:not(:nth-child(1)) {
      width: 28%;
      // background: green;
    }
  }

  .actionCell {
    display: flex;
    justify-content: center;

    i {
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
        transform: scale(1.2);
        color: rgb(8, 131, 212);
      }
    }
  }
}

::ng-deep .state-without-questionnaire-popup {
  mat-dialog-container.mat-dialog-container {
    overflow: visible;
  }

  .c-btn {
    font-size: 1.5rem;
  }
}
