<mat-tab-group class="questionnaire-tab-group">
  <!-- State Tab-->
  <mat-tab label="States Tracker">
    <div class="tableWrapper">
      <button
        class="btn btn-primary fill-questionnaire"
        (click)="openStateSelectPopup()"
      >
        Fill Questionnaire
      </button>
      <h3 class="text-center table-heading">
        Tracker for state responses on MoF questionnaire
      </h3>
      <div class="loader-wrapper" *ngIf="!stateList">
        <app-pre-loader style="display: block; width: 100%"></app-pre-loader>
        <app-pre-loader style="display: block; width: 100%"></app-pre-loader>
        <app-pre-loader style="display: block; width: 100%"></app-pre-loader>
        <app-pre-loader style="display: block; width: 100%"></app-pre-loader>
      </div>
      <table class="table" *ngIf="stateList">
        <thead>
          <tr
            style="background: #059b9a; color: white; border: 5px solid white"
            class="sortable-headers"
          >
            <th class="text-center">S.No.</th>
            <th class="pointer" (click)="sortListBy('stateName')">
              State
              <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
            </th>
            <th class="pointer" (click)="sortListBy('modifiedAt')">
              Form Last Updated On
              <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
            </th>

            <th class="pointer" (click)="sortListBy('isCompleted')">
              Status
              <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
            </th>
            <th class="text-center">View Forms</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="filterForm">
            <td></td>
            <td>
              <div class="input-group">
                <input
                  placeholder="State Name"
                  type="text"
                  class="form-control"
                  [formControl]="filterForm.controls.stateName"
                />
              </div>
            </td>
            <td></td>
            <td>
              <div class="input-group">
                <select
                  name="State"
                  id="state"
                  [formControl]="filterForm.controls.isCompleted"
                  class="form-control"
                  placeholder="State"
                >
                  <option value="" selected>All Forms</option>
                  <option
                    *ngFor="let formStatus of formStatusList"
                    [value]="formStatus.value"
                  >
                    {{ formStatus.name }}
                  </option>
                </select>
              </div>
            </td>
            <td>
              <button
                class="btn btn-primary m-auto"
                style="display: block"
                (click)="searchUsersBy(filterForm.value)"
              >
                Search
              </button>
            </td>
          </tr>
          <tr
            *ngFor="
              let user of stateList
                | paginate
                  : {
                      id: 'stateTablePagination',
                      itemsPerPage: stateTableConfig.itemPerPage,
                      currentPage: stateTableConfig.currentPage,
                      totalItems: stateTableConfig.totalCount
                    };
              index as i
            "
            style="background: #e7e7e7; border: 5px solid white"
          >
            <td class="text-center">
              {{ (stateTableConfig.currentPage - 1) * 10 + i + 1 }}
            </td>
            <td class="">{{ user.stateName }}</td>
            <td class="">{{ user.createdAt | date: "longDate" }}</td>

            <td class="">
              {{ user.isCompleted ? "COMPLETED" : "SAVED AS DRAFT" }}
            </td>

            <td class="text-center d-flex actionCell">
              <i
                class="fa fa-eye"
                aria-hidden="true"
                (click)="navigateToStateQuestionnaireForm(user.state)"
              ></i>
            </td>
          </tr>

          <tr *ngIf="stateList && !stateList.length">
            <td colspan="6" class="text-center"><h3>No Data Found</h3></td>
          </tr>
        </tbody>
      </table>
      <pagination-controls
        *ngIf="stateList"
        style="float: right; position: relative"
        id="stateTablePagination"
        (pageChange)="setPage($event)"
        directionLinks="true"
        autoHide="false"
        previousLabel="Previous"
        nextLabel="Next"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page"
      >
      </pagination-controls>
    </div>
  </mat-tab>

  <!-- ULB Tab-->

  <!-- <mat-tab label="ULBs Tracker">
    <div class="tableWrapper">
      <h3 class="text-center table-heading">
        Tracker for ulb responses on MoF questionnaire
      </h3>
      <div class="loader-wrapper" *ngIf="!ulbsFilledQuestionnaireList">
        <app-pre-loader style="display: block; width: 100%;"></app-pre-loader>
        <app-pre-loader style="display: block; width: 100%;"></app-pre-loader>
        <app-pre-loader style="display: block; width: 100%;"></app-pre-loader>
        <app-pre-loader style="display: block; width: 100%;"></app-pre-loader>
      </div>
      <table class="table" *ngIf="ulbsFilledQuestionnaireList">
        <thead>
          <tr
            style="background: #059b9a; color: white; border: 5px solid white;"
            class="sortable-headers"
          >
            <th class="text-center">S.No.</th>
            <th class="pointer" (click)="sortListBy('stateName', 'ulbName')">
              ULB Name
              <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
            </th>
            <th class="pointer" (click)="sortListBy('modifiedAt', 'ulb')">
              Form Last Updated On
              <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
            </th>

            <th class="pointer" (click)="sortListBy('isCompleted', 'ulb')">
              Status
              <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
            </th>
            <th class="text-center">View Forms</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="ulbfilterForm">
            <td></td>
            <td>
              <div class="input-group">
                <input
                  placeholder="ULB Name"
                  type="text"
                  class="form-control"
                  [formControl]="ulbfilterForm.controls.ulbName"
                />
              </div>
            </td>
            <td></td>
            <td>
              <div class="input-group">
                <select
                  name="State"
                  id="state"
                  [formControl]="ulbfilterForm.controls.isCompleted"
                  class="form-control"
                  placeholder="State"
                >
                  <option value="" selected>
                    All Forms
                  </option>
                  <option
                    *ngFor="let formStatus of formStatusList"
                    [value]="formStatus.value"
                  >
                    {{ formStatus.name }}
                  </option>
                </select>
              </div>
            </td>
            <td>
              <button
                class="btn btn-primary m-auto"
                style="display: block;"
                (click)="searchUsersBy(ulbfilterForm.value, 'ulb')"
              >
                Search
              </button>
            </td>
          </tr>
          <tr
            *ngFor="
              let user of ulbsFilledQuestionnaireList
                | paginate
                  : {
                      id: 'ulbTablePagination',
                      itemsPerPage: ulbTableOptions.itemPerPage,
                      currentPage: ulbTableOptions.currentPage,
                      totalItems: ulbTableOptions.totalCount
                    };
              index as i
            "
            style="background: #e7e7e7; border: 5px solid white;"
          >
            <td class="text-center">
              {{ (ulbTableOptions.currentPage - 1) * 10 + i + 1 }}
            </td>
            <td class="">{{ user.ulbName }}</td>
            <td class="">{{ user.createdAt | date: "longDate" }}</td>

            <td class="">
              {{ user.isCompleted ? "COMPLETED" : "SAVED AS DRAFT" }}
            </td>

            <td class="text-center d-flex actionCell">
              <i
                class="fa fa-eye"
                aria-hidden="true"
                (click)="navigateToULBQuestionnaireForm(user.ulb)"
              ></i>
            </td>
          </tr>

          <tr
            *ngIf="
              ulbsFilledQuestionnaireList && !ulbsFilledQuestionnaireList.length
            "
          >
            <td colspan="6" class="text-center"><h3>No Data Found</h3></td>
          </tr>
        </tbody>
      </table>
      <pagination-controls
        *ngIf="ulbsFilledQuestionnaireList"
        style="float: right; position: relative;"
        id="ulbTablePagination"
        (pageChange)="setPage($event, 'ulb')"
        directionLinks="true"
        autoHide="false"
        previousLabel="Previous"
        nextLabel="Next"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page"
      >
      </pagination-controls>
    </div>
  </mat-tab> -->
</mat-tab-group>

<ng-template #stateQuestionnairePopup>
  <div
    class="d-flex align-items-center flex-column justify-content-center"
    style="flex-wrap: wrap"
  >
    <small style="margin-bottom: 2%">
      <span style="color: red">*</span> NOTE: States for which Questionnaire is
      either completed or in draft mode, will not be listed here.
    </small>
    <angular2-multiselect
      style="width: 70%"
      [(ngModel)]="stateSelectToFillQuestionnaire"
      [data]="statesWithoutQuestionnaire"
      [settings]="stateDropdownConfiguration"
    >
    </angular2-multiselect>

    <div>
      <button
        class="btn btn-primary mt-2"
        style="margin-right: 1em"
        (click)="
          navigateToStateQuestionnaireForm(
            stateSelectToFillQuestionnaire[0]._id
          ) || matdialog.closeAll()
        "
      >
        Submit
      </button>
      <button
        class="btn btn-primary mt-2"
        style="margin-left: 1em"
        (click)="matdialog.closeAll()"
      >
        Cancel
      </button>
    </div>
  </div>
</ng-template>

<!-- Dont need it for now.-->
<!-- <ng-template #ulbQuestionnairePopup>
  <div
    class="d-flex align-items-center flex-column justify-content-center"
    style="flex-wrap: wrap; height: 100%;"
  >
    <small style="margin-bottom: 2%;">
      <span style="color: red;">*</span> NOTE: States for which Questionnaire is
      either completed or in draft mode, will not be listed here.
    </small>
    <angular2-multiselect
      style="width: 70%;"
      [(ngModel)]="stateSelectToFillQuestionnaire"
      [data]="allStates"
      [settings]="stateDropdownConfiguration"
    >
    </angular2-multiselect>

    <div>
      <button
        class="btn btn-primary mt-2"
        style="margin-right: 1em;"
        (click)="
          navigateToStateQuestionnaireForm(
            stateSelectToFillQuestionnaire[0]._id
          ) || matdialog.closeAll()
        "
      >
        Submit
      </button>
      <button
        class="btn btn-primary mt-2"
        style="margin-left: 1em;"
        (click)="matdialog.closeAll()"
      >
        Cancel
      </button>
    </div>
  </div>
</ng-template> -->
