<p class="question-instruction">
  <strong>NOTE:</strong> Question with <span class="mandatory">*</span> sign are
  mandatory.
</p>
<mat-accordion multi="true">
  <mat-expansion-panel [expanded]="showErroredQuestions">
    <mat-expansion-panel-header>
      <mat-panel-title>
        A. Notification of floor rates linked to prevailing circle rates
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="questionForm" *ngIf="questionForm">
      <ul>
        <li>
          <p>
            <span
              [innerHTML]="
                QuestionsIdMapping['Act_Linking_PT_A'].number +
                QuestionsIdMapping['Act_Linking_PT_A'].question
              "
            ></span>

            <span class="mandatory"> *</span>
          </p>
          <mat-radio-group
            aria-label="Select an option"
            id="11"
            formControlName="Act_Linking_PT_A"
            [ngClass]="{
              'is-invalid': GetFormControlErrors('Act_Linking_PT_A')
            }"
          >
            <mat-radio-button
              value="Yes"
              [ngClass]="{
                'is-invalid': GetFormControlErrors('Act_Linking_PT_A')
              }"
              >Yes</mat-radio-button
            >
            <mat-radio-button value="No">No</mat-radio-button>
          </mat-radio-group>
        </li>

        <ol
          class="sub-questions-list"
          *ngIf="questionForm?.controls?.Act_Linking_PT_A.value === 'Yes'"
        >
          <li>
            <p>
              {{
                QuestionsIdMapping["Existing_Status_PT_A"].number +
                  QuestionsIdMapping["Existing_Status_PT_A"].question
              }}<span class="mandatory"> *</span>
            </p>
            <div class="input-group textarea-wrapper">
              <textarea
                rows="5"
                formControlName="Existing_Status_PT_A"
                class="form-control"
                [ngClass]="{
                  'is-invalid': GetFormControlErrors('Existing_Status_PT_A')
                }"
              ></textarea>
            </div>
          </li>
          <li>
            <p>
              <span
                [innerHTML]="
                  QuestionsIdMapping['Relevent_Sections_Yes_PT_A'].number +
                  QuestionsIdMapping['Relevent_Sections_Yes_PT_A'].question
                "
              ></span>
              <span class="mandatory"> *</span>
            </p>
            <div class="input-group textarea-wrapper">
              <textarea
                rows="5"
                formControlName="Relevent_Sections_Yes_PT_A"
                class="form-control"
                [ngClass]="{
                  'is-invalid': GetFormControlErrors(
                    'Relevent_Sections_Yes_PT_A'
                  )
                }"
              ></textarea>
            </div>
          </li>
        </ol>
      </ul>
      <h4 *ngIf="questionForm?.controls?.Act_Linking_PT_A.value === 'No'">
        Action Plan
      </h4>
      <ol
        class="sub-questions-list"
        *ngIf="questionForm?.controls?.Act_Linking_PT_A.value === 'No'"
      >
        <li>
          <p>
            {{
              QuestionsIdMapping["Legislative_Changes_PT_A"].number +
                QuestionsIdMapping["Legislative_Changes_PT_A"].question
            }}
            <span class="mandatory"> *</span>
          </p>
          <div class="input-group textarea-wrapper">
            <textarea
              rows="5"
              formControlName="Legislative_Changes_PT_A"
              class="form-control"
              [ngClass]="{
                'is-invalid': GetFormControlErrors('Legislative_Changes_PT_A')
              }"
            ></textarea>
          </div>
        </li>
        <li>
          <p>
            {{
              QuestionsIdMapping["Action_Date_PT_A"].number +
                QuestionsIdMapping["Action_Date_PT_A"].question
            }}
            <span class="mandatory"> *</span>
          </p>
          <div class="input-group">
            <input
              class="form-control date-field"
              [ngClass]="{
                'is-invalid': GetFormControlErrors('Action_Date_PT_A')
              }"
              readonly
              matInput
              [min]="todayDate"
              [matDatepicker]="myDatepicker"
              formControlName="Action_Date_PT_A"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="myDatepicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
          </div>
          <div
            class="error-message"
            *ngIf="GetFormControlErrors('Action_Date_PT_A')"
          >
            Date cannot be before current day.
          </div>
        </li>
      </ol>
      <h4 *ngIf="questionForm?.controls?.Act_Linking_PT_A.value === 'No'">
        Implementation Plan
      </h4>
      <ol
        class="sub-questions-list"
        *ngIf="questionForm?.controls?.Act_Linking_PT_A.value === 'No'"
      >
        <li>
          <p>
            {{
              QuestionsIdMapping["Relevent_Sections_No_PT_A"].number +
                QuestionsIdMapping["Relevent_Sections_No_PT_A"].question
            }}
            <span class="mandatory"> *</span>
          </p>
          <div class="input-group textarea-wrapper">
            <textarea
              rows="5"
              formControlName="Relevent_Sections_No_PT_A"
              class="form-control"
              [ngClass]="{
                'is-invalid': GetFormControlErrors('Relevent_Sections_No_PT_A')
              }"
            ></textarea>
          </div>
        </li>
        <li>
          <p>
            <span
              [innerHTML]="
                QuestionsIdMapping['Adoption_Plan_PT_A'].number +
                QuestionsIdMapping['Adoption_Plan_PT_A'].question
              "
            ></span>

            <span class="mandatory"> *</span>
          </p>
          <div class="input-group textarea-wrapper">
            <textarea
              rows="5"
              formControlName="Adoption_Plan_PT_A"
              class="form-control"
              [ngClass]="{
                'is-invalid': GetFormControlErrors('Adoption_Plan_PT_A')
              }"
            ></textarea>
          </div>
        </li>
        <li>
          <p>
            {{
              QuestionsIdMapping["Implement_Date_PT_A"].number +
                QuestionsIdMapping["Implement_Date_PT_A"].question
            }}
            <span class="mandatory"> *</span>
          </p>
          <div class="input-group">
            <input
              class="form-control date-field"
              [ngClass]="{
                'is-invalid': GetFormControlErrors('Implement_Date_PT_A')
              }"
              readonly
              matInput
              [min]="todayDate"
              [matDatepicker]="myDatepicker2"
              formControlName="Implement_Date_PT_A"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="myDatepicker2"
            ></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker2></mat-datepicker>
          </div>

          <div
            class="error-message"
            *ngIf="GetFormControlErrors('Implement_Date_PT_A')"
          >
            Date cannot be before current day.
          </div>
        </li>
      </ol>
    </form>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="showErroredQuestions">
    <mat-expansion-panel-header>
      <mat-panel-title>
        B. Periodic increase of floor rates in line with price increase
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="questionForm" *ngIf="questionForm">
      <ul start="3">
        <li>
          <p>
            {{
              QuestionsIdMapping["Periodic_Increase_PT_B"].number +
                QuestionsIdMapping["Periodic_Increase_PT_B"].question
            }}
            <span class="mandatory"> *</span>
          </p>
          <mat-radio-group
            aria-label="Select an option"
            id="11"
            formControlName="Periodic_Increase_PT_B"
            [ngClass]="{
              'is-invalid': GetFormControlErrors('Periodic_Increase_PT_B')
            }"
          >
            <mat-radio-button value="Yes">Yes</mat-radio-button>
            <mat-radio-button value="No">No</mat-radio-button>
          </mat-radio-group>
        </li>

        <ol
          class="sub-questions-list"
          *ngIf="questionForm?.controls.Periodic_Increase_PT_B.value === 'Yes'"
        >
          <li>
            <p>
              {{
                QuestionsIdMapping["Existing_Status_Yes_PT_B"].number +
                  QuestionsIdMapping["Existing_Status_Yes_PT_B"].question
              }}
              <span class="mandatory"> *</span>
            </p>
            <div class="input-group textarea-wrapper">
              <textarea
                rows="5"
                formControlName="Existing_Status_Yes_PT_B"
                class="form-control"
                [ngClass]="{
                  'is-invalid': GetFormControlErrors('Existing_Status_Yes_PT_B')
                }"
              ></textarea>
            </div>
          </li>
          <li>
            <p>
              <span
                [innerHTML]="
                  QuestionsIdMapping['Relevent_Sections_PT_B'].number +
                  QuestionsIdMapping['Relevent_Sections_PT_B'].question
                "
              ></span>

              <span class="mandatory"> *</span>
            </p>
            <div class="input-group textarea-wrapper">
              <textarea
                rows="5"
                formControlName="Relevent_Sections_PT_B"
                class="form-control"
                [ngClass]="{
                  'is-invalid': GetFormControlErrors('Relevent_Sections_PT_B')
                }"
              ></textarea>
            </div>
          </li>
        </ol>
      </ul>
      <h4 *ngIf="questionForm?.controls.Periodic_Increase_PT_B.value === 'No'">
        Action Plan
      </h4>
      <ol
        class="sub-questions-list"
        *ngIf="questionForm?.controls.Periodic_Increase_PT_B.value === 'No'"
      >
        <li>
          <p>
            {{
              QuestionsIdMapping["Legislative_Changes_PT_B"].number +
                QuestionsIdMapping["Legislative_Changes_PT_B"].question
            }}
            <span class="mandatory"> *</span>
          </p>
          <div class="input-group textarea-wrapper">
            <textarea
              rows="5"
              formControlName="Legislative_Changes_PT_B"
              class="form-control"
              [ngClass]="{
                'is-invalid': GetFormControlErrors('Legislative_Changes_PT_B')
              }"
            ></textarea>
          </div>
        </li>
        <li>
          <p>
            {{
              QuestionsIdMapping["Action_Date_PT_B"].number +
                QuestionsIdMapping["Action_Date_PT_B"].question
            }}
            <span class="mandatory"> *</span>
          </p>

          <div class="input-group">
            <input
              class="form-control date-field"
              [ngClass]="{
                'is-invalid': GetFormControlErrors('Action_Date_PT_B')
              }"
              readonly
              matInput
              [min]="todayDate"
              [matDatepicker]="myDatepicker3"
              formControlName="Action_Date_PT_B"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="myDatepicker3"
            ></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker3></mat-datepicker>
          </div>
          <div
            class="error-message"
            *ngIf="GetFormControlErrors('Action_Date_PT_B')"
          >
            Date cannot be before current day.
          </div>
        </li>
      </ol>
      <h4 *ngIf="questionForm?.controls.Periodic_Increase_PT_B.value === 'No'">
        Implementation Plan
      </h4>
      <ol
        class="sub-questions-list"
        *ngIf="questionForm?.controls.Periodic_Increase_PT_B.value === 'No'"
      >
        <li>
          <p>
            {{
              QuestionsIdMapping["Existing_Status_No_PT_B"].number +
                QuestionsIdMapping["Existing_Status_No_PT_B"].question
            }}
            <span class="mandatory"> *</span>
          </p>
          <div class="input-group textarea-wrapper">
            <textarea
              rows="5"
              formControlName="Existing_Status_No_PT_B"
              class="form-control"
              [ngClass]="{
                'is-invalid': GetFormControlErrors('Existing_Status_No_PT_B')
              }"
            ></textarea>
          </div>
        </li>
        <li>
          <p>
            <span
              [innerHTML]="
                QuestionsIdMapping['Implement_Plan_PT_B'].number +
                QuestionsIdMapping['Implement_Plan_PT_B'].question
              "
            ></span>

            <span class="mandatory">*</span>
          </p>
          <div class="input-group textarea-wrapper">
            <textarea
              rows="5"
              formControlName="Implement_Plan_PT_B"
              class="form-control"
              [ngClass]="{
                'is-invalid': GetFormControlErrors('Implement_Plan_PT_B')
              }"
            ></textarea>
          </div>
        </li>
        <li>
          <p>
            {{
              QuestionsIdMapping["Implement_Date_PT_B"].number +
                QuestionsIdMapping["Implement_Date_PT_B"].question
            }}
            <span class="mandatory"> *</span>
          </p>

          <div class="input-group">
            <input
              class="form-control date-field"
              [ngClass]="{
                'is-invalid': GetFormControlErrors('Implement_Date_PT_B')
              }"
              readonly
              matInput
              [min]="todayDate"
              [matDatepicker]="myDatepicker4"
              formControlName="Implement_Date_PT_B"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="myDatepicker4"
            ></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker4></mat-datepicker>
          </div>
          <div
            class="error-message"
            *ngIf="GetFormControlErrors('Implement_Date_PT_B')"
          >
            Date cannot be before current day.
          </div>
        </li>
      </ol>
    </form>
  </mat-expansion-panel>
</mat-accordion>

<ng-content select=".footer"> </ng-content>
