@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.font-weight-light {
  font-weight: 400;
}

::ng-deep {
  div.mat-tab-body-content {
    max-width: 100vw;
    overflow: hidden;
  }

  .year-text {
    position: sticky;
    left: 45%;
    right: 38%;
  }

  .table-heading-for-years {
    @media screen and (max-width: 768px) {
      z-index: 1;
    }
  }

  .modal-uq {
    min-width: 70vw !important;
  }

  .year-dropdown-cotnainer {
    @media screen and (max-width: 768px) {
      margin-top: 9%;
    }
  }

  .map-container {
    @media screen and (max-width: 768px) {
      margin-bottom: 5%;
    }
  }

  .countplaceholder,
  .c-token {
    font-size: 1.2rem;
  }

  .mat-tab-label {
    padding: 24px 24px !important;
    border: none;
  }

  .pure-checkbox input[type="checkbox"] + label:before {
    border: 1px solid darkgrey;
  }

  .c-remove,
  .clear-all {
    display: none !important;
  }

  .cuppa-dropdown {
    .selected-list {
      // border-radius: 2px;
      border: 1.2px solid #3a3939;

      .c-btn {
        min-height: 37px;
      }
    }
  }
}

.table-responsive {
  max-height: 50vh;
  overflow: auto;
}

#table {
  th:last-child {
    min-width: 100px;
  }
}

// Scroll Bar UI Starts here

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px grey;
  border-radius: 0px;
}

.text-bold {
  font-weight: bold;
}

#table-main {
  th:first-child {
    text-align: left;
  }
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f0ad4e;
  border-radius: 0px;
}

// :host {
//   ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
//     border-radius: 0px !important;
//     border: 0px !important;
//   }
//   ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
//     border-radius: 0px !important;
//     border: 0px !important;
//   }
// }

:host {
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0px !important;
    border: 0px !important;
    padding-bottom: 0px !important;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: 0px !important;
    border: 0px !important;
    padding-bottom: 0px !important;
  }

  ::ng-deep {
    .mat-form-field-wrapper {
      padding-bottom: 0px;
    }
  }
}

// ::ng-deep .mat-form-field-wrapper {
//   padding-bottom: 0px;
// }

// :ng-deep mat-form-field.mat-form-field {
//   line-height: 0.325;
// }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f0ad4e;
}

// Scroll Bar UI Ends here

.pie-chart-container {
  font-size: 1.5rem;
  display: flex;
  height: 30%;
  width: 30%;
  flex-direction: column;
  align-items: center;

  @media (min-width: 576px) {
    font-size: 1rem;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    font-size: 1rem;
  }
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    font-size: 1rem;
  }
  @media (min-width: 1200px) {
    font-size: 1.3rem;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1500px) {
    font-size: 1.5rem;
  }

  @media screen and (max-width: 551px) {
    height: 80%;
    width: 80%;
    margin: auto;
    align-content: center;
    align-items: center;
    left: 10%;
    margin-bottom: 25px;
  }
}

.table-container-main {
  max-height: 55vh;

  @media screen and (max-width: 768px) {
    max-height: 100vh;
  }

  width: 99%;
  margin-right: 15px;
  // border: 1px solid #d4d4d4;
  border-radius: 5px;
  @media screen and (max-width: 468px) {
    width: 100%;
    padding: 0px !important;
  }
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  @media (min-width: 576px) {
    font-size: 1rem;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    font-size: 1rem;
  }
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    font-size: 1rem;
  }
  @media (min-width: 1200px) {
    font-size: 1.2rem;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1500px) {
    font-size: 1.3rem;
  }

  @media screen and (max-width: 1024px) and (min-width: 560px) {
    font-size: 0.875rem;
  }
}

.pie-chart-legend {
  @media (min-width: 576px) {
    font-size: 1rem;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    font-size: 1rem;
  }
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    font-size: 1rem;
  }
  @media (min-width: 1200px) {
    font-size: 1.15rem;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1500px) {
    font-size: 1.5rem;
  }
}

// .b-sm{
// display: block !important;
// }

// .n-sm{
//   display: none !important;
// }

@media screen and (max-width: 551px) {
  // .b-sm{
  //   display: block !important;
  //   }

  //   .n-sm{
  //     display:block !important;
  //   }
  thead.m-bg-n {
    background: #059b9a;
    color: #fff;
  }
  thead.m-bg-n th {
    background: #059b9a !important;
    width: 8% !important;
    white-space: break-spaces;
  }
  .ng-star-inserted {
    white-space: normal !important;
  }
  .show-up {
    top: -40px;
  }
}
