.upload-section {
    background-color: rgb(255, 230, 244);
    border: 1px dashed rgb(255, 110, 110);
    border-radius: 10px;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    &.document {
        justify-content: center;
    }
    .content {
        display: flex;
        flex-direction: column;
        gap: 5px;
        p {
            margin: 0;
        }
    }
}


.file-entry {
    margin-bottom: 10px;
    box-shadow: 0px 0px 3px #888888;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .details {
        display: flex;
        align-items: center;
        gap: 5px;
        * {
            margin: 0;
        }
        .file-icon {
            height: 40px;
        }
        .created-at {
            font-size: smaller;
            color: gray;
        }
    }
}

::ng-deep.swal-overlay {
    z-index: 1000000;
}

.selected-list .countplaceholder {
    right: auto;
}

::ng-deep .add-resource-state-dropdown {
    background-color: #fff !important;
}