<div class="container">
    <div class="row mb-3 mt-3  text-center">
        <div class="col-sm-12 header2">Urban Reforms Part IV</div>
        <h6 class="my-2">State submission</h6>
    </div>
    
    <div class="row py-4">
        <a *ngFor="let state of states" class="col-3 g-3"  [routerLink]="state._id" [queryParams]="{name: state?.name}">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body d-flex align-items-center gap-2">
                        <img class="file-icon"  src="assets/folder.png">
                        <p class="card-text">{{state.name}}</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>