.form-header {
    font-weight: 700;
    font-size: 1.25rem;
}

.f-i {
    font-weight: normal;
    font-size: 1rem;  
}

.card {
    border: 1px #00000029;
    box-shadow: 1px 1px 1px 1.5px #00000029;
    padding: 6px 10px;
}
.card-body {
    padding: 5px 8px;
}
.u-n {
    font-size: 1rem;  
    font-weight: 500;
}
.m-h {
    background-color: #059b9a;
    color: #fff;
   // margin: auto;
    vertical-align: middle;
    padding: .5rem 1rem;
}
.d-s {
    border-right: 2px solid lightgray;
    padding: .5rem;
    
}
.d-s:last-child {
    border-right: none
}
.h-t {
    font-weight: 500;
}
.w-f {
  //  width: max-content;
    background-color: #ade9e9;
    color: black;
    vertical-align: middle;
    padding: .5rem 1rem;
    font-weight: 500;
}
.br-f {
    border: 2px solid lightgray;
  //  padding: 0 .5rem;
}
.br-t {
    border-top: 2px solid lightgray;
}
.row {
    align-items: center;
}
.tbl {
    border: 1px solid  #00000029; 
    margin-bottom: 1rem;
}
.bg {
    background-color: #fff;
}
.w-10 {
    width: 10%;
}
.w-45 {
    width: 45%;
}
.pg {
    float: right; 
    position: relative
}
thead {
    tr {
        background-color: #047474; 
        color: #FFFFFF;  
    }
    th:first-child{
        width: 20%;
    }
    th{
        vertical-align: middle;
    }
}

// .col-c{
//     display: table; /* Make the container element behave like a table */
//     width: 100%; /* Set full-width to expand the whole page */
//   }
  
//   .e-h {
//     display: table-cell; /* Make elements inside the container behave like table cells */
//   }
  