.header-p {
    background-color: #047474;
    text-align: center;
    padding: 10px;
    // height: 100px;
}
.heading-p {
    color: #FFFFFF;
    font-size: 22px;
    height: auto;
    font-weight: 700;
}

.sub-h {
    font-weight: 600;
    font-size: 18px;
}

.form-h {
    font-size: 1.15rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

h5 {
    font-size: 15px;
    color: #000000;
    font-family: Roboto;
    font-weight: 500;
}
.form-header {
    font-weight: 700;
    font-size: 1.25rem;
}

.f-i {
    font-weight: normal;
    font-size: 1rem;  
}

.card {
    border: 1px #00000029;
    box-shadow: 1px 1px 1px 1.5px #00000029;
    padding: 6px 10px;
}
.card-body {
    padding: 5px 8px;
}
.u-n {
    font-size: 1rem;  
    font-weight: 500;
}
.m-h {
    background-color: #059b9a;
    color: #fff;
   // margin: auto;
    vertical-align: middle;
    padding: .5rem 1rem;
}
.d-s {
    border-right: 2px solid lightgray;
    padding: .5rem;
    
}
.d-s:last-child {
    border-right: none
}
.h-t {
    font-weight: 500;
}
.w-f {
  //  width: max-content;
    background-color: #ade9e9;
    color: black;
    vertical-align: middle;
    padding: .5rem 1rem;
    font-weight: 500;
}
.br-f {
    border: 2px solid lightgray;
  //  padding: 0 .5rem;
}
.br-t {
    border-top: 2px solid lightgray;
}
.row {
    align-items: center;
}
.tbl {
    border: 1px solid  #00000029; 
    margin-bottom: 1rem;
}
.bg {
    background-color: #fff;
}
.w-10 {
    width: 10%;
}
.w-45 {
    width: 45%;
}
.pg {
    float: right; 
    position: relative
}
thead {
    tr {
        background-color: #047474; 
        color: #FFFFFF;  
    }
    th:first-child{
        width: 20%;
    }
    th{
        vertical-align: middle;
    }
}
tbody {
    td {
        vertical-align: middle;
    }
}

  
.lineItem-highlited {
    thead, tbody, tfoot, tr, td, th {
        border-color: inherit;
        border-style: solid;
         border-width: 2px; 
         background-color: #FFFFFF;
    }
    th {
        color: #047474;
        text-align: center;
        vertical-align: middle;
        
    }
    .marks{
            color: #047474 !important; 
            font-weight: bold;
         }
    td {
        text-align: center;
    }
   

}
.wghtd_score {
    text-align: center !important;
  }