.form-header {
    font-family: 'Roboto', Medium;
    color: #373737;
    font-size: 20px;
    margin-top: 0.2rem;
    font-weight: 600;
}

.card {
    width: 100%;
    height: auto;
    //  margin-bottom: 2rem !important;
    background-color: #FFFFFF;
    box-shadow: 2px 4px 5px 4px #cecece;
    //  padding: 15px 15px 15px 15px;
    margin: auto;
}

.form-control {
    height: 38px !important;
    width: 20rem;
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.uplod_label {
    font-size: 16px;
    font-weight: 500;
}

::ng-deep .mat-chip-list-wrapper input.mat-input-element,
::ng-deep .mat-chip-list-wrapper .mat-standard-chip {
    cursor: pointer;
    color: #FFFFFF;
    text-align: center;
    display: block;
    background-color: #114551;
}

.chip-aTag {
    display: block;
    // width: 12rem;
}

label {
    color: #114551;
    font-size: 15px;
}

.info-icon {
    vertical-align: middle;
    padding-left: 5px;
    color: #114551;
    font-size: 20px;
}

.tracking-history-table {
    thead tr th {
        background: #047474;
        color: white;
    }
    tbody tr:nth-child(even) {
        background: #dbdbdb;
    }
}

.mat-chp {
    width: 12rem;
    display: block;
}

.chip-btn {
    border-radius: 16px;
    background-color: #059b9a;
    color: #FFFFFF;
    padding: 7px 15px;
    text-decoration: none;
}

.wrapper {
    cursor: not-allowed;
    width: fit-content;
}

.disableCls {
    pointer-events: none;
    opacity: .65;
}

.u-l-h {
    padding-left: 2rem;
}

.f-l {
    font-size: 18px;
}

.c-in {
    padding: 1rem 2rem;
}

.a-l-i {
    align-items: center;
}

.c-st {
    font-size: 15px;
    padding-left: 15px;
}

.aco-d {
    padding-left: 30px;
    margin-right: 15px;
}

.li-el {
    font-weight: 500;
}

::ng-deep .tooltip-red {
    background: #b71c1c;
    font-size: 12px;
}
