.header-p {
    background-color: #047474;
    text-align: center;
    padding: 10px;
    // height: 100px;
}
.opacityClass{
    opacity: 0.5;
}
.heading-p {
    color: #FFFFFF;
    font-size: 22px;
    height: auto;
    font-weight: 700;
}
.questionClass{
    padding: 15px;
    font-weight: 600;
}
.sub-h {
    font-weight: 600;
    font-size: 18px;
}

.form-h {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: .5rem;
}
.hideUnderline{
    text-decoration: none;
}
.message-blue {
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #b7e3ff;
    width: auto;
    text-align: left;
    font: 400 0.9em "Open Sans", sans-serif;
    border: 1px solid #97C6E3;
    border-radius: 10px;
    opacity:0.5
}
.message-content {
    padding: 0;
    margin: 0;
}
