<div class="row" style="margin-left: 15px; margin-right: 25px;">
    <div class="col-sm-10 col-xs-10 col-md-10 col-lg-10" style="padding: 0;">
        <h4 class="form-header">
            Indicators for Water Supply and Sanitation
        </h4>
    </div>
    <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2 text-end" style="padding: 0;">
        <button type="button" class="btn btn-pre" (click)="onPreview()">PREVIEW</button>
    </div>
</div>
<div class="row" style="margin-left: 15px; margin-right: 25px;">
    <!-- <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
        <h5 style="margin: 0;">Name of State: <span *ngIf="
          states &&
          (loggedInUserType === userTypes.STATE ||
            loggedInUserType === userTypes.ULB)
        ">
                {{ states[userLoggedInDetails["state"]]?.name }}
            </span></h5>
    </div> -->


    <div class="col-sm-10 col-xs-10 col-md-10 col-lg-10" style="padding: 0;">
        <p>The below tables denotes the aggregate indicators and targets of ULBs in respective UA</p>
    </div>
    <!-- <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2 text-right">
        <button type="button" class="btn  btn-pre" (click)="onPreview()">PREVIEW</button>
    </div> -->
</div>
<div class="row box-shadow p-1" *ngFor="let uaDetails of uasList; let i=index" style="margin-left: 15px; margin-right: 25px; margin-bottom: 10px;">
    <!-- <div class="card" style="margin-bottom: 10px;  box-shadow: 0; border-radius: 0;">
        <div class="card-body"> -->
    <div class="row p-2" style="align-items: center;">
        <div class="col-sm-9 col-xs-9 col-md-9 col-lg-9">
            <!-- Urban Aggolmeration {{uaDetails.name.split(' ')[0]}} -->
            <h5>UA{{i+1}}: Urban Agglomeration {{ uaDetails.name.substring(0, uaDetails.name.lastIndexOf(" ")) }}
            </h5>
        </div>
        <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3 text-right" style="padding-top: 5px;">
            <!-- <button type="button" class="btn" style="height: 2pc;" (click)="isCollapsed[i]= !isCollapsed[i]" [attr.aria-expanded]="!isCollapsed[i]" aria-controls="collapseEvent[i]">Select
            </button> -->
            <button class="btn pull-right btn-primary" [ngClass]="{'selectBtn': isCollapsed[i]}" (click)="foldCard(i,uaDetails._id)">Select</button>
        </div>
    </div>
    <!-- <hr> -->
    <!-- <div id="collapseEvent[i]" [isAnimated]="true" [Collapse]="isCollapsed[i]"
     (collapses)="collapses(i)" (expands)="expands(i)" (collapsed)="collapsed(i)" (expanded)="expanded(i)"> -->
    <div *ngIf="isCollapsed[i]">
        <div *ngIf="getData">
            <div class="row" style="margin-top: 10px; margin-left: 2px; margin-right: 0px;">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4" style="border-right: 2px solid #70707030">
                                <h6 style="display: inline-flex; position: relative; width: 92%; margin-left: 7px;">
                                    Total Number of ULBs in UA</h6>
                                <h6 style="display: inline-flex;">{{totalULBsInUA}}</h6>
                            </div>
                            <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4" style="border-right: 2px solid #70707030">
                                <h6 style="display: inline-flex; position: relative; width: 92%;">Approved by State</h6>
                                <a (click)="openDialog(template, uaDetails.data)">
                                    <h6 style="display: inline-flex; color: #337AB7;">
                                        {{totalCompletedUlb}}
                                    </h6>
                                </a>
                            </div>
                            <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4">

                                <h6 style="display: inline-flex; position: relative; width: 92%;">Pending for Submission/Approval
                                </h6>

                                <a (click)="openDialog2(template1, getData[1])">
                                    <h6 style="display: inline-flex; color: #337AB7;">{{totalPendingUlb}}
                                    </h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-sm-12 mb-2 mt-1 p-1 box-shadow table-responsive">
                <table aria-describedby="Water Waste Management Form" style="margin-bottom: 5%" class="table">
                    <thead>
                        <th scope="col">Service Level Indicators</th>
                        <th scope="col">Benchmark</th>
                        <th scope="col">
                            Actual Indicator<br /> 2020-21
                        </th>

                        <th *ngFor="let column of targets" scope="col">
                            <span [innerHTML]="column.name"></span>
                        </th>
                    </thead>

                    <tbody>
                        <tr *ngIf="services[0] as service">
                            <td>
                                <span class="service-name">{{ service.name }}<span class="mandatory"
                                        style="color: red;">*</span></span>
                            </td>
                            <td>
                                <span class="benchamark-cell">{{ service.benchmark }}</span>
                            </td>
                            <td>
                                <div class="data-input input-group">

                                    <input type="text" disabled [value]="getData[0].waterSuppliedPerDay2021" [id]="service.key + 'baseline'" class="form-control">
                                    <span class="input-group-addon"><em class="glyphicon">
                                            {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
                                        </em></span>
                                </div>
                            </td>
                            <td *ngFor="let year of targets">

                                <div class="data-input input-group">
                                    <input type="text" disabled [value]="getData[0]['waterSuppliedPerDay'+year.key]" [id]="service.key + year.key" class="form-control">
                                    <span class="input-group-addon "><em class="glyphicon ">
                                            {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
                                        </em></span>
                                </div>

                            </td>
                        </tr>
                        <tr *ngIf="services[1] as service ">
                            <td>
                                <span class="service-name ">{{ service.name }}<span class="mandatory"
                                        style="color: red;">*</span></span>
                            </td>
                            <td>
                                <span class="benchamark-cell ">{{ service.benchmark }}</span>
                            </td>
                            <td>
                                <div class="data-input input-group">
                                    <input type="text" disabled [value]="getData[0].reduction2021" [id]="service.key + 'baseline' " class="form-control ">
                                    <span class="input-group-addon "><em class="glyphicon ">
                                            {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
                                        </em></span>
                                </div>
                            </td>
                            <td *ngFor="let year of targets ">
                                <div class="data-input input-group">
                                    <input type="text " disabled [value]="getData[0]['reduction'+year.key]" [id]="service.key + year.key " class="form-control ">
                                    <span class="input-group-addon "><em class="glyphicon ">
                                            {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
                                        </em></span>
                                </div>

                            </td>
                        </tr>
                        <tr *ngIf="services[2] as service ">
                            <td>
                                <span class="service-name ">{{ service.name }}<span class="mandatory"
                                        style="color: red;">*</span></span>
                            </td>
                            <td>
                                <span class="benchamark-cell">{{ service.benchmark }}</span>
                            </td>
                            <td>
                                <div class="data-input input-group">
                                    <input type="text" disabled [value]="getData[0].houseHoldCoveredWithSewerage2021" [id]="service.key + 'baseline' " class="form-control ">
                                    <span class="input-group-addon "><em class="glyphicon ">
                                            {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
                                        </em></span>
                                </div>
                            </td>
                            <td *ngFor="let year of targets ">
                                <div class="data-input input-group">
                                    <input type="text" disabled [value]="getData[0]['houseHoldCoveredWithSewerage'+year.key]" [id]="service.key + year.key " class="form-control ">
                                    <span class="input-group-addon "><em class="glyphicon ">
                                            {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
                                        </em></span>
                                </div>

                            </td>
                        </tr>
                        <tr *ngIf="services[3] as service ">
                            <td>
                                <span class="service-name ">{{ service.name }}<span class="mandatory"
                                        style="color: red;">*</span></span>
                            </td>
                            <td>
                                <span class="benchamark-cell ">{{ service.benchmark }}</span>
                            </td>
                            <td>
                                <div class="data-input input-group">
                                    <input type="text" disabled [value]="getData[0].houseHoldCoveredPipedSupply2021" [id]="service.key + 'baseline' " class="form-control ">
                                    <span class="input-group-addon "><em class="glyphicon ">
                                            {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
                                        </em></span>
                                </div>
                            </td>
                            <td *ngFor="let year of targets ">
                                <div class="data-input input-group">
                                    <input type="text" disabled [value]="getData[0]['houseHoldCoveredPipedSupply'+year.key]" [id]="service.key + year.key " class="form-control ">
                                    <span class="input-group-addon "><em class="glyphicon ">
                                            {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
                                        </em></span>
                                </div>

                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>

        </div>
        <div *ngIf="!getData" style="color: red; padding-top: 15px; padding-left: 5px;">No Data Found</div>
    </div>
</div>
<!-- </div>
</div> -->



<div class=" row" style="margin-top: 2rem; margin-bottom: 1rem; margin-left: 15px; margin-right: 25px;">
    <div class="col-sm-6 col-md-6 col-lg-6" style="padding: 0;">
        <button type="button " class="btn back" [routerLink]="[ '../gtCertificate']">BACK</button>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 text-right" style="padding: 0;text-align: end;">
        <button type="button " class="btn saveBtn" [routerLink]="[ '../water-rejenuvation']">NEXT</button>
    </div>
</div>


<ng-template #template>


    <div style="font-size: 18px; line-height: 30px; text-align: left; font-weight: bold"> APPROVED BY STATE
    </div>
    <div class="table-responsive tracking-history-table " style="border: 1px solid  #00000029; margin-bottom: 1rem;">

        <table class="table ">
            <thead>

                <tr style="background-color: white">
                    <th scope="col" style="width:10%">S.No</th>
                    <th scope="col" style="width:45%">ULB Name </th>
                    <th scope="col" style="width:45%">ULB Census Code/ ULB Code </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let resData of approvedStatusData | paginate
                                                : {
                                                    id: 'foo',
                                                    itemsPerPage: tableDefaultOptions.itemPerPage,
                                                    currentPage: tableDefaultOptions.currentPage,
                                                    totalItems: tableDefaultOptions.totalCount
                                                  }; let tabelIndex=index">
                    <td [style.border-top]="tabelIndex == '0' ? 'none' : ''">
                        {{tableDefaultOptions.itemPerPage * (tableDefaultOptions.currentPage -1) + tabelIndex+1}}
                    </td>
                    <td [style.border-top]="tabelIndex == '0' ? 'none' : ''">
                        {{resData['name']}}
                    </td>
                    <td [style.border-top]="tabelIndex == '0' ? 'none' : ''">
                        {{resData['censusCode'] ? resData['censusCode']: resData['sbCode']}}
                    </td>
                </tr>
            </tbody>

        </table>
        <div class="text-center alert" style="color: red;" *ngIf="nodataFound">No Data Found!
        </div>
        <pagination-controls style="float: right; position: relative" id="foo" (pageChange)="setPage($event)" directionLinks="true" autoHide="false" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page">
        </pagination-controls>
    </div>





</ng-template>
<ng-template #template1>


    <div style="font-size: 18px; line-height: auto; text-align: left; font-weight: bold"> PENDING FOR APPROVAL/ SUBMISSION
    </div>
    <div class="table-responsive tracking-history-table" style="border: 1px solid  #00000029; margin-bottom: 1rem;">

        <table class="table">
            <thead>

                <tr style="background-color: white">
                    <th scope="col" style="width:10%">S.No</th>
                    <th scope="col" style="width:30%">ULB Name </th>
                    <th scope="col" style="width:30%">ULB Census Code/ ULB Code </th>
                    <th scope="col" style="width:30%">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let resData of statusData | paginate
                                                : {
                                                    id: 'foo',
                                                    itemsPerPage: tableDefaultOptions.itemPerPage,
                                                    currentPage: tableDefaultOptions.currentPage,
                                                    totalItems: tableDefaultOptions.totalCount
                                                  }; let tabelIndex=index">
                    <td [style.border-top]="tabelIndex == '0' ? 'none' : ''">
                        {{tableDefaultOptions.itemPerPage * (tableDefaultOptions.currentPage -1) + tabelIndex+1}}
                    </td>
                    <td [style.border-top]="tabelIndex == '0' ? 'none' : ''">
                        {{resData['name']}}
                    </td>
                    <td [style.border-top]="tabelIndex == '0' ? 'none' : ''">
                        {{resData['censusCode'] ? resData['censusCode']: resData['sbCode'] ? resData['sbCode'] : 'Not Available' }}
                    </td>
                    <td [style.border-top]="tabelIndex == '0' ? 'none' : ''">
                        {{resData['status']}}
                    </td>
                </tr>
            </tbody>

        </table>
        <div class="text-center alert" style="color: red;" *ngIf="nodataFound">No Data Found!
        </div>
        <pagination-controls style="float: right; position: relative" id="foo" (pageChange)="setPage($event)" directionLinks="true" autoHide="false" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page">
        </pagination-controls>
    </div>





</ng-template>
