.header2 {
  font-family: 'Roboto', Medium;
  color: #373737;
  font-size: 20px;
  margin-top: 0.2rem;
  font-weight: 600;
}

.card-c {
  margin-top: 20px;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 2px 4px 5px 3px #cecece;
  border-radius: 4px;
  padding: 16px 20px;
}

.a-text {
  font-size: 14px;
  font-weight: 500;
  color: blue;
}

.m-card {
  width: 19rem;
  height: 22rem;
}

img {
  // width: 16rem;
  height: 14rem;
}

.img-t {
  margin: auto;
}
