

<div class="" *ngIf="isApiComplete">
  <app-cf-annual-account #webForm [formName]="formName" [questionresponse]="questionResponse"
 (submitQuestion)="resData($event)" [s3FolderName]="fileFolderName" (nextPreBtn)="nextPreBtn($event)"
  [isFormDisable]="isFormDisable" [isButtonDisplay]="isButtonAvail" (actionDataSubmit)="saveAction($event)"
  [canTakeAction]="canTakeAction" [actionPayloadRes]="actionPayLoad" [reviewShortKeyArray]="reviewShortKeyArray"
   [actionResFile]="actionResFile" ></app-cf-annual-account>
</div>
<div class="loader" *ngIf="!isApiComplete">
<app-form-loader></app-form-loader>
</div> 
