<div class="common-container">
  <div class="container">
    <div class="row" style="position: relative;">
      <div class="col-md-8" style="margin-bottom: 7%;">
        <h3>ULB Data Bulk Entry</h3>
      </div>
      <button [routerLink]="['../list']" class=" btn btn-primary" style="position: absolute; top: 48%;">
        Entry List
      </button>
    </div>
    <br />
    <span style="color: red;">Note : Current version supports bulk data entry for single year
      only</span>
    <br />

    <div class="row" style="margin-top: 2%;">
      <form [formGroup]="bulkEntryForm" (ngSubmit)="upload()">
        <div class="col-md-4">
          <div class="form-group">
            <label>Financial Year</label>
            <select formControlName="year" class="form-control">
              <option *ngFor="let yr of years" [ngValue]="yr">{{ yr }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4 mt-2">
          <div class="form-group">
            <label>Select files to upload</label>
            <input id="cin" name="cin" type="file" (change)="fileChangeEvent($event)" placeholder="Upload a file..."
              accept=".xls,.xlsx" multiple />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <br />
            <button type="submit" class="btn btn-primary btn-s">Upload</button>
          </div>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col-sm-10">
        <ul class="list-group" type="1">
          <li class="list-group-item" *ngFor="let file of filesToUpload; let i = index">
            <div>
              <div style="width: 50%; display: inline-block;">
                <div style="width: fit-content; display: inline-block; margin-right: .5em;">
                  {{ i + 1 }}.
                </div>
                {{ file.name }}
              </div>

              <!-- Normal Progress bar-->
              <div class="progress" *ngIf="
                  fileUploadTracker[i]?.status === 'FAILED' ||
                  fileProcessingTracker[i]?.status === 'FAILED' ||
                  fileProcessingTracker[i]?.status === 'completed'
                ">
                <div class="progress-bar" [ngClass]="{
                    uploadComplete:
                      fileProcessingTracker[i]?.status === 'completed',
                    uploadFailed:
                      fileProcessingTracker[i]?.status === 'FAILED' ||
                      fileUploadTracker[i]?.status === 'FAILED'
                  }" role="progressbar" style="width: 100%;" [attr.aria-valuenow]="100" aria-valuemin="0"
                  aria-valuemax="100">
                  {{
                  fileProcessingTracker[i]?.message
                    ? fileProcessingTracker[i]?.message
                    : "Failed to upload file..."
                  }}
                </div>
              </div>

              <!-- Stripped progres bar for in processing-->
              <div class="progress" *ngIf="
                  fileUploadTracker[i]?.status !== 'FAILED' &&
                  (fileProcessingTracker[i]?.status === 'in-process' ||
                    (submitted && !fileProcessingTracker[i]?.status))
                ">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="75"
                  aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                  {{ fileProcessingTracker[i]?.message || "Processing..." }}
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <br /><br />
  </div>
</div>