.btn-save {
    background-color: #059b9a!important;
    color: #fff;
  }
  .btn-next {
    background-color: #0f1f40 !important;
    color: #fff;
  }
  .btn-pre {
    background-color: #CFCFCF;
  }
  .mr1 {
    margin-right: 1rem;
  }