<div class="" *ngIf="isApiComplete">
  <app-web-form #webForm [formName]="formName" [viewFormTemplate]="'commonFormCf'" [questionresponse]="questionResponse" (submitQuestion)="resData($event)"
  [scoreOdfGfc]="ratingMarksArray" [s3FolderName]="fileFolderName"
  (nextPreBtn)="nextPreBtn($event)" [isButtonDisplay]="isButtonAvail" [isFormDisable]="isFormDisable"></app-web-form>
</div>

<div class="loader" *ngIf="!isApiComplete">
<app-form-loader></app-form-loader>
</div>
<div class="" *ngIf="isApiComplete">
  <app-form-common-action [canTakeAction]="canTakeAction" [isFormFinalSubmit]="isFormFinalSubmit"
  (formChangeEventEmit)="actionFormChangeDetect($event)" [nextPreUrl]="nextPreUrl" 
  [formId]="getQuery.formId" [isButtonAvail]="isButtonAvail" [formName]="formName"></app-form-common-action>
</div>


