<h4 class="mx-3 form-h">Detailed Utilization Report</h4>

<div class="pre-y" *ngIf="successErrorMessage" [innerHTML]="successErrorMessage"></div>
<div class="my-3" *ngIf="isLoaded">

  <div class="d-flex mx-3 align-items-center">
    <h6>Detailed Utilisation report in respect of 15th finance commission tied grants for year </h6>
    <select class="form-select ms-2" disabled style="width: initial;">
      <option value="" selected>{{financialYear}}</option>
    </select>
  </div>
  <app-web-form #webForm [viewFormTemplate]="'dur'" [form]="'dur'" [questionresponse]="questionresponse"
    [isProjectLoaded]="isProjectLoaded" (submitQuestion)="onSubmit($event)" (onPreviewDUR)="onPreview()"
    (nextPreBtn)="nextPreBtn($event)" (onLoadInParent)="loadInParent($event)" (updateInParent)="updateInParent($event)" [isButtonDisplay]="isButtonAvail">
  </app-web-form>

  <div class="">
    <!-- <app-form-common-action [canTakeAction]="true" [actionData]="actionData"
    (formChangeEventEmit)="actionFormChangeDetect($event)" [nextPreUrl]="nextPreUrl" 
    [formId]="formId"></app-form-common-action> -->
 
    <app-form-common-action [canTakeAction]="canTakeAction" [isFormFinalSubmit]="isFormFinalSubmit"
    (formChangeEventEmit)="actionFormChangeDetect($event)" [nextPreUrl]="nextPreUrl" 
    [formId]="formId" [isButtonAvail]="isButtonAvail" [formName]="'dur'" [formData]="questionresponse?.data[0]"></app-form-common-action>
  </div>
</div>