<div class="container-fluid" id="preData" #preData>
    <div class="row header-p">
        <div class="col-sm-12 text-end">
            <a (click)="closeMat()" class="pull-right"><img style="filter: invert(1);"
                    src="../../../../assets/form-icon/close_black_24dp.svg"></a>
        </div>
        <div class="col-sm-12 text-center heading-p">
            <span style="display: block;">Details of Property Tax and User Charges</span>
            <b class="sub-h" style="margin-top: .5rem;">{{ulbName}}, {{stateName}}</b>
        </div>
    </div>
    <div class="row align-items-center" style="margin-top: 1rem;">
        <div class="col-sm-6">Status: {{ data?.additionalData?.statusText }}</div>
        
        <div class="col-sm-6 text-end pdf-hide">
            <button id="donwloadButton" class="btn btn-primary" (click)="clickedDownloadAsPDF()">Download as
                PDF</button>
        </div>
    </div>

    <div class="row mt-3 mb-3">
        <div class="col-sm-12">
            <div class="card mb-3" *ngFor="let tab of data?.showData; let rowIndex =index">
                <div class="card-body" *ngIf="tab?.id">
                    <!-- <div class="row">
                        <div class="col-sm-12 m-hed text-center">{{tab?.label}}</div>
                    </div> -->

                    <table class="table mt-3" *ngIf="tab?.id == 's3'">

                        <tbody>
                            <ng-container *ngFor="let tabData of tab?.data | keyvalue: sortPosition; let y_i=index">
                                <tr [ngClass]="['2.5', '5.13', '6.13'].includes('' + tabData?.value?.position)  ? 'table-gray' : 'table-main-heading'"
                                    *ngIf="data.specialHeaders[tabData?.value?.position]">
                                    <th colspan="7" class="th">{{ data.specialHeaders[tabData?.value?.position].label }}</th>
                                </tr>

                                <tr class="table-gray"
                                    *ngIf="data.financialYearTableHeader[tabData?.value?.position]?.length > 0">
                                    <th class="th"
                                        *ngFor="let year of data.financialYearTableHeader[tabData?.value?.position]; let  i = index;">
                                        {{ year.label }}</th>
                                </tr>
                                <tr>
                                    <th class="th" scope="row" width="5%">{{ tabData?.value?.position }}</th>
                                    <th class="th" scope="row" width="45%">{{ tabData?.value?.label }}</th>
                                    <td class="td" width="10%"
                                        *ngFor="let elem of tabData?.value?.yearData; let y_i=index">
                                        <span *ngIf="elem?.date">{{ elem?.date | date: 'dd/MM/yyyy' }}</span>
                                        <span class="file-link" *ngIf="elem?.file"><a href="{{elem?.file?.url | toStorageUrl }}"
                                                target="_blank">{{elem?.file?.name}}</a></span>
                                        <span>{{
                                            elem?.isRupee
                                            ? '₹' + elem?.value
                                            : elem?.value
                                            }}</span>
                                    </td>
                                </tr>
                                <tr *ngFor="let child of tabData?.value?.child; let r_i=index">
                                    <th class="th" scope="row" width="5%">{{ child.position }}.{{ child?.replicaNumber }}</th>
                                    <th class="th" scope="row" width="45%">
                                        <div>{{ child.label }} ({{ child?.replicaNumber }})</div>
                                        <div>{{ child.value }}</div>
                                    </th>
                                    <td class="td" width="10%"
                                        *ngFor="let elem of child.yearData; let y_i=index">
                                        <span *ngIf="elem?.date">{{ elem?.date | date: 'dd/MM/yyyy' }}</span>
                                        <span *ngIf="elem?.file"><a href="{{elem?.file?.url | toStorageUrl}}"
                                                target="_blank">{{elem?.file?.name}}</a></span>
                                        <span>{{
                                            elem?.isRupee
                                            ? '₹' + elem?.value
                                            : elem?.value
                                            }}</span>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #templateSave>
    <div class="modal-body text-center alert">
        <div class="modal-header">
            <h4 class="modal-title pull-left" style="color: red;"> <i>Alert!</i> </h4>
            <div class="text-right">
                <a (click)="alertClose()">
                    <img src="../../../../assets/form-icon/close-red-icon.png">
                </a>
            </div>
        </div>

        <p style="margin-top: 8px;">
            You have some unsaved changes on this page. Do you wish to save your data as draft?
        </p>
        <div class="row">
            <div class="col-sm-12 text-end">
                <button type="button" class="btn btn-secondary " (click)="alertClose()">Stay</button>
                <button type="button" class="btn btn-success "
                    style="margin-left: 6px; width: auto; background-color: #5cb85c" (click)="saveAsDraft()">
                    Save & Proceed</button>
            </div>

        </div>
    </div>
</ng-template>