<div class="container-fluid">
    <div class="row pb-4 ms-4 me-4" *ngIf="cardData?.length > 0">
        <!-- <div *ngIf="cardData.length > 0"> -->
        <div class="col-sm-12">
            <div class="des">
                <!-- {{cardData[0]?.description}} -->
                {{tabDescription}}
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3 publishCard" *ngFor="let item of cardData" style="margin: 1rem 0">
            <div (click)="openFile(item?.url)" class="card-body">
                <div style="position: relative">
                    <pdf-viewer [src]="item?.url" [render-text]="false" [show-all]="false" style="display: block; height: 250px" [page]="1" [zoom-scale]="'page-fit'" [original-size]="false">
                    </pdf-viewer>
                </div>
                <div class="h-c">
                    {{ item?.name }}
                </div>
                <div class="row">
                    <!-- <div class="d-flex pt-2"> -->
                    <div class="col-sm-2 pe-0">
                        <span>
              <img
                src="../../../../assets/new_dashBord_ftr_hdr/pdf.png"
                alt=""
                class="p-i"
              />
            </span>
                    </div>
                    <div class="col-sm-10 up-t">
                        Updated on {{ item.modifiedAt }}
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
