.header-p {
    background-color: #047474;
    text-align: center;
    padding: 10px;
    font-family: 'Manrope';
    font-style: normal;
    // height: 100px;
}

.heading-p {
    color: #FFFFFF;
    font-size: 22px;
    height: auto;
    font-weight: 700;
    font-family: 'Manrope';
    font-style: normal;
}

.sub-h {
    font-weight: 600;
    font-size: 18px;
    font-family: 'Manrope';
    font-style: normal;
    margin-top: .5rem;
}

.m-hed {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
    font-family: 'Manrope';
    font-style: normal;
}

.f-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #101010;
    font-family: 'Manrope';
    font-style: normal;
}

::ng-deep .rp-pd::first-letter {
    // color: red;
    padding-right: 0.3em !important;
}
.table-gray {
    background-color: #c3c3c3;
    color: black;
    text-align: center;
}
.table-info {
    background-color: #D7F5FE;
    color: black;
    text-align: center;
}
.table-danger {
    background-color: #F8D7DA;
    color: black;
    text-align: center;
}
.invert {
    filter: invert(1);
}