<div class="container-fluid" id="preData" #preData>
    <div class="row header-p">
        <div class="col-sm-12 text-end">
        </div>
        <div class="row text-center">
            <div class="col-2 d-flex align-items-center">
                <img class="w-100" src="/assets/M FIGMA/city-finance-ranking.png" alt="">
            </div>
            <div class="col-9 text-light">
                <h2 class="mt-2 ulb-name">{{ulbName}}</h2>
                <p class="mb-0 ulb-info">
                    SUMMARY OF INFORMATION FROM BUDGET & ANNUAL FINANCIAL STATEMENTS<br />
                    FOR THE PERIOD FROM 1ST APRIL 2018 To 31ST MARCH 2022<br />
                    all figures in Rs.
                </p>
            </div>
            <div class="col-1">
                <a (click)="closeMat()" class="pull-right"><img class="invert"
                        src="assets/form-icon/close_black_24dp.svg"></a>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 1rem;">
        <div class="col-sm-12 text-end pdf-hide">
            <button id="donwloadButton" class="btn btn-primary" (click)="clickedDownloadAsPDF()">Download as
                PDF</button>
        </div>
    </div>

    <div class="row mt-3 mb-3">
        <div class="col-sm-12">
            <div class="card mb-3" *ngFor="let tab of data?.showData; let rowIndex =index">
                <div class="card-body" *ngIf="tab?.id">
                    <div class="row">
                        <div class="col-sm-12 m-hed text-center">{{tab?.label}}</div>
                    </div>

                    <table class="table mt-3" *ngIf="tab?.id == 's3'">
                        <tbody>
                            <ng-container *ngFor="let tabData of tab?.data | keyvalue: sortPosition; let y_i=index">

                                <tr class="table-gray"
                                    *ngIf="data.financialYearTableHeader[tabData?.value?.position]?.length > 0">
                                    <th class="th"
                                        *ngFor="let year of data.financialYearTableHeader[tabData?.value?.position]; let  i = index;">
                                        {{ year }}</th>
                                </tr>
                                <tr *ngIf="tabData?.value?.position == data?.incomeSectionBelowKey" class="table-info">
                                    <th colspan="6" class="th">REVENUE RECEIPTS (ACTUAL) </th>
                                </tr>
                                <tr *ngIf="tabData?.value?.position == data?.expenditureSectionBelowKey"
                                    class="table-danger">
                                    <th colspan="6" class="th">REVENUE EXPENDITURE (ACTUAL) </th>
                                </tr>
                                <tr>
                                    <th class="th" scope="row" width="5%">{{ tabData?.value?.position }}</th>
                                    <th class="th" scope="row" width="35%">{{ tabData?.value?.label }}</th>
                                    <td class="td" width="15%"
                                        *ngFor="let elem of tabData?.value?.yearData; let y_i=index">
                                        <span *ngIf="elem?.date">{{ elem?.date | date: 'dd/MM/yyyy' }}</span>
                                        <span *ngIf="elem?.file"><a href="{{elem?.file?.url  | toStorageUrl}}"
                                                target="_blank">{{elem?.file?.name}}</a></span>
                                        <span>{{
                                            elem?.formFieldType == 'number'
                                            ? (elem?.value | currency: 'INR': 'symbol' : '1.0-0')
                                            : elem?.value
                                            }}</span>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>


                    <ng-container *ngFor="let tabData of tab?.data| keyvalue; let y_i=index">
                        <div class="div" *ngIf="tab?.id === 's1' || tab?.id === 's2'">
                            <div class="row mb-1 bg-amt pd-r">
                                <div class="col-sm-6 yr-l">{{tabData?.value?.label}}</div>
                                <div class="col-sm-6 yr-ans">{{tabData?.value?.value }}</div>
                            </div>
                        </div>

                        <div *ngIf="tab?.id == 's4' && tabData?.value?.key != 'guidanceNotes'">
                            <div class="row">
                                <div class="col-sm-12 f-label mb-2">{{tabData?.value?.label }}</div>
                            </div>
                            <div class="div">
                                <div class="row mb-1 bg-amt pd-r"
                                    *ngFor="let elem of tabData?.value?.yearData; let y_i=index">
                                    <div class="col-sm-6 yr-l">{{elem?.label}}</div>
                                    <div class="col-sm-6 yr-ans" *ngIf="elem?.value">
                                        {{elem?.value | currency:"INR":"symbol"}}
                                    </div>
                                    <div class="col-sm-6 yr-ans" *ngIf="elem?.file">
                                        <div *ngIf="elem?.file?.url">
                                            <a href="{{elem?.file?.url  | toStorageUrl}}" target="_blank">{{elem?.file?.name}}</a>
                                        </div>
                                        <div *ngIf="!elem?.file?.url && elem?.readonly == true">
                                            Already uploaded on Cityfinance - <a target="_blank"
                                                [href]="elem?.label | alreadyUpdatedUrl : data?.stateCode : ulbName : ulbId | toStorageUrl">View
                                                here</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <div *ngIf="tab?.id == 's4'">
                        <div class="row">
                            <div class="col-sm-6 f-label mb-2">Any other information that you would like to provide
                                us?</div>
                            <div class="col-sm-6 f-label yr-ans mb-2">
                                <div *ngIf="data?.additionalData?.otherFile?.url">
                                    <a href="{{data?.additionalData?.otherFile?.url | toStorageUrl}}"
                                        target="_blank">{{data?.additionalData?.otherFile?.name}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 m-hed text-center">Declaration</div>
                    </div>

                    <div class="div">
                        <div class="row mb-1 bg-amt pd-r">
                            <div class="col-sm-12 yr-l fw-bold">We hereby certify that the financial details enclosed
                                herewith are true and accurate.</div>
                        </div>
                    </div>

                    <div class="div">
                        <div class="row mb-1 bg-amt pd-r">
                            <div class="col-sm-6 yr-l">For</div>
                            <div class="col-sm-6 yr-ans">{{ ulbName }}</div>
                        </div>
                        <div class="row mb-1 bg-amt pd-r">
                            <div class="col-sm-6 yr-l">DATED</div>
                            <div class="col-sm-6 yr-ans">{{ data?.additionalData?.date }}</div>
                        </div>
                        <div class="row mb-1 bg-amt pd-r" style="margin-top: 80px; color: gray;">
                            <div class="col-sm-6 yr-l">&lt;Sign & Stamp of Commissioner/EO&gt;</div>
                            <div class="col-sm-6 yr-ans">&lt;Sign & Stamp of Auditor&gt;</div>
                        </div>
                        <div class="row mb-1 bg-amt pd-r">
                            <div class="col-sm-6 yr-l">Name of Commissioner/Executive Officer</div>
                            <div class="col-sm-6 yr-ans">{{ data?.additionalData?.nameCmsnr }}</div>
                        </div>
                        <div class="row mb-1 bg-amt pd-r">
                            <div class="col-sm-6 yr-l">Name of Auditor</div>
                            <div class="col-sm-6 yr-ans">{{ data?.additionalData?.auditorName }}</div>
                        </div>
                        <div class="row mb-1 bg-amt pd-r">
                            <div class="col-sm-6 yr-l">CA Membership No.</div>
                            <div class="col-sm-6 yr-ans">{{ data?.additionalData?.caMembershipNo }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>