<div class="container-fluid">
    <div class="row mt-3">
        <div class="card p-3">
            <a routerLink="/ulbform/overview">Click to view SLBs for Water Supply and Sanitation of Financial Year 2021-22</a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <!-- <div class="row mt-3">
        <div class="col-sm-12 mb-3" *ngIf="response?.formName">
            <div class="form-header">
                {{response.formName}}
            </div>
        </div>
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <app-four-slb-view [data]="response"></app-four-slb-view>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row mb-3 mt-4">
        <div class="col-sm-6">
            <button type="button" class="btn btn-c-back" routerLinkActive="router-link-active" [routerLink]='backRouter'>
                <- Previous Form</button>
        </div>
        <div class="col-sm-6 text-end">
            <button type="button" class="btn btn-c-next" 
            routerLinkActive="router-link-active" [routerLink]="nextRouter">Next Form-></button>
        </div>
            

    </div>
</div>
