.p-i {
    width: 28px;
    height: 28px;
}

.icon-text {
    p {
        font: normal normal 400 12px/18px "Montserrat";
        letter-spacing: 0px;
    }
}

.lmBtn {
    background: #fff0e3 0% 0% no-repeat padding-box;
    border-radius: 6px;
    font: normal normal 700 12px/14px "Archivo";
    letter-spacing: 0px;
    color: #e87a1c;
}

::ng-deep .ng2-pdf-viewer-container {
    overflow-x: auto;
    position: relative;
    height: 100%;
    width: 250px;
    margin-left: 0;
    margin-right: 0;
}

::ng-deep .pdfViewer {
    margin-left: 0;
    margin-right: 0;
}

::ng-deep .removePageBorders {
    margin-left: 0;
    margin-right: 0;
}

.l-h {
    font-size: 17px;
    font-weight: 600;
}

.ins-h {
    font-weight: 500;
}
