<div class="common-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>
          <span *ngIf="listType === userTypes.STATE" style="margin-left: 6px">
            State List</span>
          <span *ngIf="listType === userTypes.PARTNER" style="margin-left: 0.5%">
            Partner List</span>
          <span *ngIf="listType === userTypes.USER" style="margin-left: 0.5%">
            User List</span>
          <span *ngIf="listType === userTypes.ULB" style="margin-left: 0.5%">
            ULB
            <span *ngIf="loggedInType === userTypes.STATE">Sign Up</span>
            List</span>
          <span *ngIf="listType === userTypes.MoHUA" style="margin-left: 0.5%">
            MoHUA List</span>
          <a *ngIf="listType === userTypes.STATE" class="btn btn-primary" style="float: right; margin-right: 6px"
            [routerLink]="['/', 'user', 'profile', 'create']" [queryParams]="{ role: userTypes.STATE }">Create State</a>

          <a *ngIf="listType === userTypes.PARTNER" class="btn btn-primary" style="float: right; margin-right: 6px"
            [routerLink]="['/', 'user', 'profile', 'create']" [queryParams]="{ role: userTypes.PARTNER }">Create
            Partner</a>

          <a *ngIf="listType === userTypes.MoHUA" class="btn btn-primary" style="float: right; margin-right: 6px"
            [routerLink]="['/', 'user', 'profile', 'create']" [queryParams]="{ role: userTypes.MoHUA }">Create MoHUA</a>
          <button class="btn btn-primary" style="float: right; margin-right: 6px" (click)="downloadList()">
            Download List
          </button>
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 table-responsive">
        <table aria-describedby="USers List" *ngIf="listType === userTypes.USER && !isApiInProgress" class="table">
          <thead>
            <tr style="background: #059b9a; color: white; border: 0px;width: 100%;table-layout: fixed;" class="sortable-headers">
              <th class="text-center">S.No.</th>
              <th class="" (click)="sortListBy('name')">
                User Name
                <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="" (click)="sortListBy('email')">
                Email ID
                <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="" (click)="sortListBy('designation')">
                Designation
                <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="" (click)="sortListBy('organization')">
                Organisation
                <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="filterForm">
              <td></td>

              <td>
                <div class="input-group">
                  <input placeholder="User Name" id="name" type="text" class="form-control"
                    [formControl]="filterForm.controls.name" />
                </div>
              </td>

              <td>
                <div class="input-group">
                  <input placeholder="Email ID" id="email" type="text" class="form-control"
                    [formControl]="filterForm.controls.email" />
                </div>
              </td>

              <td>
                <div class="input-group">
                  <input placeholder="Designation" id="designation" type="text" class="form-control"
                    [formControl]="filterForm.controls.designation" />
                </div>
              </td>
              <td>
                <div class="input-group">
                  <input placeholder="Organisation Name" type="text" class="form-control"
                    [formControl]="filterForm.controls.organization" />
                </div>
              </td>
              <td>
                <button class="btn btn-primary" (click)="searchUsersBy(filterForm.value, 0)">
                  Search
                </button>
              </td>
            </tr>
            <tr *ngFor="
                let user of userList
                  | paginate
                    : {
                        id: 'foo',
                        itemsPerPage: tableDefaultOptions.itemPerPage,
                        currentPage: tableDefaultOptions.currentPage,
                        totalItems: tableDefaultOptions.totalCount
                      };
                index as i
              ">
              <td class="text-center">
                {{ (tableDefaultOptions.currentPage - 1) * 10 + i + 1 }}
              </td>
              <td class="">
                <div style="word-break: break-word;">
                  {{ user.name }}
                </div>
              </td>
              <td class="">
                <div style="word-break: break-word;">
                  {{ user.email }}
                </div></td>
              <td class="">
                <div style="word-break: break-word;">
                  {{ user.designation }}
                </div>
                </td>
              <td class="">
                <div style="word-break: break-word;">
                  {{ user.organization }}
                </div>
                </td>
              <td style="padding:18px;">
                <a [routerLink]="['/', 'user', 'profile', 'view']" [queryParams]="{ id: user._id, role: 'USER' }">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <a *ngIf="canDeleteUser" style="padding-left:18px;">
                  <i class="fa fa-trash" aria-hidden="true" title="Delete User" (click)="
                      openUserDeleteConfirmationBox(userDeletePopup, user)
                    "></i></a>
              </td>
            </tr>

            <tr *ngIf="userList && !userList.length">
              <td colspan="6" class="text-center">
                <h3>No Data Found</h3>
              </td>
            </tr>
          </tbody>
        </table>

        <table aria-describedby="ULB List" class="table" *ngIf="listType === userTypes.ULB && !isApiInProgress">
          <thead>
            <tr class="sortable-headers" style="background: #059b9a; color: white; border: 0px;width: 100%;table-layout: fixed;">
              <th class="text-center" scope="Serial No">S.No.</th>
              <th scope="State No" (click)="sortListBy('stateName')" *ngIf="loggedInType !== userTypes.STATE">
                State
                <em _ngcontent-c8="" class="glyphicon glyphicon-sort"></em>
              </th>
              <th scope="ULB Name" (click)="sortListBy('name')">
                ULB Name
                <em _ngcontent-c8="" class="glyphicon glyphicon-sort"></em>
              </th>
              <th scope="SB Code" (click)="sortListBy('sbCode')">
                ULB Code
                <em _ngcontent-c8="" class="glyphicon glyphicon-sort"></em>
              </th>
              <!-- <th scope="Census Code" (click)="sortListBy('censusCode')">
                Census Code
                <em _ngcontent-c8="" class="glyphicon glyphicon-sort"></em>
              </th> -->
              <th>
                User Created
                <em _ngcontent-c8="" class="glyphicon glyphicon-sort"></em>
              </th>
              <th>Status</th>
              <th scope="Take Action" class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="filterForm">
              <td></td>

              <td *ngIf="loggedInType !== userTypes.STATE">
                <div class="input-group">
                  <select name="State" id="state" [formControl]="filterForm.controls.state" class="form-control"
                    placeholder="State">
                    <option value="" selected>All States</option>
                    <option *ngFor="let state of stateList" [value]="state._id">
                      {{ state.name }}
                    </option>
                  </select>
                </div>
              </td>

              <td>
                <div class="input-group">
                  <input placeholder="ULB Name" type="text" class="form-control"
                    [formControl]="filterForm.controls.ulbName" />
                </div>
              </td>

              <td>
                <div class="input-group">
                  <input placeholder="ULB Code" type="text" class="form-control"
                    [formControl]="filterForm.controls.sbCode" />
                </div>
              </td>
              <td>
                <div class="input-group">
                  <select [formControl]="filterForm.controls.user" class="form-control" placeholder="User Status">
                    <option [value]="" selected>All Users</option>
                    <option [value]="false">User Not Created</option>
                  </select>
                </div>
              </td>
              <!-- <td>
                <div class="input-group">
                  <input placeholder="Census Code" type="text" class="form-control"
                    [formControl]="filterForm.controls.censusCode" />
                </div>
              </td> -->

              <!-- <td>
                <div class="input-group">
                  <select
                    name="ulb"
                    id="ulb"
                    [formControl]="filterForm.controls['status']"
                    class="form-control"
                    placeholder="STATUS"
                  >
                    <option value="">All Status</option>
                    <option
                      *ngFor="let status of requestStatusTypeList"
                      [value]="status.value"
                    >
                      {{ status.value }}
                    </option>
                  </select>
                </div>
              </td> -->
              <td></td>
              <td>
                <button class="btn btn-primary m-auto" style="display: block"
                  (click)="searchUsersBy(filterForm.value, 0)">
                  Search
                </button>
              </td>
            </tr>
            <tr *ngFor="
                let ulb of userList
                  | paginate
                    : {
                        id: 'foo',
                        itemsPerPage: tableDefaultOptions.itemPerPage,
                        currentPage: tableDefaultOptions.currentPage,
                        totalItems: tableDefaultOptions.totalCount
                      };
                index as i
              ">

              <td class="text-center">
                {{ (tableDefaultOptions.currentPage - 1) * 10 + i + 1 }}
              </td>
              <td class="" *ngIf="loggedInType !== userTypes.STATE">
                <div style="word-break: break-word;">
                  {{ ulb["stateName"] }}
                </div>
                
              </td>
              <td class="">
                <div style="word-break: break-word;">
                  {{ulb['user'] == false ? ulb["ulbName"] : ulb["name"] }}
                </div></td>
              <td>
                <div style="word-break: break-word;">
                  {{ ulb.sbCode ? ulb.sbCode : ulb?.censusCode }}
                </div></td>
              <td>
                <button class="btn btn-primary" *ngIf="ulb?.user == false" (click)="signUpForm(templateForm, ulb)">Sign
                  Up</button>
                <div *ngIf="ulb?.user != false">Yes</div>
              </td>
              <!-- <td>{{ ulb.censusCode }}</td> -->
              <!-- <td class="">
                <span
                  (click)="showUserRejectReason(ulb)"
                  [ngClass]="{
                    clickable: ulb.status === SINGPUP_STATUS.REJECTED
                  }"
                >
                  {{ ulb.status }}
                </span>
              </td> -->
              <td class="" style="">
                <div style="">
                  {{ ulb["isActive"] == true ? 'Active' : 'InActive' }}
                </div>
              </td>
              <td class="text-center " [ngClass]="{'d-flex actionCell' : ulb?.user != false}">
                <!-- <a *ngIf="ulb.status === SINGPUP_STATUS.PENDING" class="btn btn-primary" title="Edit"
                  [routerLink]="['/', 'user', 'profile', 'view']" [queryParams]="{ id: ulb._id, role: 'ULB' }">Take
                  Action
                </a> -->
                <ng-container *ngIf="ulb.status !== SINGPUP_STATUS.PENDING && ulb?.user != false">
                  <a [routerLink]="['/', 'user', 'profile', 'view']" [queryParams]="{ id: ulb._id, role: 'ULB' }">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </a>
                  
                  <a *ngIf="
                      ulb.status === SINGPUP_STATUS.APPROVED && canEditProfile
                    " [routerLink]="['/', 'user', 'profile', 'view']"
                    [queryParams]="{ id: ulb._id, role: 'ULB', edit: true }">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </a>
                  <a *ngIf="canDeleteUser">
                    <i class="fa fa-trash" aria-hidden="true" title="Delete User" (click)="
                        openUserDeleteConfirmationBox(userDeletePopup, ulb)
                      "></i></a>
                </ng-container>
                <!-- <a
                  [routerLink]="['/', 'user', 'profile', 'view']"
                  [queryParams]="{ id: ulb._id, role: 'ULB' }"
                  class="p-2"
                >
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <a
                  *ngIf="
                    ulb.status === SINGPUP_STATUS.APPROVED && canEditProfile
                  "
                  [routerLink]="['/', 'user', 'profile', 'view']"
                  [queryParams]="{ id: ulb._id, role: 'ULB', edit: true }"
                >
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a *ngIf="canDeleteUser">
                  <i
                    class="fa fa-trash"
                    aria-hidden="true"
                    title="Delete User"
                    (click)="
                      openUserDeleteConfirmationBox(userDeletePopup, ulb)
                    "
                  ></i
                ></a> -->
              </td>
            </tr>
            <tr *ngIf="userList && !userList.length">
              <td colspan="6" class="text-center">
                <h3>No Data Found</h3>
              </td>
            </tr>
          </tbody>
        </table>

        <table aria-describedby="States List" class="table" *ngIf="listType === userTypes.STATE && !isApiInProgress">
          <thead>
            <tr class="sortable-headers" style="background: #059b9a; color: white; border: 0px;width: 100%;table-layout: fixed;">
              <th class="text-center">S.No.</th>
              <th class="" (click)="sortListBy('stateName')">
                State <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="" (click)="sortListBy('name')">
                User Name
                <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="" (click)="sortListBy('email')">
                Email ID
                <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="" (click)="sortListBy('designation')">
                Designation
                <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="" (click)="sortListBy('departmentName')">
                Department Name
                <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="text-center">Status</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="filterForm">
              <td></td>

              <td>
                <div class="input-group">
                  <select name="State" id="state" [formControl]="filterForm.controls.state" class="form-control"
                    placeholder="State">
                    <option value="" selected>All States</option>
                    <option *ngFor="let state of stateList" [value]="state._id">
                      {{ state.name }}
                    </option>
                  </select>
                </div>
              </td>

              <td>
                <div class="input-group">
                  <input placeholder="User Name" type="text" class="form-control"
                    [formControl]="filterForm.controls.name" />
                </div>
              </td>

              <td>
                <div class="input-group">
                  <input placeholder="Email ID" type="text" class="form-control"
                    [formControl]="filterForm.controls.email" />
                </div>
              </td>

              <td>
                <div class="input-group">
                  <input placeholder="Designation" type="text" class="form-control"
                    [formControl]="filterForm.controls.designation" />
                </div>
              </td>
              <td>
                <div class="input-group">
                  <input placeholder="Department Name" type="text" class="form-control"
                    [formControl]="filterForm.controls.departmentName" />
                </div>
              </td>
              <td></td>
              <td>
                <button class="btn btn-primary m-auto" style="display: block"
                  (click)="searchUsersBy(filterForm.value, 0)">
                  Search
                </button>
              </td>
            </tr>

            <tr *ngFor="
                let user of userList
                  | paginate
                    : {
                        id: 'foo',
                        itemsPerPage: tableDefaultOptions.itemPerPage,
                        currentPage: tableDefaultOptions.currentPage,
                        totalItems: tableDefaultOptions.totalCount
                      };
                index as i
              ">
              <td class="text-center" style="padding-left: 3px;">
                {{ (tableDefaultOptions.currentPage - 1) * 10 + i + 1 }}
              </td>
              <td class="" style="padding-left: 3px;">
                <div style="word-break: break-word;">
                  {{ user["stateName"] }}
                </div>
              </td>
              <td class="" style="padding-left: 3px;">
                <div style="word-break: break-word;">
                  {{ user["name"] }}
                </div></td>
              <td class="" style="padding-left: 3px;">
                <div style="word-break: break-word;">
                  {{ user["email"] }}
                </div></td>
              <td class="" style="padding-left: 3px;">
                <div style="word-break: break-word;">
                  {{ user["designation"] }}
                </div></td>
              <td class="" style="padding-left: 3px;">
                <div style="word-break: break-word;">
                  {{ user["departmentName"] }}
                </div>
              </td>
              <td class="" style="">
                <div style="">
                  {{ user["isActive"] ? 'Active' : 'InActive' }}
                </div>
              </td>
              <td>
                <a [routerLink]="['/', 'user', 'profile', 'view']" [queryParams]="{ id: user._id, role: 'STATE' }">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <a [routerLink]="['/', 'user', 'profile', 'view']"
                  [queryParams]="{ id: user._id, role: 'STATE', edit: true }" style="padding:20%;">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a *ngIf="canDeleteUser">
                  <i class="fa fa-trash" aria-hidden="true" title="Delete User" (click)="
                      openUserDeleteConfirmationBox(userDeletePopup, user)
                    "></i></a>
              </td>
            
            </tr>
            <tr *ngIf="userList && !userList.length">
              <td colspan="6" class="text-center">
                <h3>No Data Found</h3>
              </td>
            </tr>
          </tbody>
        </table>

        <table aria-describedby="Partners List" class="table"
          *ngIf="listType === userTypes.PARTNER && !isApiInProgress">
          <thead>
            <tr class="sortable-headers" style="background: #059b9a; color: white; border: 0px;width: 100%;table-layout: fixed;">
              <th class="text-center">S.No.</th>
              <th class="" (click)="sortListBy('name')">
                User Name
                <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="" (click)="sortListBy('email')">
                Email ID
                <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="" (click)="sortListBy('designation')">
                Designation
                <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="" (click)="sortListBy('departmentName')">
                Department Name
                <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="filterForm">
              <td></td>

              <td>
                <div class="input-group">
                  <input placeholder="User Name" type="text" class="form-control"
                    [formControl]="filterForm.controls.name" />
                </div>
              </td>

              <td>
                <div class="input-group">
                  <input placeholder="Email ID" type="text" class="form-control"
                    [formControl]="filterForm.controls.email" />
                </div>
              </td>

              <td>
                <div class="input-group">
                  <input placeholder="Designation" type="text" class="form-control"
                    [formControl]="filterForm.controls.designation" />
                </div>
              </td>
              <td>
                <div class="input-group">
                  <input placeholder="Department Name" type="text" class="form-control"
                    [formControl]="filterForm.controls.departmentName" />
                </div>
              </td>
              <td>
                <button class="btn btn-primary m-auto" style="display: block"
                  (click)="searchUsersBy(filterForm.value, 0)">
                  Search
                </button>
              </td>
            </tr>

            <tr *ngFor="
                let user of userList
                  | paginate
                    : {
                        id: 'foo',
                        itemsPerPage: tableDefaultOptions.itemPerPage,
                        currentPage: tableDefaultOptions.currentPage,
                        totalItems: tableDefaultOptions.totalCount
                      };
                index as i
              ">
              <td class="text-center">
                {{ (tableDefaultOptions.currentPage - 1) * 10 + i + 1 }}
              </td>

              <td class="">
                <div style="word-break: break-word;">
                  {{ user["name"] }}
                </div></td>
              <td class="">
                <div style="word-break: break-word;">
                  {{ user["email"] }}
                </div></td>
              <td class="">
                <div style="word-break: break-word;">
                  {{ user["designation"] }}
                </div></td>
              <td class="">
                <div style="word-break: break-word;">
                  {{ user["departmentName"] }}
                </div></td>
              <td class="text-center d-flex actionCell">
                <a [routerLink]="['/', 'user', 'profile', 'view']" [queryParams]="{ id: user._id, role: 'PARTNER' }">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <a [routerLink]="['/', 'user', 'profile', 'view']"
                  [queryParams]="{ id: user._id, role: 'PARTNER', edit: true }">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a *ngIf="canDeleteUser">
                  <i class="fa fa-trash" aria-hidden="true" title="Delete User" (click)="
                      openUserDeleteConfirmationBox(userDeletePopup, user)
                    "></i></a>
              </td>
            </tr>
            <tr *ngIf="userList && !userList.length">
              <td colspan="6" class="text-center">
                <h3>No Data Found</h3>
              </td>
            </tr>
          </tbody>
        </table>

        <table aria-describedby="MoHUA List" class="table" *ngIf="listType === userTypes.MoHUA && !isApiInProgress">
          <thead>
            <tr class="sortable-headers" style="background: #059b9a; color: white; border: 0px;width: 100%;table-layout: fixed;">
              <th class="text-center">S.No.</th>
              <th class="" (click)="sortListBy('name')">
                User Name
                <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="" (click)="sortListBy('email')">
                Email ID
                <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="" (click)="sortListBy('designation')">
                Designation
                <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
              </th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="filterForm">
              <td></td>

              <td>
                <div class="input-group">
                  <input placeholder="User Name" type="text" class="form-control"
                    [formControl]="filterForm.controls.name" />
                </div>
              </td>

              <td>
                <div class="input-group">
                  <input placeholder="Email ID" type="text" class="form-control"
                    [formControl]="filterForm.controls.email" />
                </div>
              </td>

              <td>
                <div class="input-group">
                  <input placeholder="Designation" type="text" class="form-control"
                    [formControl]="filterForm.controls.designation" />
                </div>
              </td>
              <td>
                <button class="btn btn-primary m-auto" style="display: block"
                  (click)="searchUsersBy(filterForm.value, 0)">
                  Search
                </button>
              </td>
            </tr>

            <tr *ngFor="
                let user of userList
                  | paginate
                    : {
                        id: 'foo',
                        itemsPerPage: tableDefaultOptions.itemPerPage,
                        currentPage: tableDefaultOptions.currentPage,
                        totalItems: tableDefaultOptions.totalCount
                      };
                index as i
              ">
              <td class="text-center">
                {{ (tableDefaultOptions.currentPage - 1) * 10 + i + 1 }}
              </td>

              <td class="">
                <div style="word-break: break-word;">
                  {{ user["name"] }}
                </div></td>
              <td class="">
                <div style="word-break: break-word;">
                  {{ user["email"] }}
                </div></td>
              <td class="">
                <div style="word-break: break-word;">
                  {{ user["designation"] }}
                </div></td>
              <td class="text-center d-flex actionCell">
                <a [routerLink]="['/', 'user', 'profile', 'view']" [queryParams]="{ id: user._id, role: listType }">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>

                <a [routerLink]="['/', 'user', 'profile', 'view']"
                  [queryParams]="{ id: user._id, role: listType, edit: true }">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>

                <a *ngIf="canDeleteUser">
                  <i class="fa fa-trash" aria-hidden="true" title="Delete User" (click)="
                      openUserDeleteConfirmationBox(userDeletePopup, user)
                    "></i></a>
              </td>
            </tr>
            <tr *ngIf="userList && !userList.length">
              <td colspan="6" class="text-center">
                <h3>No Data Found</h3>
              </td>
            </tr>
          </tbody>
        </table>

        <div *ngIf="isApiInProgress" style="
            background: white;
            z-index: 99999999;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
          ">
          <app-pre-loader></app-pre-loader>
          <app-pre-loader></app-pre-loader>
          <app-pre-loader></app-pre-loader>
          <app-pre-loader></app-pre-loader>
        </div>
      </div>
      <pagination-controls style="float: right; position: relative;text-align: end;margin-top: 2%;" id="foo" (pageChange)="setPage($event)"
        directionLinks="true" autoHide="false" previousLabel="Previous" nextLabel="Next"
        screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
      </pagination-controls>
    </div>
  </div>
</div>

<ng-template #userDeletePopup>
  <div class="modal-body">
    <p style="margin: 3% auto; text-align: center">
      Are you sure you want to delete user
      <strong> {{ userToDelete["name"] }}</strong> ?
    </p>

    <div style="display: flex; width: 100%; justify-content: center">
      <button class="btn btn-primary" style="margin-right: 2%" (click)="deleteUser(userToDelete['_id'])">
        Yes
      </button>

      <button class="btn btn-primary" (click)="_dialog.closeAll()">No</button>
    </div>
    <p *ngIf="respone.errorMessage" class="error-message text-center mt-1">
      {{ respone.errorMessage }}
    </p>
  </div>
</ng-template>
<ng-template #templateForm>
  <div class="modal-title">
    <div style=" display: flex; justify-content: flex-end;">
      <button style="min-width: min-content;" (click)="alertClose()" class="btn btn-danger" title="Close" type="button"
        data-dismiss="modal" aria-label="Close">
        <i class="fa fa-times" style="color: white;"></i>
      </button>
    </div>
    <div>
      <div style="font-size: 22px;">Sign Up Form

      </div>
    </div>
    <div class="row" style="margin-top: 9%; margin-bottom: 1%;">
      <div class="col-lg-6">
        <label for="">ULB Code</label>
      </div>
      <div class="col-lg-6" class="input-group">
        <input type="text" value="{{ulbCode}}" disabled>
      </div>
    </div>
    <div class="row" style="margin-bottom: 1%;">
      <div class="col-lg-6">
        <label for="">Census Code</label>
      </div>
      <div class="col-lg-6" class="input-group">
        <input type="text" value="{{censusCode ? censusCode : '' }}" [disabled]="codePreExist == true"
          [(ngModel)]="censusCode">
      </div>
    </div>
    <div class="row" style=" margin-bottom: 9%;">
      <div class="col-lg-6">
        <label for="">SB Code</label>
      </div>
      <div class="col-lg-6" class="input-group">
        <input type="text" value="{{sbCode ? sbCode : ''}}" [disabled]="codePreExist == true" [(ngModel)]="sbCode">
      </div>
    </div>
    <div style="text-align: center;">
      <button class="btn btn-success" (click)="createUser(sbCode,censusCode)">Sign Up</button>
    </div>
  </div>

</ng-template>