::ng-deep .mat-horizontal-stepper-header-container {
  width: 100% !important;
  margin: auto;
}

:host ::ng-deep .question-instruction {
  font-style: italic;
  margin-top: 0%;
}

::ng-deep .mandatory {
  color: red;
}

:host {
  .text-italic {
    font-style: italic;
  }
  .text-underline {
    text-decoration: underline;
  }
  .guidelines {
    margin-bottom: 2%;
    width: 90vw;
    font-size: 1.1rem;
    h4 {
      font-size: 1.5em;
    }
    li {
      padding-bottom: 0.5%;
    }
  }
  a {
    // display: block;
    margin-top: 0%;
    width: fit-content;
  }
}

:host ::ng-deep .documentCompleted {
  button[id="next"] {
    display: none !important;
  }
}

:host {
  ol > li {
    padding-left: 0.3%;
  }
  ::ng-deep {
    mat-step-header[ng-reflect-index="0"] {
      padding-left: 0px;
    }
  }
}
::ng-deep .mat-step-header[ng-reflect-selected="true"] .mat-step-icon,
::ng-deep .mat-step-header[aria-selected="true"] .mat-step-icon {
  background: #009a00;
}

::ng-deep .mat-step-header[ng-reflect-selected="false"] .mat-step-icon,
::ng-deep .mat-step-header[aria-selected="false"] .mat-step-icon {
  background: #059b9a;
}

button {
  outline: none;
}

::ng-deep .mat-horizontal-content-container {
  margin-top: 1%;
  padding-left: 0px !important;
}

::ng-deep .mat-calendar-controls {
  .mat-button {
    background: transparent !important;
    color: gray;
  }
}
::ng-deep .mat-step-header.cdk-program-focused {
  background: transparent !important;
}

::ng-deep {
  mat-radio-group.is-invalid {
    .mat-radio-outer-circle {
      border-color: red;
    }
    .preview-wrapper {
      .back_button {
        position: absolute;
        z-index: 2;
        width: fit-content;
        padding: 9px 33px;
      }
    }
  }
}

app-tick-icon {
  display: block;
  width: 24%;
  margin: auto;
}

:host ::ng-deep {
  .mat-horizontal-content-container {
    padding: 0px;
    overflow: visible;
  }
}

:host ::ng-deep {
  .action-required {
    background: linear-gradient(45deg, #ff8181, white);
    transition: all 1s;
  }
}
