<div *ngIf="isULBMillionPlus !== undefined">
  <h3 style="position: relative; text-align: center">
    <span *ngIf="loggedInUserDetails?.role !== USER_TYPE.ULB">
      ULB: {{ financialData?.ulbName }}</span
    >
    <button
      [style.position]="
        loggedInUserDetails?.role !== USER_TYPE.ULB ? 'absolute' : 'relative'
      "
      style="right: 0px; float: right; margin-right: 2.5%; outline: none"
      class="btn btn-primary btn-upload"
      (click)="showPreview()"
    >
      Preview
    </button>
  </h3>
</div>
<mat-horizontal-stepper
  *ngIf="isULBMillionPlus !== undefined"
  id="stepper"
  [ngClass]="{ 'block-steeper-top-navigation': !userHasAlreadyFilledForm }"
>
  <mat-step>
    <ng-template matStepLabel>
      <span title="Introduction">Guidelines</span>
    </ng-template>

    <ng-container [ngSwitch]="loggedInUserDetails?.role">
      <div class="guidelines" *ngSwitchCase="USER_TYPE.ULB">
        <h4 style="font-weight: 600" class="mb-2">
          Guidelines for submitting application:
        </h4>
        <ol>
          <li>
            Targets for service level indicators and required documents must be
            uploaded after taking due approval from Municipal commissioner/
            Executive officer of ULB.
          </li>
          <li>
            Only one PDF document can be uploaded against each requirement in
            Upload Plans section.
          </li>
          <li>
            You need to name the documents to be uploaded in the following
            format “Document Name_State Name_ULB Name”.
          </li>
          <li>
            ULBs would be able to review and take a print out of the data
            entered for their future reference from Preview section.
          </li>
        </ol>
      </div>
      <div class="guidelines" *ngSwitchCase="USER_TYPE.STATE">
        <h4 style="font-weight: 600" class="mb-2">
          Guidelines for reviewing application submitted by ULB:
        </h4>
        <ol>
          <li>
            The Nodal officer from the state for the 15th FC Grant for ULBs is
            required to review the baseline & targets for service indictors and
            required documents for 15th FC Grant.
          </li>
          <li>
            If submission by ULB is in order, the Approve button shall be
            ticked. Each submission/ document by ULB has to be approved/
            rejected.
          </li>

          <li>
            If submission by ULB is not in order, then the Reject button shall
            be ticked and the accompanying reason for rejection must be entered.
          </li>
          <li>
            If one or more submissions made by the ULB are rejected, the form
            will be sent back to the ULB for correction and re-submission.
          </li>
        </ol>
      </div>
      <div class="guidelines" *ngSwitchDefault>
        <h4 style="font-weight: 600" class="mb-2">Guidelines to MoHUA:</h4>
        <ol>
          <li>
            MoHUA is required to evaluate/ review the submissions by the ULBs
            after approval of the State as per guidelines for 15th FC grant for
            ULBs.
          </li>
          <li>
            If MoHUA is satisfied with the submissions made by the ULB, the
            Approve button shall be ticked.
          </li>
          <li>
            If MoHUA is not satisfied with the submissions made by the ULB, the
            Reject button shall be ticked and the accompanying reason for
            rejection must be entered.
          </li>
          <li>
            If one or more claims made by the ULB are rejected, the form will be
            sent back to the ULB for correction and re-submission. The
            resubmitted claims will need to be first approved by the State
            before it arrives for MoHUA’s decision.
          </li>
          <li>
            MoHUA will not be able to enter any data or submit any documents on
            behalf of the ULBs.
          </li>
          <li>
            MoHUA may see the preview of the Approve/ Reject decisions recorded
            before submitting it.
          </li>
          <li>
            MoHUA will be able to take a print out of the decisions recorded for
            their future reference.
          </li>
          <li>MoHUA will not be able to edit the form after submitting it.</li>
        </ol>
      </div>
    </ng-container>

    <button
      style="float: right; margin-right: 2.5%"
      class="btn btn-primary btn-upload"
      (click)="stepper.next()"
    >
      Next
    </button>
    <ng-content> </ng-content>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>
      <span title="Service Level Indicators">Service Level Indicators</span>
    </ng-template>
    <!-- canViewActionTaken: {{ canViewActionTaken }} -->
    <app-waste-water-management
      [form]="waterWasteManagementForm"
      [canSeeApproveActionTaken]="canViewActionTaken"
      [canTakeApproveAction]="canTakeApproveRejectAction"
      [isDataPrefilled]="!!solidWasteProfilledAnswers"
      [isSubmitButtonClick]="isSubmitButtonClicked"
      [canUploadFile]="canUploadFile"
      (showNext)="stepper.next()"
      (saveAsDraft)="saveAsDraft()"
      (outputValues)="onWaterWasteManagementEmitValue($event)"
      (previous)="stepper.previous()"
    ></app-waste-water-management>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>
      <span title="Upload Plans">Upload Plans</span>
    </ng-template>

    <app-documents-upload
      *ngIf="solidWasteManagementForm"
      [ngClass]="{
        documentCompleted:
          ((financialData?.isCompleted &&
            !isULBMillionPlus &&
            !canUploadFile) ||
            (!isULBMillionPlus && !canUploadFile)) &&
          !canTakeApproveRejectAction
      }"
      [isSubmitButtonClick]="isSubmitButtonClicked"
      [userType]="USER_TYPE.ULB"
      [form]="solidWasteManagementForm"
      [documents]="solidWasteProfilledAnswers"
      [canUploadFile]="canUploadFile"
      [questions]="solidWasteQuestions"
      [canSeeApproveActionTaken]="canViewActionTaken"
      [canTakeApproveAction]="canTakeApproveRejectAction"
      (outputValues)="onSolidWasteEmit($event)"
      (showNext)="stepper.next()"
      (previous)="stepper.previous()"
      (saveAsDraft)="saveAsDraft()"
    ></app-documents-upload>
    <p>
      <span class="mandatory">*</span> Upload GAP analysis report and project
      identified for bridging the gap as a single document.
    </p>
  </mat-step>
  <mat-step label="Million Plus Cities Only" *ngIf="isULBMillionPlus">
    <ng-template matStepLabel>
      <span title="Upload Plans(Million+ City)"
        >Upload Plans(Million+ City)</span
      >
    </ng-template>
    <app-documents-upload
      *ngIf="millionPlusCitiesForm"
      [ngClass]="{
        documentCompleted:
          ((financialData?.isCompleted && !canUploadFile) || !canUploadFile) &&
          !canTakeApproveRejectAction
      }"
      [isSubmitButtonClick]="isSubmitButtonClicked"
      [userType]="USER_TYPE.ULB"
      [form]="millionPlusCitiesForm"
      [documents]="millionPlusCitiesAnswers"
      [canUploadFile]="canUploadFile"
      [questions]="millionPlusCitiesQuestions"
      [canSeeApproveActionTaken]="canViewActionTaken"
      [canTakeApproveAction]="canTakeApproveRejectAction"
      (outputValues)="onMilionPlusCitiesEmitValue($event)"
      (showNext)="stepper.next()"
      (previous)="stepper.previous()"
      (saveAsDraft)="saveAsDraft()"
    ></app-documents-upload>
  </mat-step>

  <mat-step label="Preview & Submit" *ngIf="canUploadFile">
    <app-completed
      [submitted]="userHasAlreadyFilledForm"
      (submit)="uploadCompletedQuestionnaireData()"
      (previous)="stepper.previous()"
      [customMessage]="completedMessage"
    >
      <button
        class="btn btn-primary"
        style="outline: none"
        style="margin-right: 2%"
        (click)="showPreview()"
      >
        Show Preview
      </button>
      <a
        *ngIf="loggedInUserDetails.role === USER_TYPE.ULB"
        class="btn btn-primary atEnd"
        style="outline: none"
        style="margin-left: 2%"
        href="https://docs.google.com/forms/d/e/1FAIpQLSeL1IKrRU5RT7mNWgWsrIt_hN86uQXEIj0khCNqQLkGQXG8iQ/viewform"
        target="_blank"
        rel="noopener noreferrer"
      >
        Submit Feedback
      </a>
    </app-completed>
  </mat-step>

  <mat-step label="Complete Review" *ngIf="canTakeApproveRejectAction">
    <app-completed
      [submitted]="userHasAlreadyFilledForm"
      (submit)="onSubmitApprovalActions()"
      (previous)="stepper.previous()"
      [customMessage]="completedMessage"
    >
      <button
        class="btn btn-primary"
        style="outline: none"
        style="margin-right: 2%"
        (click)="showPreview()"
      >
        Show Preview
      </button>
    </app-completed>
  </mat-step>
</mat-horizontal-stepper>
<p
  class="question-instruction"
  *ngIf="
    isULBMillionPlus !== undefined &&
    stepper?.selectedIndex > 0 &&
    ((isULBMillionPlus && stepper?.selectedIndex !== 4) ||
      (isULBMillionPlus === false && stepper.selectedIndex !== 3))
  "
>
  <strong>NOTE:</strong><br />
  1. Reference documents:

  <a
    href="../../../../../assets/files/15th FC ULB Grants - User Manual for CityFinance.pdf"
    target="_blank"
  >
    Grant Module – User Manual for ULBs </a
  >,
  <a
    href="../../../../../assets/files/Grant Module - User Manual for State Nodal Officers.pdf"
    target="_blank"
  >
    Grant Module – User Manual for State Nodal Officers </a
  >,
  <a
    href="../../../../../assets/files/XV FC Operational Guidelines.pdf"
    target="_blank"
    class="text-italic text-underline"
  >
    MoF Operational Guidelines </a
  >,
  <a
    href="../../../../../assets/files/XV FC Marking Scheme Guidelines.pdf"
    target="_blank"
    class="text-italic text-underline"
  >
    MoHUA Marking Scheme </a
  >,
  <a
    href="../../../../../assets/files/XV FC Report.pdf"
    class="text-italic text-underline"
    target="_blank"
  >
    15th FC Report</a
  ><br />
  2. For clarifications/ questions, please email us at
  <a class="text-italic text-underline" href="mailto:15fcgrant@cityfinance.in"
    >15fcgrant@cityfinance.in</a
  >. We will respond to you within 24 hours.
</p>

<ng-template #savingPopup>
  <mat-spinner style="margin: auto" *ngIf="draftSavingInProgess"></mat-spinner>
  <h2 class="text-center" *ngIf="draftSavingInProgess">Saving...</h2>

  <app-tick-icon
    class="tick"
    *ngIf="!draftSavingInProgess && !saveAsDraftFailMessge"
  ></app-tick-icon>
  <div class="d-flex justify-content-center" *ngIf="saveAsDraftFailMessge">
    <i
      class="fa fa-exclamation-circle"
      style="transform: scale(3.5); color: red"
      aria-hidden="true"
    ></i>
  </div>

  <h2 class="text-center" *ngIf="!draftSavingInProgess">
    {{ saveAsDraftFailMessge || successMessage }}
  </h2>
</ng-template>

<ng-template #previewPopup>
  <app-preview
    *ngIf="previewData"
    [data]="previewData"
    [isULBMillionPlus]="isULBMillionPlus"
  ></app-preview>
</ng-template>

<div *ngIf="isULBMillionPlus === undefined">
  <app-pre-loader></app-pre-loader><app-pre-loader></app-pre-loader
  ><app-pre-loader></app-pre-loader><app-pre-loader></app-pre-loader>
</div>
