<div class="" *ngIf="!isApiInProgress">
    <div class="container-fluid">
        <div class="pre-y" style="" *ngIf="!isPreYear" [innerHTML]="preMess">
        </div>
    </div>
    <div class="container-fluid mb-3" *ngIf="waterRejenuvation && isPreYear" style="">
        <div class="row mb-2" style="">
            <div class="col-sm-9">
                <h4 class="form-header">
                    {{waterRejRes?.formName}}
                </h4>
            </div>
            <div class="col-sm-3 text-end">
                <button type="button" class="btn btn-primary" (click)="onPreview()">PREVIEW</button>
            </div>
        </div>
        <form [formGroup]="waterRejenuvation">
            <!-- -------all tables------- -->
            <div class="mb-3" formArrayName="uaData" *ngFor="let uas of Uas; let projectIndex=index">
                <div class="card mt-2 ms-0">
                    <div [formGroupName]="projectIndex" class="card-body">
                        <div class="row">
                            <div class="col-sm-9 head-l">
                                UA{{projectIndex+1}}: Urban Agglomeration {{ uaIdToName(projectIndex)}}
                            </div>
                            <div class="col-sm-3 text-end">
                                <button class="btn btn-primary" [ngClass]="{'selectBtn': checkCard(projectIndex)}" (click)="foldCard(projectIndex)">Select</button>
                            </div>
                        </div>
                        <div class="row"  *ngIf="checkCard(projectIndex)">
                          <div class="col-sm-12" >
                                <h4 class="tb-head" >{{waterRejRes?.tables[0]?.tableName}}<span class="text-danger">*</span></h4>
                          <div class="table-responsive">
                            <table class="table custom-position tb1">
                              <thead>
                                <tr class="thHeader">
                                    <th scope="col" width="{{itemTh?.width}}" *ngFor="let itemTh of waterRejRes?.tables[0]?.columns">
                                        <span>{{itemTh?.displayName}}</span><br *ngIf="itemTh.key == 'location'">
                                        <span *ngIf="itemTh.key == 'location'">Latitude and Longitude</span> 
                                    </th>
                                    <th scope="col"></th>
                                </tr>
                              </thead>
                              <tbody formArrayName="waterBodies" *ngFor="let projectRow of getSubControlsWaterBodies(projectIndex); let waterBodiesIndex=index">
                                  <tr [formGroupName]="waterBodiesIndex" [ngClass]="{'anDisable': getDisableRow(projectRow)}">
                                      <td class="t-i">
                                          <span class="h-4" >{{1+waterBodiesIndex}}</span>
                                      </td>
                                      <td>
                                          <input class="h-4" formControlName="name" matTooltipPosition="above" 
                                          [ngClass]="{'falseVal': checkErrorState(projectRow,'name')}" 
                                          [matTooltip]="checkErrorState(projectRow,'name') ? 'Enter 1-50 Characters' : null" type="text" 
                                          [tabindex]="getDisableRow(projectRow) ? -1 : 0"/>
                                      </td>
                                      <td>
                                          <input class="h-4" formControlName="nameOfBody" matTooltipPosition="above" 
                                          [ngClass]="{'falseVal': checkErrorState(projectRow,'nameOfBody')}" 
                                          [matTooltip]="checkErrorState(projectRow,'nameOfBody') ? 'Enter 1-50 Characters' : null" type="text" [tabindex]="getDisableRow(projectRow) ? -1 : 0"/>
                                      </td>
                                      <td>
                                          <input class="h-4" matTooltipPosition="above" 
                                          [matTooltip]="checkErrorState(projectRow,'area') ? 'Area 0 upto 5 digis' : null" 
                                          [ngClass]="{'falseVal': checkErrorState(projectRow,'area')}" 
                                          formControlName="area"  
                                          (keydown)="setMinMaxValidations($event, areaW, 0, maxNumVaditaion?.FiveDigit, '')" #areaW [tabindex]="getDisableRow(projectRow) ? -1 : 0">
                                      </td>
                                      <td style="width: 9%;" class="icon">
                                          <div class="image-upload" style="display: inline-block;" [matTooltip]="checkErrorState(projectRow,'photos') ? 'No photos added' : null" [ngClass]="{'ph-error': checkErrorState(projectRow,'photos')}">
                                              <label class="file" [attr.for]="waterBodiesIndex + '' + projectIndex" [ngClass]="{'disableInputs': completeWaterRejData?.uaData[projectIndex]?.isDisabled }">
                                              <img src="../../../../assets/form-icon/Icon feather-upload.svg">
                                          </label>
                                              <input style="display: none;" onclick="value = null;" [attr.id]="waterBodiesIndex + '' + projectIndex" type="file" 
                                              [ngClass]="{'disableInputs': completeWaterRejData?.uaData[projectIndex]?.isDisabled }"
                                               accept=".png,.jpg,.jpeg" (change)="uploadFile($event, 'img', waterBodiesIndex, projectIndex, 'img')" required
                                                  multiple [tabindex]="getDisableRow(projectRow) ? -1 : 0"/>
                                          </div>
                                          <a style="pointer-events: all;" class="ms-2" (click)="imgPreview(waterBodiesIndex,projectIndex)" [tabindex]="getDisableRow(projectRow) ? -1 : 0">
                                              <span class="material-icons file p-icon">
                                              collections
                                          </span>
                                          </a>
                                          <a style="" class="ms-2" (click)="removePhotos(waterBodiesIndex,projectIndex)" [ngClass]="{'disableInputs': completeWaterRejData?.uaData[projectIndex]?.isDisabled }" [tabindex]="getDisableRow(projectRow) ? -1 : 0">
                                              <span class="material-icons file p-icon text-danger">
                                              delete_forever
                                          </span></a>
                                      </td>
                                      <td style="display: flex;" class="rdDiv">
                                          <input class="h-4" matTooltipPosition="above" [matTooltip]="checkErrorState(projectRow,'lat') ? 'Enter Valid lat' : null" [ngClass]="{'falseVal': checkErrorState(projectRow,'lat') }" (blur)="latLong($event.target.value,projectRow,'lat')" formControlName="lat"
                                              pattern="^\d*(\.\d{0,6})?$"  min="1" [tabindex]="getDisableRow(projectRow) ? -1 : 0">
                                          <input matTooltipPosition="above" [matTooltip]="checkErrorState(projectRow,'long') ? 'Enter Valid long' : null" [ngClass]="{'falseVal': checkErrorState(projectRow,'long')}" (blur)="latLong($event.target.value,projectRow,'long')" formControlName="long"
                                              class="ms-2 h-4" type="text" min="1" pattern="^\d*(\.\d{0,6})?$" [tabindex]="getDisableRow(projectRow) ? -1 : 0">
                                          <a (click)="openMap(waterBodiesIndex,projectIndex,'waterBodies')" class="d-i" [ngClass]="{'disableInputs': completeWaterRejData?.uaData[projectIndex]?.isDisabled }" [tabindex]="getDisableRow(projectRow) ? -1 : 0"> 
                                              <mat-icon class="file" aria-hidden="false">
                                                  <img src="../../../../assets/form-icon/GOOGLE_MAPS_LOGO_JPG.png">
                                              </mat-icon>
                                          </a>
                                      </td>
                                      <td>
                                          <div class="exp-text mb-2">Current</div>
                                          <div class="exp-text" >Expected</div>
                                      </td>
                                      <td>
                                          <div class="mb-2">
                                              <input matTooltipPosition="above" placeholder="Current" 
                                              [matTooltip]="checkErrorState(projectRow,'bod') ? 'BOD 0 upto 3 digits' : null" 
                                              [ngClass]="{'falseVal': checkErrorState(projectRow,'bod')}" 
                                              formControlName="bod" 
                                              (keydown)="setMinMaxValidations($event, bodW, 0, maxNumVaditaion?.ThreeDigit, '')" #bodW
                                              [tabindex]="getDisableRow(projectRow) ? -1 : 0">
                                          </div>
                                          <div>
                                              <input matTooltipPosition="above" placeholder="Expected" 
                                              [matTooltip]="checkErrorState(projectRow,'bod_expected') ? 'BOD expected 0 upto 3 digits' : null" 
                                              [ngClass]="{'falseVal': checkErrorState(projectRow,'bod_expected')}" 
                                              formControlName="bod_expected" 
                                             (keydown)="setMinMaxValidations($event, bod_expectedW, 0, maxNumVaditaion?.ThreeDigit, '')" #bod_expectedW
                                            [tabindex]="getDisableRow(projectRow) ? -1 : 0">
                                          </div>
                                      </td>

                                      <td>
                                          <div class="mb-2">
                                              <input matTooltipPosition="above" placeholder="Current" 
                                              [matTooltip]="checkErrorState(projectRow,'cod') ? 'COD  0 upto 4 digits' : null" 
                                              [ngClass]="{'falseVal': checkErrorState(projectRow,'cod')}" 
                                              formControlName="cod"  
                                              (keydown)="setMinMaxValidations($event, codW, 0, maxNumVaditaion?.FourDigit, '')" #codW
                                              [tabindex]="getDisableRow(projectRow) ? -1 : 0">
                                          </div>
                                          <div>
                                              <input matTooltipPosition="above" placeholder="Expected" 
                                              [matTooltip]="checkErrorState(projectRow,'cod_expected') ? 'COD expected 0 upto 4 digits' : null" 
                                              [ngClass]="{'falseVal': checkErrorState(projectRow,'cod_expected')}" formControlName="cod_expected" 
                                                   (keydown)="setMinMaxValidations($event, cod_expectedW, 0, maxNumVaditaion?.FourDigit, '')" #cod_expectedW
                                                  [tabindex]="getDisableRow(projectRow) ? -1 : 0">
                                          </div>
                                      </td>

                                      <td>
                                          <div class="mb-2">
                                              <input matTooltipPosition="above" placeholder="Current" 
                                              [matTooltip]="checkErrorState(projectRow,'do') ? 'DO  0 upto 3 digits' : null" 
                                              [ngClass]="{'falseVal': checkErrorState(projectRow,'do')}" 
                                              formControlName="do" 
                                              (keydown)="setMinMaxValidations($event, doW, 0, maxNumVaditaion?.ThreeDigit, '')" #doW
                                              [tabindex]="getDisableRow(projectRow) ? -1 : 0">
                                          </div>
                                          <div>
                                              <input matTooltipPosition="above" placeholder="Expected" 
                                              [matTooltip]="checkErrorState(projectRow,'do_expected') ? 'DO expected 0 upto 3 digits'  : null" 
                                              [ngClass]="{'falseVal': checkErrorState(projectRow,'do_expected')}" 
                                              formControlName="do_expected" 
                                                   (keydown)="setMinMaxValidations($event, do_expectedW, 0, maxNumVaditaion?.ThreeDigit, '')" #do_expectedW
                                                  [tabindex]="getDisableRow(projectRow) ? -1 : 0">
                                          </div>
                                      </td>

                                      <td>
                                          <div class="mb-2">
                                              <input matTooltipPosition="above" placeholder="Current" 
                                              [matTooltip]="checkErrorState(projectRow,'tds') ? 'TDS 0 upto 5 digits' : null" 
                                              [ngClass]="{'falseVal': checkErrorState(projectRow,'tds')}" formControlName="tds" 
                                               
                                              (keydown)="setMinMaxValidations($event, tdsW, 0, maxNumVaditaion?.FiveDigit, '')" #tdsW
                                              [tabindex]="getDisableRow(projectRow) ? -1 : 0">
                                          </div>
                                          <div>
                                              <input matTooltipPosition="above" placeholder="Expected" 
                                              [matTooltip]="checkErrorState(projectRow,'tds_expected') ? 'TDS expected 0 upto 5 digits' : null" 
                                              [ngClass]="{'falseVal': checkErrorState(projectRow,'tds_expected')}" 
                                              formControlName="tds_expected" 
                                                   (keydown)="setMinMaxValidations($event, tds_expectedW, 0, maxNumVaditaion?.FiveDigit, '')" #tds_expectedW
                                                  [tabindex]="getDisableRow(projectRow) ? -1 : 0">
                                          </div>
                                      </td>

                                      <td>
                                          <div class="mb-2">
                                              <input matTooltipPosition="above" placeholder="Current" 
                                              [matTooltip]="checkErrorState(projectRow,'turbidity') ? 'Turbidity 0 upto 5 digits' : null" 
                                              [ngClass]="{'falseVal': checkErrorState(projectRow,'turbidity')}" 
                                              formControlName="turbidity" 
                                                   (keydown)="setMinMaxValidations($event, turbidityW, 0, maxNumVaditaion?.FiveDigit, '')" #turbidityW
                                                  [tabindex]="getDisableRow(projectRow) ? -1 : 0">
                                          </div>
                                          <div>
                                              <input matTooltipPosition="above" placeholder="Expected" 
                                              [matTooltip]="checkErrorState(projectRow,'turbidity_expected') ? 'Turbidity expected 0 upto 5 digits' : null" 
                                              [ngClass]="{'falseVal': checkErrorState(projectRow,'turbidity_expected')}" 
                                              formControlName="turbidity_expected"
                                              (keydown)="setMinMaxValidations($event, turbidityExpW, 0, maxNumVaditaion?.FiveDigit, '')" #turbidityExpW
                                            [tabindex]="getDisableRow(projectRow) ? -1 : 0">
                                          </div>
                                      </td>
                                      <td>
                                          <input class="h-4" formControlName="details" [ngClass]="{'falseVal': checkErrorState(projectRow,'details')}" matTooltipPosition="above" [matTooltip]="checkErrorState(projectRow,'details') ? 'Enter 1-200 Characters' : null" type="text" 
                                          [tabindex]="getDisableRow(projectRow) ? -1 : 0"/>
                                      </td>
                                      <td class="rdDiv" [ngClass]="{'disableInputs': completeWaterRejData?.uaData[projectIndex]?.isDisabled, 'enableInputs': !completeWaterRejData?.uaData[projectIndex]?.isDisabled}">
                                          <input formControlName="dprPreparation" (change)="onChange($event.target.value, waterBodiesIndex, 'waterB', projectIndex)" type="radio" class="rdBtn" value="Yes" [tabindex]="getDisableRow(projectRow) ? -1 : 0">&nbsp;
                                          <label class="custom-control-label" for="dprPreparation1{{waterBodiesIndex}}" [matTooltip]="checkErrorState(projectRow,'dprPreparation') ? 'Select yes or No' : null" [ngClass]="{'ph-error-sp': checkErrorState(projectRow,'dprPreparation')}">Yes</label>&nbsp;&nbsp;
                                          <input formControlName="dprPreparation" (change)="onChange($event.target.value, waterBodiesIndex, 'waterB', projectIndex)" type="radio" class="rdBtn" value="No">&nbsp;
                                          <label class="custom-control-label" for="dprPreparation1{{waterBodiesIndex}}" [matTooltip]="checkErrorState(projectRow,'dprPreparation') ? 'Select yes or No' : null" [ngClass]="{'ph-error-sp': checkErrorState(projectRow,'dprPreparation')}" [tabindex]="getDisableRow(projectRow) ? -1 : 0">No</label>
                                      </td>
                                      <td class="rdDiv" [ngClass]="{'disableInputs':  completeWaterRejData?.uaData[projectIndex]?.isDisabled, 'enableInputs': ! completeWaterRejData?.uaData[projectIndex]?.isDisabled}">
                                        <div *ngIf="waterRejenuvation?.value?.uaData[projectIndex]?.waterBodies[waterBodiesIndex]?.dprPreparation == 'Yes'">
                                          <input formControlName="dprCompletion" (change)="onChange($event.target.value, waterBodiesIndex, 'waterBCom', projectIndex)" type="radio" class="rdBtn" value="Yes" [tabindex]="getDisableRow(projectRow) ? -1 : 0">&nbsp;
                                        <label class="custom-control-label" for="dprCompletion1{{waterBodiesIndex}}" [matTooltip]="checkErrorState(projectRow,'dprCompletion') ? 'Select yes or No' : null" [ngClass]="{'ph-error-sp': checkErrorState(projectRow,'dprCompletion')}">Yes</label>&nbsp;&nbsp;
                                        <input formControlName="dprCompletion" (change)="onChange($event.target.value, waterBodiesIndex, 'waterBCom', projectIndex)" type="radio" class="rdBtn" value="No" [tabindex]="getDisableRow(projectRow) ? -1 : 0">&nbsp;
                                        <label class="custom-control-label" for="dprCompletion1{{waterBodiesIndex}}" [matTooltip]="checkErrorState(projectRow,'dprCompletion') ? 'Select yes or No' : null" [ngClass]="{'ph-error-sp': checkErrorState(projectRow,'dprCompletion')}">No</label>
                                        </div>

                                    </td>
                                      <td [ngClass]="{'disableInputs':  completeWaterRejData?.uaData[projectIndex]?.isDisabled, 'enableInputs': ! completeWaterRejData?.uaData[projectIndex]?.isDisabled}">
                                          <div class="" *ngIf="waterRejenuvation?.value?.uaData[projectIndex]?.waterBodies[waterBodiesIndex]?.dprCompletion == 'Yes'">
                                              <input matTooltipPosition="above" class="workCompletion" [matTooltip]="checkErrorState(projectRow,'workCompletion') ? 'Min value 0 and Max 100' : null"
                                               [ngClass]="{'falseVal': checkErrorState(projectRow,'workCompletion')}" formControlName="workCompletion" 
                                               type="number"  (change)="warningForAmount($event.target.value)" [tabindex]="getDisableRow(projectRow) ? -1 : 0">
                                          </div>
                                      </td>

                                      <td class="icon">
                                          <a [ngClass]="{'anDisable': getDisableRow(projectRow), 'disableInputs': completeWaterRejData?.uaData[projectIndex]?.isDisabled}" (click)="deleteRow(projectIndex, waterBodiesIndex, 0, 'waterBodies')" class="d-i" [tabindex]="getDisableRow(projectRow) ? -1 : 0">
                                              <mat-icon aria-hidden="false">
                                                  <img src="../../../../assets/form-icon/Icon material-delete.svg">
                                              </mat-icon>
                                          </a>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>

                          </div>
                          <div class="addMoreDiv text-right mb-2">
                            <button type="button" class="btn" (click)="addRow(projectIndex, 0, 'waterBodies')" id="addmoreBtn"
                            [disabled]="waterRejRes?.tables[0]?.addProjectAvailable || completeWaterRejData?.uaData[projectIndex]?.isDisabled">
                                <span class="material-icons addIcon" style=""> add_circle_outline</span>
                                Add more
                            </button>
                         </div>

                          <div class="mt-3">
                            <h4 class="tb-head" style="">{{waterRejRes?.tables[1]?.tableName}}<span class="text-danger">*</span>
                            </h4>
                          </div>
                          <div class="table-responsive">
                            <table class="table custom-position tb2">
                              <thead>
                                <tr class="thHeader">
                                    <th scope="col" width="{{itemTh?.width}}" *ngFor="let itemTh of waterRejRes?.tables[1]?.columns">
                                        <span>{{itemTh?.displayName}}</span><br *ngIf="itemTh.key == 'location'">
                                        <span *ngIf="itemTh.key == 'location'">Latitude and Longitude</span>
                                    </th>
                                    <th scope="col"></th>
                                </tr>
                              </thead>
                              <tbody formArrayName="reuseWater" *ngFor="let projectRow of getSubControlsWaterReuse(projectIndex); let reuseWaterIndex=index">

                                  <tr [formGroupName]="reuseWaterIndex" [ngClass]="{'anDisable': getDisableRow(projectRow)}">
                                      <td class="t-i">
                                          <span>{{1+reuseWaterIndex}}</span>
                                      </td>
                                      <td>
                                          <input formControlName="name" matTooltipPosition="above" [ngClass]="{'falseVal': checkErrorState(projectRow,'name')}" 
                                          [matTooltip]="checkErrorState(projectRow,'name') ? 'Enter 1-50 Characters' : null" type="text" [tabindex]="getDisableRow(projectRow) ? -1 : 0" />
                                      </td>
                                      <td class="latLong">
                                          <input matTooltipPosition="above" [matTooltip]="checkErrorState(projectRow,'lat') ? 'Enter Valid lat' : null" [ngClass]="{'falseVal': checkErrorState(projectRow,'lat')}" formControlName="lat" (blur)="latLong($event.target.value,projectRow,'lat')" pattern="^\d*(\.\d{0,6})?$"
                                               min="1" [tabindex]="getDisableRow(projectRow) ? -1 : 0">
                                          <input matTooltipPosition="above" [matTooltip]="checkErrorState(projectRow,'long') ? 'Enter Valid long' : null" [ngClass]="{'falseVal': checkErrorState(projectRow,'long')}" formControlName="long" (blur)="latLong($event.target.value,projectRow,'long')"
                                              class="ms-2" type="text" min="1" pattern="^\d*(\.\d{0,6})?$" [tabindex]="getDisableRow(projectRow) ? -1 : 0">
                                          <a (click)="openMap(reuseWaterIndex,projectIndex,'reuseWater')" class="d-i" [ngClass]="{'disableInputs': completeWaterRejData?.uaData[projectIndex]?.isDisabled }" [tabindex]="getDisableRow(projectRow) ? -1 : 0">
                                              <mat-icon aria-hidden="false">
                                                  <img src="../../../../assets/form-icon/GOOGLE_MAPS_LOGO_JPG.png">
                                              </mat-icon>
                                          </a>
                                      </td>
                                      <td>
                                          <input matTooltipPosition="above" [matTooltip]="checkErrorState(projectRow,'stp') ? 'min 0 max 1000 allowed' : null"
                                           [ngClass]="{'falseVal': checkErrorState(projectRow,'stp')}" 
                                           formControlName="stp"  
                                           (keydown)="setMinMaxValidations($event, stpWr, 0, 1000, '', 'exactNum')" #stpWr [tabindex]="getDisableRow(projectRow) ? -1 : 0">
                                      </td>
                                      <td>
                                          <input formControlName="treatmentPlant" matTooltipPosition="above" 
                                          [ngClass]="{'falseVal': checkErrorState(projectRow,'treatmentPlant')}" 
                                          [matTooltip]="checkErrorState(projectRow,'treatmentPlant') ? 'min 0 max 1000 allowed' : null" 
                                           (keydown)="setMinMaxValidations($event, tretWr, 0, 1000, '', 'exactNum')"
                                           #tretWr [tabindex]="getDisableRow(projectRow) ? -1 : 0">
                                      </td>
                                      <td>
                                          <input formControlName="targetCust" matTooltipPosition="above" 
                                          [ngClass]="{'falseVal': checkErrorState(projectRow,'targetCust')}" 
                                          [matTooltip]="checkErrorState(projectRow,'targetCust') ? 'value 0 upto 7 digis' : null" 
                                           (keydown)="setMinMaxValidations($event, tartgetWr, 0, maxNumVaditaion?.SevenDigit, '')" #tartgetWr [tabindex]="getDisableRow(projectRow) ? -1 : 0">
                                      </td>
                                      <td class=" rdDiv" [ngClass]="{'disableInputs': completeWaterRejData?.uaData[projectIndex]?.isDisabled, 'enableInputs': !completeWaterRejData?.uaData[projectIndex]?.isDisabled}">
                                          <input formControlName="dprPreparation" (change)="onChange($event.target.value, reuseWaterIndex, 'rWater', projectIndex)" type="radio" class="rdBtn" value="Yes" [tabindex]="getDisableRow(projectRow) ? -1 : 0">&nbsp;
                                          <label class="custom-control-label" for="dprPreparation2{{reuseWaterIndex}}" [ngClass]="{'ph-error-sp': checkErrorState(projectRow,'dprPreparation')}">Yes</label>&nbsp;&nbsp;
                                          <input formControlName="dprPreparation" (change)="onChange($event.target.value, reuseWaterIndex, 'rWater', projectIndex)" type="radio" class="rdBtn" value="No">&nbsp;
                                          <label class="custom-control-label" for="dprPreparation2{{reuseWaterIndex}}" [ngClass]="{'ph-error-sp': checkErrorState(projectRow,'dprPreparation')}" [tabindex]="getDisableRow(projectRow) ? -1 : 0">No</label>
                                      </td>
                                      <td class="rdDiv" [ngClass]="{'disableInputs': completeWaterRejData?.uaData[projectIndex]?.isDisabled, 'enableInputs': !completeWaterRejData?.uaData[projectIndex]?.isDisabled}">
                                        <div class="" *ngIf="waterRejenuvation?.value?.uaData[projectIndex]?.reuseWater[reuseWaterIndex]?.dprPreparation == 'Yes'">
                                        <input formControlName="dprCompletion" (change)="onChange($event.target.value, reuseWaterIndex, 'rWaterCom', projectIndex)" type="radio" class="rdBtn" value="Yes" [tabindex]="getDisableRow(projectRow) ? -1 : 0">&nbsp;
                                        <label class="custom-control-label" for="dprCompletion2{{reuseWaterIndex}}" [ngClass]="{'ph-error-sp': checkErrorState(projectRow,'dprCompletion')}">Yes</label>&nbsp;&nbsp;
                                        <input formControlName="dprCompletion" (change)="onChange($event.target.value, reuseWaterIndex, 'rWaterCom', projectIndex)" type="radio" class="rdBtn" value="No" [tabindex]="getDisableRow(projectRow) ? -1 : 0">&nbsp;
                                        <label class="custom-control-label" for="dprCompletion2{{reuseWaterIndex}}" [ngClass]="{'ph-error-sp': checkErrorState(projectRow,'dprCompletion')}">No</label>
                                        </div>
                                    </td>
                                      <td [ngClass]="{'disableInputs': completeWaterRejData?.uaData[projectIndex]?.isDisabled, 'enableInputs': !completeWaterRejData?.uaData[projectIndex]?.isDisabled}">
                                          <div class="mb-2" *ngIf="waterRejenuvation?.value?.uaData[projectIndex]?.reuseWater[reuseWaterIndex]?.dprCompletion == 'Yes'">
                                              <input matTooltipPosition="above" [matTooltip]="checkErrorState(projectRow,'workCompletion') ? 'Min value 0 and Max 100' : null"
                                               [ngClass]="{'falseVal': checkErrorState(projectRow,'workCompletion')}" formControlName="workCompletion"
                                              type="number" (change)="warningForAmount($event.target.value)" [tabindex]="getDisableRow(projectRow) ? -1 : 0">
                                          </div>
                                      </td>
                                      <td class="iconSliAndReuse">
                                          <a [ngClass]="{'anDisable': getDisableRow(projectRow), 'disableInputs': completeWaterRejData?.uaData[projectIndex]?.isDisabled}"  (click)="deleteRow(projectIndex, reuseWaterIndex, 1, 'reuseWater')" class="d-i" [tabindex]="getDisableRow(projectRow) ? -1 : 0">
                                              <mat-icon aria-hidden="false">
                                                  <img src="../../../../assets/form-icon/Icon material-delete.svg">
                                              </mat-icon>
                                          </a>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                          </div>
                          <div class="addMoreDiv text-right mb-2">
                            <button type="button" class="btn" (click)="addRow(projectIndex, 1, 'reuseWater')" id="addmoreBtn" [disabled]="waterRejRes?.tables[1]?.addProjectAvailable || completeWaterRejData?.uaData[projectIndex]?.isDisabled">
                                <span class="material-icons addIcon"> add_circle_outline</span>
                                Add more
                            </button>
                         </div>

                          <div class="mt-3" style="">
                              <h4 class="tb-head" style="">{{waterRejRes?.tables[2]?.tableName}}<span class="text-danger">*</span>
                              </h4>
                          </div>
                          <div class="table-responsive">
                            <table class="table custom-position tb3">
                              <thead>
                                <tr class="thHeader">
                                    <th scope="col" width="{{itemTh?.width}}" *ngFor="let itemTh of waterRejRes?.tables[2]?.columns">
                                        <span>{{itemTh?.displayName}}</span><br *ngIf="itemTh?.key == 'location'">
                                        <span *ngIf="itemTh?.key == 'location'">Latitude and Longitude</span>
                                        <span *ngIf="itemTh?.info"><img matTooltip="{{itemTh?.info}}" style="" class="infoIcon" src="../../../../assets/ulbform/info_black_24dp.svg"></span>
                                    </th>
                                    <th scope="col"></th>
                                </tr>
                              </thead>
                              <tbody formArrayName="serviceLevelIndicators" *ngFor="let projectRow of getSubControlsServiceLevelIndicator(projectIndex); let sliIndex=index">
                                  <tr [formGroupName]="sliIndex" [ngClass]="{'anDisable': getDisableRow(projectRow)}">
                                      <td class="t-i">
                                          <span>{{1+sliIndex}}</span>
                                      </td>
                                      <td>
                                          <input formControlName="name" type="text" matTooltipPosition="above" [ngClass]="{'falseVal': checkErrorState(projectRow,'name')}"
                                           [matTooltip]="checkErrorState(projectRow,'name') ? 'Enter 1-50 Characters' : null"
                                           [tabindex]="getDisableRow(projectRow) ? -1 : 0"/>
                                      </td>
                                      <td>
                                          <input formControlName="component" type="text" 
                                          matTooltipPosition="above" [ngClass]="{'falseVal': checkErrorState(projectRow,'component')}" 
                                          [matTooltip]="checkErrorState(projectRow,'component') ? 'Enter 1-200 Characters' : null"
                                          [tabindex]="getDisableRow(projectRow) ? -1 : 0">
                                      </td>
                                      <td>
                                          <select [disabled]="completeWaterRejData?.uaData[projectIndex]?.isDisabled" (change)="indicatorSet($event, projectIndex, sliIndex)" [ngClass]="{'falseVal': checkErrorState(projectRow,'indicator')}"
                                          [tabindex]="getDisableRow(projectRow) ? -1 : 0">
                                             <option value="">--Select Indicator--</option>
                                                <option
                                                    [selected]="Uas[projectIndex].value['serviceLevelIndicators'][sliIndex]['indicator'] == Indicator?.lineItemId"
                                                     *ngFor="let Indicator of waterIndicators" [value]="Indicator?.lineItemId">
                                                        {{Indicator?.name}}</option>
                                             </select>
                                      </td>
                                      <td>
                                          <input formControlName="existing" matTooltipPosition="above" [matTooltip]="'Range should be acc. to selected indicator'"
                                           (keydown)="setMinMaxValidations($event, existing, '', '', Uas[projectIndex].value['serviceLevelIndicators'][sliIndex]['indicator'], 'exactNum')" #existing
                                           [tabindex]="getDisableRow(projectRow) ? -1 : 0" [ngClass]="{'falseVal': checkErrorState(projectRow,'existing')}">
                                      </td>
                                      <td>
                                          <input formControlName="after" matTooltipPosition="above" [matTooltip]="'Range should be acc. to selected indicator'"
                                          (keydown)="setMinMaxValidations($event, above, '', '', Uas[projectIndex].value['serviceLevelIndicators'][sliIndex]['indicator'], 'exactNum')" #above
                                          [tabindex]="getDisableRow(projectRow) ? -1 : 0" [ngClass]="{'falseVal': checkErrorState(projectRow,'after')}">
                                      </td>
                                      <td>
                                          <input formControlName="cost" matTooltipPosition="above" [matTooltip]="'cost 0 upto 15 digits'" 
                                           (keydown)="setMinMaxValidations($event, costSli, 0, maxNumVaditaion?.fifteenDigit, '')" #costSli
                                           [tabindex]="getDisableRow(projectRow) ? -1 : 0" [ngClass]="{'falseVal': checkErrorState(projectRow,'cost')}">
                                      </td>
                                      <td class="rdDiv" [ngClass]="{'disableInputs': completeWaterRejData?.uaData[projectIndex]?.isDisabled, 'enableInputs': !completeWaterRejData?.uaData[projectIndex]?.isDisabled}">
                                          <input formControlName="dprPreparation" (change)="onChange($event.target.value, sliIndex, 'sWater', projectIndex)" type="radio" class="rdBtn" value="Yes" [tabindex]="getDisableRow(projectRow) ? -1 : 0">&nbsp;
                                          <label class="custom-control-label" for="dprPreparation3{{sliIndex}}" [ngClass]="{'ph-error-sp': checkErrorState(projectRow,'dprPreparation')}">Yes</label>&nbsp;&nbsp;
                                          <input formControlName="dprPreparation" (change)="onChange($event.target.value, sliIndex, 'sWater', projectIndex)" type="radio" class="rdBtn" value="No" [tabindex]="getDisableRow(projectRow) ? -1 : 0">&nbsp;
                                          <label class="custom-control-label" for="dprPreparation3{{sliIndex}}" [ngClass]="{'ph-error-sp': checkErrorState(projectRow,'dprPreparation')}">No</label>
                                      </td>
                                      <td class="rdDiv" [ngClass]="{'disableInputs': completeWaterRejData?.uaData[projectIndex]?.isDisabled, 'enableInputs': !completeWaterRejData?.uaData[projectIndex]?.isDisabled}">
                                        <div class="" *ngIf="waterRejenuvation?.value?.uaData[projectIndex]?.serviceLevelIndicators[sliIndex]?.dprPreparation == 'Yes'">
                                        <input formControlName="dprCompletion" (change)="onChange($event.target.value, sliIndex, 'sWaterCom', projectIndex)" type="radio" class="rdBtn" value="Yes" [tabindex]="getDisableRow(projectRow) ? -1 : 0">&nbsp;
                                        <label class="custom-control-label" for="dprCompletion3{{sliIndex}}" [ngClass]="{'ph-error-sp': checkErrorState(projectRow,'dprCompletion')}">Yes</label>&nbsp;&nbsp;
                                        <input formControlName="dprCompletion" (change)="onChange($event.target.value, sliIndex, 'sWaterCom', projectIndex)" type="radio" class="rdBtn" value="No" [tabindex]="getDisableRow(projectRow) ? -1 : 0">&nbsp;
                                        <label class="custom-control-label" for="dprCompletion3{{sliIndex}}" [ngClass]="{'ph-error-sp': checkErrorState(projectRow,'dprCompletion')}">No</label>
                                        </div>
                                    </td>
                                      <td [ngClass]="{'disableInputs': completeWaterRejData?.uaData[projectIndex]?.isDisabled, 'enableInputs': !completeWaterRejData?.uaData[projectIndex]?.isDisabled}">
                                          <div class="mb-2" *ngIf="waterRejenuvation?.value?.uaData[projectIndex]?.serviceLevelIndicators[sliIndex]?.dprCompletion == 'Yes'">
                                              <input matTooltipPosition="above"
                                              [matTooltip]="checkErrorState(projectRow,'workCompletion') ? 'Min value 0 and Max 100' : null"
                                               [ngClass]="{'falseVal': checkErrorState(projectRow,'workCompletion')}"
                                               formControlName="workCompletion" type="number" (change)="warningForAmount($event.target.value)"
                                               [tabindex]="getDisableRow(projectRow) ? -1 : 0">
                                          </div>
                                          <p>
                                          </p>
                                      </td>
                                      <!-- *ngIf="1+sliIndex>1" -->
                                      <td class="iconSliAndReuse">
                                          <a [ngClass]="{'anDisable': getDisableRow(projectRow), 'disableInputs': completeWaterRejData?.uaData[projectIndex]?.isDisabled}" (click)="deleteRow(projectIndex, sliIndex, 2, 'serviceLevelIndicators')" class="d-i" [tabindex]="getDisableRow(projectRow) ? -1 : 0">
                                              <mat-icon aria-hidden="false">
                                                  <img src="../../../../assets/form-icon/Icon material-delete.svg">
                                              </mat-icon>
                                          </a>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>

                          </div>
                          <div class="addMoreDiv text-right mb-2">
                            <button type="button" class="btn" (click)="addRow(projectIndex, 2, 'serviceLevelIndicators')" id="addmoreBtn" [disabled]="waterRejRes?.tables[2]?.addProjectAvailable || completeWaterRejData?.uaData[projectIndex]?.isDisabled">
                                <span class="material-icons addIcon"> add_circle_outline</span>
                                Add more
                            </button>
                         </div>
                          </div>
                            <!-- review process for MoHUA -->
                         <div class="action-div p-3">
                             <app-state-common-review [canTakeAction]="completeWaterRejData?.canTakeAction" [question]="completeWaterRejData?.uaData[projectIndex]"
                                [formData]="completeWaterRejData" (formChangeEventEmit)="actionFormChanges($event)" 
                                [actionPayload]="actionPayload" [isActionSubmitted]="isActionSubmitted" [formName]="'projects_wss'">
                            </app-state-common-review>
                        </div>

                        </div>
                    </div>
                </div>

            </div>
            <!-- -----declaration file------- -->
            <div class="card">
                <div class="card-body">
                  <div class="row" >
                    <div class="col-sm-6 head-l">
                        Declaration Upload
                    </div>
                    <div class="col-sm-6">
                        <div class="">
                            <input #bs_pdf1 style="display: none;" onclick="value=null;" (change)="uploadFile($event, 'pdf', '', '', 'pdf')"
                            type="file" accept=".pdf" #file>
                            <button (click)="bs_pdf1.click()" class="btn btn-primary" 
                             [disabled]="isDisabled">Upload PDF</button>
                          </div>
                          <div *ngIf="submitted && f?.declaration?.status == 'INVALID'" class="customDate text-danger">
                            File is required*.
                        </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="mt-3" *ngIf="waterRejenuvation?.value?.declaration?.url">
                                <a href="{{waterRejenuvation?.value?.declaration?.url | toStorageUrl}}" target="_blank">
                                    {{waterRejenuvation?.value?.declaration.name}}
                                </a>
                                <span class="ms-3" [ngClass]="{'disableInputs': isDisabled }">
                                    <span class="material-icons file-icon-cross"
                                        matTooltip="Remove the upload file"
                                        (click)="removeUploadedFile('', '' )">cancel</span>
                                </span>
                                </div> 
                                                                            
                        </div>
                  </div>
              
                </div>
             </div>

               <!-- final status view  -->
             <div class="row mt-3" *ngIf="completeWaterRejData?.statusId == 4 || completeWaterRejData?.statusId == 6 || completeWaterRejData?.statusId == 7">
                 <div class="col-sm-12">
                 <div class="card">
                    <div class="card-body fw-bold">
                        Form Status : {{completeWaterRejData?.status}}
                    </div>
                 </div>
                </div>
              </div>
            <!-- --------all buttons-------- -->
            <div class="row mb-3 mt-3" style="">
                <div class="col-sm-5">
                    <button [routerLink]="backRouter" routerLinkActive="router-link-active" class="btn btn-c-back">
              <- Previous Form
            </button>
                </div>
                <div class="col-sm-7 text-end">
                    <button class="btn btn-primary" *ngIf="userData?.role == 'STATE'" (click)="saveButtonClicked(true)" type="button" [disabled]="isDisabled || isCompleteUploading">
                Save as Draft
              </button>
                    <button class="btn btn-primary ms-2" *ngIf="userData?.role == 'STATE'" (click)="saveButtonClicked(false)" type="button" [disabled]="isDisabled || isCompleteUploading">
                Submit
              </button>
                <button class="btn btn-primary ms-3" *ngIf="userData?.role == 'MoHUA'" type="button" [disabled]="!completeWaterRejData?.canTakeAction" (click)="saveAction()">Submit</button>
                <button class="btn btn-c-next ms-2" [routerLink]="nextRouter" type="button">Next Form -></button>
                </div>
            </div>

        </form>
    </div>
</div>




<div class="text-center p-4" *ngIf="isApiInProgress">
    <app-pre-loader-new></app-pre-loader-new>
</div>

