<div class="container-fluid" id="gtcpre" #gtcpre>
    <div class="row header-p">
        <div class="col-sm-12 text-end">
            <a (click)="closeMat()" class="pull-right">
                <img src="../../../../../assets/form-icon/Icon material-close.svg">
            </a>
        </div>
        <div class="col-sm-12 text-center heading-p">
            <span style="display: block;">
                Submissions for 15th FC grant for FY 2022-23
            </span>

            <b class="sub-h"> {{stateName}}</b>
        </div>
    </div>
    <div class="row" style="margin-top: 1rem;">
        <div class="col-sm-6">
            <p class="form-status">
                <b>Form Current Status:</b>&nbsp;&nbsp;{{formStatus}}
            </p>
        </div>
        <div class="col-sm-6 text-end h-cls">
            <button id="donwloadButton" class="btn btn-primary h-cls" (click)="clickedDownloadAsPDF(templateSave)">Download as
                PDF</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 form-h text-center">
            <p>Property Tax Floor Rate Notification</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 questionClass qus-h">
                            <span>(A) State Act/GO/Notification<sup class="text-danger">*</sup>
                            </span>
                        </div>
                        <div class="col-6 questionClass opacityClass ans-h">
                            <a href="{{data?.dataPreview?.stateNotification?.url | toStorageUrl}}" target="_blank">{{data?.dataPreview?.stateNotification?.name}}</a>
                            <span *ngIf="!data?.dataPreview?.stateNotification?.name">N/A</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 questionClass qus-h">
                            <span class="fontStyle">(B) Act Page Number<sup class="text-danger">*</sup>
                            </span>
                        </div>
                        <div class="col-6 questionClass opacityClass ans-h">
                            {{data?.dataPreview?.actPage}}
                            <span *ngIf="!data?.dataPreview?.actPage">N/A</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 questionClass qus-h">
                            <span>(C) Minimum Floor rate details/Value card
                            </span>
                        </div>
                        <div class="col-6 questionClass opacityClass ans-h">
                            <a href="{{data?.dataPreview?.floorRate?.url | toStorageUrl}}" target="_blank">{{data?.dataPreview?.floorRate?.name}}</a>
                            <span *ngIf="!data?.dataPreview?.floorRate?.name">N/A</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 questionClass qus-h">
                            <span>(D) Rules, by laws issued for operationalization of the notification
                            </span>
                        </div>
                        <div class="col-6 questionClass opacityClass ans-h">
                            <a href="{{ data?.dataPreview?.comManual?.url | toStorageUrl}}" target="_blank">{{data?.dataPreview?.comManual?.name}}</a>
                            <span *ngIf="!data?.dataPreview?.comManual?.name">N/A</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 questionClass qus-h">
                            <span>(E) Number of extant acts for municipal bodies<sup class="text-danger">*</sup>
                            </span>
                        </div>
                        <div class="col-6 questionClass opacityClass ans-h">
                            {{data?.dataPreview?.actMunicipal}}
                            <span *ngIf="!data?.dataPreview?.actMunicipal">N/A</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 questionClass qus-h">
                            <span>(F) Please write names of all the extant acts<sup class="text-danger">*</sup>
                            </span>
                        </div>
                        <div class="col-6 questionClass opacityClass ans-h">
                            {{data?.dataPreview?.extantAct}}
                            <span *ngIf="!data?.dataPreview?.extantAct">N/A</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 questionClass qus-h">
                            <span>(G) Upload those extant acts to the portal<sup class="text-danger">*</sup>
                            </span>
                        </div>
                        <div class="col-6 questionClass opacityClass ans-h">
                            <a href="{{data?.dataPreview?.extantActDoc?.url | toStorageUrl}}" target="_blank">
                                {{data?.dataPreview?.extantActDoc?.name}}</a>
                            <span *ngIf="!data?.dataPreview?.extantActDoc?.name">N/A</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #templateSave>
    <div class="modal-body text-center alert">
        <div class="modal-header">
            <h4 class="modal-title pull-left" style="color: red;"> <i>Alert!</i> </h4>
            <div class="text-right">
                <a (click)="alertClose()">
                    <img src="../../../../assets/form-icon/close-red-icon.png">
                </a>
            </div>
        </div>

        <p style="margin-top: 8px;">
            You have some unsaved changes on this page. Do you wish to save your data as draft?
        </p>
        <div class="row">
            <div class="col-sm-12 text-end">
                <button type="button" class="btn btn-secondary " (click)="stay()">Stay</button>
                <button type="button" class="btn btn-success " style="margin-left: 6px; width: auto; background-color: #5cb85c" (click)="proceed()">
            Save & Proceed</button>
            </div>

        </div>
    </div>
</ng-template>