.input-group {
  width: 33%;
  margin-right: 2%;
  margin-top: 2%;
  display: inline-block;
  .form-control {
    border-radius: 4px;
  }
}

form {
  display: flex;
  flex-wrap: wrap;
}

.error-message,
.success-message {
  width: 100%;
}

.form-field-error-message {
  text-align: left;
}
