<h4>Grant Transfer Certificate Uploaded by State Nodal Officer</h4>
<div class="row">
    <div class=" col-sm-5 col-lg-4 col-md-4" *ngFor="let number of data">

        <div class="resourceCards ">

            <div class="individualResource ">
                <div style="position:relative; ">
                    <pdf-viewer [src]="number.pdfUrl | toStorageUrl" [render-text]="false" [show-all]="false"
                        style="display: block; height:300px" [page]="1" [zoom-scale]="'page-fit'"
                        [original-size]="false">

                        <!-- <img src="../../../../assets/ulbform/overview/Picture2.png" class="card-img-top " alt="... "> -->
                        <!-- <div class="card-body "> -->
                    </pdf-viewer>
                </div>
                <h5 class="card-title " style="text-align: center;  font-size: 18px; ">
                    <a href="{{number.pdfUrl | toStorageUrl}}" target="_blank">{{number.name}}</a></h5>
            </div>



            <!-- <h5 class="card-title " style="text-align: center; "><a href={{number.pdfUrl}}
                            target="_blank">{{number.pdfName}}</a></h5> -->

            <!-- </div> -->
        </div>
    </div>
</div>



<div class="row d-flex" style="margin-top: 2rem; margin-bottom: 1rem;">
    <div class="col-sm-6 col-md-6 col-lg-6 text-start">
        <button class="btn backButton" [routerLink]="['../overview']">BACK</button>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 text-end">
        <button class="btn save" [routerLink]="['../utilisation-report']">NEXT</button>
    </div>
</div>