.profile_wrapper {
  background-attachment: rgb(140, 215, 245);
  margin-left: 0%;

  .input-group {
    width: 50%;
    margin-top: 2%;

    .form-control {
      border-radius: 4px;
    }
  }
}

.self-profile {
  width: 60vw;
  margin: auto;
}
