::ng-deep .mat-radio-container {
  display: none !important;
}

::ng-deep .mat-radio-checked {
  background-color: #ffc500 !important;
  color: white;
}

:host ::ng-deep .mat-radio-button {
  // width: 72px;
  background-color: #CFCFCF;
 // padding: 0.5rem 0.85rem .5rem 0.5rem !important;
  margin-right: 1rem !important;
}
:host :ng-deep .mat-radio-label-content {
  padding: 0 0 7px 5px;
}
.btn-upload {
  background-color: #059b9a!important;
  color: #fff;
  border: 0;
}
.btn-save {
  background-color: #059b9a!important;
  color: #fff;
}
.btn-next {
  background-color: #0f1f40 !important;
  color: #fff;
}
.btn-pre {
  background-color: #CFCFCF;
}
.mr1 {
  margin-right: 1rem;
}
::ng-deep .mat-info-icon   {
  cursor: pointer;
  vertical-align: middle !important;
  font-size: 18px !important;
  color: #999999;
}
.scoreDiv {
  border: 1px solid transparent;
  background: limegreen;
  border-radius: 4px;
 // margin-top: 1rem;
  padding: 0.2rem 1rem;
  color: #fff;
}
.form-h {
  font-weight: 700;
    font-size: 1.25rem;
}
label {
  font-size: 1rem !important;
}
.f-name{
  color: blue;
}
.file-icon-cross {
  margin-left: 5%;
  vertical-align: middle;
}
.error-msg {
  color: red !important;
  margin-top: 0.25rem;
}
.disable-question-field {
  pointer-events: none !important;
}
.f-name {
  pointer-events: all !important;
}

::ng-deep .mat-radio-label{
  padding: 0.5rem 0.85rem .5rem 0.5rem !important;
}
