<ng-container *ngIf="isViewModeOdf">
  <div class="container-fluid">
    <div class="row mt-3 mb-4">
        <!----------- form name --------->
        <div class="col-sm-12" *ngIf="questionresponse?.data?.length > 0">
           <div class="form-h">
            {{questionresponse?.data[0]?.language[0]?.title}}
            <div class="pre-div float-end d-inline-block">
              <button class="btn btn-upload" (click)="onPreview()">Preview</button>
             </div>
           </div>
        </div>
        <!----------- form description --------->
        <div class="col-sm-12 mt-2" [innerHtml]="questionresponse?.data[0]?.language[0]?.prevStatus">
        </div>
        <!------- form ----------->
        <div class="col-sm-12 mt-4">
            <div class="card">
                <div class="card-body">
                    <ng-container *ngFor="let question of questionData | myfilter; trackBy:identity; let questionIndex = index" [ngTemplateOutlet]="treeNode" [ngTemplateOutletContext]="{ question: question, questionIndex:questionIndex, value: [] }">
                    </ng-container>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
         <!-- save, draft, pre and next button -->
         <div class="col-sm-6">
            <button class="btn btn-pre" >
                <- Previous Form
            </button>
         </div>
         <div class="col-sm-6 d-flex justify-content-end">
            <div class="d-inline-flex mr1" *ngIf="showDraftButton">
                <button class="btn btn-save text-uppercase" [disabled]="isImageUploading || (questionresponse?.data[0]?.language[0].isDraft == false)" (click)="beforeSubmitPrepareResponse(true)" *ngIf="!pdfbuttonhide">
                 Save as Draft
                </button>
            </div>
            <div class="d-inline-flex mr1" *ngIf="showSubmitButton">
                <button class="btn btn-save text-uppercase" [disabled]="isImageUploading || (questionresponse?.data[0]?.language[0].isDraft == false)" (click)="beforeSubmitPrepareResponse()" *ngIf="!pdfbuttonhide">
                 {{buttonText}}
                </button>
            </div>
            <div class="d-inline-flex ">
                <button class="btn btn-next text-uppercase" >
                    Next Form ->
                </button>
            </div>
        </div>
    </div>
</div>

<ng-template #treeNode let-question="question" let-questionIndex="questionIndex" let-value="value">
    <ng-container [ngSwitch]="question?.input_type">
        <div class="row mb-3" *ngSwitchCase="QUESTION_TYPE.TEXT">
            <div class="col-sm-6">
                <label for="{{question.order}}">{{question.title}}<span *ngIf="question?.required"
                        class="text-primary">*</span></label>
            </div>
            <div class="col-sm-6">
                <span class="" [ngClass]="{'disable-question-field disable-question-field-opacity': ( question?.isQuestionDisabled ) }">
                        <input type="{{question?.passwordMode ? 'password' : 'text'}}" autocomplete="{{question.order}}" name="{{question.order}}" appAlphabetOnly
                          class="form-control " pattern="{{question?.pattern}}"
                          placeholder="{{question?.hint}}" minlength="{{question.min}}" appRestrictFirstCharAsSpace
                          [ngClass]="{'invalid-border': question.errorMessage}" maxlength="{{question.max}}" id="{{(question?.forParentValue) ? question?.forParentValue : question.order}}"
                          [value]="question.modelValue ? question.modelValue : ''" (change)="onChange(question, $event)"
                          [ngModelOptions]="{standalone: true}" (focus)="onFocusEvent(question.order)"
                          [readonly]="question?.isQuestionDisabled"/>
                        <ng-container *ngIf="question?.isPassword">
                          <i *ngIf="!question?.passwordMode" [matTooltip]="'Hide'" (click)="question.passwordMode = !question.passwordMode" class="fa fa-eye passwordShowHide pointer-hand" aria-hidden="true"></i>
                          <i *ngIf="question?.passwordMode" [matTooltip]="'Show'" (click)="question.passwordMode = !question.passwordMode" class="fa fa-eye-slash passwordShowHide pointer-hand" aria-hidden="true"></i>
                        </ng-container>
                            <mat-icon class="mat-info-icon" *ngIf="question?.information" [matTooltip]="question?.information">info</mat-icon>
                            </span>
                <div *ngIf="(question?.labelInstruction) && (!question.errorMessage)" class="label-instruction">
                    <em>* {{question?.labelInstruction}}</em>
                </div>
                <div class="col-sm-12  font-weight-500 text-primary error-msg" *ngIf="question.errorMessage">
                    {{question.information ? question.information : question.errorMessage}}
                </div>
            </div>
        </div>
        <div class="row customDropDown mb-3" *ngSwitchCase="QUESTION_TYPE.SINGLE_SELECT">
            <div class="col-sm-6">
                <label for="{{question.order}}">{{question.title}}<span *ngIf="question.required" class="text-primary">*</span></label>
            </div>
            <div class="col-sm-6">
                <mat-form-field class="w-100" [ngClass]="{'disable-question-field': ( question?.isQuestionDisabled ) }" floatLabel="never">
                    <mat-label>{{question.hint}}
                    </mat-label>

                    <mat-select id="{{question.order}}" [(value)]="question.modelValue" [disableOptionCentering]="true" panelClass="custom-mat-select-panel" (closed)="onSelectionClose(question?.order)" [disabled]="question?.isQuestionDisabled" (selectionChange)="getSelectionChange(question, $event)">
                        <div class="w-100 shadow-sm search-filter">
                            <span class="">
                      <input id="{{question.order+'_dropDownSearch'}}" type="text" class="form-control" placeholder="Search {{question.title}}" appRestrictFirstCharAsSpace appAlphabetOnly
                      [(ngModel)]="searchedText" (ngModelChange)="getFilterAnswerOption($event, question);" (keydown)="$event.stopPropagation()">
                    </span>
                        </div>
                        <div class="single-select custom-y-scroll">
                            <mat-option *ngIf="question?.answer_option?.length == 0" disabled>No options available</mat-option>
                            <mat-option *ngFor="let opt of question?.answer_option; trackBy:optionIdentity;" [value]="opt?._id" [disabled]="opt?.disabled" class="mb-2" [matTooltip]="opt.category ? opt.category : opt.name" (click)="opt?.disabled ? '' : onChange(question, {target: {value: opt._id, isSelected: true}})">
                                <div class="d-flex flex-column mt-2" style="line-height: 1.2em;">
                                    <span>{{ opt.category ? opt.category : opt.name }}</span>
                                    <span *ngIf="opt && opt.info" matTooltip="{{opt?.info}}" class="option-info mt-1 text-truncate">{{opt?.info}}</span>
                                </div>
                            </mat-option>
                        </div>
                    </mat-select>
                    <mat-icon class="mat-info-icon" *ngIf="question?.information" [matTooltip]="question?.information" style="font-size: 16px; right: 15px;">info</mat-icon>
                </mat-form-field>

                <div class="font-weight-500 text-primary error-msg" *ngIf="question.errorMessage" style="margin-top: -13px;">
                    {{question.errorMessage ? question.errorMessage : question?.hint}}
                </div>
                <div class="scoreDiv" *ngIf="viewTem == 'odf' || viewTem == 'gfc'">
                  <div>Score = {{(odfGfcMarks || odfGfcMarks === 0) ? odfGfcMarks : 'N/A'}}</div>
                </div>
            </div>
        </div>
        <div class="row mb-3" *ngSwitchCase="QUESTION_TYPE.FILE_UPLOAD">
            <div class="col-sm-6">
                <div>
                    {{question.title}}
                    <span *ngIf="question.required" class="text-primary">*</span>
                    <mat-icon class="file-type-info" *ngIf="question?.information" [matTooltip]="question?.information">info</mat-icon>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="custom-file" (click)="imageInputClickHandler($event, question)" [ngClass]="{'disable-question-field': ( question?.isQuestionDisabled ) }">
                    <input type="file" id="{{question.order}}" class="form-control d-none" [accept]="question?.acceptableType" (change)="docsInputChangeHandler($event, question)" style="background-color: white !important; border-bottom: 0 !important">
                    <button class="btn btn-upload" [disabled]="question?.isQuestionDisabled">{{question.hint}}</button>
                    <label class="custom-file-label pointer-hand d-none" for="customFile" [ngClass]="{'invalid-border': question.errorMessage}">
                             {{question.imgLabel ? question.imgLabel : question?.selectedValue?.length ? question?.selectedValue[0]?.label : 'Choose file'}}</label>
                    <div class="font-weight-500 text-primary error-msg" *ngIf="question.errorMessage">
                        {{question.errorMessage ? question.errorMessage : question?.hint}}
                    </div>

                </div>

            </div>
            <div class="col-sm-12 mt-3">
                <span *ngFor="let file of question?.selectedValue" class="mb-3 ms-2">
                        <ng-container *ngIf="file?.value">
                            <a matTooltip="Click to view the file" class="f-name" target="_blank" href="{{file?.value | toStorageUrl}}">Nishant {{file?.label}}</a>
                            <span class="material-icons file-icon-cross pointer-hand" [ngClass]="{'disable-question-field': ( question?.isQuestionDisabled ) }" matTooltip="Remove the upload file"
                            (click)="removeUploadedFile(question, question?.order)">cancel</span>

                        </ng-container>
                </span>
            </div>
        </div>
        <div class="row mb-3" *ngSwitchCase="QUESTION_TYPE.DATE">
            <div class="col-sm-6">
                <label class="" for="{{question.order}}">{{question.title}}
                    <span *ngIf="question.required"
                    class="text-primary">*</span>
                </label>
            </div>
            <div class="col-sm-6">
                <div class="" [ngClass]="{'disable-question-field disable-question-field-opacity': ( question?.isQuestionDisabled ) }">
                    <input type="date" autocomplete="{{question.order}}" id="{{question.order}}" class="form-control " placeholder="{{question.title}}" [ngClass]="{'invalid-border': question.errorMessage}" name="{{question.order}}" [(ngModel)]="question.modelValue" (change)="onChange(question, $event)"
                        [ngModelOptions]="{standalone: true}" [readonly]="question?.isQuestionDisabled" [min]="question?.min" [max]="question?.max" (keydown)="restrictManuallyEnterDate()">
                    <mat-icon class="mat-info-icon" *ngIf="question?.information" [matTooltip]="question?.information" style="right: 50px;">info</mat-icon>
                </div>
                <div class="font-weight-500 text-primary error-msg" *ngIf="question.errorMessage">
                    {{question.information?question.information:question.errorMessage}}
                </div>
            </div>


        </div>
        <div class="row mb-3" *ngSwitchCase="QUESTION_TYPE.NUMERIC">

                <div class="col-sm-6">
                    <div class="">
                        <label class="" for="{{question.order}}">{{question.title}} <span *ngIf="question.required"
                                 class="text-primary">*</span></label>
                                 <mat-icon class="mat-info-icon" *ngIf="question?.information" [matTooltip]="question?.information">info</mat-icon>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="" [ngClass]="{'disable-question-field': ( question?.isQuestionDisabled ) }">
                        <input digitOnly [decimal]="question?.skipDigitOnlyValidation" type="number" class="form-control " [appNumberLength]="question.max" placeholder="{{question.hint}}" [ngClass]="{'invalid-border': question.errorMessage}" minlength="{{question.min}}" maxlength="{{question.max}}"
                            id="{{question.order}}" [value]="question.modelValue ? question.modelValue : ''" (keyup)="onChange(question, $event)" [ngModelOptions]="{standalone: true}" (focus)="onFocusEvent(question.order)" [appRestrictFirstDigitAsZero]="isAppRestrictFirstDigitAsZero"
                            [readonly]="question?.isQuestionDisabled" />

                    </div>
                    <div *ngIf="(question?.labelInstruction) && (!question.errorMessage)" class="label-instruction">
                        <em>* {{question?.labelInstruction}}</em>
                    </div>
                    <div class="col-sm-12  font-weight-500 text-primary error-msg" *ngIf="question.errorMessage">
                        {{question.information?question.information:question.errorMessage}}
                    </div>
                    <!-- <div class="mt-2">
                        {{question.modelValue | toWord}}
                    </div> -->
                </div>

        </div>

        <div class="row mb-3" *ngSwitchCase="QUESTION_TYPE.RADIO">

                <div class="col-6 mb-3  " [ngClass]="{'invalid-border': question.errorMessage,'disable-question-field': question?.isQuestionDisabled }" style="">
                    {{question.title}}
                    <span *ngIf="question.required" class="text-primary">*</span>
                    <mat-icon class="radio-info-icon" *ngIf="question?.information" [matTooltip]="question?.information">info</mat-icon>
                </div>
                <div class="col-6 d-flex justify-content-between">
                    <mat-radio-group aria-label="Select an option" [ngClass]="{'disable-question-field': ( question?.isQuestionDisabled ) }" [disabled]="question?.isQuestionDisabled">
                        <mat-radio-button class="mr-2 " [disabled]="option?.disabled" *ngFor="let option of question.answer_option;let i=index" [value]="option._id" [checked]="option._id == question.modelValue" (change)="onChange(question, $event, option)">
                            {{option?.name}}
                        </mat-radio-button>


                    </mat-radio-group>
                </div>
                <div class="col-6  font-weight-500 text-primary error-msg" *ngIf="question.errorMessage">
                    {{question.information?question.information:question.errorMessage}}
                </div>

        </div>

    </ng-container>
</ng-template>

</ng-container>
