.dropdown {
    border-radius: 6px
}

.pd-c {
    padding-right: 0.1rem;
    padding-left: 0.25rem;
}

.header2 {
    font-family: "Roboto", Medium;
    color: #373737;
    font-size: 20px;
    margin-top: 0.2rem;
    font-weight: 600;
}