.navbar {
  border-radius: 0px;

  a,
  .navbar-brand {
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  span {
    font-size: 1.2rem !important;
    font-weight: 400;
  }

  .nav > li > a:focus,
  .nav > li > a:hover {
    text-decoration: none;
    background-color: #03a9f4;
  }
}

.container-fluid {
  width: 98%;
  // max-width: 1440px;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .sidebar-for-mobile {
    display: none;
  }
}

.navbar-right > li:first-child {
  position: absolute;
  bottom: 0;
  left: 20px;
  @media screen and (max-width: 800px) and (min-width: 770px) {
    top: 5px;
  }
  @media screen and (max-width: 468px) {
    top: 0;
  }
}

.navbar-right {
  float: right !important;
  margin: 0 !important;

  @media screen and (max-width: 468px) {
    float: left !important;
    margin: 25px 0px !important;
  }
}

.position-sticky {
  position: sticky;
}

::ng-deep {
  .selected-list,
  .mat-form-field-flex {
    border: 1px solid #999 !important;
  }
}

.user-dropdown {
  position: fixed;
  right: 1vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  word-break: break-word;
  padding: 1rem;
  width: 18rem;
  max-width: 18rem;
  align-items: center;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  z-index: 8888888;

  .mat-list-item {
    cursor: pointer;
  }
}

::ng-deep mat-list-item {
  transition: all 0.3s;
  width: 100%;
}

li.navbar-brand {
  padding: 2px 15px;
}

.login-link {
  right: 20px;
  border-radius: 40px;
  font-size: 0.8vw !important;
  padding: 0.1vw 0.8vw;
  border: 1px solid white;
  transition: all 300ms;

  @media screen and (max-width: 480px) {
    //display: none;
    font-size: 7px !important;
    top: 5px;
    padding: 0px 5px;
  }
  &:hover {
    // border: 1px solid green;
    box-shadow: 1px 1px 5px gray;
    transform: scale(1.1);
  }
}

.login-and-profile {
  position: absolute;
  right: 5px;
  top: 8px;
  z-index: 99999;
}

img,
li {
  outline: none;
}

.web-logo {
  cursor: pointer;
  width: 17vw;
  // height: 51px;
}

nav.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navbar-2nd-row {
  border: 0px;
  margin-top: 0%;
  position: sticky;
  top: 1px;
  .nav > li > a {
    padding: 0.8vw 1vw;
    // padding: 10px 15px;

    font-size: 1vw;
    @media screen and (max-width: 800px) and (min-width: 770px) {
      font-size: 10px;
    }
    @media screen and (max-width: 768px) and (min-width: 555px) {
      font-size: 12px;
      padding: 10px 15px 10px 23px;
      font-weight: 400;
    }
    @media screen and (max-width: 551px) and (min-width: 470px) {
      padding: 5px 10px;
      font-size: 12px;
      font-weight: 400;
    }
    @media screen and (max-width: 468px) {
      padding: 15px 15px 15px 30px;
      font-size: 15px;
      font-weight: 400;
    }
  }

  .navbar-brand {
    padding: 1px;
  }
}

:host {
  min-height: 8vh;
  position: sticky !important;
  z-index: 2;
}

::ng-deep {
  .carousel-control .icon-prev:before {
    content: "\2039";
  }
  .carousel-control .icon-next:before {
    content: "\203a";
  }

  .carousel-control .icon-prev:before,
  .carousel-control .icon-next:before {
    font-size: 6rem;
    color: var(--multi-dropdown-color);
  }
  .dropdown-menu {
    border: 0px;
    background: transparent;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    li {
      background: rgba(1, 49, 79, 0.9);
      width: 100%;
      a {
        font-weight: 400;
        font-size: 0.8vw !important;
        @media screen and (max-width: 1024px) and (min-width: 780px) {
          font-size: 10px !important;
        }
        @media screen and (max-width: 768px) and (min-width: 550px) {
          font-size: 12px !important;
          font-weight: 400;
        }
        @media screen and (max-width: 480px) and (min-width: 470px) {
          font-size: 10px !important;
          font-weight: 400;
        }
        @media screen and (max-width: 468px) {
          font-size: 10px !important;
          font-weight: 400;
        }
      }
    }
  }
}
.custom-fa {
  transition: all 0.5s;
  display: none;
  @media screen and (max-width: 768px) {
    display: inline-block;
  }
}

.rotate-180deg {
  transform: rotate(180deg);
}
span.indian-emblem-wrapper.navbar-brand {
  // font-size: 12px !important;
  @media (max-width: 768px) {
    font-size: 2vw !important;
  }

  @media screen and (max-width: 550px) and (min-width: 470px) {
    // font-size: 10px !important;
  }
  @media screen and (max-width: 468px) {
    // font-size: 1.2vh !important;
  }
  @media screen and (max-width: 411px) and (min-width: 360px) {
    // font-size: 8px !important;
  }
  @media screen and (max-width: 375px) {
    // font-size: 7px !important;
  }
  @media screen and (max-width: 330px) {
    // font-size: 6px !important;
  }
  @media screen and (max-width: 280px) {
    // font-size: 5px !important;
  }
  @media screen and (max-width: 240px) {
    // font-size: 4px !important;
  }
  .indian-emblem {
    display: inline-block;
    width: 1vw;
    // height: 31px;

    @media screen and (max-width: 468px) {
      width: 2vw;
    }
  }
}

nav.navbar-1st-row {
  padding-bottom: 0.5% !important;
  // background: red;
}

.navbar-toggler {
  display: none;
}

.d-n-sm {
  display: block;
}
.d-b-lg {
  display: none;
}
.d-b-lg-menu {
  display: none;
}

// .down-icon{
//   position: absolute;
//     top: 13px;
//     background: red;
//     height: 20px;
//     width: 20px;
//     right: 30px;
//     opacity: 1;
// }
@media screen and (max-width: 768px) {
  .navbar-toggler {
    display: block;
    float: left;
    border: 0;
    background: none;
  }
  .navbar span {
    position: relative;
  }

  // .navbar-toggler:after{
  //   position: absolute;
  //   height: 1px;
  //   width: 13px;
  //   display: block;
  //   background: #fff;
  //   top: 4px;
  //   left: -7px;
  // }
  .navbar-toggler-icon {
    height: 2px;
    width: 13px;
    display: block;
    background: #fff;
    top: 4px;
    left: -7px;
    border-radius: 15px;
  }
  .navbar-toggler-icon:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 13px;
    display: block;
    background: #fff;
    top: 4px;
    left: 0px;
    border-radius: 15px;
  }

  .navbar-toggler-icon:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 9px;
    display: block;
    background: #fff;
    top: 8px;
    left: 0px;
    border-radius: 15px;
  }

  .nav-ul {
    width: 100%;
    // background-image: linear-gradient(to right, #095169, #059b9a);
    position: absolute;
    top: 26px;
    height: 100vh;
    min-height: 100vh;
    left: -7px;
    padding: 0;
    transform: translateX(-550px);
    transition: all 0.3s ease;
    &.in {
      transform: translateX(0);
    }
  }
  .navbar-1st-row {
    background-image: linear-gradient(to right, #095169, #059b9a);
    opacity: 1;
    margin: 0;
    width: 100%;
    height: 50px;
    overflow: hidden;
  }
  .navbar-2nd-row {
    position: absolute;
    top: 24px;
    left: 0px;
  }
  .navbar .navbar-brand {
    padding: 2px 15px;
  }
  .d-n-sm {
    display: none;
  }

  .navbar-2nd-row li {
    border-bottom: 1px solid #9a9999;
    box-shadow: 0px 3px 2px 0px #00000045;
    width: 65%;
  }
  .d-b-lg {
    display: block;
    border-bottom: 1px solid #9a999900 !important;
    box-shadow: 0px 3px 2px 0px #00000000 !important;
    padding: 2px 15px 0px 0px !important;
  }
  .d-b-lg img {
    width: 26vw;
  }
  .navbar-header {
    margin-top: -20px;
    margin-right: 0;
  }
  .d-b-lg-menu {
    display: block;
  }
  .navbar-nav > li {
    float: none !important;
  }
}
// max- 768px
@media screen and (max-width: 551px) {
  .analytics-sub-menu {
    transform: translateX(0px);
  }
  .nav-ul {
    top: 0px;
  }
}

:host {
  img.new {
    position: absolute;
    width: 19%;
    right: 0px;
    top: 0px;
    // transform: scale(1.2);
  }
}

// responsive max-width 468px css end
