<div id="previewSlb" #previewSlb>
    <!-- [ngStyle]="{'padding': !data?.fromParent  ? '2% 0% 2.5% 0%' : '.4rem 0 1rem 0'}" -->
    <div style="background: #047474; color: white; position: relative; text-align: center;" [ngClass]="{'slb-pd':!data?.fromParent, 'slb-pd-t' : data?.fromParent }">
        <span *ngIf="!data.fromParent" class="heading-font" style="margin-top: 0px; margin-bottom: 0;">
          Submissions for 15th FC grant for FY 2021-22</span>
        <h3 *ngIf="data?.fromParent" class="slb-h" style="text-align: center">{{slbTitleText}}</h3>
        <h3 *ngIf="!data?.fromParent" class="sub-h-font" style="text-align: center; margin-top: 3px; margin-bottom: 0;">
            {{ data?.ulbName || userDetails.name }}, {{userData.stateName}}
        </h3>
        <i *ngIf="!data?.fromParent" style="position: absolute; right: 3%; top: 14%; transform: scale(1.5);cursor: pointer;" class="fa fa-times" aria-hidden="true" (click)="_matDialog.closeAll()"></i>
    </div>

    <div class="d-flex justify-content-between mt-2" style="padding-left: 2%">
        <p class="form-status" *ngIf="!data.fromParent">
            <b>Application Current Status:</b> {{ formStatusCheck }}
        </p>

        <button *ngIf="!data?.fromParent" id="donwloadButton" style="right: 0%; border-color: unset; outline: none; margin-right: 2%" class="btn btn-primary btn-upload pdf-hide" (click)="clickedDownloadAsPDF(template)">
      Download as PDF
    </button>
    </div>
    <div style="position: relative; padding: 2% 2%" class="scrol">
        <h3 *ngIf="!data?.fromParent" style="text-align: center; margin-top: 5px; margin-bottom: 8px;">{{slbTitleText}}</h3>

        <div class="row" style="margin-top: 1rem; margin-bottom: 1rem;">
            <div class="col-sm-12">
                <span class="quesIn" style="font-weight: normal;">Do you wish to submit Details for Performance Conditions ?<span
                  style="color: red;">*</span>

                </span>
                <span class="quesIn" style="margin-left: 1.5rem; font-weight: normal;">{{blankAns}}</span>
            </div>
        </div>
        <div class="table-responsive">
            <table aria-describedby="Water Waste Management Form" class="t-tb-tr tb-th-s" style="margin-bottom: 5%; width: 100%; border: 1px solid #dedede" cellspacing="0" cellpadding="0">
                <thead style="color: #047474" class="tb-th-s">
                    <th style="padding: 1%" scope="col" class="tb-th-s">Service Level Indicators</th>
                    <th style="padding: 1%; text-align: center" class="tb-th-s" scope="col">Benchmark</th>
                    <th style="padding: 1%; text-align: center" class="tb-th-s" scope="col">
                        Actual Indicator <br /> 2020-21
                    </th>
                    <th style="padding: 1%; text-align: center" class="tb-th-s" *ngFor="let column of targets" scope="col" [innerHTML]="column.name"></th>
                </thead>

                <tbody class="t-tb-tr tb-th-s">
                    <tr *ngIf="services[0] as service" class="t-tb-tr">
                        <td class="td-width tb-th-s">
                            {{ service.name }}
                        </td>
                        <td style="text-align: center;" class="tb-th-s">
                            <span class="benchamark-cell">{{ service.benchmark }}</span>
                        </td>
                        <!-- <td>
                        <svg *ngIf="
                  data?.waterManagement[service.key]?.status ===
                    uploadSTATUS.APPROVED ||
                  (data.status === uploadSTATUS.APPROVED &&
                    data.actionTakenBy === USER_TYPES.MoHUA)
                " xmlns="http://www.w3.org/2000/svg" width="15.932" height="13.936" viewBox="0 0 15.932 13.936">
              <defs>
                <style>
                  .a {
                    fill: #00df76;
                  }

                  .b {
                    fill: #00ab5e;
                  }

                  .c {
                    fill: #fff5f5;
                  }

                  .d {
                    fill: #dfebf1;
                  }
                </style>
              </defs>
              <g transform="translate(-0.083)">
                <g transform="translate(0.083 0)">
                  <ellipse class="a" cx="6.966" cy="6.968" rx="6.966" ry="6.968" transform="translate(0 0)" />
                </g>
                <path class="b" d="M255.694,0h-.009V13.936h.009a6.968,6.968,0,0,0,0-13.936Z"
                  transform="translate(-248.646 0)" />
                <path class="c"
                  d="M108.032,147.2l2.817,2.817a.315.315,0,0,0,.445,0l4.625-4.625a.315.315,0,0,0,0-.445l-.842-.842a.315.315,0,0,0-.445,0l-3.364,3.364a.315.315,0,0,1-.445,0l-1.508-1.508a.315.315,0,0,0-.439-.006l-.839.793A.315.315,0,0,0,108.032,147.2Z"
                  transform="translate(-104.921 -140.093)" />
                <path class="d"
                  d="M258.8,144.1a.315.315,0,0,0-.445,0l-2.672,2.672v2.574l3.959-3.959a.315.315,0,0,0,0-.445Z"
                  transform="translate(-248.646 -140.092)" />
              </g>
            </svg>

                        <svg *ngIf="
                  data?.waterManagement[service.key]?.status ===
                  uploadSTATUS.REJECTED
                " xmlns="http://www.w3.org/2000/svg" width="15.932" height="13.936" viewBox="0 0 15.932 13.936">
              <defs>
                <style>
                  .ared {
                    fill: #e24c4b;
                  }

                  .bred {
                    fill: #d1403f;
                  }

                  .c {
                    fill: #fff;
                  }
                </style>
              </defs>
              <circle class="ared" cx="7" cy="7" r="7" transform="translate(0 0)" />
              <path class="bred"
                d="M62.246,55.248a7.021,7.021,0,0,1-7,7,6.888,6.888,0,0,1-5.469-2.625,6.906,6.906,0,0,0,4.375,1.531,7.021,7.021,0,0,0,7-7,6.906,6.906,0,0,0-1.531-4.375A6.888,6.888,0,0,1,62.246,55.248Z"
                transform="translate(-48.246 -48.248)" />
              <path class="c"
                d="M123.919,123.919a.687.687,0,0,1-.963,0l-2.231-2.231-2.231,2.231a.681.681,0,0,1-.963-.963l2.231-2.231-2.231-2.231a.681.681,0,0,1,.963-.963l2.231,2.231,2.231-2.231a.681.681,0,0,1,.963.963l-2.231,2.231,2.231,2.231A.687.687,0,0,1,123.919,123.919Z"
                transform="translate(-113.725 -113.725)" />
            </svg>
                    </td> -->
                        <td style="text-align: center" class="tb-th-s">
                            <span *ngIf="data?.waterManagement[service.key]?.baseline">
              {{ data?.waterManagement[service.key]?.baseline["2021"] }}
            </span>
                            <em class="glyphicon" style="font-weight: 600" *ngIf="
                  data?.waterManagement[service.key]?.baseline &&
                  data?.waterManagement[service.key]?.baseline['2021']
                ">
              {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
            </em>
                        </td>
                        <td style="text-align: center" class="tb-th-s" *ngFor="let year of targets">
                            <span *ngIf="data?.waterManagement[service.key]?.target">
              {{ data?.waterManagement[service.key]?.target[year.key] }}
            </span>

                            <em class="glyphicon" style="font-weight: 600" *ngIf="
                  data?.waterManagement[service.key]?.target &&
                  data?.waterManagement[service.key]?.target[year.key]
                ">
              {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
            </em>
                        </td>
                    </tr>
                    <tr *ngIf="
              data?.waterManagement[services[0].key].status ===
              uploadSTATUS.REJECTED
            " class="t-tb-tr">
                        <td></td>
                        <td></td>

                        <td colspan="5" class="tb-th-s">
                            <h5 style="margin-bottom: 0px">Reason for rejection</h5>
                            {{ data?.waterManagement[services[0].key].rejectReason }}
                        </td>
                    </tr>

                    <tr *ngIf="services[1] as service" class="t-tb-tr">
                        <td style="padding: 1%" class="td-width tb-th-s">
                            {{ service.name }}
                        </td>
                        <td style="text-align: center;" class="tb-th-s">
                            <span class="benchamark-cell">{{ service.benchmark }}</span>
                        </td>
                        <!-- <td>
            <svg *ngIf="
                  data?.waterManagement[service.key]?.status ===
                    uploadSTATUS.APPROVED ||
                  (data.status === uploadSTATUS.APPROVED &&
                    data.actionTakenBy === USER_TYPES.MoHUA)
                " xmlns="http://www.w3.org/2000/svg" width="15.932" height="13.936" viewBox="0 0 15.932 13.936">
              <defs>
                <style>
                  .a {
                    fill: #00df76;
                  }

                  .b {
                    fill: #00ab5e;
                  }

                  .c {
                    fill: #fff5f5;
                  }

                  .d {
                    fill: #dfebf1;
                  }
                </style>
              </defs>
              <g transform="translate(-0.083)">
                <g transform="translate(0.083 0)">
                  <ellipse class="a" cx="6.966" cy="6.968" rx="6.966" ry="6.968" transform="translate(0 0)" />
                </g>
                <path class="b" d="M255.694,0h-.009V13.936h.009a6.968,6.968,0,0,0,0-13.936Z"
                  transform="translate(-248.646 0)" />
                <path class="c"
                  d="M108.032,147.2l2.817,2.817a.315.315,0,0,0,.445,0l4.625-4.625a.315.315,0,0,0,0-.445l-.842-.842a.315.315,0,0,0-.445,0l-3.364,3.364a.315.315,0,0,1-.445,0l-1.508-1.508a.315.315,0,0,0-.439-.006l-.839.793A.315.315,0,0,0,108.032,147.2Z"
                  transform="translate(-104.921 -140.093)" />
                <path class="d"
                  d="M258.8,144.1a.315.315,0,0,0-.445,0l-2.672,2.672v2.574l3.959-3.959a.315.315,0,0,0,0-.445Z"
                  transform="translate(-248.646 -140.092)" />
              </g>
            </svg>

            <svg *ngIf="
                  data?.waterManagement[service.key]?.status ===
                  uploadSTATUS.REJECTED
                " xmlns="http://www.w3.org/2000/svg" width="15.932" height="13.936" viewBox="0 0 15.932 13.936">
              <defs>
                <style>
                  .ared {
                    fill: #e24c4b;
                  }

                  .bred {
                    fill: #d1403f;
                  }

                  .c {
                    fill: #fff;
                  }
                </style>
              </defs>
              <circle class="ared" cx="7" cy="7" r="7" transform="translate(0 0)" />
              <path class="bred"
                d="M62.246,55.248a7.021,7.021,0,0,1-7,7,6.888,6.888,0,0,1-5.469-2.625,6.906,6.906,0,0,0,4.375,1.531,7.021,7.021,0,0,0,7-7,6.906,6.906,0,0,0-1.531-4.375A6.888,6.888,0,0,1,62.246,55.248Z"
                transform="translate(-48.246 -48.248)" />
              <path class="c"
                d="M123.919,123.919a.687.687,0,0,1-.963,0l-2.231-2.231-2.231,2.231a.681.681,0,0,1-.963-.963l2.231-2.231-2.231-2.231a.681.681,0,0,1,.963-.963l2.231,2.231,2.231-2.231a.681.681,0,0,1,.963.963l-2.231,2.231,2.231,2.231A.687.687,0,0,1,123.919,123.919Z"
                transform="translate(-113.725 -113.725)" />
            </svg>
          </td> -->

                        <td style="text-align: center" class="tb-th-s">
                            <span *ngIf="data?.waterManagement[service.key]?.baseline">
              {{ data?.waterManagement[service.key]?.baseline["2021"] }}
            </span>
                            <em class="glyphicon" style="font-weight: 600" *ngIf="
                  data?.waterManagement[service.key]?.baseline &&
                  data?.waterManagement[service.key]?.baseline['2021']
                ">
              {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
            </em>
                        </td>
                        <td style="text-align: center" class="tb-th-s" *ngFor="let year of targets">
                            <span *ngIf="data?.waterManagement[service.key]?.target">
              {{ data?.waterManagement[service.key]?.target[year.key] }}
            </span>

                            <i class="glyphicon" style="font-weight: 600" *ngIf="
                  data?.waterManagement[service.key]?.target &&
                  data?.waterManagement[service.key]?.target[year.key]
                ">
              {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
            </i>
                        </td>
                    </tr>
                    <tr *ngIf="
              data?.waterManagement[services[1].key].status ===
              uploadSTATUS.REJECTED
            " class="t-tb-tr">
                        <td></td>
                        <td></td>
                        <td colspan="5" style="padding-left: 1%">
                            <h5 style="margin-bottom: 0px">Reason for rejection</h5>
                            {{ data?.waterManagement[services[1].key].rejectReason }}
                        </td>
                    </tr>

                    <tr *ngIf="services[2] as service" class="t-tb-tr">
                        <td class="td-width tb-th-s">
                            {{ service.name }}
                        </td>
                        <td style="text-align: center;" class="tb-th-s">
                            <span class="benchamark-cell">{{ service.benchmark }}</span>
                        </td>
                        <!-- <td>
            <svg *ngIf="
                  data?.waterManagement[service.key]?.status ===
                    uploadSTATUS.APPROVED ||
                  (data.status === uploadSTATUS.APPROVED &&
                    data.actionTakenBy === USER_TYPES.MoHUA)
                " xmlns="http://www.w3.org/2000/svg" width="15.932" height="13.936" viewBox="0 0 15.932 13.936">
              <defs>
                <style>
                  .a {
                    fill: #00df76;
                  }

                  .b {
                    fill: #00ab5e;
                  }

                  .c {
                    fill: #fff5f5;
                  }

                  .d {
                    fill: #dfebf1;
                  }
                </style>
              </defs>
              <g transform="translate(-0.083)">
                <g transform="translate(0.083 0)">
                  <ellipse class="a" cx="6.966" cy="6.968" rx="6.966" ry="6.968" transform="translate(0 0)" />
                </g>
                <path class="b" d="M255.694,0h-.009V13.936h.009a6.968,6.968,0,0,0,0-13.936Z"
                  transform="translate(-248.646 0)" />
                <path class="c"
                  d="M108.032,147.2l2.817,2.817a.315.315,0,0,0,.445,0l4.625-4.625a.315.315,0,0,0,0-.445l-.842-.842a.315.315,0,0,0-.445,0l-3.364,3.364a.315.315,0,0,1-.445,0l-1.508-1.508a.315.315,0,0,0-.439-.006l-.839.793A.315.315,0,0,0,108.032,147.2Z"
                  transform="translate(-104.921 -140.093)" />
                <path class="d"
                  d="M258.8,144.1a.315.315,0,0,0-.445,0l-2.672,2.672v2.574l3.959-3.959a.315.315,0,0,0,0-.445Z"
                  transform="translate(-248.646 -140.092)" />
              </g>
            </svg>

            <svg *ngIf="
                  data?.waterManagement[service.key]?.status ===
                  uploadSTATUS.REJECTED
                " xmlns="http://www.w3.org/2000/svg" width="15.932" height="13.936" viewBox="0 0 15.932 13.936">
              <defs>
                <style>
                  .ared {
                    fill: #e24c4b;
                  }

                  .bred {
                    fill: #d1403f;
                  }

                  .c {
                    fill: #fff;
                  }
                </style>
              </defs>
              <circle class="ared" cx="7" cy="7" r="7" transform="translate(0 0)" />
              <path class="bred"
                d="M62.246,55.248a7.021,7.021,0,0,1-7,7,6.888,6.888,0,0,1-5.469-2.625,6.906,6.906,0,0,0,4.375,1.531,7.021,7.021,0,0,0,7-7,6.906,6.906,0,0,0-1.531-4.375A6.888,6.888,0,0,1,62.246,55.248Z"
                transform="translate(-48.246 -48.248)" />
              <path class="c"
                d="M123.919,123.919a.687.687,0,0,1-.963,0l-2.231-2.231-2.231,2.231a.681.681,0,0,1-.963-.963l2.231-2.231-2.231-2.231a.681.681,0,0,1,.963-.963l2.231,2.231,2.231-2.231a.681.681,0,0,1,.963.963l-2.231,2.231,2.231,2.231A.687.687,0,0,1,123.919,123.919Z"
                transform="translate(-113.725 -113.725)" />
            </svg>
          </td> -->

                        <td style="text-align: center" class="tb-th-s">
                            <span *ngIf="data?.waterManagement[service.key]?.baseline">
              {{ data?.waterManagement[service.key]?.baseline["2021"] }}
            </span>
                            <em class="glyphicon" style="font-weight: 600" *ngIf="
                  data?.waterManagement[service.key]?.baseline &&
                  data?.waterManagement[service.key]?.baseline['2021']
                ">
              {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
            </em>
                        </td>
                        <td style="text-align: center" class="tb-th-s" *ngFor="let year of targets">
                            <span *ngIf="data?.waterManagement[service.key]?.target">
              {{ data?.waterManagement[service.key]?.target[year.key] }}
            </span>

                            <em class="glyphicon" style="font-weight: 600" *ngIf="
                  data?.waterManagement[service.key]?.target &&
                  data?.waterManagement[service.key]?.target[year.key]
                ">
              {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
            </em>
                        </td>
                    </tr>
                    <tr *ngIf="
              data?.waterManagement[services[2].key].status ===
              uploadSTATUS.REJECTED
            " class="t-tb-tr">
                        <td></td>
                        <td></td>
                        <td colspan="5" style="padding-left: 1%" class="tb-th-s">
                            <h5 style="margin-bottom: 0px">Reason for rejection</h5>
                            {{ data?.waterManagement[services[2].key].rejectReason }}
                        </td>
                    </tr>

                    <tr *ngIf="services[3] as service" class="t-tb-tr">
                        <td class="td-width tb-th-s">
                            {{ service.name }}
                        </td>
                        <td style="text-align: center;" class="tb-th-s">
                            <span class="benchamark-cell">{{ service.benchmark }}</span>
                        </td>
                        <!-- <td>
            <svg *ngIf="
                  data?.waterManagement[service.key]?.status ===
                    uploadSTATUS.APPROVED ||
                  (data.status === uploadSTATUS.APPROVED &&
                    data.actionTakenBy === USER_TYPES.MoHUA)
                " xmlns="http://www.w3.org/2000/svg" width="15.932" height="13.936" viewBox="0 0 15.932 13.936">
              <defs>
                <style>
                  .a {
                    fill: #00df76;
                  }

                  .b {
                    fill: #00ab5e;
                  }

                  .c {
                    fill: #fff5f5;
                  }

                  .d {
                    fill: #dfebf1;
                  }
                </style>
              </defs>
              <g transform="translate(-0.083)">
                <g transform="translate(0.083 0)">
                  <ellipse class="a" cx="6.966" cy="6.968" rx="6.966" ry="6.968" transform="translate(0 0)" />
                </g>
                <path class="b" d="M255.694,0h-.009V13.936h.009a6.968,6.968,0,0,0,0-13.936Z"
                  transform="translate(-248.646 0)" />
                <path class="c"
                  d="M108.032,147.2l2.817,2.817a.315.315,0,0,0,.445,0l4.625-4.625a.315.315,0,0,0,0-.445l-.842-.842a.315.315,0,0,0-.445,0l-3.364,3.364a.315.315,0,0,1-.445,0l-1.508-1.508a.315.315,0,0,0-.439-.006l-.839.793A.315.315,0,0,0,108.032,147.2Z"
                  transform="translate(-104.921 -140.093)" />
                <path class="d"
                  d="M258.8,144.1a.315.315,0,0,0-.445,0l-2.672,2.672v2.574l3.959-3.959a.315.315,0,0,0,0-.445Z"
                  transform="translate(-248.646 -140.092)" />
              </g>
            </svg>

            <svg *ngIf="
                  data?.waterManagement[service.key]?.status ===
                  uploadSTATUS.REJECTED
                " xmlns="http://www.w3.org/2000/svg" width="15.932" height="13.936" viewBox="0 0 15.932 13.936">
              <defs>
                <style>
                  .ared {
                    fill: #e24c4b;
                  }

                  .bred {
                    fill: #d1403f;
                  }

                  .c {
                    fill: #fff;
                  }
                </style>
              </defs>
              <circle class="ared" cx="7" cy="7" r="7" transform="translate(0 0)" />
              <path class="bred"
                d="M62.246,55.248a7.021,7.021,0,0,1-7,7,6.888,6.888,0,0,1-5.469-2.625,6.906,6.906,0,0,0,4.375,1.531,7.021,7.021,0,0,0,7-7,6.906,6.906,0,0,0-1.531-4.375A6.888,6.888,0,0,1,62.246,55.248Z"
                transform="translate(-48.246 -48.248)" />
              <path class="c"
                d="M123.919,123.919a.687.687,0,0,1-.963,0l-2.231-2.231-2.231,2.231a.681.681,0,0,1-.963-.963l2.231-2.231-2.231-2.231a.681.681,0,0,1,.963-.963l2.231,2.231,2.231-2.231a.681.681,0,0,1,.963.963l-2.231,2.231,2.231,2.231A.687.687,0,0,1,123.919,123.919Z"
                transform="translate(-113.725 -113.725)" />
            </svg>
          </td> -->

                        <td style=" text-align: center" class="tb-th-s">
                            <span *ngIf="data?.waterManagement[service.key]?.baseline">
              {{ data?.waterManagement[service.key]?.baseline["2021"] }}
            </span>
                            <em class="glyphicon" style="font-weight: 600" *ngIf="
                  data?.waterManagement[service.key]?.baseline &&
                  data?.waterManagement[service.key]?.baseline['2021']
                ">
              {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
            </em>
                        </td>
                        <td style=" text-align: center" class="tb-th-s" *ngFor="let year of targets">
                            <span *ngIf="data?.waterManagement[service.key]?.target">
              {{ data?.waterManagement[service.key]?.target[year.key] }}
            </span>

                            <em class="glyphicon" style="font-weight: 600" *ngIf="
                  data?.waterManagement[service.key]?.target &&
                  data?.waterManagement[service.key]?.target[year.key]
                ">
              {{ service.key === "waterSuppliedPerDay" ? "LPCD" : "%" }}
            </em>
                        </td>
                    </tr>
                    <tr *ngIf="
              data?.waterManagement[services[3].key].status ===
              uploadSTATUS.REJECTED
            " class="t-tb-tr">
                        <td></td>
                        <td></td>
                        <td colspan="5" style="padding-left: 1%" class="tb-th-s">
                            <h5 style="margin-bottom: 0px">Reason for rejection</h5>
                            {{ data?.waterManagement[services[3].key].rejectReason }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="display: none;">
            <h3 style="text-align: center">Upload Plans</h3>
            <ol>
                <li *ngFor="let question of solidWasteQuestions" style="margin-bottom: 1.5%">
                    {{ question.question }}
                    <div style="display: flex; flex-wrap: wrap; margin-top: 0.5rem">
                        <a style="display: inline !important" *ngIf="
                data?.solidWasteManagement?.documents &&
                data?.solidWasteManagement?.documents[question.key] &&
                data?.solidWasteManagement?.documents[question.key][0]
              " [href]="data?.solidWasteManagement?.documents[question.key][0]?.url" target="_blank">
              {{ data?.solidWasteManagement?.documents[question.key][0].name }}
            </a>
                        <span style="display: inline-flex; width: 50%; margin-left: 3%" *ngIf="
                data?.solidWasteManagement?.documents &&
                data?.solidWasteManagement?.documents[question.key] &&
                data?.solidWasteManagement?.documents[question.key][0]?.status
              ">
              <span>
                <svg *ngIf="
                    (data?.solidWasteManagement?.documents &&
                      data?.solidWasteManagement?.documents[question.key] &&
                      data?.solidWasteManagement?.documents[question.key][0]
                        ?.status === uploadSTATUS.APPROVED) ||
                    (data.status === uploadSTATUS.APPROVED &&
                      data.actionTakenBy === USER_TYPES.MoHUA)
                  " xmlns="http://www.w3.org/2000/svg" width="15.932" height="13.936" viewBox="0 0 15.932 13.936">
                  <defs>
                    <style>
                      .a {
                        fill: #00df76;
                      }

                      .b {
                        fill: #00ab5e;
                      }

                      .c {
                        fill: #fff5f5;
                      }

                      .d {
                        fill: #dfebf1;
                      }
                    </style>
                  </defs>
                  <g transform="translate(-0.083)">
                    <g transform="translate(0.083 0)">
                      <ellipse class="a" cx="6.966" cy="6.968" rx="6.966" ry="6.968" transform="translate(0 0)" />
                    </g>
                    <path class="b" d="M255.694,0h-.009V13.936h.009a6.968,6.968,0,0,0,0-13.936Z"
                      transform="translate(-248.646 0)" />
                    <path class="c"
                      d="M108.032,147.2l2.817,2.817a.315.315,0,0,0,.445,0l4.625-4.625a.315.315,0,0,0,0-.445l-.842-.842a.315.315,0,0,0-.445,0l-3.364,3.364a.315.315,0,0,1-.445,0l-1.508-1.508a.315.315,0,0,0-.439-.006l-.839.793A.315.315,0,0,0,108.032,147.2Z"
                      transform="translate(-104.921 -140.093)" />
                    <path class="d"
                      d="M258.8,144.1a.315.315,0,0,0-.445,0l-2.672,2.672v2.574l3.959-3.959a.315.315,0,0,0,0-.445Z"
                      transform="translate(-248.646 -140.092)" />
                  </g>
                </svg>

                <svg *ngIf="
                    data?.solidWasteManagement?.documents &&
                    data?.solidWasteManagement?.documents[question.key] &&
                    data?.solidWasteManagement?.documents[question.key][0]
                      ?.status === uploadSTATUS.REJECTED
                  " xmlns="http://www.w3.org/2000/svg" width="15.932" height="15.932" viewBox="0 0 15.932 15.932">
                  <defs>
                    <style>
                      .ared {
                        fill: #e24c4b;
                      }

                      .bred {
                        fill: #d1403f;
                      }

                      .c {
                        fill: #fff;
                      }
                    </style>
                  </defs>
                  <circle class="ared" cx="7" cy="7" r="7" transform="translate(0 0)" />
                  <path class="bred"
                    d="M62.246,55.248a7.021,7.021,0,0,1-7,7,6.888,6.888,0,0,1-5.469-2.625,6.906,6.906,0,0,0,4.375,1.531,7.021,7.021,0,0,0,7-7,6.906,6.906,0,0,0-1.531-4.375A6.888,6.888,0,0,1,62.246,55.248Z"
                    transform="translate(-48.246 -48.248)" />
                  <path class="c"
                    d="M123.919,123.919a.687.687,0,0,1-.963,0l-2.231-2.231-2.231,2.231a.681.681,0,0,1-.963-.963l2.231-2.231-2.231-2.231a.681.681,0,0,1,.963-.963l2.231,2.231,2.231-2.231a.681.681,0,0,1,.963.963l-2.231,2.231,2.231,2.231A.687.687,0,0,1,123.919,123.919Z"
                    transform="translate(-113.725 -113.725)" />
                </svg>
              </span>
                        <span style="padding-left: 2%; position: relative" *ngIf="
                  data?.solidWasteManagement?.documents &&
                  data?.solidWasteManagement?.documents[question.key] &&
                  data?.solidWasteManagement?.documents[question.key][0]
                    ?.status === uploadSTATUS.REJECTED
                ">
                <span style="font-weight: 700">Reason for rejection: </span> {{ data?.solidWasteManagement?.documents[question.key][0] .rejectReason }}
                        </span>
                        </span>
                    </div>
                </li>
            </ol>

            <div *ngIf="isULBMillionPlus">
                <h3 style="text-align: center">Upload Plans(Million+ City)</h3>
                <ol>
                    <li *ngFor="let question of millionPlusCitiesQuestions" style="margin-bottom: 1.5%">
                        {{ question.question }} <br />

                        <div style="display: flex; flex-wrap: wrap; margin-top: 0.5rem">
                            <a style="display: inline !important" *ngIf="
                  data?.millionPlusCities?.documents &&
                  data?.millionPlusCities?.documents[question.key] &&
                  data?.millionPlusCities?.documents[question.key][0]
                " [href]="data?.millionPlusCities?.documents[question.key][0]?.url" target="_blank">
                {{ data?.millionPlusCities?.documents[question.key][0].name }}
              </a>
                            <span style="display: inline-flex; width: 50%; margin-left: 3%" *ngIf="
                  data?.millionPlusCities?.documents &&
                  data?.millionPlusCities?.documents[question.key] &&
                  data?.millionPlusCities?.documents[question.key][0]?.status
                ">
                <span>
                  <svg *ngIf="
                      (data?.millionPlusCities?.documents &&
                        data?.millionPlusCities?.documents[question.key] &&
                        data?.millionPlusCities?.documents[question.key][0]
                          ?.status === uploadSTATUS.APPROVED) ||
                      (data.status === uploadSTATUS.APPROVED &&
                        data.actionTakenBy === USER_TYPES.MoHUA)
                    " xmlns="http://www.w3.org/2000/svg" width="15.932" height="13.936" viewBox="0 0 15.932 13.936">
                    <defs>
                      <style>
                        .a {
                          fill: #00df76;
                        }

                        .b {
                          fill: #00ab5e;
                        }

                        .c {
                          fill: #fff5f5;
                        }

                        .d {
                          fill: #dfebf1;
                        }
                      </style>
                    </defs>
                    <g transform="translate(-0.083)">
                      <g transform="translate(0.083 0)">
                        <ellipse class="a" cx="6.966" cy="6.968" rx="6.966" ry="6.968" transform="translate(0 0)" />
                      </g>
                      <path class="b" d="M255.694,0h-.009V13.936h.009a6.968,6.968,0,0,0,0-13.936Z"
                        transform="translate(-248.646 0)" />
                      <path class="c"
                        d="M108.032,147.2l2.817,2.817a.315.315,0,0,0,.445,0l4.625-4.625a.315.315,0,0,0,0-.445l-.842-.842a.315.315,0,0,0-.445,0l-3.364,3.364a.315.315,0,0,1-.445,0l-1.508-1.508a.315.315,0,0,0-.439-.006l-.839.793A.315.315,0,0,0,108.032,147.2Z"
                        transform="translate(-104.921 -140.093)" />
                      <path class="d"
                        d="M258.8,144.1a.315.315,0,0,0-.445,0l-2.672,2.672v2.574l3.959-3.959a.315.315,0,0,0,0-.445Z"
                        transform="translate(-248.646 -140.092)" />
                    </g>
                  </svg>

                  <svg *ngIf="
                      data?.millionPlusCities?.documents &&
                      data?.millionPlusCities?.documents[question.key] &&
                      data?.millionPlusCities?.documents[question.key][0]
                        ?.status === uploadSTATUS.REJECTED
                    " xmlns="http://www.w3.org/2000/svg" width="15.932" height="15.932" viewBox="0 0 15.932 15.932">
                    <defs>
                      <style>
                        .ared {
                          fill: #e24c4b;
                        }

                        .bred {
                          fill: #d1403f;
                        }

                        .c {
                          fill: #fff;
                        }
                      </style>
                    </defs>
                    <circle class="ared" cx="7" cy="7" r="7" transform="translate(0 0)" />
                    <path class="bred"
                      d="M62.246,55.248a7.021,7.021,0,0,1-7,7,6.888,6.888,0,0,1-5.469-2.625,6.906,6.906,0,0,0,4.375,1.531,7.021,7.021,0,0,0,7-7,6.906,6.906,0,0,0-1.531-4.375A6.888,6.888,0,0,1,62.246,55.248Z"
                      transform="translate(-48.246 -48.248)" />
                    <path class="c"
                      d="M123.919,123.919a.687.687,0,0,1-.963,0l-2.231-2.231-2.231,2.231a.681.681,0,0,1-.963-.963l2.231-2.231-2.231-2.231a.681.681,0,0,1,.963-.963l2.231,2.231,2.231-2.231a.681.681,0,0,1,.963.963l-2.231,2.231,2.231,2.231A.687.687,0,0,1,123.919,123.919Z"
                      transform="translate(-113.725 -113.725)" />
                  </svg>
                </span>
                            <span style="padding-left: 2%; position: relative" *ngIf="
                    data?.millionPlusCities?.documents &&
                    data?.millionPlusCities?.documents[question.key] &&
                    data?.millionPlusCities?.documents[question.key][0]
                      ?.status === uploadSTATUS.REJECTED
                  ">
                  <span style="font-weight: 700">Reason for rejection: </span> {{ data?.millionPlusCities?.documents[question.key][0] .rejectReason }}
                            </span>
                            </span>
                        </div>
                    </li>
                </ol>
            </div>
            <div class="mt-4" style="padding-left: 3%; float: right">
                <h5>
                    Form First Submitted On:
                    <span style="font-weight: normal">
            {{
            (data["firstSubmitedAt"] | date: "MMMM d, y, h:mm a":"+00") ||
            "Not Submitted"
            }}</span>
                </h5>
                <h5>
                    Form Last Rejected On:
                    <span style="font-weight: normal">
            {{
            (data["rejectedAt"] | date: "MMMM d, y, h:mm a":"+00") ||
            "No Reject Found"
            }}</span>
                </h5>
            </div>
        </div>
    </div>
    <!-- <div>
        <label class="qus-slb" for="">Have you published Water Potability Index?</label>
        <label class="ans-slb" for="">{{ water_index_qus }}</label>
    </div> -->

    <!-- <div>
      <label for="" style="margin-left: 1.6rem;"><a href="{{fileUrl}}" target="_blank">{{fileName}}</a></label>
    </div> -->
    <!-- <div>
        <p class="form-status m-cl">
            <label class="qus-slb" for="">Upload the published document</label>
            <label class="ans-slb-a" for=""> <a href="{{fileUrl}}" target="_blank">{{fileName}}</a></label>
        </p>
    </div> -->
</div>
<ng-template #template>
    <div class="modal-body text-center alert">
        <div class="modal-header">
            <h4 class="modal-title pull-left" style="color: red;"> <i>Alert!</i> </h4>
            <div class="text-right">
                <a (click)="alertClose()">
                    <img src="../../../../assets/form-icon/close-red-icon.png">
                </a>
            </div>
        </div>

        <p style="margin-top: 8px;">
            Are you sure you want to proceed further?
        </p>
        <div>
            <button type="button" class="btn btn-secondary " (click)="stay()">Stay</button>
            <button type="button" class="btn btn-success " style="margin-left: 6px; width: auto; background-color: #5cb85c" (click)="proceed()">
        Save & Proceed</button>
        </div>

    </div>
</ng-template>