.header-p {
    background-color: #047474;
    text-align: center;
    padding: 10px;
    // height: 100px;
}

.opacityClass {
    opacity: 0.5;
}

.heading-p {
    color: #FFFFFF;
    font-size: 22px;
    height: auto;
    font-weight: 700;
}

.questionClass {
    padding: 15px;
    font-weight: 600;
}

.sub-h {
    font-weight: 600;
    font-size: 18px;
}

.fontClass {
    font-weight: 400;
}

.th-h {
    background-color: #047474;
    color: #FFFFFF;
}

.tableBody {
    background-color: #EBF5F5;
}

.form-h {
    font-size: 22px;
    font-weight: 700;
}

.hideUnderline {
    text-decoration: none;
}