.deSelected {
  color: #8b92a8;
  background-color: white;
  border-color: #8b92a8;
  font-size: 0.7em;
}

.selected {
  color: #e57504;
  background-color: #fff1e3;
  border-color: #f2991f;
  font-size: 0.7em;
}

.returnButton {
  background-color: white;
  color: #f2991f;
  border: none;
  margin-left: 0.5em;
}
