<app-header (onGuidelinesPopup)="guidelinesPopup()" (onVideosPopup)="videosPopup()" [staticFileUrl]="staticFileArray" *ngIf="staticFileArray"></app-header>
<app-union-ministor></app-union-ministor>
<app-ulbs-in-india [data]="data"></app-ulbs-in-india>
<app-assessment-parameters (onGuidelinesPopup)="guidelinesPopup()"></app-assessment-parameters>
<app-ranking-categories></app-ranking-categories>
<div class="container">
    <div class="yellow-divider"></div>
</div>
<app-features-n-benefits></app-features-n-benefits>
<app-training-session></app-training-session>
<app-footer></app-footer>
<app-scroll-to-top></app-scroll-to-top>