<div class="row" style="margin-top:2%">
    <div class="col-sm-12 col-lg-12 col-md-12 text-center">
        <h4 style="font-size: 24px; font-weight: 700;">
            {{loggedInUser?.role}}
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-10 col-xs-10 col-md-10 col-lg-10">
                        <h4 class="form-header">
                            Review State Forms
                        </h4>
                    </div>
                    <div class="col-sm-2 col-lg-2 col-md-2 text-end" style="margin-bottom: 1rem;">
                        <button type="button" (click)="stateData(true)" class="btn btn-d">DOWNLOAD</button>
                    </div>
                    <div class="col-sm-12">
                        <div class="table-responsive" style="border: 1px solid  #00000029; margin-bottom: 1rem;">
                            <table class="table">
                                <thead>
                                    <tr style="background-color: #047474; color: #FFFFFF;">
                                        <th scope="col" style="width: 1%;">S.No</th>
                                        <th width="35%" scope="col">State Name </th>
                                        <th scope="col" style="width: 11%;">Million Plus UAs in State</th>
                                        <th width="35%" scope=" col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr class="filter">
                                        <th class="filter" style="width: 1%;"></th>
                                        <th class="filter" style="width: 35%;">
                                            <select class="s-th" [formControl]="state_name" style="width: auto;" (change)="stateData(false)">

                                                <option selected value="">All States</option>
                                                <option *ngFor="let state of states" value="{{state.name}}">
                                                    {{state.name}}
                                                </option>
                                            </select>
                                        </th>
                                        <th class="filter" style="width: 5%;"></th>
                                        <th class="filter" style="width: 35%;">
                                            <select class="s-th" [formControl]="status_type" style="width: auto;" (change)="stateData(false)">

                                                <option selected value="">Status</option>
                                                <option value="Not Started">Not Started</option>
                                                <option value="In Progress">In Progress</option>
                                                <option value="Under Review By State">Under Review By State</option>
                                                <option value="Under Review By MoHUA">Under Review By MoHUA</option>
                                                <option value="Rejected By State">Rejected By State</option>
                                                <option value="Approval Completed">Approval Completed</option>
                                                <option value="Rejected By MoHUA">Rejected By MoHUA</option>
                                            </select>
                                        </th>

                                    </tr>

                                </thead>

                                <tbody>
                                    <tr *ngFor="let resData of tabelData | paginate
                                    : {
                                        id: 'foo',
                                        itemsPerPage: tableDefaultOptions.itemPerPage,
                                        currentPage: tableDefaultOptions.currentPage,
                                        totalItems: tableDefaultOptions.totalCount
                                      }; let tabelIndex=index">
                                        <td style="width: 1%;" [style.border-top]="tabelIndex == '0' ? 'none' : ''">
                                            {{tableDefaultOptions.itemPerPage * (tableDefaultOptions.currentPage -1) + tabelIndex+1}}
                                        </td>
                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''">{{resData.state}}
                                        </td>
                                        <td style="width: 11%;" [style.border-top]="tabelIndex == '0' ? 'none' : ''">
                                            {{resData.uas}}</td>


                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''" style="color: blue;">
                                            <a (click)="viewHistory(template, resData['stateMasterFormData']['_id'])">{{resData.formStatus}}</a>
                                        </td>

                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''" *ngIf="!((resData?.stateMasterFormData?.isSubmit &&
                                             resData?.stateMasterFormData?.actionTakenByRole == 'STATE')  ||
                                             (!resData?.stateMasterFormData?.isSubmit &&
                                             resData?.stateMasterFormData?.actionTakenByRole == 'MoHUA'))  ||
                                             resData.formStatus=='Approval Completed'">


                                            <a (click)="viewStateForm(resData)" [routerLink]="[
                            '/stateform/dashboard',  resData?._id ]">

                                                <mat-icon aria-hidden="false">
                                                    <img src="../../../../assets/ulbform/eye.png">
                                                </mat-icon>
                                            </a>
                                        </td>
                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''" *ngIf="(resData?.stateMasterFormData?.isSubmit && resData?.stateMasterFormData?.actionTakenByRole == 'STATE')
                                             || (!resData?.stateMasterFormData?.isSubmit && resData?.stateMasterFormData?.actionTakenByRole == 'MoHUA')
                                             && !(resData.formStatus=='Approval Completed')">
                                            <a class="btn btn-action" (click)="viewStateForm(resData)" [routerLink]="[
                                        '/stateform/dashboard', resData?._id  ]">
                                                Take Action
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                            <div class="text-center alert" style="color: red;" *ngIf="nodataFound">No Data Found!</div>
                            <pagination-controls style="float: right; position: relative" id="foo" (pageChange)="setPage($event)" directionLinks="true" autoHide="false" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                                screenReaderCurrentLabel="You're on page">
                            </pagination-controls>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="spinner" *ngIf="showLoader" style="z-index: 999999; position: fixed; top: 0px; bottom: 0px">
                            <mat-spinner></mat-spinner>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-left: 0; margin-right: 0; margin-bottom: 2rem;margin-top:1%;">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <button type="button" class="btn btn-back" [routerLink]="['../dashboard']">BACK</button>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 text-right" style="text-align:end;">
            <button type="button" class="btn btn-next" [routerLink]="['../review-ulb']">NEXT</button>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-title">
        <div style=" display: flex; justify-content: flex-end;">
            <button style="min-width: min-content;" (click)="alertClose()" class="btn btn-danger" title="Close" type="button" data-dismiss="modal" aria-label="Close">
                <i class="fa fa-times" style="color: white;"></i>
            </button>
        </div>
        <div>
            <h3>Tracking</h3>
        </div>
    </div>
    <div class="table-responsive" style="max-height: 50vh; overflow-y: auto">
        <table class="table tracking-history-table">
            <thead>
                <tr>
                    <th style="position: sticky; top: 0" class="text-center"></th>
                    <th style="position: sticky; top: 0">Sr. No</th>
                    <th style="position: sticky; top: 0">Action</th>
                    <th style="position: sticky; top: 0">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of historyData; let i = index">
                    <td class="text-center">
                        <em *ngIf="row['status'] === 'Approval Completed'" class="fa fa-check-circle text-success"></em>
                    </td>
                    <td>{{ i + 1 }}</td>
                    <td>{{ row.status }}</td>
                    <td>
                        {{row.time | date: 'medium': 'GMT'}}
                        <!-- ,{{row.time.split('T')[1] | time: 'mediumTime'}} -->
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center alert" style="color: red;" *ngIf="noHistoryDataFound">No Data Found!</div>
    </div>
</ng-template>
