@import "../../../scss/functions";
@import "../../../scss/variables";
@import "../../../scss/mixins";
.municipal-bonds {
  font-size: 1vw;
  margin-bottom: 3%;

  @media (min-width: 1500px) {
    font-size: 1vw;
  }

  @media (min-width: 1300px) and (max-width: 1500px) {
    font-size: 1.2vw;
  }

  @media (min-width: 1080px) and (max-width: 1300px) {
    font-size: 1.2vw;
  }

  @media (max-width: 768px) {
    padding: 0;
  }
  min-width: 80vw !important;
  width: fit-content;
  max-width: 92vw !important;
  ::ng-deep {
    .c-btn {
      font-size: $font-size-base*0.75;
    }
    .dropdown-list {
      font-size: $font-size-base*0.75;
    }
  }

  #tableHeadings {
    thead {
      th {
        font-size: $font-size-base*0.875;
        @media screen and (max-width: 468px) {
          font-size: 2.8em;
        }
      }
    }
  }
  accordion {
    width: fit-content;
  }
  accordion-group {
    width: fit-content;
    min-width: 100%;
    font-size: 1em;

    ::ng-deep {
      .panel-title {
        font-size: 1em !important;
        @media screen and (max-width: 468px) {
          font-size: 3.4em !important;
        }
      }
    }
    h4,
    .panel-title {
      font-size: $font-size-base*0.875 !important;
    }
  }

  .accordion-body-table {
    font-size: 14px;
    @media screen and (max-width: 551px) {
      font-size: 2.8em;
    }
  }

  .page-title {
    font-size: 1.5em;

    @media screen and (max-width: 800px) and (min-width: 560px) {
      font-size: 14px;
    }
  }

  // pagination-controls {
  //   // font-size: 12px;
  //   // @media screen and (max-width:468px){
  //   //   font-size: 3.8em;
  //   // }
  // }

  .btn {
    font-size: $font-size-base*0.75;
    @media screen and (max-width: 468px) {
      font-size: 1.2em;
    }
  }

  .heading {
    background-color: #444;
    color: #fff;

    td {
      // font-weight: bold;
    }
  }

  .common-container {
    padding-bottom: 0px;
  }
  .page-title {
    margin-top: 0px;
  }

  .fixed-header {
    // max-height: calc(100vh - 330px);
    overflow: auto;
    height: fit-content;
  }
  table {
    min-width: 100%;
    th {
      background-color: #059b9a;
      color: white;
      padding: 5px 10px;
      // font-size: 14px;
      font-weight: 500;
    }
    td {
      padding: 3px 5px;
    }
  }

  .scrolling table {
    table-layout: inherit;
    *margin-left: -20%; /*ie7*/
  }
  .scrolling td,
  th {
    vertical-align: top;
    padding: 10px;
  }
  .scrolling th {
    position: absolute;
    *position: relative; /*ie7*/
    left: 0;
    width: 20%;
    // height: 100%;
  }
  .outer {
    position: relative;
  }
  .inner {
    overflow-x: auto;
    overflow-y: visible;
    // margin-left: 120px;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 8px;
  }

  .stateULBName > * {
    background: rgb(175, 175, 175);
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
  }

  .stateULBName {
    padding-right: 0px;
    max-width: 214px;
  }

  ::ng-deep .mat-form-field-wrapper {
    margin: 0px !important;
  }

  angular2-multiselect {
    display: inline-block;
  }

  .filterForm {
    display: inline-flex;
    align-items: center;
    padding-left: 0px;
    padding-bottom: 0.1%;
    width: 51vw;
    min-width: fit-content;
  }

  ::ng-deep .c-btn {
    min-height: 38px !important;
  }

  .somepadding {
    padding: 10px 5px;
  }

  th,
  td {
    min-width: 230px;
    max-width: 230px;

    @media screen and (max-width: 551px) {
      min-width: 120px;
      max-width: 120px;
    }
  }

  .municipal-bond {
    overflow-x: auto;
    margin-bottom: 1%;
    min-width: 100%;
  }

  accordion {
    display: block;
    min-width: 100%;
  }

  ::ng-deep .dropdown-list {
    min-width: 250px !important;
  }

  .filterForm {
    font-size: 1vw;
    @media screen and (max-width: 468px) {
      font-size: 3vw !important;
    }
  }

  ::ng-deep {
    .pure-checkbox input[type="checkbox"] + label:before {
      border: 1px solid #a9a9a9 !important;
    }

    .c-remove {
      display: none !important;
    }

    .ngx-pagination {
      margin-bottom: 0px;
      @media screen and (max-width: 1024px) {
        padding: 0px;
      }
    }
  }
}
@media (min-width: 512px) {
  .filterContainer {
    display: flex;
    align-items: center;
  }
}

.pagination-top {
  right: 0px;
  @media (max-width: 512px) {
    position: absolute;
  }
  @media screen and (max-width: 1000px) and (min-width: 560px) {
    top: -35px;
  }
  @media screen and (max-width: 551px) {
    position: relative;
  }
}

.state-dropdown {
  width: 66%;
  margin-right: 2%;
}

.ulbDropdown {
  width: 90%;
  margin-right: 2%;
}

.dropdown-year {
  width: 48%;
  margin-right: 2%;
}

@media (max-width: 558px) {
  .state-dropdown.state-dropdown.state-dropdown {
    width: 28% !important;
    margin-right: 2%;
  }
  .ulbDropdown {
    width: 40% !important;
  }

  .dropdown-year {
    width: 26%;
    // margin-top: 4%;
  }
}

.drop-down-bond {
  display: flex;
  flex-wrap: nowrap;
  margin: 10px 0px;
  @media screen and (max-width: 551px) {
    position: relative;
    flex-wrap: wrap;
    margin: 20px 0px;
  }
}
.bond-btn-top {
  margin: 10px 0px;
  @media screen and (max-width: 768px) {
    position: relative;
    text-align: center;
  }
}

@media screen and (max-width: 551px) {
  .pagination-top pagination-controls {
    float: right;
  }
}

// ::ng-deep .dropdown-year {
//   @media screen and (max-width: 551px) {
//     .list-area {
//       transform: translateX(-50%);
//     }
//   }
// }

.municipal-bond table {
  position: relative;
}
// .municipal-bond table th{
//   position: sticky;
// }
// .municipal-bond table th:first-child{
//   left: 0;
//   z-index: 1;
// }
.accordion-body-table {
  position: relative;
}
.accordion-body-table tbody tr td {
  position: sticky;
}
.accordion-body-table tbody tr td:first-child {
  left: 0;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
}
.pagination-bottom,
.pagination-top {
  font-size: $font-size-base*0.875 !important;
}

@media screen and (max-width: 551px) {
  .pagination-top pagination-controls {
    margin: 10px 0px !important;
  }
  .table-mf-header {
    max-height: 80vh;
    overflow: scroll;
  }
  .table-mf-header .table-mf {
    position: sticky;
    left: 0;
    z-index: 2;
    top: 0;
  }
}

// 551 media screen end
