.he-d {
    font-size: 16px;
}

.mat-card {
    border-radius: 6px;
}

.header2 {
    font-family: 'Roboto', Medium;
    color: #373737;
    font-size: 20px;
    margin-top: 0.2rem;
    font-weight: 600;
}

.pre-y {
    font-size: 1.5rem;
    padding: 5rem 5rem;
}