<div class="container" *ngIf="!isApiInProgress">
    <form [formGroup]="propertyForm">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h4 class="form-header">
                    Property Tax Floor Rate Notification
                </h4>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 textEnd">
                <button type="button" class="btn btn-primary" id="prevBtn" (click)="preview()">Preview</button>
            </div>
        </div>
        <div class="card">
            <div class="row mt-3 mb-3 question">
                <div class="col-7">
                    <span class="fontStyle">
                        (A) Upload a copy of notification/Memorandum<sup class="text-danger">*</sup>
                    </span>
                    <span matTooltipClass="tooltip-red" matTooltip="In case of multiple notifications, kindly merge the documents and upload." matTooltipPosition="above">
                        <img src="../../../../assets/ticks/info_black_18dp.svg">
                    </span>
                </div>
                <div class="col-5 image-upload">
                    <label for="ipt" [ngClass]="{'customDisable': isDisabled }">
                        <a class="btn btnUpload" (click)="uploadButtonClicked('A')" [ngClass]="{'fadedClass': isDisabled}">Upload
                            PDF
                            <img src="../../../../assets/form-icon/upload-pdf-icon.png" alt=""
                                style="margin-left: 4px;">
                        </a>
                        <span class="errorMessege">{{errorMessegeStateAct}}</span>
                    </label>
                    <input #ipt id="ipt" name="cin3" type="file" onclick="this.value = null;" [ngClass]="{ 'is-invalid': submitted && f?.stateNotification?.controls?.name?.errors }" (change)="fileChangeEvent($event, 'stateActProgress')" accept=".pdf" />
                    <div>
                        <div *ngIf="submitted && f?.stateNotification?.controls?.name?.errors && (!errorMessegeStateAct)" class="text-danger">
                            <div *ngIf="f?.stateNotification?.controls?.name?.errors.required">File is required.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3" *ngIf="showStateAct">
                <div class="col-7 filePadding mb-3">
                    {{stateActFileName}}
                </div>
                <div class="col-3 progressBar" *ngIf="stateActProgress">
                    <div class="progress-bar" *ngIf="stateActProgress" role="progressbar" attr.aria-valuenow="{{ stateActProgress }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: stateActProgress + '%' }">
                        {{ stateActProgress }}%
                    </div>
                </div>
                <div class="col-2 filePadding">
                    <a href="{{ stateActFileUrl | toStorageUrl}}" target="_blank">
                        <img src="../../../../assets/form-icon/download-pdf-icon.png" alt="">
                    </a>
                    <span [ngClass]="{'customDisable': isDisabled }">
                        <a (click)="clearFile('stateAct')" style="margin-left: 4px;">
                            <img src="../../../../assets/form-icon/close-red-icon.png" alt="">
                        </a>
                    </span>
                </div>
            </div>

            <div class="row mb-3 question" [ngClass]="{'marginClass' : stateActFileName}">
                <div class="col-7">
                    <span class="fontStyle">
                        (B) Act Page Number<sup class="text-danger">*</sup>
                    </span>
                    <span matTooltipClass="tooltip-red" matTooltip="Input will indicate the page number where Minimum Floor rate or Value card is given in the Notification." matTooltipPosition="above">
                            <img src="../../../../assets/ticks/info_black_18dp.svg">
                        </span>
                </div>
                <div class="col-5">
                    <span class="fontStyle">
                        <input (change)="inputChange()" type="text" class="form-control customWidth" formControlName="actPage" [ngClass]="{ 'is-invalid': submitted && f?.actPage?.controls?.errors,'greyInputs': isDisabled }" placeholder="Enter act page number " min="1"
                        step="1"
                        (keypress)="omit_special_char($event)" maxlength="50">
                    </span>
                    <div *ngIf="submitted && f.actPage.errors" class="text-danger">
                        <div *ngIf="f.actPage.errors.required">Act page number is required.</div>
                    </div>

                </div>
            </div>
            <div class="row mb-3 question">
                <div class="col-7">
                    <span class="fontStyle">
                        (C) Minimum Floor rate details/Value card
                    </span>
                    <span matTooltipClass="tooltip-red" matTooltip="Min Floor rate should have different slab-wise property rates with different areas; Classification of Residential, Commercial and Industrial." matTooltipPosition="above">
                            <img src="../../../../assets/ticks/info_black_18dp.svg">
                        </span>
                </div>
                <div class="col-5 image-upload">
                    <label for="ipt2" [ngClass]="{'customDisable': isDisabled }">
                        <a class="btn btnUpload" (click)="uploadButtonClicked('A')" [ngClass]="{'fadedClass': isDisabled}">Upload
                            PDF
                            <img src="../../../../assets/form-icon/upload-pdf-icon.png" alt=""
                                style="margin-left: 4px;">
                        </a>
                        <span class="errorMessege">{{errorMessege}}</span>
                    </label>
                    <input #ipt2 id="ipt2" name="cin1" type="file" onclick="this.value = null;" (change)="fileChangeEvent($event, 'minimumFloorProgress')" accept=".pdf" />

                </div>
            </div>
            <div class="row mb-3" *ngIf="showMinimumFloor">
                <div class="col-7 filePadding mb-3">
                    {{minimumFloorFileName}}
                </div>
                <div class="col-3 progressBar" *ngIf="minimumFloorProgress">
                    <div class="progress-bar" *ngIf="minimumFloorProgress" role="progressbar" attr.aria-valuenow="{{ minimumFloorProgress }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: minimumFloorProgress + '%' }">
                        {{ minimumFloorProgress }}%
                    </div>
                </div>
                <div class="col-2 filePadding">
                    <a href="{{ minimumUrl | toStorageUrl}}" target="_blank">
                        <img src="../../../../assets/form-icon/download-pdf-icon.png" alt="">
                    </a>
                    <span [ngClass]="{'customDisable': isDisabled }">
                        <a (click)="clearFile('minimumFloor')" style="margin-left: 4px;">
                            <img src="../../../../assets/form-icon/close-red-icon.png" alt="">
                        </a>
                    </span>
                </div>
            </div>
            <div class="row mb-3 question" [ngClass]="{'marginClass' : minimumFloorFileName}">
                <div class="col-7">
                    <span class="fontStyle">
                        (D) Rules, by laws issued for operationalization of the notification
                    </span>
                    <span matTooltipClass="tooltip-red" matTooltip="PT Calculation linked to Guidance Value/ Annual rental Value/ Unit Area Value/Circle Rate." matTooltipPosition="above">
                            <img src="../../../../assets/ticks/info_black_18dp.svg">
                        </span>
                </div>
                <div class="col-5 image-upload">
                    <label for="ipt3" [ngClass]="{'customDisable': isDisabled }">
                        <a class="btn btnUpload" (click)="uploadButtonClicked('A')" [ngClass]="{'fadedClass': isDisabled}">Upload
                            PDF
                            <img src="../../../../assets/form-icon/upload-pdf-icon.png" alt=""
                                style="margin-left: 4px;">
                        </a>
                        <span class="errorMessege">{{errorMessegeOther}}</span>
                    </label>
                    <input #ipt3 id="ipt3" name="cin2" type="file" onclick="this.value = null;" (change)="fileChangeEvent($event, 'rulesByLawsProgress')" accept=".pdf" />
                </div>
            </div>
            <div class="row mb-3" *ngIf="showRulesLaws">
                <div class="col-7 filePadding mb-3">
                    {{rulesLawsFileName}}
                </div>
                <div class="col-3 progressBar" *ngIf="rulesByLawsProgress">
                    <div class="progress-bar" *ngIf="rulesByLawsProgress" role="progressbar" attr.aria-valuenow="{{ rulesByLawsProgress }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: rulesByLawsProgress + '%' }">
                        {{ rulesByLawsProgress }}%
                    </div>
                </div>
                <div class="col-2 filePadding">
                    <a href="{{ruleUrl | toStorageUrl}}" target="_blank">
                        <img src="../../../../assets/form-icon/download-pdf-icon.png" alt="">
                    </a>
                    <span [ngClass]="{'customDisable': isDisabled }">
                        <a (click)="clearFile('rulesByLaws')" style="margin-left: 4px;">
                            <img src="../../../../assets/form-icon/close-red-icon.png" alt="">
                        </a>
                    </span>
                </div>
            </div>
            <div class="row mb-3 question">
                <div class="col-7">
                    <span class="fontStyle">
                        (E) Number of extant acts for municipal bodies<sup class="text-danger">*</sup>
                    </span>
                </div>
                <div class="col-5">
                    <span class="fontStyle">
                        <input (change)="inputChange()" type="text" class="form-control customWidth" formControlName="actMunicipal"
                         [ngClass]="{ 'is-invalid': submitted && f?.actMunicipal?.controls?.errors,'greyInputs': isDisabled }"
                         placeholder="Number of extant acts for municipal bodies." (keydown)="numberLimitV($event, inputText)" #inputText>
                    </span>
                    <div *ngIf="submitted && f.actMunicipal.errors" class="text-danger">
                        <div *ngIf="f.actMunicipal.errors.required">Number of extant acts for municipal bodies is required.</div>
                    </div>

                </div>
            </div>
            <div class="row mb-3 question">
                <div class="col-7">
                    <span class="fontStyle">
                        (F) Please write names of all the extant acts<sup class="text-danger">*</sup>
                    </span>
                    <span matTooltipClass="tooltip-red" matTooltip="Please enter names of all the extant acts, separated by a semi-colon ';'" matTooltipPosition="above">
                        <img src="../../../../assets/ticks/info_black_18dp.svg">
                    </span>
                </div>
                <div class="col-5">
                    <span class="fontStyle">
                        <input (change)="inputChange()" type="text" class="form-control customWidth"
                        formControlName="extantAct"
                        [ngClass]="{ 'is-invalid': submitted && f?.extantAct?.controls?.errors,'greyInputs': isDisabled }"
                        placeholder="Enter names of all the extant acts" min="1" max="1000"
                         maxlength="1000">
                    </span>
                    <div *ngIf="submitted && f.extantAct.errors" class="text-danger">
                        <div *ngIf="f.extantAct.errors.required">Names of all the extant acts is required.</div>
                        <div *ngIf="f.extantAct.errors.maxlength">Maximum 1000 character are allowed.</div>
                    </div>

                </div>
            </div>
            <div class="row mb-3 question">
                <div class="col-7">
                    <span class="fontStyle">
                        (G) Upload those extant acts to the portal<sup class="text-danger">*</sup>
                    </span>
                </div>
                <div class="col-5 image-upload">
                    <label for="ipt4" [ngClass]="{'customDisable': isDisabled }">
                        <a class="btn btnUpload" (click)="uploadButtonClicked('A')" [ngClass]="{'fadedClass': isDisabled}">Upload
                            PDF
                            <img src="../../../../assets/form-icon/upload-pdf-icon.png" alt=""
                                style="margin-left: 4px;">
                        </a>
                        <!-- <p class="errorMessege">{{errorMessegeStateAct}}</p> -->
                    </label>
                    <input #ipt4 id="ipt4" name="cin3" type="file" onclick="this.value = null;" [ngClass]="{ 'is-invalid': submitted && f?.extantActDoc?.controls?.name?.errors }" (change)="fileChangeEvent($event, 'extantActDoc')" accept=".pdf" />
                    <div>
                        <div *ngIf="submitted && f?.extantActDoc?.controls?.name?.errors && (!extantActDocError)" class="text-danger">
                            <div *ngIf="f?.extantActDoc?.controls?.name?.errors.required">File is required.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3" *ngIf="showextantActDocFile">
                <div class="col-7 filePadding mb-3">
                    {{extantActDocFileName}}
                </div>
                <div class="col-3 progressBar" *ngIf="extantActDoc">
                    <div class="progress-bar" *ngIf="extantActDoc" role="progressbar" attr.aria-valuenow="{{ extantActDoc }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: extantActDoc + '%' }">
                        {{ extantActDoc }}%
                    </div>
                </div>
                <div class="col-2 filePadding">
                    <a href="{{ extantActDocFileUrl | toStorageUrl}}" target="_blank">
                        <img src="../../../../assets/form-icon/download-pdf-icon.png" alt="">
                    </a>
                    <span [ngClass]="{'customDisable': isDisabled }">
                        <a (click)="clearFile('extantActDoc')" style="margin-left: 4px;">
                            <img src="../../../../assets/form-icon/close-red-icon.png" alt="">
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <!-- action related work -->
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <app-common-action [actionRes]="actionRes" [formData]="actionFormData" [actionFor]="'StateForm'" [actBtnDis]="actionBtnDis" (actionEventEmit)="actionData($event)" [canTakeAction]="canTakeAction" [commonActionError]="actionError" [formNamefiles]="'property_tax_notification'">
                    </app-common-action>
                </div>
            </div>
        </div>
        <div class="row mb-3 mt-4">
            <div class="col-sm-7 col-md-7 col-lg-7">
                <button type="button" class="btn btn-c-back" [routerLink]="backRouter">
                    <- Previous Form</button>
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5 rightText">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <button type="button" class="btn btnDraft" *ngIf="userData?.role == 'STATE'" [disabled]="isDisabled" (click)="onDraft()">Save as Draft</button>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <button type="submit" class="btn btnDraft" *ngIf="userData?.role == 'STATE'" [disabled]="isDisabled" (click)="alertFormFinalSubmit()">Submit</button>
                        <span *ngIf="canTakeAction">
                          <button class="btn btnDraft" *ngIf="userData?.role == 'MoHUA'"
                          [disabled]="actionBtnDis" (click)="saveAction()">Submit</button>
                        </span>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <button type="button" class="btn btn-c-next" [routerLink]="nextRouter">Next Form
                            -></button>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
<ng-template #templateSave>
    <div class="modal-body text-center ">
        <div class="modal-header">
            <h4 class="modal-title pull-left" style="color: red;"> <i>Unsaved Changes !</i> </h4>
            <div class="text-right">
                <a (click)="alertClose()">
                    <img src="../../../../assets/form-icon/close-red-icon.png">
                </a>
            </div>
        </div>

        <div class="row mb-3 mt-3">
            <div class="col-sm-12">{{alertError}}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-end">
                <button type="button" class="btn btn-light" (click)="discard()">Discard Changes</button>
                <button type="button" class="btn btn-primary m-btn ms-2" (click)="stay()">Stay</button>
                <button type="button" class="btn ms-2 m-btn" (click)="proceed()">
                Save & Proceed
              </button>
            </div>

        </div>

    </div>
</ng-template>

<div class="text-center p-4" *ngIf="isApiInProgress">
    <app-pre-loader-new></app-pre-loader-new>
</div>