<!-- <div class="tabs">
    <app-resources-tabs [data]="tabData">
    </app-resources-tabs>
</div> -->
<div class="row" *ngIf="dataReceived">
    <p *ngIf="searchedValue !='' && searchedValue">
        <b>{{ learningCount }}</b> Search results for ‘{{ searchedValue }}’ in Datasets
    </p>
</div>
<div class="col-sm-12 mb-3" *ngIf="noDataa">
    <img class="rounded mx-auto d-block" src="assets/images/sad.svg" />
    <p class="noData">
        Sorry we couldn’t find any matches for ‘{{ searchedValue }}’. Please try searching with another term.
    </p>
</div>
<div class="container container-cnt" *ngIf="dataReceived">
    <div class="row" style="margin: 0 auto">
        <div class="col-sm-12 mb-3">
            <app-resources-tabs [data]="tabData"> </app-resources-tabs>
        </div>
    </div>
</div>

<div class="filter-d mt-3 mb-3" *ngIf="dataReceived" id="top">
    <app-filter-component (filterFormData)="filterData($event)" [category]="category" [filterInputData]="filterComponent" [downloadValue]="selectedUsersList.length" (download)="download($event)" [filterTabDataSet]="true" [mobileFilterConfig]="mobileFilterConfig"></app-filter-component>
</div>

<div class="row" *ngIf="dataReceived">
    <div class="d-name">You can Download Upto 5 files</div>
    <div class="col-sm-12 col-12 mb-3">
        <div class="cd-r">
            <div class="card-body cd-h">
                <div class="row">
                    <div class="col-sm-1 col-1">
                        <!-- <input class="form-check-input" type="checkbox"
                        (change)="isAllSelected($event.target.value)" [(ngModel)]="allSelected"
                        [indeterminate]="unSelect"> -->
                        <mat-checkbox (change)="masterToggle($event)"> </mat-checkbox>
                        <!-- <mat-checkbox
              (change)="$event ? masterToggle($event) : null"
              [checked]="isAllSelected(true)"
              [indeterminate]="isAllSelected(false) && !isAllSelected(true)"
            >
            </mat-checkbox> -->
                    </div>
                    <div class="col-sm-8 col-7">
                        <span> Document Name</span>
                    </div>
                    <div class="col-sm-3 col-4">
                        <span>Updated on</span>
                    </div>
                </div>
            </div>
            <div class="empty" *ngIf="balData.length == 0">No Data Found</div>
            <div *ngIf="balData.length > 0">
                <div class="card-body cd-repeat" *ngFor="let item of balData; let i = index">
                    <div class="row align-items-md-center pointer" (click)="openNewTab(item?.fileUrl, item)">
                        <div class="col-sm-1 col-1">
                            <!-- <input class="form-check-input" type="checkbox" [checked]="allSelected"
                            (change)="isChecked($event.target.value, allSelected, i)"> -->
                            <mat-checkbox matTooltip="Select to download" (click)="$event.stopPropagation()" (change)="toggleRowSelection($event, item, i)" [checked]="item.isSelected" [disabled]="item.isDisabled">
                            </mat-checkbox>
                        </div>
                        <div class="col-sm-8 d-name col-8 cursor-pointer" matTooltip="Click to View">
                            <div class="row align-items-sm-center">
                                <div class="col-2 col-sm-1">
                                    <span *ngIf="item?.type == 'pdf'">
                    <img
                      src="../../../../../assets/new_dashBord_ftr_hdr/pdf.png"
                      alt=""
                      class="p-i"
                    />
                  </span>
                                    <span *ngIf="item?.type == 'excel'">
                    <img
                      src="../../../../../assets/new_dashBord_ftr_hdr/excel.png"
                      alt=""
                      class="p-i"
                    />
                  </span>
                                </div>
                                <div class="col-10 col-sm-11">
                                    <span>{{ item?.fileName }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 d-date col-3">
                            <!-- {{i+1}} -->
                            <span>{{ item?.modifiedAt | date: "yyyy-MM-dd" }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 text-center mb-3" *ngIf="isloadMore">
        <button class="btn lmBtn" [matTooltip]="initialValue >= 30 ? 'Use filters for search' : null" (click)="loadMore()">
      <span class="material-icons" style="vertical-align: middle">
        refresh
      </span>
      <span class="ms-1">Load More</span>
    </button>
    </div>
    <div class="backArrow" *ngIf="initialValue > 10">
        <!-- <a href="#top"> -->
        <span class="p-1 lmBtn" role="button" style="margin-left: 2%" (click)="getToTop()">
      <mat-icon style="vertical-align: middle; color: grey"
        >arrow_upward</mat-icon
      >
    </span>
        <!-- </a> -->
    </div>
</div>
<!--
<div class="row">
    <div class="col-sm-12">
        <router-outlet></router-outlet>
    </div>
</div> -->