.municipal-bonds {
  font-size: 1vw;
  margin-bottom: 3%;
  min-width: 80vw !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 92vw !important;
}

@media (min-width: 1500px) {
  .municipal-bonds {
    font-size: 1vw;
  }
}

@media (min-width: 1300px) and (max-width: 1500px) {
  .municipal-bonds {
    font-size: 1.2vw;
  }
}

@media (min-width: 1080px) and (max-width: 1300px) {
  .municipal-bonds {
    font-size: 1.2vw;
  }
}

@media (max-width: 768px) {
  .municipal-bonds {
    padding: 0;
  }
}

.municipal-bonds ::ng-deep .c-btn {
  font-size: 12px;
}

.municipal-bonds ::ng-deep .dropdown-list {
  font-size: 12px;
}

.municipal-bonds #tableHeadings thead th {
  font-size: 14px;
}

@media screen and (max-width: 468px) {
  .municipal-bonds #tableHeadings thead th {
    font-size: 2.8em;
  }
}

.municipal-bonds accordion {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.municipal-bonds accordion-group {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 100%;
  font-size: 1em;
}

.municipal-bonds accordion-group ::ng-deep .panel-title {
  font-size: 1em !important;
}

@media screen and (max-width: 468px) {
  .municipal-bonds accordion-group ::ng-deep .panel-title {
    font-size: 3.4em !important;
  }
}

.municipal-bonds accordion-group h4,
.municipal-bonds accordion-group .panel-title {
  font-size: 14px !important;
}

.municipal-bonds .accordion-body-table {
  font-size: 14px;
}

@media screen and (max-width: 551px) {
  .municipal-bonds .accordion-body-table {
    font-size: 2.8em;
  }
}

.municipal-bonds .page-title {
  font-size: 1.5em;
}

@media screen and (max-width: 800px) and (min-width: 560px) {
  .municipal-bonds .page-title {
    font-size: 14px;
  }
}

.municipal-bonds .btn {
  font-size: 12px;
}

@media screen and (max-width: 468px) {
  .municipal-bonds .btn {
    font-size: 1.2em;
  }
}

.municipal-bonds .heading {
  background-color: #444;
  color: #fff;
}

.municipal-bonds .common-container {
  padding-bottom: 0px;
}

.municipal-bonds .page-title {
  margin-top: 0px;
}

.municipal-bonds .fixed-header {
  overflow: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.municipal-bonds table {
  min-width: 100%;
}

.municipal-bonds table th {
  /* background-color: #059b9a; */
  color: white;
  padding: 5px 10px;
  font-weight: 500;
}

.municipal-bonds table td {
  padding: 3px 5px;
}

.municipal-bonds .scrolling table {
  table-layout: inherit;
  *margin-left: -20%;
  /*ie7*/
}

.municipal-bonds .scrolling td,
.municipal-bonds th {
  vertical-align: top;
  padding: 10px;
}

.municipal-bonds .scrolling th {
  position: absolute;
  *position: relative;
  /*ie7*/
  left: 0;
  width: 20%;
}

.municipal-bonds .outer {
  position: relative;
}

.municipal-bonds .inner {
  overflow-x: auto;
  overflow-y: visible;
}

.municipal-bonds
  ::ng-deep
  .mat-form-field-appearance-outline
  .mat-form-field-infix {
  padding: 8px;
}

.municipal-bonds .stateULBName > * {
  background: #afafaf;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}

.municipal-bonds .stateULBName {
  padding-right: 0px;
  max-width: 214px;
}

.municipal-bonds ::ng-deep .mat-form-field-wrapper {
  margin: 0px !important;
}

.municipal-bonds angular2-multiselect {
  display: inline-block;
}

.municipal-bonds .filterForm {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0px;
  padding-bottom: 0.1%;
  width: 51vw;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.municipal-bonds ::ng-deep .c-btn {
  min-height: 38px !important;
}

.municipal-bonds .somepadding {
  padding: 10px 5px;
}

.municipal-bonds th,
.municipal-bonds td {
  min-width: 230px;
  max-width: 230px;
}

@media screen and (max-width: 551px) {
  .municipal-bonds th,
  .municipal-bonds td {
    min-width: 120px;
    max-width: 120px;
  }
}

.municipal-bonds .municipal-bond {
  overflow-x: auto;
  margin-bottom: 1%;
  min-width: 100%;
}

.municipal-bonds accordion {
  display: block;
  min-width: 100%;
}

.municipal-bonds ::ng-deep .dropdown-list {
  min-width: 250px !important;
}

.municipal-bonds .filterForm {
  font-size: 1vw;
}

@media screen and (max-width: 468px) {
  .municipal-bonds .filterForm {
    font-size: 3vw !important;
  }
}

.municipal-bonds
  ::ng-deep
  .pure-checkbox
  input[type="checkbox"]
  + label:before {
  border: 1px solid #a9a9a9 !important;
}

.municipal-bonds ::ng-deep .c-remove {
  display: none !important;
}

.municipal-bonds ::ng-deep .ngx-pagination {
  margin-bottom: 0px;
}

@media screen and (max-width: 1024px) {
  .municipal-bonds ::ng-deep .ngx-pagination {
    padding: 0px;
  }
}

@media (min-width: 512px) {
  .filterContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.pagination-top {
  right: 0px;
}

@media (max-width: 512px) {
  .pagination-top {
    position: absolute;
  }
}

@media screen and (max-width: 1000px) and (min-width: 560px) {
  .pagination-top {
    top: -35px;
  }
}

@media screen and (max-width: 551px) {
  .pagination-top {
    position: relative;
  }
}

.state-dropdown {
  width: 66%;
  margin-right: 2%;
}

.ulbDropdown {
  width: 90%;
  margin-right: 2%;
}

.dropdown-year {
  width: 48%;
  margin-right: 2%;
}

@media (max-width: 558px) {
  .state-dropdown.state-dropdown.state-dropdown {
    width: 28% !important;
    margin-right: 2%;
  }
  .ulbDropdown {
    width: 40% !important;
  }
  .dropdown-year {
    width: 26%;
  }
}

.drop-down-bond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin: 10px 0px;
}

@media screen and (max-width: 551px) {
  .drop-down-bond {
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 20px 0px;
  }
}

.bond-btn-top {
  margin: 10px 0px;
}

@media screen and (max-width: 768px) {
  .bond-btn-top {
    position: relative;
    text-align: center;
  }
}

@media screen and (max-width: 551px) {
  .pagination-top pagination-controls {
    float: right;
  }
}

.municipal-bond table {
  position: relative;
}

.accordion-body-table {
  position: relative;
}

.accordion-body-table tbody tr td {
  position: -webkit-sticky;
  position: sticky;
}

.accordion-body-table tbody tr td:first-child {
  left: 0;
  z-index: 1;
}

.pagination-bottom,
.pagination-top {
  font-size: 14px !important;
}

@media screen and (max-width: 551px) {
  .pagination-top pagination-controls {
    margin: 10px 0px !important;
  }
  .table-mf-header {
    max-height: 80vh;
    overflow: scroll;
  }
  .table-mf-header .table-mf {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
    top: 0;
  }
}
/*# sourceMappingURL=municipal-bond.component.css.map */
