<div class="row mt-3 mb-3" style="align-items: center">
  <div class="col-12 col-sm-12 col-md-7 col-lg-8" style="padding-left: 4.5rem;">
    <span class="about">{{ aboutSlbCharts }}</span>
  </div>
  <div class="col-12 col-sm-12 col-md-5 col-lg-4">
    <div class="container">
      <div class="row containerClass">
        <div class="col-sm col-lg col-md">
          <button
            type="button"
            style="
              width: -webkit-fill-available;
              background: white;
              border-radius: 8px;
              border: 1px solid gray;
            "
            (click)="openModal()"
          >
            Compare By: <span *ngIf="CompFlag"> {{ compareByName }}</span>
          </button>
        </div>
        <div class="col-sm col-lg col-md customFilters" *ngIf="showYearDropdown">
          <select
            style="
              width: -webkit-fill-available;
              background: white;
              border-radius: 8px;
              border: 1px solid gray;
              height: 29px;
              text-align: center;
            "
            (change)="yearValueChange($event.target.value)"
            id="years"
            aria-label="Default select"
          >
            <option
              [disabled]="!item.isDataAvailable"
              [value]="item.year"
              [selected]="year == item.year"
              *ngFor="let item of yearListDropdown"
            >
              {{ item.year }}
            </option>
          </select>
        </div>
        <div class="col-sm col-lg col-md customFilters">
          <button
            type="button"
            style="
              width: -webkit-fill-available;
              background: white;
              border-radius: 8px;
              border: 1px solid gray;
            "
            (click)="clearAll()"
          >
            Clear
            <img
              src="../../../assets/resources-das/cancel_off_orange_18dp.svg"
              alt="cancel_off_icon"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-12">
    <ul
      style="
        display: flex;
        padding: 0px;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: 0rem;
        margin-bottom: 0;
      "
    >
      <li
        *ngFor="let item of chartLabels"
        style="display: flex; align-items: center; padding: 0.6rem"
      >
        <div
          *ngIf="!item.svg; else svg"
          style="
            width: 14px;
            height: 14px;
            display: inline-block;
            border-radius: 3px;
          "
          [style.background-color]="item.color"
        ></div>
        <ng-template #svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="#04D30C"
          >
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M13.11 5.72l-.57 2.89c-.12.59.04 1.2.42 1.66.38.46.94.73 1.54.73H20v1.08L17.43 18H9.34c-.18 0-.34-.16-.34-.34V9.82l4.11-4.1M14 2L7.59 8.41C7.21 8.79 7 9.3 7 9.83v7.83C7 18.95 8.05 20 9.34 20h8.1c.71 0 1.36-.37 1.72-.97l2.67-6.15c.11-.25.17-.52.17-.8V11c0-1.1-.9-2-2-2h-5.5l.92-4.65c.05-.22.02-.46-.08-.66-.23-.45-.52-.86-.88-1.22L14 2zM4 9H2v11h2c.55 0 1-.45 1-1v-9c0-.55-.45-1-1-1z"
            />
          </svg>
        </ng-template>
        <span class="ps-2">{{ item.name }}</span>
      </li>
    </ul>
  </div>
</div>

<div class="row mb-3" *ngIf="slbGaugeCharts.length > 0">
  <div
    class="col-sm-12 col-md-4 col-lg-3 mb-3"
    *ngFor="let item of slbGaugeCharts; let i = index"
  >
    <app-shared-card [data]="item"></app-shared-card>
  </div>
</div>
<ng-template #template>
  <app-compare-dialog
    [type]="compareDialogType"
    (ownRevenueCompValue)="ownRevenueCompValue($event)"
    (compareValue)="getCompareCompValues($event)"
    (closeDialog)="closeModal()"
    [singleSelectUlb]="slbToCompare"
  ></app-compare-dialog>
</ng-template>

<ng-container *ngIf="slbGaugeCharts.length == 0">
  <div style="text-align: center; margin-top: 30px; margin-bottom: 30px">
    <img src="../../../../assets/images/sad.svg" height="82px" width="89px" />
    <div style="color: #1e44ad; font-size: 22px; font-weight: 600">
      No Data Found for chosen options
    </div>
    <!-- <p style="color: #6e7281; font-size: 16px">{{ notFoundMessage }}</p> -->
  </div>
</ng-container>
