<h4 class="mx-3 form-h">28 SLBs FORM</h4>

<div class="pre-y" *ngIf="successErrorMessage" [innerHTML]="successErrorMessage"></div>
<div class="my-3" *ngIf="isLoaded">
    <app-web-form #webForm [viewFormTemplate]="'dur'" [questionresponse]="questionresponse"
        [isProjectLoaded]="isProjectLoaded" (submitQuestion)="onSubmit($event)" (onPreviewDUR)="onPreview()" 
        [isButtonDisplay]="isButtonAvail" (nextPreBtn)="nextPreBtn($event)" [slbFormURL]="slbFormURL" [s3FolderName]="fileFolderName" [hideNextButton]="true">
    </app-web-form>
    <div class="">
        <app-form-common-action [canTakeAction]="canTakeAction" [isFormFinalSubmit]="isFormFinalSubmit"
    (formChangeEventEmit)="actionFormChangeDetect($event)" [nextPreUrl]="nextPreUrl" 
    [formId]="formId" [isButtonAvail]="isButtonAvail" [formName]="'28slb'" [formData]="questionresponse?.data[0]"></app-form-common-action>
    </div>
</div>