<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card mt-2" *ngIf="canTakeAction == true">
                <div class="card-body" >
                    <div class="action-form">
                        <form *ngIf="statusForm" [formGroup]="statusForm">
                            <div class="row">
                                <div class="col-sm-5">
                                    Review Status* :
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group mb-2">
                                        <div class="btn-group" btnRadioGroup formControlName="status" >
                                           <label for="" [matTooltip]="isPreviewYearApproved ? sequentialAlert : ''" matTooltipClass="tooltip-red"> 
                                            <label btnRadio="{{statusIdForApprove}}" [disabled]="actBtnDis || isPreviewYearApproved" 
                                                 class="btn mb-0 customApprove" [ngClass]="{'customApproveActive' : activeClassApprove, 'dis-cls' : actBtnDis, 'app-seq' : isPreviewYearApproved}"
                                                 >
                                                 Approve
                                             </label>
                                            </label>
                                            <label btnRadio="{{statusIdForReject}}" [disabled]="actBtnDis" class="btn mb-0 customReturn" [ngClass]="{'customReturnActive' : activeClassReturn, 'dis-cls' : actBtnDis}">Return</label>
                                        </div>
                                    </div>
                                    <div class="text-danger" *ngIf="isActionSubmitted && (!formValue?.status)">
                                        This is the required field.
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    Remarks/Reject Reason* :
                                </div>
                                <div class="col-sm-7" [ngClass]="{'dis-cls' : actBtnDis}">
                                    <textarea name="reason" id="reason" cols="33" rows="2" 
                                    formControlName="rejectReason" disabled="{{actBtnDis}}" placeholder="Type here ..."></textarea>
                                    <div class="text-danger" *ngIf="errorInAction">
                                     This is the required field.
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    Supporting Document : 
                                </div>
                                <div class="col-sm-7">
                                    <div class="">
                                        <input #bs_pdf1 style="display: none;" onclick="value=null;" 
                                        (change)="uploadFile($event, 'pdf')"
                                        type="file" accept=".pdf" #file>
                                        <button (click)="bs_pdf1.click()" class="btn btn-primary"
                                         [disabled]="actBtnDis">Upload PDF</button>
                                    </div>
                                    <div class="mt-3" *ngIf="responceFile?.url">
                                          <a href="{{responceFile?.url | toStorageUrl}}" target="_blank">
                                            {{responceFile?.name}}
                                          </a>
                                          <span class="ms-3" [ngClass]="{'dis-cls' : actBtnDis}">
                                            <span class="material-icons file-icon-cross"
                                            matTooltip="Remove the upload file"
                                            (click)="removeUploadedFile()">cancel</span>
                                          </span>
                                    </div>
                                   
                                </div>
                            </div>
                        </form>
                    </div>
                </div>  
            </div>
            <div class="card mt-2" *ngIf="!canTakeAction && viewMode">
                <div class="card-body">
                    <div class="final-status" *ngIf="finalStatus">
                        <div class="row">
                            <div class="col-sm-6">
                                Review Status:
                            </div>
                            <div class="col-sm-6">
                                {{finalStatus}}
                            </div>
                        </div> 
                        <hr>
                    </div>
                    <div class="action-view-form" *ngIf="state_action?.status">
                        <!-- <div class="row">
                            <div class="col-sm-6">
                                State Review Status:
                            </div>
                            <div class="col-sm-6">
                                {{state_action?.status}}
                            </div>
                        </div>   -->
                        <div class="row">
                            <div class="col-sm-6">
                                State Remarks/Reject Reason:
                            </div>
                            <div class="col-sm-6">
                                {{state_action?.rejectReason}}
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-sm-6">
                                Supporting Document :
                            </div>
                            <div class="col-sm-6">
                                <a href="{{state_action?.responceFile?.url | toStorageUrl}}" target="_blank" *ngIf="state_action?.responceFile?.url">
                                    {{state_action?.responceFile?.name}}
                                </a>
                            </div>
                        </div> 
                    </div>
                    
                    <div class="action-view-form" *ngIf="mohua_action?.status"> 
                        <div class="row">
                            <div class="col-sm-6">
                                MoHUA Remarks/Reject Reason:
                            </div>
                            <div class="col-sm-6">
                                {{mohua_action?.rejectReason}}
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-sm-6">
                                Supporting Document :
                            </div>
                            <div class="col-sm-6">
                                <a href="{{mohua_action?.responceFile?.url | toStorageUrl}}" target="_blank" *ngIf="mohua_action?.responceFile?.url">
                                    {{mohua_action?.responceFile?.name}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-3">
          <!-- save, draft, pre and next button --> 
        <div class="col-sm-6">
              <button class="btn btn-pre" [routerLink]="nextPreUrl?.backBtnRouter" *ngIf="isButtonAvail == false">
                  <- Previous Form </button>
        </div>
        <div class="col-sm-6 d-flex justify-content-end">
        <div class="d-inline-flex mr1" *ngIf="canTakeAction && userData?.role != 'ULB'">
             <button class="btn btn-save text-uppercase" (click)="saveAction()" [disabled]="actBtnDis">
                  Submit
             </button>
        </div>
        <div class="d-inline-flex " *ngIf="isButtonAvail == false">
            <button class="btn btn-next text-uppercase" [routerLink]="nextPreUrl?.nextBtnRouter">
                 Next Form ->
            </button>
        </div>
        </div>
          </div>
</div>

