.container {
  margin-top: 20px;
  background-color: #FFFFFF;
}

a.anDisable {
  pointer-events: none;
}

.header2 {
  font-family: Roboto, Medium;
  color: #373737;
  font-size: 20px;
  margin-top: 1rem;
  font-weight: 600;
}

.header3 {
  font-family: Roboto, Medium;
  color: #373737;
  margin-top: 1rem;
}

.m-ut-he {
  margin-left: 0;
  margin-right: 0;
}

#mapCon:hover {
  width: 100px;
  height: 100px;
  background-color: #e4eae5;
}

.btnYear {
  margin-left: 15px;
  width: 100px;
  height: 25px;
}

p {
  font-size: 15px;
  font-family: Roboto, Medium;
  display: inline-block;
}

.d-input {
  background-color: #DBDBDB;
}

.labelField {
  width: 100%;
  margin-top: 7px;
  margin-left: 6px;
  border-radius: 3px;
  padding: 4px 7px;
  background-color: #DBDBDB;
}

option {
  margin-left: 5px;
}

.form-control {
  display: inline-block;
  margin: 5px 6px;
  margin-right: 6px;
}

.clrInput {
  background-color: #26A1A1;
  color: #ffff;
}

.inputfield {
  background-color: #FFFFFF;
  color: black;
}

.thHeader {
  background-color: #058E91;
  font-family: Roboto;
  color: #FFFFFF;
  font-size: 14px;
  text-decoration: none;
}

.card {
  padding: 5px 6px;
  margin-bottom: 25px;
}

.card-body {
  margin-right: 20px;
  margin-top: 8px;
}

#prevBtn {
  background-color: #0cc5c5;
  color: #FFFFFF;
  height: 32px;
  font-size: 12px;
  padding-left: 4%;
  padding-right: 4%;
}

.prevBtnDiv {
  display: inline-block;
  margin-bottom: 6px;
}

#addmoreBtn {
  background-color: #177A27;
  color: #FFFFFF;
  margin-top: 15px;
  width: 91px;
  height: 25px;
  font-size: 11px;
  padding: 0;
}

.tableFooterDiv {
  background-color: #CFCFCF;
  padding: 4px 4px;
}

label {
  font-weight: normal;
}

.formfooter {
  margin-left: 10px;
  margin-top: 40px;
  font-weight: normal;
}

.footerBtnDiv {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.footerBtn {
  height: 32px;
  background-color: #26A1A1;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 12px;
  padding-left: 4%;
  padding-right: 4%;
}

.backbtn {
  background-color: #CFCFCF;
  color: #FFFFFF;
  width: auto;
  height: 32px;
  font-size: 12px;
  padding-left: 4%;
  padding-right: 4%;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  vertical-align: inherit;
  text-align: center;
  padding: 8px 2px;
}

.image-upload > input {
  display: none;
}

.image-upload img {
  cursor: pointer;
}

.t-i {
  font-size: 12px;
  color: #51504F;
  text-align: center;
  height: 26px;
}

.alert {
  padding: 0;
}

.ng-invalid.ng-touched {
  border-color: red;
}

.text-danger {
  color: red;
}

.modal-header {
  padding: 0 0 0 0;
}

.m-btn {
  width: 90px;
}

.custom-position td {
  position: relative;
}

.custom-position input {
  position: relative;
}

.custom-position select {
  position: relative;
}

.custom-position .bs-tooltip-top {
  position: absolute;
  top: -1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.tooltip-inner {
  margin-left: 1rem;
}

.btn-danger {
  border-color: transparent;
}

.btn-success {
  border-color: transparent;
}

.btn:hover {
  background-color: #ffc500;
  font-weight: bold;
}

.btn-p {
  background-color: #ffc500;
  color: #FFFFFF;
  cursor: not-allowed;
}

.btn-r {
  background-color: red;
  color: #FFFFFF;
  cursor: not-allowed;
}

.btn-a {
  background-color: green;
  color: #FFFFFF;
  cursor: not-allowed;
}
/*# sourceMappingURL=utilisation-report.component.css.map */