::ng-deep {
  .mat-tab-label {
    color: #333333;
    opacity: 1 !important;
    height: 35px !important;
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none;
    border-left: none;
  }

  .spinText {
    color: rgb(0, 8, 77);
    font-weight: 600;
    margin-top: 2%;
  }
  .spinner {
    // position: absolute;
    display: flex;
    top: 0px;
    // height: 100vh;
    width: 100vw;
    background: #7c7c7c42;
    justify-content: center;
    align-items: center;
  }
  .mat-ink-bar {
    visibility: hidden !important;
  }
  .mat-tab-labels {
    border-bottom: 1px solid #ffc500;
  }
  .mat-tab-label-active {
    background: #ffc500;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .mat-tab-header {
    border-bottom: none;
  }
}

.slick-prev:before {
  color: black !important;
}
.slick-next:before {
  color: black !important;
}

.app-wrapper {
  app-home-header {
    display: block;
    background-image: linear-gradient(to right, #022e3df0, #037978eb);
    opacity: 1;
    position: relative;
    z-index: 3;
  }
}
// ::ng-deep .swal2-container {
//   z-index: 200000 !important;
// }

// ::ng-deep .swal2-warning {
//   width: 3em !important;
//   height: 3em !important;
// }
// ::ng-deep div:where(.swal2-icon) .swal2-icon-content {
//   display: flex;
//   align-items: center;
//   font-size: 2rem !important;
// }