<div class="card">
    <div class="row">
        <div class="col-sm-12 text-end">
            <a (click)="close()">
                <img width="22px" src="../../../../../assets/form-icon/cancel.svg" alt="">
            </a>
        </div>
        <div class="col-sm-12 text-center">
            <div class="a-h">
                <h4>Action Form</h4>
            </div>
        </div>
    </div>
    <form [formGroup]="approveReturnForm">
        <div class="row mt-3">
            <div class="col-sm-4 h-l" *ngIf="data.type == 'Approve'">
                Comments :
            </div>
            <div class="col-sm-4 h-l" *ngIf="data.type == 'Return'">
                Return reason :<sup class="text-danger">*</sup>
            </div>
            <div class="col-sm-8">
                <textarea formControlName="rejectReason" id="reason" cols="34" rows="2" placeholder="Type here ..."></textarea>
                <div class="text-danger" *ngIf="retuenError">
                    {{retuenErrorMsg}}
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-4 h-l">
                Supporting document :
            </div>
            <div class="col-sm-8">

                <div class="row mt-3 mb-3 question">
                    <div class="col-12">
                        <div class="image-upload">
                            <label for="cin3" [ngClass]="{'customDisable': isDisabled }">
                                    <a class="btn btn-primary" (click)="uploadButtonClicked('A')"
                                    [ngClass]="{'fadedClass': isDisabled}">Upload
                                        PDF
                                        <img src="../../../../assets/form-icon/upload-pdf-icon.png" alt=""
                                            style="margin-left: 4px;">
                                    </a>
                                    <p class="errorMessege" *ngIf="errorMessegeStateAct">{{errorMessegeStateAct}}</p>
                                </label>
                            <input id="cin3" name="cin3" type="file" onclick="value = null;" [ngClass]="{ 'is-invalid': submitted }" (change)="fileChangeEvent($event, 'stateActProgress')" accept=".pdf" />
                        </div>
                    </div>

                </div>


            </div>
        </div>
        <div class="row mt-3" *ngIf="showStateAct">
            <div class="col-6 filePadding mb-3">
                {{stateActFileName}}
            </div>
            <div class="col-3 progressBar" *ngIf="stateActProgress">
                <div class="progress-bar" *ngIf="stateActProgress" role="progressbar" attr.aria-valuenow="{{ stateActProgress }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: stateActProgress + '%' }">
                    {{ stateActProgress }}%
                </div>
            </div>
            <div class="col-3 filePadding">
                <a href="{{ stateActUrl | toStorageUrl}}" target="_blank">
                    <img src="../../../../assets/form-icon/download-pdf-icon.png" alt="">
                </a>
                <span>
                    <a (click)="clearFile('stateAct')" style="margin-left: 4px;" [ngClass]="{'disableInputs': isDisabled }">
                        <img src="../../../../assets/form-icon/close-red-icon.png" alt="">
                    </a>
                </span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-end pe-3">
                <button class="btn btn-primary" type="submit" (click)="alertSave()">Save</button>
            </div>
        </div>
    </form>
</div>