<div class="container-fluid" style="overflow-x: hidden;" [ngStyle]="{'z-index': clicked === true ? '1' : '3'}" id="planPre" #planPre>
    <div class="row">
        <div class="col-sm-12" [ngClass]="{'header-p':!parentData, 'header-u-p' : parentData }" style="margin-top: 0px !important;">
            <a *ngIf="!parentData" mat-dialog-close class="h-cls" style="position: absolute; right: 3%; top: 14%; z-index: 2;
            transform: scale(1.5);cursor: pointer;">
                <mat-icon aria-hidden="false">
                    <img src="../../../../../assets/form-icon/Icon material-close.svg">
                </mat-icon>
            </a>
            <!-- <div class="col-sm-12 heading-p" [ngStyle]="{'padding-top':!parentData  ? '1.5rem' : '2.5rem'}">
                <span *ngIf="!parentData">Submissions for 15th FC Grants for FY 2021-22</span>
                <br *ngIf="!parentData"> Plans for Water and Sanitation,{{ulbName}},{{stateName}}
            </div> -->
            <div class="col-sm-12" [ngClass]="{'heading-p':!parentData, 'heading-u-p' : parentData }">
                <span *ngIf="!parentData" style="display: block; line-height: normal;"> Submissions for 15th FC Grants for FY 2021-22</span>
                <span *ngIf="parentData">Plans for Water and Sanitation</span>
                <b class="sub-h" *ngIf="!parentData">{{ulbName}},{{stateName}}</b>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="margin-top: 1rem;">
                <div class="col-sm-6 d-flex justify-content-between">
                    <p class="form-status" style="margin-bottom: 5px; padding: 0;">
                        <b *ngIf="!parentData">Application Current Status:</b> {{totalStatus}}
                        <br *ngIf="!parentData">
                        <b>Form Current Status:</b> {{formStatusCheck}}
                    </p>

                </div>
                <div *ngIf="!parentData" class="col-sm-6 df">
                    <button id="donwloadButton" class="btn btn-primary btn-upload pull-right" style="margin-right: 1ch;" (click)="clickedDownloadAsPDF(template)">
                        Download as PDF
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center form-h" *ngIf="!parentData">
            Plans for Water and Sanitation
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <div>
                    <h4>Details of Proposed Project to Improve Service Level Indicators related to <b class="text-primary">Water Supply</b>
                    </h4>
                </div>
                <table class="table custom-position">
                    <thead>
                        <tr class="thHeader">
                            <th scope="col">Project Name</th>
                            <th scope="col">Physical Components</th>
                            <th scope="col">Indicator</th>
                            <th scope="col">Existing (As-is)
                            </th>
                            <th scope="col">After (To-be)
                            </th>
                            <th scope="col">Estimated Cost (Amount in INR)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p style="line-break: anywhere;">
                                    {{data.water.name}}
                                </p>
                                <span *ngIf="!data.water.name">N/A</span>
                            </td>
                            <td>
                                <p style="line-break: anywhere;">
                                    {{data.water.component}}
                                </p>
                                <span *ngIf="!data.water.component">N/A</span>
                            </td>
                            <td>
                                {{data.water.serviceLevel.indicator}}
                                <span *ngIf="!data.water.serviceLevel.indicator">N/A</span>
                            </td>
                            <td>
                                {{data.water.serviceLevel.existing}}
                                <span *ngIf="!data.water.serviceLevel.existing">N/A</span>
                            </td>
                            <td>
                                {{data.water.serviceLevel.after}}
                                <span *ngIf="!data.water.serviceLevel.after">N/A</span>
                            </td>
                            <td>
                                {{data.water.cost}}
                                <span *ngIf="!data.water.cost">N/A</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card" style="margin-top: 15px; margin-bottom: 15px;">
        <div class="card-body ">
            <div class="table-responsive">
                <div>
                    <h4>Details of Proposed Project to Improve Service Level Indicators related to <b class="text-primary">Sanitation</b></h4>
                </div>
                <table class="table custom-position">
                    <thead>
                        <tr class="thHeader">
                            <th scope="col">Project Name</th>
                            <th scope="col">Physical Components</th>
                            <th scope="col">Indicator</th>
                            <th scope="col">Existing (As-is)
                            </th>
                            <th scope="col">After (To-be)
                            </th>
                            <th scope="col">Estimated Cost (Amount in INR)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p style="line-break: anywhere;">
                                    {{data.sanitation.name}}
                                </p>
                                <span *ngIf="!data.sanitation.name">N/A</span>
                            </td>
                            <td>
                                <p style="line-break: anywhere;">
                                    {{data.sanitation.component}}
                                </p>
                                <span *ngIf="!data.sanitation.component">N/A</span>
                            </td>
                            <td>
                                {{data.sanitation.serviceLevel.indicator}}
                                <span *ngIf="!data.sanitation.serviceLevel.indicator">N/A</span>
                            </td>
                            <td>
                                {{data.sanitation.serviceLevel.existing}}
                                <span *ngIf="!data.sanitation.serviceLevel.existing">N/A</span>
                            </td>
                            <td>
                                {{data.sanitation.serviceLevel.after}}
                                <span *ngIf="!data.sanitation.serviceLevel.after">N/A</span>
                            </td>
                            <td>
                                {{data.sanitation.cost}}
                                <span *ngIf="!data.sanitation.cost">N/A</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-body text-center alert">
        <div class="modal-header">
            <h4 class="modal-title pull-left" style="color: red;"> <i>Alert!</i> </h4>
            <div class="text-right">
                <a (click)="alertClose()">
                    <img src="../../../../assets/form-icon/close-red-icon.png">
                </a>
            </div>
        </div>

        <p style="margin-top: 8px;">
            Are you sure you want to proceed further?
        </p>
        <div>
            <button type="button" class="btn btn-secondary " (click)="stay()">Stay</button>
            <button type="button" class="btn btn-success " style="margin-left: 6px; width: auto; background-color: #5cb85c" (click)="proceed()">
                Save & Proceed</button>
        </div>

    </div>
</ng-template>