<!-- <img style="margin-left: 25%;" src="../../../../assets/underconstruction.jpeg"> -->
<div class="row mt-3">
    <div class="col-3">
        <div class="card">
            <div class="row">
                <div class="col-8">
                    <h3>{{totalUlbs}}</h3>
                    <p>Total ULBs</p>
                </div>
                <div class="col-4 text-end">
                    <img src="../../../../assets/dashboard-state/16-location.svg" alt="SVG" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="row">
                <div class="col-8">
                    <h3>{{nonMillionCities}}</h3>
                    <p>Non Million Cities</p>
                </div>
                <div class="col-4 text-end">
                    <img src="../../../../assets/dashboard-state/XMLID_1248_.svg" alt="SVG" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="row">
                <div class="col-8">
                    <h3>{{millionPlusUAs}}</h3>
                    <p>Million Plus UAs</p>
                </div>
                <div class="col-4 text-end">
                    <img src="../../../../assets/dashboard-state/sustainable.svg" alt="SVG" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="row">
                <div class="col-8">
                    <h3>{{UlbInMillionPlusUA}}</h3>
                    <p>ULBs in Million-Plus UAs</p>
                </div>
                <div class="col-4 text-end">
                    <img src="../../../../assets/dashboard-state/16-location.svg" alt="SVG" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="tab-slider--nav row responsiveClass">
        <ul class="nav">
            <li *ngFor="let item of navList" [ngClass]="{'active': selectedItem == item.formType}" class="col-4 text-center" rel="tab1" (click)="tabActive(item)">{{item.title}}</li>
        </ul>
    </div>
    <div *ngIf="viewMode == 'tab1' || viewMode == 'tab2'" class="mt-4">
        <button class="btn" [ngClass]="{'activeFirstInstallment': firstInstallment}" (click)="installmentClick('1')">1st Installment</button>
        <button class="btn ms-2" [ngClass]="{'activeSecondInstallment': secondInstallment}" (click)="installmentClick('2')">2nd Installment</button>
    </div>
    <div class="tab-slider--container mt-4">
        <div class="tab-slider--body">
            <div *ngFor="let element of response?.data">
                <div>
                    <div class="row mt-4">
                        <div class="col-sm-6">
                            <span class="formHeader">{{element?.formHeader}}</span>
                        </div>
                        <div class="col-sm-6 text-right">
                            <div class="row justify-content-end">
                                <div class="col-auto fontClass">
                                    <span class="dot-submitted" [ngStyle]="{'background-color': element?.submittedColor}"></span> {{element?.approvedColor == '#059B05' ? 'Submitted by State' : 'Submitted by ULB'}}
                                </div>
                                <div class="col-auto fontClass">
                                    <span class="dot-approved" [ngStyle]="{'background-color': element?.approvedColor}"></span> {{element?.approvedColor == '#059B05' ? 'Approved by MoHUA' : 'Approved by State'}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="formCard mt-3" *ngFor="let item of element['formData']" (click)="navigateToPage(item)">
                        <div class="row">
                            <div class="col-6">
                                <img src='{{item.icon}}' width="30" height="30" class="fl-i">
                                <span class="formName ms-3">{{item?.formName}}</span>
                            </div>
                            <div class="col-6 text-end">
                                <span class="formName">{{item?.status}}</span>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-1">
                                <p class="ms-5">0%</p>
                            </div>
                            <div class="col-9">
                                <div class="progress mt-2">
                                    <div class="progress-bar bg-approved" role="progressbar" aria-label="approved" [ngStyle]="{'width': item?.approvedValue <= 10 ? '4%' : item?.approvedValue+'%' ,'background-color': item?.approvedColor}" aria-valuenow="{{item?.approvedValue}}" aria-valuemin="0"
                                        aria-valuemax="100">
                                        <span [ngStyle]="{'border': '5px solid' + ' ' + item?.approvedColor}" mat-raised-button matTooltip="{{item?.submittedValue == item?.approvedValue ? item?.approvedValue + '% Submitted & Approved' : item?.approvedValue + '% Approved'}} {{element?.formHeader == 'ULB Forms' ? '& ' + item?.totalApproved + ' ULB Approved' : ''}}"
                                            aria-label="tooltip" [matTooltipPosition]="'above'">{{item?.approvedValue ? item?.approvedValue + '%' : '0%'}}</span>
                                    </div>
                                    <div class="progress-bar bg-submitted" role="progressbar" aria-label="submitted" [ngStyle]="{'width':  item?.submittedValue <= 5 ? '4%' : item?.submittedValue+'%','background-color': item?.submittedColor,'background-color': item?.approvedValue == 100 ? item?.approvedColor : item?.submittedColor}"
                                        aria-valuenow="{{item?.submittedValue}}" aria-valuemin="0" aria-valuemax="100">
                                        <span [ngStyle]="{'border': (item?.approvedValue == 100 && element?.formHeader == 'State Forms') ? '5px solid #059B05' : '5px solid #E67E1566' }" [ngClass]="{'noValue' : item?.submittedValue == 0}" mat-raised-button matTooltip="{{item?.submittedValue == item?.approvedValue ? item?.submittedValue + '% Submitted & Approved' : item?.submittedValue + '% Submitted'}}  {{element?.formHeader == 'ULB Forms' ? '& ' + item?.totalSubmitted + ' ULB Submitted' : ''}}"
                                            aria-label="tooltip" [matTooltipPosition]="'above'">{{item?.submittedValue ? item?.submittedValue + '%' : ''}}</span>
                                    </div>
                                    <div *ngIf="item?.formName == 'Annual Accounts'" class="tooltipCustom">
                                        <p>25% Target<span><br><i class="fa fa-angle-down ms-2 mt-1" style="font-size:16px;color:black"></i></span></p>
                                    </div>
                                    <div *ngIf="item?.formName == 'Annual Accounts'" class="progress-bar" role="progressbar" aria-label="cutOff" [ngStyle]="{'width': item?.cutOff+'%' ,'background-color': 'rgb(219 219 219 / 20%)'}" aria-valuenow="{{item?.cutOff}}" aria-valuemin="0" aria-valuemax="100">
                                        <p class="customSpan"><img src="../../../../assets/dashboard-state/track_changes_black_24dp.svg"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 targetClass" *ngIf="item?.formName != 'Annual Accounts'">
                                <p class="targetHundred">100% Target<span><br><i class="fa fa-angle-down" style="font-size:16px;color:black"></i></span></p>
                                <p>
                                    <img src="../../../../assets/dashboard-state/track_changes_black_24dp.svg">100%
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3 ms-2">
                <div class="col-12">
                    <button [disabled]="disableBtn" class="btn btn-primary" (click)="claimGrant()">Click here to claim grant</button>
                </div>
            </div>
        </div>
    </div>
</div>
