<ng-container *ngIf="!widgetMode">

  <div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <p>
        {{ data.about }}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-between flex-wrap">
      <div *ngIf="!stateServiceLabel" style="margin-bottom: 20px">
        <button
          *ngFor="let item of data.btnLabels; let i = index"
          (click)="changeActiveBtn(i)"
          [id]="'btn-' + i"
          style="margin-left: 2pc"
          class="btn deSelected my-2 customizedButton"
          [ngClass]="i == lastSelectedId ? 'selected' : 'deSelected'"
        >
          {{ item }}
        </button>
      </div>
      <!-- list of dropdown for slb in state dashboard -->
      <div *ngIf="stateServiceLabel" class="mb-3" style="padding-right: 1rem">
        <select
          class="form-select text-capitalize"
          (change)="getServiceLevelBenchmark($event)"
        >
          <option
            *ngFor="let item of serviceTabList"
            [value]="item"
            [selected]="item == selectedServiceLevelBenchmark"
          >
            {{ item }}
          </option>
        </select>
      </div>

      <!-- <div *ngIf="!stateServiceLabel" class="col-sm-12 col-md-4">
        <div class="d-flex">
          <select class="form-select text-capitalize" (change)="getCheckBoxValue($event)">
            <option *ngFor="let item of checkBoxArray" [value]="item?.value">
              {{ item?.title }}
            </option>
          </select>

          <label class="checkboxLabel" *ngFor="let item of checkBoxArray">
            <input
              type="radio"
              value="{{ item.value }}"
              (click)="getCheckBoxValue($event)"
              [disabled]="item?.isDisabled"
            />{{ item.title }}</label
          >
          <button type="button" (click)="reset()" class="searchButton">
            Reset
          </button>
        </div>
      </div> -->
      <div class="mb-3">
        <div class="row">
          <div
            class="col"
            *ngIf="!stateServiceLabel && !ActiveButton?.includes('Mix')"
          >
            <div
              class="my-2"
              [matTooltip]="'Select an option to view average data'"
            >
              <select
                class="form-select text-capitalize"
                (change)="getCheckBoxValue($event)"
                style="opacity: 0.6; border: 1px solid gray; width: auto"
              >
                <option
                  value="none"
                  selected
                  hidden
                  [disabled]="item?.isDisabled"
                >
                  Select an Option
                </option>
                <option
                  *ngFor="let item of checkBoxArray"
                  [value]="item?.value"
                >
                  {{ item?.title }}
                </option>
              </select>
            </div>
          </div>
          <div class="col" style="display: flex" *ngIf="showYearDropdown">
            <select
              class="my-2 customDropdown"
              aria-label="Default select"
              (change)="getSelectedFinancialYear($event)"
              style="border-radius: 8px; border: 1px solid gray; opacity: 0.6"
            >
              <option
                *ngFor="let year of yearList"
                [value]="year"
                [selected]="year == financialYear"
              >
                {{ year }}
              </option>
              <!-- <option [value]="item?.code" *ngFor="let item of stateList">{{item?.name}}</option> -->
            </select>
          </div>
          <div class="col">
            <form class="filter-form mr-1 my-2">
              <div>
                <!-- <div class="pe-0 justify-content-end"> -->
                <input
                  type="text"
                  placeholder="Search for ULB names"
                  [formControl]="nationalFilter"
                  [matAutocomplete]="auto"
                  class="customInput"
                  style="
                    height: 2.4rem;
                    border-radius: 7px;
                    border: 1px solid gray;
                    opacity: 0.6;
                  "
                />
                <!-- </div> -->
                <!-- <div class="col-3 col-sm-3 ps-0">
                <button type="button" class="btn btnFilter">Search</button>
              </div> -->
                <div>
                  <mat-autocomplete
                    autoActiveFirstOption
                    #auto="matAutocomplete"
                  >
                    <!-- (click)="filterData(option)" -->
                    <a
                      *ngFor="let option of filteredOptions; let i = index"
                      style="text-decoration: none"
                    >
                      <mat-option
                        (click)="getUlbData(option)"
                        [value]="option?.name"
                      >
                        <span style="font-size: medium">
                          {{ option?.name }}</span
                        >
                      </mat-option>
                    </a>
                  </mat-autocomplete>
                </div>
              </div>

              <!-- <div style="display: inline-block; float: right;">
    
            </div> -->
            </form>
          </div>
          <div class="col">
            <button
              type="button"
              (click)="reset(true)"
              class="btn btn-sm searchButton my-2"
              style="padding: 0.25rem 0.5rem"
            >
              <!-- <button type="button" (click)="reset()" class="btn btn-sm searchButton" *ngIf="!stateServiceLabel" style="padding: 0.25rem 0.5rem"> -->
              Reset
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- {{ percentLabel }} -->
<!-- <div *ngIf="!stateServiceLabel"> -->
<div *ngIf="!ActiveButton?.includes('Mix') || stateServiceLabel">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" *ngIf="!stateServiceLabel">
        <app-revenuechart
          [chartDialogues]="true"
          [compareDialogType]="compareDialogType"
          [headerActions]="headerActions"
          [chartId]="'StateScatterChartId'"
          [chartData]="scatterData"
          [chartTitle]="mainChartTitle"
          [isPerCapita]="isPerCapita"
          (compareChange)="filterChangeInChart($event)"
          [nestedChartFilterOption]="nestedChartFilterOption"
          (actionClicked)="getClickedAction($event)"
          [getChartPayload]="scatterChartPayload"
          [sourceDashboardName]="sourceDashboardName"
          [selectedFinancialYear]="financialYear"
          [activeButtonChange]="changeAlertTab"
        ></app-revenuechart>
      </div>
      <div class="col-md-12" *ngIf="stateServiceLabel">
        <app-revenuechart
          [compareDialogType]="compareDialogType"
          [headerActions]="headerActions"
          [chartId]="'StateScatterChartId'"
          [chartData]="scatterData"
          [chartTitle]="mainChartTitle"
          (compareChange)="filterChangeInChart($event)"
          [scatterOption]="serviceLevelBenchmarkScatterOption"
          (actionClicked)="getClickedAction($event)"
          [getChartPayload]="scatterChartPayload"
          [sourceDashboardName]="sourceDashboardName"
          [selectedFinancialYear]="financialYear"
        ></app-revenuechart>
      </div>
    </div>
    <div class="row tablerow">
      <div class="col-12 col-sm-12">
        <p class="py-4">
          Distribution of ULBs in {{ stateName }} according to Population
          category
        </p>
        <div class="table-responsive">
          <table class="table table-bordered">
            <tbody class="main">
              <tr class="rowClass">
                <td>ULB Population Category</td>
                <td
                  class="text-center customTableData"
                  *ngFor="let heading of stateUlbsPopulation?.tableHeading"
                  style="font-weight: 800"
                >
                  {{ heading }}
                </td>
              </tr>
              <tr class="rowClass">
                <td>Number Of Cities</td>
                <td
                  *ngFor="let heading of stateUlbsPopulation?.tableHeading"
                  style="font-weight: 800"
                  class="customTableData"
                >
                  {{
                    _commonServices.formatNumber(
                      stateUlbsPopulation?.tableDataSource[heading]
                    )
                  }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->

<div *ngIf="!stateServiceLabel">
  <div *ngIf="ActiveButton?.includes('Mix') && !compType">
    <app-revenue-mix
      [chartId]="'doughnutDataChartId'"
      [chartData]="multiChart ? mainDoughnutArr : doughnutData"
      [chartOptions]="doughnutChartOptions"
      (compType)="getCompType($event)"
      [multiChart]="multiChart"
      (dounghnuChartLabels)="labels($event)"
      [chartTitle]="mainChartTitle"
      [returnCompType]="compType"
      (actionClicked)="getClickedAction($event)"
      [getChartPayload]="scatterChartPayload"
      [SelecetedUlb]="ulbId"
    ></app-revenue-mix>
  </div>
</div>

<div *ngIf="!stateServiceLabel">
  <div *ngIf="ActiveButton?.includes('Mix') && compType">
    <app-revenue-mix
      [chartId]="'doughnutDataChartId'"
      [chartData]="doughnutDataArr"
      [chartOptions]="doughnutChartOptions"
      (compType)="getCompType($event)"
      [multiChart]="multiChart"
      (dounghnuChartLabels)="labels($event)"
      [chartTitle]="''"
      [returnCompType]="compType"
      (actionClicked)="getClickedAction($event)"
      [getChartPayload]="scatterChartPayload"
      [multipleTitle]="multipleChartTitle"
      [SelecetedUlb]="ulbId"
    ></app-revenue-mix>
  </div>
</div>
<!-- <div *ngIf="ActiveButton === 'Own Revenue Mix'">
  <app-revenue-mix   [chartId]="generateRandomId('doughnutDataChartId')"
  [chartData]="doughnutData"
  [chartOptions]="doughnutChartOptions"
  [chartTitle]="'Total revenue of MCGM for last 3 years compared with state average'"></app-revenue-mix>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-12 mt-5 mb-5 d-flex">
      Cities

      <div *ngIf="!stateServiceLabel">
        <div class="mx-2" *ngIf="ActiveButton?.includes('Mix')">
          <select class="mixSelect" (change)="getChartDropdownValue($event)">
            <!-- <option *ngFor="let item of chartLabels" [value]="item">
              {{ item }}
            </option> -->
            <!-- <option *ngFor="let item of chartDropdownList" [value]="item?.value">
              {{item?.name}}
            </option> -->
            <option *ngFor="let item of chartDropdownList" [value]="item?.code">
              {{ item?._id }}
            </option>
          </select>
        </div>
      </div>
      <button
        class="rankingButton"
        [ngClass]="{ activeButton: BarGraphValue }"
        (click)="showBarGraph()"
      >
        Top 10
      </button>
      <button
        class="rankingButton"
        [ngClass]="{ activeButton: !BarGraphValue }"
        (click)="showBottomGraph()"
      >
        Bottom 10
      </button>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-revenuechart
        [headerActions]="headerActions"
        [chartTitle]="chartTitle"
        [chartId]="'topBarChartId234'"
        [chartData]="barData"
        [ChartOptions]="barChartOptions"
        [notFound]="barChartNotFound"
        (actionClicked)="getClickedAction($event)"
        [getChartPayload]="barChartPayload"
        [sourceDashboardName]="sourceDashboardName"
        [selectedFinancialYear]="financialYear"
      ></app-revenuechart>
    </div>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <div class="m-auto" style="width: 60%">
      You can also download the source data in excel format
      <button
        class="cursor-pointer bottomDownloadButton"
        (click)="downloadCsvFile()"
      >
        <img
          src="../../../../assets/CIty_detail_dashboard – 3/2867888_download_icon.svg"
          height="13px"
          width="13px"
          class="m-1"
        />Download Data
      </button>
    </div>
  </div>
</div>

</ng-container>

<ng-container *ngIf="widgetMode">
  <div *ngIf="!stateServiceLabel">
    <div *ngIf="apiParamData?.filterName?.includes('mix') && !apiParamData?.compareType">
      <app-revenue-mix
        [chartId]="'doughnutDataChartId'"
        [chartData]="multiChart ? mainDoughnutArr : doughnutData"
        [chartOptions]="doughnutChartOptions"
        (compType)="getCompType($event)"
        [multiChart]="multiChart"
        (dounghnuChartLabels)="labels($event)"
        [chartTitle]="mainChartTitle"
        [returnCompType]="apiParamData?.compareType"
        (actionClicked)="getClickedAction($event)"
        [getChartPayload]="scatterChartPayload"
        [SelecetedUlb]="apiParamData?.ulb"
      ></app-revenue-mix>
    </div>
  </div>
  
  <div *ngIf="!stateServiceLabel">
    <div *ngIf="apiParamData?.filterName?.includes('mix') && apiParamData?.compareType">
      <app-revenue-mix
        [chartId]="'doughnutDataChartId'"
        [chartData]="doughnutDataArr"
        [chartOptions]="doughnutChartOptions"
        (compType)="getCompType($event)"
        [multiChart]="multiChart"
        (dounghnuChartLabels)="labels($event)"
        [chartTitle]="''"
        [returnCompType]="apiParamData?.compareType"
        (actionClicked)="getClickedAction($event)"
        [multipleTitle]="multipleChartTitle"
        [SelecetedUlb]="ulbId"
      ></app-revenue-mix>
    </div>
  </div>
</ng-container>
