<div class="fc-grant">
  <div class="container-fluid">
    <div class="align-items-center d-flex flex-wrap">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="card bg-white sign-in">
          <div class="card-body border">
            <div class="">
              <div class="accountreactive">
                <h5 class="pointer text-center">
                  <b>{{ token ? "Reset" : "Forgot" }} Password</b>
                </h5>
              </div>

              <!-- <div class="text-center">
                <div class="row">
                  <a
                    [routerLink]="['/login']"
                    class="pointer"
                    style="color: white"
                    >Sign In</a
                  >
                </div>
              </div> -->
            </div>

            <h4 *ngIf="ulrMessage" class="success-message text-center">
              {{ ulrMessage }}
            </h4>
            <!-- <div class="selectuser">
              <h5 *ngIf="uiType === 'request' && !userTypeSelected" class="m-1">
                <b>Select User Type</b>
              </h5>
            </div> -->

            <app-user-type-confirmation
              *ngIf="uiType === 'request' && !userTypeSelected"
              (userTypeSelected)="onSelectingUserType($event)"
            ></app-user-type-confirmation>

            <form
              [formGroup]="passwordRequestForm"
              *ngIf="uiType === 'request' && userTypeSelected"
              (ngSubmit)="startCountDown(passwordRequestForm)"
            >
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>
                  {{
                    userTypeSelected === USER_TYPE.USER
                      ? "Email"
                      : "ULB Code/Census Code"
                  }}
                </mat-label>
                <input
                  matInput
                  type="email"
                  name="email"
                  formControlName="email"
                />
              </mat-form-field>
              <re-captcha
                style="margin-top: 1%; display: block; margin-bottom: 20px"
                *ngIf="reCaptcha.show"
                (resolved)="resolveCaptcha($event)"
                [siteKey]="reCaptcha.siteKey"
              ></re-captcha>

              <p
                *ngIf="errorMessage"
                class="error-message"
                [innerHTML]="errorMessage"
              >
                <!-- {{ errorMessage }} -->
              </p>

              <p *ngIf="successMessage" class="success-message">
                {{ successMessage }}
              </p>
              <div class="input-group" style="width: 100%">
                <button
                  style="width: 100%"
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="
                    passwordRequestForm.disabled || passwordRequestForm.invalid
                  "
                >
                  Continue
                </button>
              </div>
            </form>

            <form
              [formGroup]="passwordResetForm"
              *ngIf="uiType === 'reset'"
              (ngSubmit)="submitPasswordReset(passwordResetForm)"
            >
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>New Password</mat-label>
                <input
                  matInput
                  [type]="mainPassword ? 'password' : 'text'"
                  name="password"
                  [formControl]="passwordResetForm.controls['password']"
                />
                <mat-icon matSuffix (click)="mainPassword = !mainPassword">{{
                  mainPassword ? "visibility" : "visibility_off"
                }}</mat-icon>
              </mat-form-field>
              <!-- <div class="input-group">
                <span class="input-group-addon"
                  ><i class="glyphicon glyphicon-lock"></i
                ></span>
                <input
                  id="passwordd"
                  type="password"
                  class="form-control"
                  [formControl]="passwordResetForm.controls['password']"
                  placeholder="New Password"
                />
              </div> -->

              <!-- <div class="input-group">
                <span class="input-group-addon"
                  ><i class="glyphicon glyphicon-lock"></i
                ></span>
                <input
                  id="password"
                  type="password"
                  class="form-control"
                  [formControl]="passwordResetForm.controls['confirmPassword']"
                  placeholder="Confirm Password"
                />
              </div> -->

              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Confirm Password</mat-label>
                <input
                  matInput
                  [type]="confirmPassword ? 'password' : 'text'"
                  name="confirm_password"
                  [formControl]="passwordResetForm.controls['confirmPassword']"
                />
                <mat-icon
                  matSuffix
                  (click)="confirmPassword = !confirmPassword"
                  >{{
                    confirmPassword ? "visibility" : "visibility_off"
                  }}</mat-icon
                >
              </mat-form-field>

              <p
                *ngIf="errorMessage"
                class="error-message"
                [innerHTML]="errorMessage"
              >
                <!-- {{ errorMessage }} -->
              </p>

              <p *ngIf="successMessage" class="success-message">
                {{ successMessage }}
              </p>

              <div class="input-group" style="width: 100%">
                <button
                  type="submit"
                  style="width: 100%"
                  class="btn btn-primary"
                  [disabled]="passwordResetForm.disabled"
                >
                  Reset Password
                </button>
                <br />
                <br />
              </div>
            </form>

            <form
              [formGroup]="otpPasswordRequestForm"
              *ngIf="uiType === 'forgot'"
              (ngSubmit)="submitPasswordResetRequest(otpPasswordRequestForm)"
            >
              <div class="row" style="display: inline">
                <span
                  ><b
                    >Dear {{ otpCreads?.name }}, {{ otpCreads?.state }}
                  </b></span
                >
                <br />
                <span
                  ><b
                    >An OTP has been sent to {{ otpCreads?.mobile }} and
                    {{ otpCreads?.email }}
                  </b></span
                >
                <a
                  *ngIf="userTypeSelected == 'ULB'"
                  (click)="onChangeNumber()"
                  [routerLink]="['/ulb-not-registered']"
                  >change ?</a
                >
              </div>
              <div *ngIf="userTypeSelected == 'ULB'" class="row">
                <span
                  ><b
                    >Census Code/ ULB Code - {{ this.otpCreads.ulbCode }}</b
                  ></span
                >
                <a (click)="changePasswordRequest()"> change ?</a>
              </div>
              <div class="pull-right" style="margin-top: 1pc">
                <a (click)="startCountDown(passwordRequestForm)"
                  >Resend OTP?
                </a>
                <a *ngIf="counterTimer">{{ counter }} Sec</a>
              </div>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>OTP</mat-label>
                <input
                  matInput
                  [type]="text"
                  [formControl]="otpPasswordRequestForm.controls['otp']"
                />
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-100">
                <mat-label>New Password</mat-label>
                <input
                  matInput
                  [type]="mainPassword ? 'password' : 'text'"
                  name="password"
                  [formControl]="otpPasswordRequestForm.controls['password']"
                />
                <mat-icon matSuffix (click)="mainPassword = !mainPassword">{{
                  mainPassword ? "visibility" : "visibility_off"
                }}</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Confirm Password</mat-label>
                <input
                  matInput
                  [type]="confirmPassword ? 'password' : 'text'"
                  name="confirm_password"
                  [formControl]="
                    otpPasswordRequestForm.controls['confirmPassword']
                  "
                />
                <mat-icon
                  matSuffix
                  (click)="confirmPassword = !confirmPassword"
                  >{{
                    confirmPassword ? "visibility" : "visibility_off"
                  }}</mat-icon
                >
              </mat-form-field>

              <p
                *ngIf="errorMessage"
                class="error-message"
                [innerHTML]="errorMessage"
              >
                <!-- {{ errorMessage }} -->
              </p>

              <p *ngIf="successMessage" class="success-message">
                {{ successMessage }}
              </p>

              <div class="input-group" style="width: 100%">
                <button
                  type="submit"
                  style="width: 100%"
                  class="btn btn-primary"
                  [disabled]="otpPasswordRequestForm.disabled"
                >
                  Reset Password
                </button>
                <br />
                <br />
              </div>
            </form>
          </div>
          <p
            style="
              width: fit-content;
              margin: auto;
              font-size: 14px;
              margin-top: 20px;
            "
          >
            <a routerLink="/login">Sign in here</a>
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 text-center image-side">
        <div class="img-wrapper text-center">
          <img
            src="../assets/images/Group 13309.png"
            class="img-responsive m-auto"
          />
        </div>

        <P
          >For clarifications/ questions, please email us at
          <br />
          <a href="mailto:15fcgrant@cityfinance.in">15fcgrant@cityfinance.in</a
          >.
        </P>
        <p>We will respond to you within 24 hours.</p>
      </div>
    </div>
  </div>
</div>
