<div class="container-fluid">
  <div *ngIf="cagr" class="row" [ngClass]="{'heading': positive,'heading2': !positive}">
    <p class="mt-2 mb-2 thumbText"
    [ngClass]="{'thumbText': positive,'thumbText2': !positive}"
    >
      <span>
        <img style="max-width: 3%;" *ngIf="positive" src="../../../../assets/greendot.png" >
        <img style="max-width: 3%;" *ngIf="!positive" src="../../../../assets/reddot.png" >
        </span
      >&nbsp; {{cagr}}
    </p>
  </div>
  <div *ngFor="let item of data; let parentIndex = index" class="matAcc">
    <mat-accordion *ngIf="item.desc?.length > 0" [ngClass]="{'row': item.desc?.length > 0,'p-2':item.desc?.length > 0}">
      <mat-expansion-panel
      [expanded]="item.panelOpenState"
        (opened)="panelOpen(item,parentIndex)"
        (closed)="panelClose(item)"
      >
        <mat-expansion-panel-header style="background-color: #F5FAFF;">
          <mat-panel-title [ngClass]="{ activeIndicator: item.panelOpenState }">
            {{ item.name }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngIf="!loading">
          <ng-container *ngIf="item.name == 'Next Steps'">
            <p *ngFor="let item of btnList">
              <span>Explore <strong style="cursor: pointer;" (click)="stepBtnClick(item)">{{item}}</strong> stats for {{ulbsData[cityId].name}}</span>
            </p>
          </ng-container>
          <p id="{{parentIndex + item.name + childIndex }}" *ngFor="let innerItem of item.desc; let childIndex = index">{{
            innerItem.text }}
          </p>
        </ng-container>
        <ng-container *ngIf="loading">
          <mat-spinner style="margin-left: 11rem;" class="customLoader"></mat-spinner>
        </ng-container>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
