<div class="container-fluid" style="padding: 0; overflow-x: hidden;" *ngIf="loggedInUserType == USER_TYPE.ADMIN ||
loggedInUserType == USER_TYPE.MoHUA || loggedInUserType == USER_TYPE.PARTNER">
    <div class="row">
        <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2 m-c tabs is-centered is-fullwidth" #stickyMenu [ngClass]="{'sticky': sticky}" style="padding: 0 0; margin-left: 2px;">
            <div class="sideNav" [ngClass]="{'sticky':sticky}">
                <div class="row" style="background-color: #FFC500;margin-left: 0;">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <a [routerLink]="['../fc-home-page']" class="aTag">
                            <h5 class="pd" style="font-size: 14px;">
                                <div class="t-c" style="padding-right: 3px; margin-bottom: 6px;
                                font-weight: 500;margin-top: 15px;">
                                    <img src="../../../assets/ulbform/Icon ionic-ios-arrow-back.svg" style="margin-bottom: 2px;margin-right: 11px;">
                                </div>
                                <!-- <div class="col-sm-1">
                                </div> -->
                            </h5>
                        </a>
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9">
                        <a [routerLink]="['../fc-home-page']" class="aTag">
                            <h5 class="pd" style="font-size: 14px;">
                                <div class="t-c" style="padding-right: 3px; margin-bottom: 6px;
                                font-weight: 500;margin-top: 15px;">
                                    Approve Claims for 2021-2022
                                </div>
                                <!-- <div class="col-sm-1">
                                </div> -->
                            </h5>
                        </a>
                    </div>
                </div>
                <div class="row link-div" routerLinkActive="active">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <a [routerLink]="['dashboard']" class="aTag">
                            <div class="linktext pd">
                                <img src="../../../assets/ulbform/dh.png" style="margin-right: 11px;" class="svg-gt">
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9">
                        <a [routerLink]="['dashboard']" class="aTag">
                            <div class="linktext pd">
                                Dashboard
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row link-div" routerLinkActive="active">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <a [routerLink]="['review-state']" class="aTag">
                            <div class="linktext pd">
                                <img src="../../../assets//stateform/review.svg" class="svg-gt" style="margin-right: 11px;">
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9">
                        <a [routerLink]="['review-state']" class="aTag">
                            <div class="linktext pd">
                                Review State Forms
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row link-div" routerLinkActive="active">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <a class="aTag" [routerLink]="['review-ulb']">
                            <div class="linktext pd">
                                <img src="../../../assets/stateform/certificate (1).svg" class="svg-gt" style="margin-right: 11px;">
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9">
                        <a class="aTag" [routerLink]="['review-ulb']">
                            <div class="linktext pd">
                                Review Grant Application
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row link-div" routerLinkActive="active">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <a [routerLink]="['gt-mohua']" class="aTag">
                            <div class="linktext pd">
                                <img src="../../../assets/stateform/certificate (1).svg" class="svg-gt" style="margin-right: 11px;">
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9">
                        <a [routerLink]="['gt-mohua']" class="aTag">
                            <div class="linktext pd">
                                Grant Transfer
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-10 col-xs-10 col-md-10 col-lg-10 main" [ngClass]="{'stickyMain' : sticky || stiHieght}" style="width: 82%;">

            <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-12" style="padding-right: 0;">
                    <router-outlet></router-outlet>
                </div>
                <!-- </div> -->
            </div>


        </div>
        <div class="col-sm-12">
            <div class="spinner" *ngIf="showLoader" style="z-index: 999999; position: fixed; top: 0px; bottom: 0px">
                <mat-spinner></mat-spinner>
            </div>
        </div>
    </div>
</div>
