<div class="container-fluid" id="gtcpre" #gtcpre>
    <div class="row header-p">
        <div class="col-sm-12 text-end">
            <a (click)="closeMat()" class="pull-right">
                <img src="../../../../../assets/form-icon/Icon material-close.svg">
            </a>
        </div>
        <div class="col-sm-12 text-center heading-p">
            <span style="display: block;">
                Submissions for 15th FC grant for FY 2022-23
            </span>
            <b class="sub-h">{{ulbName}}, {{stateName}}</b>
        </div>
    </div>
    <div class="row" style="margin-top: 1rem;">
        <div class="col-sm-6">
            <p class="form-status">
                <b>Form Current Status:</b>&nbsp;&nbsp;&nbsp;{{formStatus}}
            </p>
        </div>
        <div class="col-sm-6 text-end">
            <button id="donwloadButton" class="btn btn-primary h-cls" (click)="clickedDownloadAsPDF(templateSave)">Download as
                PDF</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 form-h text-center">
            <p>Linking of PFMS Account</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6 questionClass qus-h">
                            <span>(A) Do you wish to submit Details for PFMS Account ?
                            </span>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 questionClass opacityClass ans-h">
                            {{data?.dataPreview?.linkPFMS ? data?.dataPreview?.linkPFMS : 'N/A'}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6 questionClass qus-h">
                            <span class="fontStyle">(B) Has the ULB linked its bank account with PFMS?
                            </span>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 questionClass opacityClass ans-h">
                            {{data?.dataPreview?.isUlbLinkedWithPFMS ? data?.dataPreview?.isUlbLinkedWithPFMS : 'N/A'}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6 questionClass qus-h">
                            <span>(C) PFMS Account Number
                            </span>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 questionClass opacityClass ans-h">
                            {{data?.dataPreview?.PFMSAccountNumber ? data?.dataPreview?.PFMSAccountNumber : 'N/A'}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6 questionClass qus-h">
                            <span>(D) Upload proof of account linkage with PFMS such as Bank account details, Bank
                                statement copy, etc
                            </span>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 questionClass opacityClass ans-h">
                            <a [ngClass]="{'hideUnderline': hideUnderline}" href="{{ data?.dataPreview?.cert?.url | toStorageUrl}}" target="_blank">{{data?.dataPreview?.cert?.name ? data?.dataPreview?.cert?.name: 'N/A'}}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6 questionClass qus-h">
                            <span>(E) Upload any other transaction doc from PFMS
                            </span>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 questionClass opacityClass ans-h">
                            <a [ngClass]="{'hideUnderline': hideUnderline}" href="{{ data?.dataPreview?.otherDocs?.url | toStorageUrl}}" target="_blank">{{data?.dataPreview?.otherDocs?.name ? data?.dataPreview?.otherDocs?.name : 'N/A'}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #templateSave>
    <div class="modal-body text-center alert">
        <div class="modal-header">
            <h4 class="modal-title pull-left" style="color: red;"> <i>Alert!</i> </h4>
            <div class="text-right">
                <a (click)="alertClose()">
                    <img src="../../../../assets/form-icon/close-red-icon.png">
                </a>
            </div>
        </div>

        <p style="margin-top: 8px;">
            You have some unsaved changes on this page. Do you wish to save your data as draft?
        </p>
        <div class="row">
            <div class="col-sm-12 text-end">
                <button type="button" class="btn btn-secondary " (click)="stay()">Stay</button>
                <button type="button" class="btn btn-success " style="margin-left: 6px; width: auto; background-color: #5cb85c" (click)="proceed()">
            Save & Proceed</button>
            </div>

        </div>
    </div>
</ng-template>