<ng-container *ngIf="id; else noId">
    <div class="row" style="margin-left: 2%;">
        <div class="col mt-3"></div>
        <ng-container *ngIf="id === 'upload-form'">
            <app-financial-uploads [financialData]="uploadObject">
                <button *ngIf="uploadObject && loggedInUserData?.role !== userTypes.ULB" (click)="location.back()" class="btn btn-primary btn-upload" style="transform: unset;">
          Back
        </button>
                <button *ngIf="uploadObject && loggedInUserData?.role == userTypes.ULB" routerLink="/fc_grant" class="btn btn-primary btn-upload" style="transform: unset;">
          Back
        </button>
            </app-financial-uploads>
        </ng-container>
    </div>
</ng-container>

<ng-template class="" #noId>
    <div class="common-container" style="padding: 5px 0 40px;">
        <div class="container" style="max-width: 100%;">
            <div class="row">
                <div class="col-sm-12" *ngIf="
            !(
              userUtil.getUserType() == 'ULB' ||
              userUtil.getUserType() == 'STATE'
            )
          ">
                    <!-- <app-financial-data-chart
            [financialYears]="financialYearDropdown"
          ></app-financial-data-chart> -->
                </div>
            </div>
            <!-- Cards -->

            <button routerLink="/fc-home-page" class="btn btn-t" style="margin: 0; padding-left: 4px;
            padding-top: 4px;margin-bottom: 1%;">
              <mat-icon aria-hidden="false" style="font-size: 18px;">
                <img src="../../../assets/homeIcon/home_white_18dp (1).svg">
            </mat-icon>Back
            </button>
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card blue">
                  <img src="../../../assets/images/card-icons/team.png" alt="Team" />
                  <p class="heading">Total Number of ULBs</p>
                  <span class="card-main-value" [ngClass]="{ 'loading-value': !cardData }">
          {{ cardData?.totalULB?.sum || "0" }}
        </span>
                  <hr class="customHr"/>

                  <div class="categories d-flex justify-content-between align-items-center">
                      <span class="category">
            <span class="category-heading">Municipal<br />Corporations</span
            ><br />
            <span
              class="category-heading category-value"
              [ngClass]="{ 'loading-value': !cardData }"
            >
              {{ (cardData?.totalULB)["Municipal Corporation"] || 0 }}
            </span>
                      </span>
                      <span class="category">
            <span class="category-heading">Municipalities</span>
                      <br />
                      <span class="category-heading category-value" [ngClass]="{ 'loading-value': !cardData }">
              {{ (cardData?.totalULB)["Municipality"] || 0 }}
            </span>
                      </span>
                      <span class="category">
            <span class="category-heading"
              >Town <br />
              Panchayats</span
            >
            <br />
            <span
              class="category-heading category-value"
              [ngClass]="{ 'loading-value': !cardData }"
            >
              {{ (cardData?.totalULB)["Town Panchayat"] || 0 }}
            </span>
                      </span>
                  </div>

                  <div class="view-list" (click)="onclickTotalNoOfULB()">View List</div>
              </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card pink">
                  <img src="../../../assets/images/card-icons/team.png" alt="Team" />
                  <p class="heading">No of ULBs (Submitted)</p>
                  <span class="card-main-value" [ngClass]="{ 'loading-value': !cardData }">
          {{ cardData?.registeredUlb?.sum || 0 }}
        </span>
                  <hr class="customHr" />

                  <div class="categories d-flex justify-content-between align-items-center">
                      <span class="category">
            <span class="category-heading">Municipal<br />Corporations</span>
                      <br />
                      <span class="category-heading category-value" [ngClass]="{ 'loading-value': !cardData }">
              {{ (cardData?.registeredUlb)["Municipal Corporation"] || 0 }}
            </span>
                      </span>
                      <span class="category">
            <span class="category-heading">Municipalities</span>
                      <br />
                      <span class="category-heading category-value" [ngClass]="{ 'loading-value': !cardData }">
              {{ (cardData?.registeredUlb)["Municipality"] || 0 }}
            </span>
                      </span>
                      <span class="category">
            <span class="category-heading"
              >Town <br />
              Panchayats</span
            >
            <br />
            <span
              class="category-heading category-value"
              [ngClass]="{ 'loading-value': !cardData }"
            >
              {{ (cardData?.registeredUlb)["Town Panchayat"] || 0 }}
            </span>
                      </span>
                  </div>

                  <div class="view-list" (click)="onClickCharTakeAction('')">
                      View List
                  </div>
              </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card green">
                  <img src="../../../assets/images/card-icons/team.png" alt="Team" />
                  <p class="heading">Million Plus Cities (Submitted)</p>
                  <span class="card-main-value" [ngClass]="{ 'loading-value': !cardData }">
          {{ cardData?.registeredMillionPlus?.sum || 0 }}
        </span>
                  <hr  class="customHr" />

                  <div class="categories d-flex justify-content-between align-items-center">
                      <span class="category">
            <span class="category-heading">Municipal<br />Corporations</span>
                      <br />
                      <span class="category-heading category-value" [ngClass]="{ 'loading-value': !cardData }">
              {{
                (cardData?.registeredMillionPlus)["Municipal Corporation"] ||
                  0
              }}
            </span>
                      </span>
                      <span class="category">
            <span class="category-heading">Municipalities</span>
                      <br />
                      <span class="category-heading category-value" [ngClass]="{ 'loading-value': !cardData }">
              {{ (cardData?.registeredMillionPlus)["Municipality"] || 0 }}
            </span>
                      </span>
                      <span class="category">
            <span class="category-heading"
              >Town <br />
              Panchayats</span
            >
            <br />
            <span
              class="category-heading category-value"
              [ngClass]="{ 'loading-value': !cardData }"
            >
              {{ (cardData?.registeredMillionPlus)["Town Panchayat"] || 0 }}
            </span>
                      </span>
                  </div>

                  <div class="view-list" (click)="onClickCharTakeAction('', 'Yes')">
                      View List
                  </div>
              </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card yellow">
                  <img src="../../../assets/images/card-icons/team.png" alt="Team" />
                  <p class="heading">Non-Million Cities (Submitted)</p>
                  <span class="card-main-value" [ngClass]="{ 'loading-value': !cardData }">
          {{ (cardData?.registeredNonMillionPlus)["sum"] || 0 }}
        </span>
                  <hr  class="customHr" />

                  <div class="categories d-flex justify-content-between align-items-center">
                      <span class="category">
            <span class="category-heading">Municipal<br />Corporations</span>
                      <br />
                      <span class="category-heading category-value" [ngClass]="{ 'loading-value': !cardData }">
              {{
                (cardData?.registeredNonMillionPlus)[
                  "Municipal Corporation"
                ] || 0
              }}
            </span>
                      </span>
                      <span class="category">
            <span class="category-heading">Municipalities</span>
                      <br />
                      <span class="category-heading category-value" [ngClass]="{ 'loading-value': !cardData }">
              {{ (cardData?.registeredNonMillionPlus)["Municipality"] || 0 }}
            </span>
                      </span>
                      <span class="category">
            <span class="category-heading"
              >Town <br />
              Panchayats</span
            >
            <br />
            <span
              class="category-heading category-value"
              [ngClass]="{ 'loading-value': !cardData }"
            >
              {{
                (cardData?.registeredNonMillionPlus)["Town Panchayat"] || 0
              }}
            </span>
                      </span>
                  </div>

                  <div class="view-list" (click)="onClickCharTakeAction('', 'No')">
                      View List
                  </div>
              </div>
              </div>
            </div>
              <div class="row" style="margin-top: 2%;">
                <div class="col-lg-auto">
                  <div class="card brown">
                    <img src="../../../assets/images/card-icons/team.png" alt="Team" />
                    <p class="heading">Million Plus Cities (Total)</p>
                    <span class="card-main-value" [ngClass]="{ 'loading-value': !cardData }">
          {{ (cardData?.totalMillionPlus)["sum"] || 0 }}
        </span>
                    <hr  class="customHr" />

                    <div class="categories d-flex justify-content-between align-items-center">
                        <span class="category">
            <span class="category-heading"
              >Municipal<br />Corporations</span
            >
            <br />
            <span
              class="category-heading category-value"
              [ngClass]="{ 'loading-value': !cardData }"
              >{{
                (cardData?.totalMillionPlus)["Municipal Corporation"] || 0
              }}</span
            >
          </span>
                        <span class="category">
            <span class="category-heading">Municipalities</span> <br />
                        <span class="category-heading category-value" [ngClass]="{ 'loading-value': !cardData }">{{ (cardData?.totalMillionPlus)["Municipality"] || 0 }}</span
            >
          </span>
                        <span class="category">
            <span class="category-heading"
              >Town <br />
              Panchayats</span
            >
            <br />
            <span
              class="category-heading category-value"
              [ngClass]="{ 'loading-value': !cardData }"
              >{{
                (cardData?.totalMillionPlus)["Town Panchayat"] || 0
              }}</span
            >
          </span>
                    </div>

                    <div class="view-list" (click)="
            onClickingOtherCards({
              isMillionPlus: 'Milion Plus',
              registration: ''
            })
          ">
                        View List
                    </div>
                </div>
                <div class="card dark-green" style="margin-bottom: 0px;margin-top: 8%;">
                  <img src="../../../assets/images/card-icons/team.png" alt="Team" />
                  <p class="heading">Non-Million Cities (Total)</p>
                  <span class="card-main-value" [ngClass]="{ 'loading-value': !cardData }">{{ (cardData?.totalNonMillionPlus)["sum"] || 0 }}</span
      >
      <hr  class="customHr" />

      <div
        class="categories d-flex justify-content-between align-items-center"
      >
        <span class="category">
          <span class="category-heading"
            >Municipal<br />Corporations</span
          >
          <br />
          <span
            class="category-heading category-value"
            [ngClass]="{ 'loading-value': !cardData }"
            >{{
              (cardData?.totalNonMillionPlus)["Municipal Corporation"] ||
                0
            }}</span
          >
        </span>
                  <span class="category">
          <span class="category-heading">Municipalities</span>
                  <br />
                  <span class="category-heading category-value" [ngClass]="{ 'loading-value': !cardData }">{{
              (cardData?.totalNonMillionPlus)["Municipality"] || 0
            }}</span
          >
        </span>
                  <span class="category">
          <span class="category-heading"
            >Town <br />
            Panchayat</span
          >
          <br />
          <span
            class="category-heading category-value"
            [ngClass]="{ 'loading-value': !cardData }"
            >{{
              (cardData?.totalNonMillionPlus)["Town Panchayat"] || 0
            }}</span
          >
        </span>
              </div>

              <div class="view-list" (click)="
          onClickingOtherCards({
            isMillionPlus: 'Non Million',
            registration: ''
          })
        ">
                  View List
              </div>
                </div>
                </div>
                <div class="col">
                  <div class="chart-container">
                    <p class="heading mb-2" style="font-size: 1.6rem; display: inline-block;margin-top:2%;margin-left: 2%;">
                        15<sup>th</sup> FC Form Status
                    </p>
                    <div style="float: right; display: inline-flex; align-items: center;margin-top:2%;margin-right: -8%;">
                    <span style="width: 320px;">Filter by Population Type:</span>
                <div class="input-group" style="display: inline-block;">
                  <select
                    name="State"
                    id="state"
                    class="form-control"
                    placeholder="State"
                    [formControl]="populationTypeFilterForChart"
                  >
                    <option value="" selected>Total ULBs</option>
                    <option value="true" selected>Million Plus</option>
                    <option value="false" selected>Non Million</option>
                  </select>
                </div>
              </div>
              <div style="position: relative;height: 292px;margin-top: 3%;">
                <canvas id="canvas" width="870" height="300"></canvas>
                <div
                  *ngIf="!chartData"
                  style="
                    position: absolute;
                    top: 0px;
                    z-index: 5;
                    width: 105%;
                    height: 100%;
                    background: white;
                  "
                >
                  <app-pre-loader></app-pre-loader>
                  <app-pre-loader></app-pre-loader>
                  <app-pre-loader></app-pre-loader>
                </div>
              </div>
              <div
                *ngIf="
                  haveRequestToTakeAction &&
                  (loggedInUserData?.role === userTypes.MoHUA ||
                    loggedInUserData?.role === userTypes.STATE)
                "
                class="take-action btn btn-primary"
                (click)="
                  onClickCharTakeAction(
                    loggedInUserData?.role === userTypes.STATE
                      ? UNDER_REVIEW_BY_STATE.id
                      : UNDER_REVIEW_BY_MoHUA.id
                  )
                "
              >
                Take Action on Submitted Forms
              </div>
              <div class="view-list" (click)="onClickCharTakeAction('')">
                View List
              </div>
            </div>      
                </div>
              </div>

      <div class="ulb-list" style="margin-top: 3%;">
        <ng-container [ngSwitch]="loggedInUserData.role">
          <ng-container *ngSwitchCase="userTypes.STATE">
            <span style="font-weight: 700;"
              >Files for State to Upload
              <span
                class="error-message"
                style="display: inline; font-style: italic;"
                >(Maximum 50Mb file size is allowed)</span
              >
            </span>

            <app-file-upload
              *ngIf="stateFcGrantDocuments !== undefined"
              [questions]="questionForState"
              (outputValues)="filesToSaveForState($event)"
              [documents]="stateFcGrantDocuments"
            ></app-file-upload>
          </ng-container>

          <ng-container *ngSwitchDefault>
            <h3>
              <span style="font-weight: 500;">Files Uploaded by State</span>
              <button
                *ngIf="stateFcGrantDocuments && stateFcGrantDocuments.length"
                class="btn btn-primary"
                style="float: right; margin-right: 6px;"
                (click)="downloadFilesUploadedByStatesList()"
              >
                Download List
              </button>
            </h3>
            <table
              aria-describedby="ULB Singup List"
              class="table upldate-table"
              *ngIf="stateFcGrantDocuments !== undefined; else loader"
            >
              <thead>
                <tr class="" style="color: white;">
                  <th scope="Sr.No" style="width: 5%;">Sr.No.</th>
                  <th
                    *ngIf="loggedInUserData.role !== userTypes.STATE"
                    scope="State Name"
                    style="width: 9%;"
                  >
                    State Name
                  </th>
                  <th scope="files">{{ questionForState[0].question }}</th>
                  <th scope="files">{{ questionForState[1].question }}</th>
                  <th scope="files">{{ questionForState[2].question }}</th>
                </tr>
              </thead>
              <tbody>
                <tr [formGroup]="ulbFilter">
                  <td style="padding-left:1% !important;"></td>
                  <td *ngIf="loggedInUserData.role !== userTypes.STATE"></td>
                  <td></td>
                </tr>
                <ng-container
                  *ngIf="stateFcGrantDocuments?.length; else noData"
                >
                  <tr
                    *ngFor="
                      let row of stateFcGrantDocuments
                        | paginate
                          : {
                              id: 'stateDocuments-pagination',
                              itemsPerPage:
                                stateDocumentstableDefaultOptions.itemPerPage,
                              currentPage:
                                stateDocumentstableDefaultOptions.currentPage,
                              totalItems:
                                stateDocumentstableDefaultOptions.totalCount
                            };
                      index as i
                    "
                  >
                    <td>
                      {{
                        (stateDocumentstableDefaultOptions?.currentPage - 1) *
                          10 +
                          i +
                          1
                      }}
                    </td>
                    <td *ngIf="loggedInUserData.role !== userTypes.STATE">
                      {{ row.stateName || row.state.name }}
                    </td>
                    <td>
                      <span
                        *ngIf="
                          row[questionForState[0].key] &&
                            row[questionForState[0].key][0] as file;
                          else nofile
                        "
                      >
                        <a [href]="file.url | toStorageUrl" target="_blank">{{ file.name }}</a>
                      </span>
                    </td>
                    <td>
                      <span
                        *ngIf="
                          row[questionForState[1].key] &&
                            row[questionForState[1].key][0] as file;
                          else nofile
                        "
                      >
                        <a [href]="file.url | toStorageUrl" target="_blank">{{ file.name }}</a>
                      </span>
                    </td>
                    <td>
                      <span
                        *ngIf="
                          row[questionForState[2].key] &&
                            row[questionForState[2].key][0] as file;
                          else nofile
                        "
                      >
                        <a [href]="file.url | toStorageUrl" target="_blank">{{ file.name }}</a>
                      </span>
                      <ng-template #nofile> N/A</ng-template>
                    </td>
                  </tr>
                </ng-container>
                <ng-template #noData>
                  <tr>
                    <td class="text-center" [attr.colspan]="5">
                      <h3>No Data Available</h3>
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
            <pagination-controls
              *ngIf="ulbtableDefaultOptions.totalCount && ulbList"
              style="float: right; position: relative;"
              id="stateDocuments-pagination"
              (pageChange)="setMoreStateForms($event)"
              directionLinks="true"
              autoHide="true"
              previousLabel="Previous"
              nextLabel="Next"
              screenReaderPaginationLabel="Pagination"
              screenReaderPageLabel="page"
              screenReaderCurrentLabel="You're on page"
            >
            </pagination-controls>
          </ng-container>
        </ng-container>
      </div>

      <div class="ulb-list" id="ulb-list">
        <div class="col-md-12" style="padding-left: 0px;">
          <h3>
            <span> ULB List </span>

            <button
              *ngIf="ulbList && ulbList.length"
              class="btn btn-primary"
              style="float: right; margin-right: 6px;"
              (click)="downloadULBList()"
            >
              Download List
            </button>
          </h3>
        </div>

        <div class="col-sm-12" style="padding-left: 0px;">
          <table
            aria-describedby="ULB Singup List"
            class="table upldate-table"
            *ngIf="ulbList; else loader"
          >
            <thead>
              <tr class="" style="color: white;">
                <th scope="Sr.No" style="width: 5%;">Sr.No.</th>
                <th
                  *ngIf="loggedInUserData.role !== userTypes.STATE"
                  scope="State Name"
                  style="width: 10%;"
                  (click)="sortByIdULBList('stateName')"
                >
                  State Name
                  <em class="glyphicon glyphicon-sort"></em>
                </th>
                <th scope="ULB Name" (click)="sortByIdULBList('ulbName')">
                  ULB Name<em class="glyphicon glyphicon-sort"></em>
                </th>
                <th
                  scope="ULB Type"
                  style="width: 10%;"
                  (click)="sortByIdULBList('ulbType')"
                >
                  ULB Type <em class="glyphicon glyphicon-sort"></em>
                </th>
                <th
                  scope="Census Code"
                  style="width: 11%;"
                  (click)="sortByIdULBList('censusCode')"
                >
                  Census Code <em class="glyphicon glyphicon-sort"></em>
                </th>
                <th
                  scope="ULB Code"
                  style="width: 11%;"
                  (click)="sortByIdULBList('sbCode')"
                >
                  ULB Code <em class="glyphicon glyphicon-sort"></em>
                </th>
                <th scope="Email Id" (click)="sortByIdULBList('email')">
                  Email Id <em class="glyphicon glyphicon-sort"></em>
                </th>
                <th
                  scope="Registered"
                  style="width: 13%;"
                  (click)="sortByIdULBList('registration')"
                >
                  Profile Updated <em class="glyphicon glyphicon-sort"></em>
                </th>
                <th scope="Type" (click)="sortByIdULBList('isMillionPlus')">
                  Population Type <em class="glyphicon glyphicon-sort"></em>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr [formGroup]="ulbFilter">
                <td></td>
                <td *ngIf="loggedInUserData.role !== userTypes.STATE">
                  <div class="input-group">
                    <select
                      name="State"
                      id="state"
                      formControlName="stateName"
                      class="form-control"
                      placeholder="State"
                    >
                      <option value="" selected>All States</option>
                      <option
                        *ngFor="let state of stateList"
                        [value]="state.name"
                      >
                        {{ state.name }}
                      </option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="input-group">
                    <input
                      formControlName="ulbName"
                      placeholder="ULB Name"
                      type="text"
                      class="form-control"
                    />
                  </div>
                </td>
                <td>
                  <select
                    name="Type"
                    id="state"
                    class="form-control"
                    formControlName="ulbType"
                  >
                    <option value="" selected>All Types</option>
                    <option value="Municipality">Municipality</option>
                    <option value="Municipal Corporation">
                      Municipal Corporation
                    </option>
                    <option value="Town Panchayat">Town Panchayat</option>
                  </select>
                </td>
                <td>
                  <div class="input-group">
                    <input
                      formControlName="censusCode"
                      placeholder="Census Code"
                      type="text"
                      class="form-control"
                    />
                  </div>
                </td>
                <td>
                  <div class="input-group">
                    <input
                      formControlName="sbCode"
                      placeholder="ULB Code"
                      type="text"
                      class="form-control"
                    />
                  </div>
                </td>
                <td>
                  <div class="input-group">
                    <input
                      formControlName="email"
                      placeholder="Email Id"
                      type="text"
                      class="form-control"
                    />
                  </div>
                </td>
                <!-- <td>
                  <div class="input-group">
                    <input
                      formControlName="mobile"
                      placeholder="Mobile Number"
                      type="text"
                      class="form-control"
                    />
                  </div>
                </td> -->
                <td>
                  <div class="input-group">
                    <select
                      name="registration"
                      id="registration"
                      formControlName="registration"
                      class="form-control"
                      placeholder="Registered"
                    >
                      <option value="" selected>Both</option>
                      <option value="Yes">Yes</option>
                      <option value="No">No</option>
                    </select>
                  </div>
                </td>
                <td style="width: 15%;">
                  <div class="input-group">
                    <select
                      formControlName="isMillionPlus"
                      name="population"
                      id="population"
                      class="form-control"
                      placeholder="Population"
                    >
                      <option value="" selected>Both</option>
                      <option value="Milion Plus">Million Plus</option>
                      <option value="Non Million">Non Million</option>
                    </select>
                  </div>
                </td>
              </tr>
              <ng-container *ngIf="ulbList?.length; else noData">
                <tr
                  *ngFor="
                    let row of ulbList
                      | paginate
                        : {
                            id: 'ulblist-pagination',
                            itemsPerPage: ulbtableDefaultOptions.itemPerPage,
                            currentPage: ulbtableDefaultOptions.currentPage,
                            totalItems: ulbtableDefaultOptions.totalCount
                          };
                    index as i
                  "
                >
                  <td>
                    {{ (ulbtableDefaultOptions?.currentPage - 1) * 10 + i + 1 }}
                  </td>
                  <td *ngIf="loggedInUserData.role !== userTypes.STATE">
                    {{ row.stateName }}
                  </td>
                  <td>{{ row.ulbName }}</td>

                  <td>{{ row.ulbType }}</td>
                  <td>{{ row.censusCode }}</td>
                  <td>{{ row.sbCode }}</td>
                  <td>{{ row.email || "Not Available" }}</td>
                  <!-- <td>{{ row.mobile }}</td> -->
                  <td class="text-center">{{ row.registration }}</td>
                  <td>
                    {{ row.isMillionPlus }}
                  </td>
                </tr>
              </ng-container>
              <ng-template #noData>
                <tr>
                  <td class="text-center" [attr.colspan]="10">
                    <h3>No Data Available</h3>
                  </td>
                </tr>
              </ng-template>
            </tbody>
          </table>
          <pagination-controls
            *ngIf="ulbtableDefaultOptions.totalCount && ulbList"
            style="float: right; position: relative;"
            id="ulblist-pagination"
            (pageChange)="setulbPage($event)"
            directionLinks="true"
            autoHide="true"
            previousLabel="Previous"
            nextLabel="Next"
            screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page"
          >
          </pagination-controls>
          <ng-template #loader>
            <div
              class="d-flex w-100 justify-content-center align-items-center"
              style="height: 70vh;"
            >
              <mat-spinner></mat-spinner>
            </div>
          </ng-template>
        </div>
      </div>

      <div class="data-upload-container" id="data-upload-tracker-list">
        <div class="col-md-12" style="padding-left: 0px;">
          <h3>
            <span> ULB 15th FC Form Status </span>
            <button
              role="menuitem"
              *ngIf="
                isAccessible && (!dataUploadList || !dataUploadList.length)
              "
              [routerLink]="['/user/xvform/upload-form']"
              class="btn btn-primary"
              style="border-radius: 5px; float: right; margin-right: 6px;"
            >
              Upload Data
            </button>

            <button
              *ngIf="
                dataUploadList &&
                dataUploadList.length &&
                loggedInUserData?.role === userTypes.MoHUA
              "
              class="btn btn-primary"
              style="float: right; margin-right: 6px;"
              (click)="openSecondModal(FCFormMultiApproval)"
            >
              Multi ULB Actions
            </button>
            <button
              *ngIf="dataUploadList && dataUploadList.length"
              class="btn btn-primary"
              style="float: right; margin-right: 6px;"
              (click)="downloadList()"
            >
              Download List
            </button>
          </h3>
        </div>

        <div class="col-sm-12" style="padding-left: 0px;">
          <table
            aria-describedby="ULB Singup List"
            class="table upldate-table"
            *ngIf="!loading; else loader"
          >
            <thead>
              <tr class="" style="color: white;">
                <th scope="S.No" class="text-center" style="width: 5%;">
                  S.No.
                </th>
                <th
                  scope=""
                  [ngClass]="header.id == 'action' ? 'text-center' : ''"
                  *ngFor="let header of tableHeaders"
                  [attr.width]="
                    header.width
                      ? header.width
                      : 100 / tableHeaders.length + '%'
                  "
                >
                  <ng-container [ngSwitch]="!!header.click">
                    <span
                      (click)="sortById(header.id)"
                      class="cursor-pointer"
                      *ngSwitchCase="true"
                    >
                      {{ header.title
                      }}<em class="glyphicon glyphicon-sort"></em
                    ></span>
                    <span *ngSwitchCase="false">{{ header.title }}</span>
                  </ng-container>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr [formGroup]="fileFormGroup">
                <td></td>
                <td *ngIf="loggedInUserData.role !== userTypes.STATE">
                  <div class="input-group">
                    <select
                      name="State"
                      id="state"
                      [formControl]="stateNameControl"
                      class="form-control"
                      placeholder="State"
                    >
                      <option value="" selected>All States</option>
                      <option
                        *ngFor="let state of stateList"
                        [value]="state.name"
                      >
                        {{ state.name }}
                      </option>
                    </select>
                  </div>
                </td>
                <td *ngIf="userUtil.getUserType() != 'ULB'">
                  <div class="input-group">
                    <input
                      placeholder="ULB Name"
                      type="text"
                      [formControl]="ulbNameSearchFormControl"
                      class="form-control"
                    />
                  </div>
                </td>
                <td>
                  <select
                    name="Type"
                    id="state"
                    class="form-control"
                    placeholder="State"
                    [formControl]="ulbTypeSearchFormControl"
                  >
                    <option value="" selected>All Types</option>
                    <option value="Municipality">Municipality</option>
                    <option value="Municipal Corporation">
                      Municipal Corporation
                    </option>
                    <option value="Town Panchayat">Town Panchayat</option>
                  </select>
                </td>
                <td>
                  <select
                    name="Type"
                    id="population"
                    class="form-control"
                    placeholder="Population Type"
                    [formControl]="populationTypeSearchFormControl"
                  >
                    <option value="" selected>Both</option>
                    <option value="No">Non Million</option>
                    <option value="Yes">Million Plus</option>
                  </select>
                </td>

                <td>
                  <div class="input-group">
                    <input
                      placeholder="Census Code"
                      type="text"
                      [formControl]="censusCode"
                      class="form-control"
                    />
                  </div>
                </td>
                <td>
                  <div class="input-group">
                    <input
                      placeholder="ULB Code"
                      type="text"
                      [formControl]="sbCode"
                      class="form-control"
                    />
                  </div>
                </td>

                <td>
                  <div class="input-group">
                    <label for="uploadStatus"></label>
                    <select
                      id="uploadStatus"
                      class="form-control"
                      [formControl]="uploadStatusFormControl"
                    >
                      <option value="" selected>All Status</option>
                      <option
                        [value]="option.id"
                        *ngFor="let option of uploadCheckStatusDropDown"
                      >
                        {{ option?.itemName }}
                      </option>
                    </select>
                  </div>
                </td>
                <td>
                  <button
                    class="btn btn-primary m-auto d-block"
                    (click)="applyFilterClicked()"
                  >
                    Search
                  </button>
                </td>
              </tr>
              <ng-container *ngIf="dataUploadList?.length; else noData">
                <tr
                  style="background: #e7e7e7; border-bottom: 5px solid white;"
                  *ngFor="
                    let row of dataUploadList
                      | paginate
                        : {
                            id: 'upload-pagination',
                            itemsPerPage: tableDefaultOptions.itemPerPage,
                            currentPage: tableDefaultOptions.currentPage,
                            totalItems: tableDefaultOptions.totalCount
                          };
                    index as i
                  "
                >
                  <td class="text-center">
                    {{
                      (tableDefaultOptions?.currentPage - 1) *
                        tableDefaultOptions.itemPerPage +
                        (i + 1)
                    }}
                  </td>
                  <td
                    [ngClass]="header.id == 'action' ? 'text-center' : ''"
                    *ngFor="let header of tableHeaders"
                  >
                    <ng-container [ngSwitch]="header.id">
                      <ng-container *ngSwitchCase="'action'">
                        <ng-container [ngSwitch]="row.canTakeAction">
                          <ng-container *ngSwitchCase="true">
                            <a
                              class="btn btn-primary"
                              (click)="navigateTo(row)"
                              title="Edit"
                              [routerLink]="[
                                '/user/xvform/upload-form',
                                row?._id
                              ]"
                              >Take {{ header.title }}
                            </a>
                          </ng-container>

                          <ng-container *ngSwitchCase="false">
                            <a
                              (click)="navigateTo(row)"
                              title="View"
                              [routerLink]="[
                                '/user/xvform/upload-form',
                                row?._id
                              ]"
                            >
                              <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                      <span *ngSwitchCase="'audited'">
                        {{ row[header.id] ? "Audited" : "Unaudited" }}
                      </span>
                      <span *ngSwitchCase="'ulbName'">{{
                        row[header.id]
                      }}</span>
                      <ng-container *ngSwitchCase="'status'">
                        <a (click)="openModal(row, historyModal)">
                          {{ row.customStatusText }}
                        </a>
                      </ng-container>

                      <span *ngSwitchDefault>{{ row[header.id] }}</span>
                    </ng-container>
                  </td>
                </tr>
              </ng-container>
              <ng-template #noData>
                <tr>
                  <td
                    class="text-center"
                    [attr.colspan]="tableHeaders.length + 1"
                  >
                    <div *ngIf="!dataUploadList">
                      <app-pre-loader></app-pre-loader>
                    </div>
                    <h3 *ngIf="dataUploadList?.length == 0">
                      No Data Available
                    </h3>
                  </td>
                </tr>
              </ng-template>
            </tbody>
          </table>
          <pagination-controls
            *ngIf="tableDefaultOptions.totalCount"
            style="float: right; position: relative;"
            id="upload-pagination"
            (pageChange)="setPage($event)"
            directionLinks="true"
            autoHide="true"
            previousLabel="Previous"
            nextLabel="Next"
            screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page"
          >
          </pagination-controls>
          <ng-template #loader>
            <div
              class="d-flex w-100 justify-content-center align-items-center"
              style="height: 70vh;"
            >
              <mat-spinner></mat-spinner>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #historyModal>
  <div class="modal-body">
    <div
      style="margin-bottom: 0.5rem; display: flex; justify-content: flex-end;"
    >
      <button
        style="min-width: min-content;"
        (click)="modalService.hide(1)"
        class="btn btn-danger"
        title="Close"
        type="button"
        data-dismiss="modal"
        aria-label="Close"
      >
        <i class="fa fa-times" style="color: white;"></i>
      </button>
    </div>
    <app-formhistory [data]="modalTableData"></app-formhistory>
  </div>
  <ng-template #noData>
    <div class="row">
      <div class="col-sm-12">
        <h4 class="text-center">Nothing to show</h4>
      </div>
    </div>
  </ng-template>
</ng-template>

<ng-template #updateWithoutChangeWarning>
  <div>
    <p class="text-center">
      The following fields were rejected but you are updating without making any
      changes.
    </p>
    <ol *ngIf="Object.keys(rejectFields) as keys">
      <li *ngFor="let key of keys">{{ rejectFields[key] }}</li>
    </ol>
    <p class="text-center font-weight-bold">
      <strong>Are you sure you want to update?</strong>
    </p>
    <div class="d-flex justify-content-center">
      <button
        #updateButton
        class="btn btn-primary mr-1"
        (click)="_matDialog.closeAll() || updateClickHandler(updateButton)"
      >
        Yes
      </button>
      <button class="btn btn-primary ml-1" (click)="_matDialog.closeAll()">
        No
      </button>
    </div>
  </div>
</ng-template>

<ng-template #FCFormMultiApproval>
  <header>
    <i
      class="fa fa-times"
      aria-hidden="true"
      (click)="_matDialog.closeAll()"
    ></i>

    <h3 class="text-center">15<sup>th</sup> FC Form Multi-ULB Actions</h3>
  </header>

  <mat-tab-group
    dynamicHeight="false"
    class="mt-2 approve-reject-tab"
    animationDuration="0ms"
  >
    <mat-tab [label]="'Approve ULBs'" [disabled]="!!totalUlbApprovalInProgress">
      <div class="approve">
        <div id="multiApprovalModal">
          <p class="states-selection" style="margin-bottom: 2%;">
            <span class="stateName"
              ><strong>Select Form Status Type:</strong></span
            >
            <angular2-multiselect
              [formControl]="formStatusForApprovalControl"
              style="display: inline-block; width: 70%;"
              [data]="formStatusListForMultiAction"
              [settings]="formStatusSelectionConfig"
            >
            </angular2-multiselect>
          </p>
          <p class="states-selection">
            <span class="stateName"><strong>Select States:</strong></span>
            <angular2-multiselect
              *ngIf="statesForULBUnderMoHUAApproval"
              [formControl]="multiStatesForApprovalControl"
              style="display: inline-block; width: 70%;"
              [data]="statesForULBUnderMoHUAApproval"
              [settings]="multiSelectStates"
              (onClose)="onSelectingMultipleStateForApproval($event)"
            >
            </angular2-multiselect>
            <span
              *ngIf="!statesForULBUnderMoHUAApproval"
              style="
                display: inline-block;
                width: 50%;
                height: 15vh;
                overflow: hidden;
              "
            >
              <app-pre-loader></app-pre-loader>
            </span>
          </p>
          <hr />
          <p
            class="states"
            *ngFor="
              let state of multiStatesForApprovalControl?.value;
              let i = index
            "
          >
            <span class="stateName"
              ><b> {{ i + 1 }}. {{ state.name }}: </b></span>
                    <span>
              <span *ngIf="state.ulbs">
                <angular2-multiselect
                  [formControl]="state.ULBFormControl"
                  classes="ml-5"
                  style="display: inline-block; width: 70%;"
                  [data]="state.ulbs"
                  [settings]="multiSelectStatesULBs"
                  (onClose)="updateCountOfULBs()"
                >
                </angular2-multiselect>
              </span>
                    <span *ngIf="!state.ulbs" style="
                  display: inline-block;
                  width: 50%;
                  height: 7vh;
                  overflow: hidden;
                ">
                <app-pre-loader></app-pre-loader>
              </span>
                    </span>
                    </p>
                </div>

                <div style="color: red; padding: 2%;" *ngIf="errorsInMultiSelectULBApprovalDueToAlreadyApproval?.length">
                    <span>
            <!-- <b
              >Approval for following ULB's
              {{
                errorsInMultiSelectULBApprovalDefault?.length > 1
                  ? "Applications are"
                  : "Application is"
              }}
              already approved:</b
            > -->

            <b
              >Action has already been taken on the following
              {{
                errorsInMultiSelectULBApprovalDefault?.length > 1
                  ? "ULBs"
                  : "ULB"
              }}:</b
            > </span
          ><br />
          <ol>
            <li
              *ngFor="
                let error of errorsInMultiSelectULBApprovalDueToAlreadyApproval
              "
            >
              {{ error }}
            </li>
          </ol>
        </div>

        <div
          style="color: red; padding: 2%;"
          *ngIf="errorsInMultiSelectULBApprovalDefault?.length"
        >
          <span
            ><b
              >Approval for following ULB's
              {{
                errorsInMultiSelectULBApprovalDefault?.length > 1
                  ? "Applications
              have"
                  : "Application has"
              }}
              failed:</b
            ></span
          ><br />
          <ol>
            <li *ngFor="let error of errorsInMultiSelectULBApprovalDefault">
              {{ error }}
            </li>
          </ol>
        </div>

        <p
          style="width: 100%;"
          *ngIf="showMultiSelectULBApprovalCompletionMessage"
          class="text-center"
        >
          <b style="color: green;">
            Approval Action Completed <br />
            <span *ngIf="showIntimationMessage"
              >Intimation over email has been sent to the ULB & State</span
            >
          </b>
        </p>

        <div class="justify-content-center d-flex Approvalbuttons">
          <button
            class="btn btn-primary"
            [disabled]="
              !multiStatesForApprovalControl?.value?.length ||
              totalUlbApprovalInProgress ||
              totalNumberOfULBsSelectedForMultiApproval == 0
            "
            (click)="approveMultipleSelectedULBS()"
          >
            Approve ULB(s)
            {{
              totalNumberOfULBsSelectedForMultiApproval > 1
                ? "Applications"
                : "Application"
            }}
          </button>
        </div>
      </div>
      <p class="note">
        <span style="font-size: 1.3em;">NOTE:</span> <br />1. Only those ULBs will be shown whose FC Grant Form is under review by MoHUA <br />
                    </p>
                    </mat-tab>

                    <mat-tab [label]="'Reject ULBs'" [disabled]="!!totalUlbApprovalInProgress">
                        <div class="approve">
                            <div id="multiApprovalModal">
                                <p class="states-selection" style="margin-bottom: 2%;">
                                    <span class="stateName"><strong>Select Form Status Type:</strong></span
            >
            <angular2-multiselect
              [formControl]="formStatusForRejectControl"
              style="display: inline-block; width: 70%;"
              [data]="formStatusListForMultiAction"
              [settings]="formStatusSelectionConfig"
            >
            </angular2-multiselect>
          </p>
          <p class="states-selection">
            <span class="stateName"><strong>Select States:</strong></span>
                                    <angular2-multiselect *ngIf="statesForULBUnderMoHUARejection" [formControl]="multiStatesForRejectControl" style="display: inline-block; width: 70%;" [data]="statesForULBUnderMoHUARejection" [settings]="multiSelectStates" (onClose)="onSelectingMultipleStateForRejection($event)">
                                    </angular2-multiselect>
                                    <span *ngIf="!statesForULBUnderMoHUAApproval" style="
                display: inline-block;
                width: 50%;
                height: 15vh;
                overflow: hidden;
              ">
              <app-pre-loader></app-pre-loader>
            </span>
                                </p>
                                <hr />
                                <p class="states" *ngFor="
              let state of multiStatesForRejectControl?.value;
              let i = index
            ">
                                    <span class="stateName"><b> {{ i + 1 }}. {{ state.name }}: </b></span
            >
            <span>
              <span *ngIf="state.ulbs">
                <angular2-multiselect
                  [formControl]="state.ULBFormControl"
                  classes="ml-5"
                  style="display: inline-block; width: 70%;"
                  [data]="state.ulbs"
                  [settings]="multiSelectStatesULBs"
                  (onClose)="updateCountOfULBsForReject()"
                >
                </angular2-multiselect>
              </span>
                                    <span *ngIf="!state.ulbs" style="
                  display: inline-block;
                  width: 50%;
                  height: 7vh;
                  overflow: hidden;
                ">
                <app-pre-loader></app-pre-loader>
              </span>
                                    </span>
                                </p>

                                <p class="states" style="display: flex;">
                                    <span class="stateName"><strong>
                Reason For Rejection <span style="color: red;">*</span> :
                                    </strong>
                                    </span>
                                    <span style="width: 70%;">
              <span>
                <textarea
                  [formControl]="reasonForMultiSelectRejection"
                  rows="3"
                  style="width: 100%;"
                  class="form-control"
                >
                </textarea>
              </span>
                                    </span>
                                </p>
                            </div>

                            <div style="color: red; padding: 2%;" *ngIf="errorsInMultiSelectULBRejectDueToAlreadyApproval?.length">
                                <span>
            <!-- <b
              >Rejection for following ULB's
              {{
                errorsInMultiSelectULBRejectDefault?.length > 1
                  ? "Applications are"
                  : "Application is"
              }}
              already approved:</b
            > -->

            <b
              >Action has already been taken on the following
              {{
                errorsInMultiSelectULBRejectDefault?.length > 1
                  ? "ULBs"
                  : "ULB"
              }}:</b
            > </span
          ><br />
          <ol>
            <li
              *ngFor="
                let error of errorsInMultiSelectULBRejectDueToAlreadyApproval
              "
            >
              {{ error }}
            </li>
          </ol>
        </div>

        <div
          style="color: red; padding: 2%;"
          *ngIf="errorsInMultiSelectULBRejectDefault?.length"
        >
          <span
            ><b
              >Rejection for following ULB's
              {{
                errorsInMultiSelectULBRejectDefault?.length > 1
                  ? "Applications
              have"
                  : "Application has"
              }}
              failed:</b
            ></span
          ><br />
          <ol>
            <li *ngFor="let error of errorsInMultiSelectULBRejectDefault">
              {{ error }}
            </li>
          </ol>
        </div>

        <p
          style="width: 100%;"
          *ngIf="showMultiSelectULBRejectionCompletionMessage"
          class="text-center"
        >
          <b style="color: green;">
            Rejection Action Completed <br />
            <span *ngIf="showIntimationMessage"
              >Intimation over email has been sent to the ULB & State</span
            >
          </b>
        </p>

        <div class="justify-content-center d-flex Approvalbuttons">
          <button
            class="btn btn-primary"
            [disabled]="
              reasonForMultiSelectRejection?.invalid ||
              !multiStatesForRejectControl?.value?.length ||
              totalUlbApprovalInProgress ||
              totalNumberOfULBsSelectedForMultiRejection == 0
            "
            (click)="rejectMultipleSelectedULBS()"
          >
            Reject ULB(s)
            {{
              totalNumberOfULBsSelectedForMultiRejection > 1
                ? "Applications"
                : "Application"
            }}
          </button>
        </div>
      </div>
      <p class="note">
        <span style="font-size: 1.3em;">NOTE:</span> <br />1. Only those ULBs will be shown whose FC Grant Form is under review by MoHUA <br />2. All selected ULBs will be have same rejection reason.
                                </p>
                    </mat-tab>
                    </mat-tab-group>
</ng-template>
