.side-menu-wrapper {
  border-radius: 1rem;
  background: #333;
  // overflow: auto;
  // max-height: 83vh;
  // height: 83vh;
  display: flex;
  flex-direction: column;
  color: white;
  border: 1px solid lightgray;
  // border-right: 0px;

  & .side-menu-content {
    background: #fff;
    color: #333;
    flex: 1;

    &.side-bar-section {
      color: inherit;
    }
  }

  .side-menu-item {
    cursor: pointer;
    outline: none;

    &:hover {
      background: darkgray !important;
    }
  }
}

.bg-black {
  background: #216278;
  color: white;
}
a{
  text-decoration: none;
}
:host {
  .accordion {
    border-top-left-radius: 14px;
    overflow: hidden;
    border-top-right-radius: 14px;
  }
  .card {
    overflow: hidden;
    font-size: 0.9vw;
    // background: rgb(45, 104, 45);
    .card-header {
      font-size: 1em;
      color: white;
      padding: 4% 2%;
      text-align: center;
      cursor: pointer;
      background: #022727;
      border-bottom: 0.1px solid white;
    }

    .card-body {
      padding: 1% 0% 1% 0%;
      background: rgb(199, 198, 198);
      .link {
        width: 100%;
        display: block;
        padding: 4%;
        transition: all 0.3s;
        color: black;

        &:hover {
          text-decoration: none;
          // background: white;
        }
      }

      .nested-links {
        padding-left: 8%;
      }
      div.link.heading {
        cursor: pointer;
        // padding-bottom: 0%;
        background: gray;
      }
    }
  }
}

.active {
  background: white;
  color: black;
  border-left: 0.4rem solid #059b9a;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 11px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 11px 1px 1px rgb(243, 243, 243);
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #059b9a;
  border-radius: 11px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f0ad4e;
}
