<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    State Finance Commission Notification Form was part of 15th FC 2022-23 Module,
                     please <a routerLink="/stateform2223/fc-formation">click here</a> to access last year form. 
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3 mt-4">
        <div class="col-sm-6">
            <button type="button" class="btn btn-c-back" routerLinkActive="router-link-active" [routerLink]='backRouter'>
                <- Previous Form</button>
        </div>
        <div class="col-sm-6 text-end">
            <button type="button" class="btn btn-c-next" 
            routerLinkActive="router-link-active" [routerLink]="nextRouter">Next Form-></button>
        </div>
            

    </div>
</div>

