<div class="container-fluid" #statePre id="statePre">
    <div class="row m-h-mr">
        <div class="col-sm-12 text-end b-hide">
            <a mat-dialog-close>
                <img src="https://img.icons8.com/metro/26/000000/multiply.png" />
            </a>
        </div>
        <div class="col-sm-12 dnld-mr">
            <h2 class="m-h" style="line-height: normal; margin: 0;"> Submissions for 15th FC Grants for FY 2021-22</h2>
            <h3 class="sub-m-h" style="line-height: normal; margin: 0;">{{state}}</h3>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
        <!-- <div class="col-sm-8 sbDate"> Date & Time of submission : {{ subDate | date:'medium' }}</div> -->
        <div class="col-sm-12 text-end b-hide">
            <button id="donwloadButton" (click)="openModal()" class="btn btn-primary btn-upload">
          Download as PDF
      </button>
        </div>

    </div>
    <div class="row m-h-mr" *ngIf="gtcData">
        <div class="col-sm-12">
            <app-gtcertificate-preview [changeFromOutSide]="changeTrigger.changeInGTC" [parentData]="gtcData"></app-gtcertificate-preview>
        </div>
    </div>

    <!-- <div class="row" *ngIf="pfmsStateData">
        <div class="col-sm-12">
            <app-pfms-preview [changeFromOutSide]="changeTrigger.changeInPFMSAccountState" [parentData]="pfmsStateData"></app-pfms-preview>
        </div>
    </div> -->
    <div class="page-break"></div>
    <div class="row" *ngIf="stateSlbData">
        <div class="col-sm-12">
            <app-water-supply-preview [changeFromOutSide]="changeTrigger.changeInstateSlbData" [parentData]="stateSlbData"></app-water-supply-preview>
        </div>
    </div>
    <div class="page-break"></div>
    <div class="row" *ngIf="waterRejData">
        <div class="col-sm-12">
            <app-water-rejenuvation-preview [changeFromOutSide]="changeTrigger.changeInWaterRejenuvation" [parentData]="waterRejData"></app-water-rejenuvation-preview>
        </div>
    </div>
    <div class="page-break"></div>
    <div class="row" *ngIf="actionPlanData">
        <div class="col-sm-12">
            <app-actionplanspreview [changeFromOutSide]="changeTrigger.changeInActionPlans" [parentData]="actionPlanData"></app-actionplanspreview>
        </div>
    </div>
    <!-- <div class="page-break"></div> -->
    <div class="row" *ngIf="gAllData" style="margin-top: 5rem; margin-bottom: 2rem;">
        <div class="col-sm-12">
            <app-grant-all-preview [changeFromOutSide]="changeTrigger.ChangeInGrantAllocation" [parentData]="gAllData"></app-grant-all-preview>
        </div>
    </div>
</div>