
<div class="common-container">
    <div class="container">

    <div class="row">
      <div class="col-md-6">
        <h3>Credit Rating Scale</h3>
      </div>
      <div class="col-md-6">
        <a href="/assets/files/CreditRatingScale.xlsx">
          <button class="right btn btn-primary">Download</button>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table border="1">
          <tr style="background-color: #ddd">
            <th style="width: 20%">Rating</th>
            <th style="width: 80%">Description</th>
          </tr>
          <tr>
            <td><b>CRISIL</b></td>
            <td></td>
          </tr>
          <tr>
            <td>CRISIL AAA (Highest Safety)</td>
            <td>Instruments with this rating are considered to have the highest degree of safety regarding timely servicing of financial obligations. Such instruments carry lowest credit risk.</td>
          </tr>
          <tr>
            <td>CRISIL AA (High Safety)</td>
            <td>Instruments with this rating are considered to have high degree of safety regarding timely servicing of financial obligations. Such instruments carry very low credit risk.</td>
          </tr>
          <tr>
            <td>CRISIL A (Adequate Safety)</td>
            <td>Instruments with this rating are considered to have adequate degree of safety regarding timely servicing of financial obligations. Such instruments carry low credit risk.</td>
          </tr>
          <tr>
            <td>CRISIL BBB (Moderate Safety)</td>
            <td>Instruments with this rating are considered to have moderate degree of safety regarding timely servicing of financial obligations. Such instruments carry moderate credit risk.</td>
          </tr>
          <tr>
            <td>CRISIL BB (Moderate Risk)</td>
            <td>Instruments with this rating are considered to have moderate risk of default regarding timely servicing of financial obligations.</td>
          </tr>
          <tr>
            <td>CRISIL B (High Risk)</td>
            <td>Instruments with this rating are considered to have high risk of default regarding timely servicing of financial obligations.</td>
          </tr>
          <tr>
            <td>CRISIL C (Very High Risk)</td>
            <td>Instruments with this rating are considered to have very high risk of default regarding timely servicing of financial obligations.</td>
          </tr>
          <tr>
            <td>CRISIL D (Default)</td>
            <td>Instruments with this rating are in default or are expected to be in default soon.</td>
          </tr>
          <tr>
            <td>Note 1</td>
            <td>CRISIL may apply '+' (plus) or '-' (minus) signs for ratings from 'CRISIL AA' to 'CRISIL C' to reflect comparative standing within the category. </td>
          </tr>
          <tr>
            <td>Note 2</td>
            <td>CRISIL may assign rating outlooks for ratings from 'CRISIL AAA' to 'CRISIL B'. Ratings on Rating Watch will not carry outlooks. A rating outlook indicates the direction in which a rating may move over a medium-term horizon of one to two years. A rating outlook can be 'Positive', 'Stable', or 'Negative'. A 'Positive' or 'Negative' rating outlook is not necessarily a precursor of a rating change. </td>
          </tr>
          <tr>
            <td><b>CARE</b></td>
            <td></td>
          </tr>
          <tr>
            <td>CARE AAA</td>
            <td>Instruments with this rating are considered to have the highest degree of safety regarding timely servicing of financial obligations. Such instruments carry lowest credit risk.</td>
          </tr>
          <tr>
            <td>CARE AA</td>
            <td>Instruments with this rating are considered to have high degree of safety regarding timely servicing of financial obligations. Such instruments carry very low credit risk.</td>
          </tr>
          <tr>
            <td>CARE A</td>
            <td>Instruments with this rating are considered to have high degree of safety regarding timely servicing of financial obligations. Such instruments carry very low credit risk.</td>
          </tr>
          <tr>
            <td>CARE BBB</td>
            <td>Instruments with this rating are considered to have moderate degree of safety regarding timely servicing of financial obligations. Such instruments carry moderate credit risk.</td>
          </tr>
          <tr>
            <td>CARE BB</td>
            <td>Instruments with this rating are considered to have moderate risk of default regarding timely servicing of financial obligations.</td>
          </tr>
          <tr>
            <td>CARE B</td>
            <td>Instruments with this rating are considered to have high risk of default regarding timely servicing of financial obligations.</td>
          </tr>
          <tr>
            <td>CARE C</td>
            <td>Instruments with this rating are considered to have very high risk of default regarding timely servicing of financial obligations.</td>
          </tr>
          <tr>
            <td>CARE D</td>
            <td>Instruments with this rating are in default or are expected to be in default soon.</td>
          </tr>
          <tr>
            <td>Note 1</td>
            <td>Modifiers "+" (plus) / "-"(minus) can be used with the rating symbols for the categories CARE AA to CARE C. The modifiers reflect the comparative standing within the category.</td>
          </tr>
          <tr>
            <td><b>ICRA</b></td>
            <td></td>
          </tr>
          <tr>
            <td>AAA</td>
            <td>Issuers with this rating are considered to have the highest degree of safety regarding timely servicing of financial obligations. Such issuers carry lowest credit risk.</td>
          </tr>
          <tr>
            <td>AA</td>
            <td>Issuers with this rating are considered to have high degree of safety regarding timely servicing of financial obligations. Such issuers carry very low credit risk.</td>
          </tr>
          <tr>
            <td>A</td>
            <td>Issuers with this rating are considered to have adequate degree of safety regarding timely servicing of financial obligations. Such issuers carry low credit risk.</td>
          </tr>
          <tr>
            <td>BBB</td>
            <td>Issuers with this rating are considered to have moderate degree of safety regarding timely servicing of financial obligations. Such issuers carry moderate credit risk.</td>
          </tr>
          <tr>
            <td>BB</td>
            <td>Issuers with this rating are considered to have moderate risk of default regarding timely servicing of financial obligations.</td>
          </tr>
          <tr>
            <td>B</td>
            <td>Issuers with this rating are considered to have high risk of default regarding timely servicing of financial obligations.</td>
          </tr>
          <tr>
            <td>C</td>
            <td>Issuers with this rating are considered to have very high risk of default regarding timely servicing of financial obligations.</td>
          </tr>
          <tr>
            <td>D</td>
            <td>Issuers with this rating are in default or are expected to be in default soon.</td>
          </tr>
          <tr>
            <td>Note 1</td>
            <td>For the rating categories [ICRA]AA through to [ICRA]C, the modifier + (plus) or – (minus) may be appended to the rating symbols to indicate their relative position within the rating categories concerned. Thus, the rating of [ICRA]AA+ is one notch higher than [ICRA]AA, while [ICRA]AA- is one notch lower than [ICRA]AA.</td>
          </tr>
          <tr>
            <td><b>Brickwork</b></td>
            <td></td>
          </tr>
          <tr>
            <td>BWR AAA</td>
            <td>Issuers with this rating are considered to offer the highest degree of safety and carry lowest credit risk</td>
          </tr>
          <tr>
            <td>BWR AA</td>
            <td>Issuers with this rating are considered to offer the high degree of safety and carry very low credit risk</td>
          </tr>
          <tr>
            <td>BWR A</td>
            <td>Issuers with this rating are considered to offer the adequate degree of safety and carry low credit risk</td>
          </tr>
          <tr>
            <td>BWR BBB</td>
            <td>Issuers with this rating are considered to offer the moderate degree of safety and carry moderate credit risk</td>
          </tr>
          <tr>
            <td>BWR BB</td>
            <td>Issuers with this rating are considered to offer moderate risk of default</td>
          </tr>
          <tr>
            <td>BWR B</td>
            <td>Issuers with this rating are considered to offer high risk of default</td>
          </tr>
          <tr>
            <td>BWR C</td>
            <td>Issuers with this rating are considered to offer very high risk of default</td>
          </tr>
          <tr>
            <td>BWR D</td>
            <td>Issuers with this rating are in default or are expected to be in default soon.</td>
          </tr>
          <tr>
            <td>Note 1</td>
            <td>+ or - modifiers can be used with BWR AA to BWR C. They reflect comparitive standing for the same category</td>
          </tr>
          <tr>
            <td><b>IRR</b></td>
            <td></td>
          </tr>
          <tr>
            <td>IND AAA(SO)</td>
            <td>Instruments with this rating are considered to have the highest degree of safety regarding timely servicing of financial obligations. Such instruments carry lowest credit risk.</td>
          </tr>
          <tr>
            <td>IND AA(SO)</td>
            <td>Instruments with this rating are considered to have high degree of safety regarding timely servicing of financial obligations. Such instruments carry very low credit risk.</td>
          </tr>
          <tr>
            <td>IND A(SO)</td>
            <td>Instruments with this rating are considered to have adequate degree of safety regarding timely servicing of financial obligations. Such instruments carry low credit risk.</td>
          </tr>
          <tr>
            <td>IND BBB(SO)</td>
            <td>Instruments with this rating are considered to have moderate degree of safety regarding timely servicing of financial obligations. Such instruments carry moderate credit risk.</td>
          </tr>
          <tr>
            <td>IND BB(SO)</td>
            <td>Instruments with this rating are considered to have moderate risk of default regarding timely servicing of financial obligations.</td>
          </tr>
          <tr>
            <td>IND B(SO)</td>
            <td>Instruments with this rating are considered to have high risk of default regarding timely servicing of financial obligations.</td>
          </tr>
          <tr>
            <td>IND C(SO)</td>
            <td>Instruments with this rating are considered to have very high likelihood of default regarding timely payment of financial obligations.</td>
          </tr>
          <tr>
            <td>IND D(SO)</td>
            <td>Instruments with this rating are in default or are expected to be in default soon.</td>
          </tr>
          <tr>
            <td>Note 1</td>
            <td>Modifiers "+" (plus) / "-"(minus) can be used with the rating symbols for the categories IND AA(SO) to IND C(SO). The modifiers reflect the comparative standing within the category.</td>
          </tr>
        </table>
      </div>
    </div>


  </div>
  </div>
