.mat-icon {
    width: 14px;
}

.material-icons {
    vertical-align: middle;
}

.out-f-h {
    background: darkgray;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.link-div:hover,
.link-div.active {
    background-color: #FFFFFF;
    .linktext {
        margin-top: 8px;
        color: #212121;
    }
    .svg-icon {
        filter: none;
    }
    .svg-gt {
        filter: invert(1);
    }
    .svg-gl {
        filter: invert(0);
    }
}

.linktext {
    margin-top: 8px;
    color: #FFFFFF;
}
.nav-link.active .upscale-icon {
    filter: invert(1);
}

@media (min-width:961px) {
    .sidebar {
        transition: width 40ms ease-out;
        .nav-link.active .mat-icon:first-child {
            filter: invert(1);
        }
        .collapsable {
            transition: all 40ms ease-out;
        }
        &:not(:hover) {
            width: 5%;
            .upscale-icon {
                transform: scale(1.5);
            }
            .collapsable {
                display: none;
            }
        }
    }
}

.nav-pills .nav-link.active {
    background-color: white;
    color: black;
}

.link-div {
    background-color: #114551;
    // height: 36px;
    padding-top: .5rem;
    padding-left: 8%;
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: .5rem;
}

.link-div-u {
    background-color: #DCDCDC;
    padding-left: 2rem;
    font-size: 14px;
    font-weight: 500;
    // padding-top: 0.5rem;
    // padding-bottom: 0.5rem;
}

.linktext-u {
    margin-top: 10px;
    color: #212121;
    margin-bottom: 6px;
    padding-left: 5px;
}

a {
    text-decoration: none;
}

.b-h {
    background-color: #ffc500;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #fff;
    vertical-align: middle;
}

.bk-text {
    color: #fff;
}

.header1 {
    font-family: Roboto, Medium;
    color: #373737;
    font-size: 24px;
    margin-top: 30px;
}

.s-th {
    border-radius: 4px;
    width: 96px;
    height: 28px;
    border-color: #00000029;
    font-weight: 400;
    font-size: 12px;
}

.p-s {
    padding-left: 20px;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    vertical-align: middle;
    text-align: center;
    font-size: 14px !important;
}

.btn-d {
    background-color: #059B9A;
    color: #FFFFFF;
}

.s-s {
    position: relative;
    margin-right: -21px;
}

.filter {
    border: none;
}

.tracking-history-table {
    thead tr th {
        background: #047474;
        color: white;
    }
    tbody tr:nth-child(even) {
        background: #dbdbdb;
    }
}

.btn:hover {
    background-color: #ffc500;
    font-weight: bold;
}

::ng-deep {
    .spinner {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        padding-left: 15%;
        padding-top: 12%;
    }
}

.notClick {
    pointer-events: none;
    cursor: not-allowed;
}

.breadLink {
    color: blue;
    padding: 0 2px 6px 0px;
    font-size: 14px;
    // text-decoration: underline;
}

.breadLink:hover {
    color: #ffc500;
}

.br-cd {
    border: 1px solid transparent;
    background-color: #efeaea;
}
