<div class="d-flex flex-column flex-shrink-0 p-3 col-sm-2 text-light w-100" style="background-color: #114551;" *ngIf="isLeftMenu">
    <a *ngIf="role !== 'PMU'" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-light text-decoration-none"
        routerLink="/fc-home-page">
        <div class="row">
            <div class="col-sm-2">
                <mat-icon>home</mat-icon>
            </div>
            <div class="col-sm-10 collapsable">
                15FC Grants Home - {{selectedYear}}
            </div>
        </div>
    </a>
    <hr *ngIf="role !== 'PMU'">
    <ul class="nav nav-pills flex-column mb-auto">
        <ng-container *ngFor="let menuItem of leftMenu | keyvalue : returnPostion">
            <li class="out-f-h px-3 py-2 collapsable" *ngIf="(menuItem?.key?.split('_'))[0]">
                <!-- <mat-icon class="pull-right" aria-hidden="false">
                    <img src="assets/form-icon/checked.svg">
                </mat-icon> -->
                <span>
                    {{(menuItem?.key?.split('_'))[0]}}
                </span>
            </li>
            <li *ngFor="let sideItem of menuItem?.value">
                <a routerLinkActive="active" [routerLink]="sideItem?.url"
                    class="nav-link d-flex justify-content-between link-light">
                    <div class="d-flex">
                        <mat-icon aria-hidden="false" class="svg-gt ml-2" style="flex: 0 0 15px;">
                            <img class="upscale-icon" src="{{sideItem?.icon | toStorageUrl}}">
                        </mat-icon>
                        <span class="collapsable" style="margin-left: 10px;">{{sideItem?.name}}</span>
                    </div>
                    <mat-icon style="flex: 0 0 12px;" class="pull-right collapsable" aria-hidden="false" [tooltip]="sideItem?.tooltip">
                        <img src="{{sideItem?.tick }}">
                    </mat-icon>
                </a>
            </li>
        </ng-container>
    </ul>
</div>

<div class="loader" *ngIf="!isLeftMenu">
    <app-form-loader></app-form-loader>
 </div> 

