<div class="document-wrapper">
  <p class="question-instruction">
    <strong>NOTE:</strong><br />
    1. Question with <span class="mandatory">*</span> sign are mandatory.<br />
    2. Only files wih extensions <strong>{{ fileExnetsionAllowed }}</strong> are
    allowed. Other type of files will be filtered out.<br />
    3. Maximum of 10 files can be selected per question.<br />
    4. Duplicate Files for same question will be filtered out.<br />

    5. Please use following format for naming the documents to be uploaded:
    <span *ngIf="userType === USER_TYPE.STATE"
      >nameofthedocument_State name</span
    >
    <span *ngIf="userType === USER_TYPE.ULB"
      >nameofthedocument_State name_ULB name</span
    >
    <br />
    6. Maximum file size allowed is {{ MaxFileSize / (1024 * 1024) }} MB. Files
    bigger than this will be filtered out.
  </p>
  <table class="question-table">
    <tbody>
      <tr *ngFor="let question of questions; let i = index">
        <td>
          <p style="position: absolute; top: 1px; padding-top: 11px;">
            {{ i + 1 }}.
          </p>
        </td>
        <td>
          <p class="question">
            <span [innerHTML]="question.question"></span>

            <span *ngIf="i === 0" class="mandatory">*</span>
          </p>
          <div
            class="file-list"
            *ngFor="let file of userSelectedFiles[question.key]; let i = index"
          >
            <span class="file-tracker-name">
              {{ file.name }}
            </span>
            <div
              class="progress"
              *ngIf="
                fileUploadTracker[question.key] &&
                fileUploadTracker[question.key][file.name]
              "
            >
              <div
                class="progress-bar"
                role="progressbar"
                [ngStyle]="{
                  'width.%':
                    fileUploadTracker[question.key][file.name].percentage
                }"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                {{ fileUploadTracker[question.key][file.name].percentage }} %
              </div>
            </div>
            <a
              *ngIf="
                (documents &&
                  documents[question.key] &&
                  documents[question.key][i]?.url) ||
                (fileUploadTracker &&
                  fileUploadTracker[question.key] &&
                  fileUploadTracker[question.key][file.name].percentage ===
                    100 &&
                  fileUploadTracker[question.key][file.name]
                    ?.url) as downloadurl
              "
              [href]="downloadurl"
              class="download-link-icon"
              target="_blank"
            >
              <i
                title="Download"
                class="fa fa-cloud-download"
                aria-hidden="true"
              ></i>
            </a>

            <span
              style="float: right; margin-left: 2%;"
              *ngIf="canUploadFile && !documentForm.disabled"
            >
              <i
                class="fa fa-times"
                aria-hidden="true"
                title="Remove"
                (click)="cancelFileUpload(question.key, file.name)"
              ></i>
            </span>
          </div>

          <div *ngIf="documents && !canUploadFile">
            <div
              class="file-list showList"
              *ngFor="let doc of documents[question.key] || []"
            >
              <span class="file-tracker-name"> {{ doc.name }}</span>
              <a [href]="doc.url" class="download-link-icon" target="_blank">
                <i
                  title="Download"
                  class="fa fa-cloud-download"
                  aria-hidden="true"
                ></i>
              </a>

              <!-- <a [href]="doc.url"
              ></a
            > -->
            </div>
          </div>
        </td>

        <td>
          <button
            *ngIf="canUploadFile"
            class="myFile btn btn-primary"
            title="Select File/s"
            [disabled]="!canUploadFile"
          >
            Select File/s
            <input
              title="Select File/s"
              id="fileinput"
              *ngIf="canUploadFile"
              [disabled]="!canUploadFile"
              type="file"
              multiple
              (change)="fileChangeEvent($event, question.key)"
              onmouseover=""
            />
          </button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button
            *ngIf="canUploadFile"
            class="btn btn-primary btn-upload mt-3"
            style="float: right; margin-right: 2%;"
            (click)="previous.emit(true)"
          >
            Previous
          </button>
          <button
            *ngIf="canUploadFile && !documentForm.disabled"
            class="btn btn-primary btn-upload mt-3"
            style="float: right; margin-right: 2%;"
            [disabled]="NoOfFileInProgress !== 0"
            (click)="onSaveAsDraftClick()"
          >
            Save as draft
          </button>
        </td>
        <td>
          <button
            *ngIf="canUploadFile"
            class="btn btn-primary btn-upload mt-3"
            (click)="onUploadButtonClick()"
            [disabled]="NoOfFileInProgress !== 0"
          >
            Next
          </button>
          <button
            *ngIf="!canUploadFile"
            class="btn btn-primary btn-upload mt-3"
            style="float: right; margin-right: 2%;"
            (click)="previous.emit(true)"
          >
            Previous
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
