<div class="row">
    <div class="col-md-12" style="display: flex;">
        <!-- <div class="float-left"> -->
        <span class="" [ngClass]="{'col': (loggedInUserType != USER_TYPE.ULB && !FromLinkinPfms) ||
      (loggedInUserType === USER_TYPE.ULB && (btnStyleA || btnStyleR)),
     'col-sm': !(loggedInUserType === USER_TYPE.STATE && !FromLinkinPfms) }"> <b *ngIf="FromLinkinPfms">(A) </b>
        <b>{{quesName}}</b><span style="color: red;">*</span></span>
        <button *ngIf="showPdf" (click)="bs_pdf1.click()" class="col-md-2 btn btn2" [disabled]="isDisabled">Upload PDF
     <sup><span style="color: white; font-size: 14px;">*</span></sup>
        <img src="../../../../assets/form-icon/upload-pdf-icon.png" alt="" style="margin-left: 4px;">
    </button>
        <input #bs_pdf1 style="display: none;" onclick="this.value=null;" (change)="fileChangeEvent($event,'pdf')" type="file" accept=".pdf" #file>
        <button *ngIf="showExcel" (click)="bs_excel1.click()" [ngClass]="{linkinpfms: FromLinkinPfms}" class="col-md-2 btn btn2" [disabled]="isDisabled">Upload
        EXCEL
        <span class="iconify xls" data-icon="mdi-file-excel" data-inline="false" data-width="23"
            data-height="16"></span>
    </button>
        <input #bs_excel1 style="display: none;" onclick="this.value=null;" (change)="fileChangeEvent($event,'excel')" type="file" accept=".xls, .xlsx" #file>
        <!-- </div> -->
        <div class="btn-group float-right" *ngIf="((loggedInUserType === USER_TYPE.STATE ||
    loggedInUserType === USER_TYPE.MoHUA) && !FromLinkinPfms &&
    (takeStateAction == 'true') && (actionCompDis == false))" [style.margin-left]='(quesName =="Auditor Report")
     ? "29%": "10%"' btnRadioGroup [(ngModel)]="stateAction" style="margin-bottom: 1rem;">
            <label class="btn btn-success" [disabled]="actionCompDis" [ngClass]="{'btn-a' : btnStyleA}" btnRadio="APPROVED" (click)="checkStatusAp()" uncheckable tabindex="0" role="button">Approve</label>

            <label class="btn btn-danger" [disabled]="actionCompDis" [ngClass]="{'btn-r' : btnStyleR}" btnRadio="REJECTED" (click)="checkStatus()" uncheckable tabindex="0" role="button" style="margin-left: 10px;">Return</label>
        </div>
        <!-- && (finalSubmitUtiStatus == 'true') -->
        <div class="btn-group float-right" *ngIf="
        stateAction && (stateAction != 'PENDING') &&
    finalSubmitStatus == 'true' &&
    lastRoleInMasterForm != USER_TYPE.ULB" btnRadioGroup style="margin-bottom: 1rem;" [style.margin-left]='(quesName =="Auditor Report")
    ? "23%": "5%"' [style.display]='(stateAction == "PENDING") ? "none" : ""'>
            <label class="btn btn-success btn-label" [ngClass]="{'btn-a' : btnStyleA, 'btn-r' : btnStyleR}">
            {{stateAction | titlecase}}</label>
        </div>
    </div>
</div>

<div class="float-left" style="display: inherit;" [ngClass]="{'pfmsClass': FromLinkinPfms, 'ulbClass' : (loggedInUserType === USER_TYPE.ULB &&
(btnStyleA == false && btnStyleR == false)),
'stateActionClass': (loggedInUserType != USER_TYPE.ULB && !FromLinkinPfms) ||
(loggedInUserType === USER_TYPE.ULB && btnStyleA || btnStyleR)
}">
    <div class="row allupload" *ngIf="showPdf">
        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top: 5px;">
            <div class="row">
                <div class="col-sm-4">
                    <label for="" style="margin-right: 5px; font-weight: normal;" *ngIf="data.pdf?.name">
                        {{data.pdf?.name}}</label>
                </div>
                <div class="col-sm-3" *ngIf="data.pdf?.progress" style="padding: 0;">
                    <div class="progress-bar" role="progressbar" attr.aria-valuenow="{{ data.pdf?.progress }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: data.pdf?.progress + '%' }">
                        {{ data.pdf?.progress }}%
                    </div>
                </div>

                <div class="col-sm-2 col-lg-2 col-md-2" style="padding: 0;">
                    <ng-container>
                        <div *ngIf="data.pdf?.url">
                            <a href="{{ data.pdf?.url | toStorageUrl}}" target="_blank">
                                <img src="../../../../assets/form-icon/download-pdf-icon.png" alt="" style="margin-left: 1px; height: 19px;">

                            </a>
                            <a [ngClass]="{cross: isDisabled}" (click)="clearFile('pdf')" style="margin-left: 3px;">
                                <img src="../../../../assets/form-icon/close-red-icon.png" alt="" style="height: 13px;">
                            </a>
                        </div>
                        <div *ngIf="data.pdf?.error">
                            <a>
                                <img src="../../../../assets/form-icon/warning.png" alt="" style="margin-left: 1px; height: 19px;">
                            </a>
                            <a [ngClass]="{cross: isDisabled}" (click)="fileChangeEvent(true,'pdf')" style="margin-left: 3px;">
                                <img src="../../../../assets/form-icon/refresh.png" alt="" style="height: 13px;">
                            </a>
                        </div>

                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="row allupload" *ngIf="showExcel">

        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top: 5px; ">
            <div class="row">
                <div class="col-sm-4">
                    <label for="" style="margin-right: 5px; font-weight: normal;" *ngIf="data.excel?.name">
                        {{data.excel?.name}}</label>
                </div>
                <div class="col-sm-3" *ngIf="data.excel?.progress" style="padding: 0;">
                    <div class="progress-bar" role="progressbar" attr.aria-valuenow="{{ data.excel?.progress }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: data.excel?.progress + '%' }">
                        {{ data.excel?.progress }}%
                    </div>
                </div>

                <div class="col-sm-2 col-lg-2 col-md-2" style="padding: 0;">
                    <ng-container>
                        <div *ngIf="data.excel?.url">
                            <a href="{{ data.excel?.url | toStorageUrl}}" target="_blank">
                                <img src="../../../../assets/form-icon/download-pdf-icon.png" alt="" style="margin-left: 1px; height: 19px;">

                            </a>
                            <a [ngClass]="{cross: isDisabled}" (click)="clearFile('excel')" style="margin-left: 3px;">
                                <img src="../../../../assets/form-icon/close-red-icon.png" alt="" style="height: 13px;">
                            </a>
                        </div>
                        <div *ngIf="data.excel?.error">
                            <a>
                                <img src="../../../../assets/form-icon/warning.png" alt="" style="margin-left: 1px; height: 19px;">
                            </a>
                            <a [ngClass]="{cross: isDisabled}" (click)="fileChangeEvent(true,'excel')" style="margin-left: 3px;">
                                <img src="../../../../assets/form-icon/refresh.png" alt="" style="height: 13px;">
                            </a>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="float-right" *ngIf="(
    masterFormStatus == 'REJECTED'&&
    stateAction == 'REJECTED' &&
    loggedInUserType == USER_TYPE.ULB &&
    finalSubmitStatus == 'true' &&
    lastRoleInMasterForm != USER_TYPE.ULB)||(loggedInUserType != USER_TYPE.ULB && stateAction == 'REJECTED')" style="margin-bottom: 2rem; width: 40%; display: inline-block;">
    <div class="col-sm-10 col-lg-10 col-md-10" style="margin-left: 5rem;">
        <span style="font-weight: 600; text-align: left">Reason for return</span>
        <div class="input-group" style="width: 100%">
            <textarea rows="3" style="width: 100%" [disabled]="actionCompDis || ulbDisabled" class="form-control" (blur)="checkStatus()" [(ngModel)]="rejectReason">
</textarea>
        </div>
    </div>
</div>
<!-- <app-state-action-ulb (actionValues)="checkStatus($event)" [statusResponse]='actionRes'> </app-state-action-ulb> -->