<div class="row header">
    <div class="col-sm-8 col-lg-8 col-md-8 header2">
        <span>Annual Accounts</span>
    </div>
    <div class="col-sm-4 col-lg-4 col-md-4  text-end">
        <button type="button" class="btn  pr-btn" style="margin-top: 1rem;" id="prevBtn" (click)="clickedPreview(templateAnnual)">PREVIEW</button>
    </div>
</div>


<div class="row">
    <div id="checkboxes" class="d-flex col-sm-12 col-md-12 col-lg-12">
        <div class="col-sm-6 pr-1 col-md-6 col-lg-6">
            <input type="radio" name="rGroup" value="1" id="r1" (change)="changeAudit('Unaudited')" [checked]="true" />
            <label class="col-sm-6 square header1 text-center" for="r1">
                <span style="vertical-align: sub;">
                    <b>Provisional Accounts for
                        2020-21</b>
                </span>
            </label>
        </div>
        <div class="col-sm-6 pl-1 col-md-6 col-lg-6">
            <input type="radio" name="rGroup" value="2" id="r2" (change)="changeAudit('Audited')" />
            <label class="col-sm-6 square header1 text-center" for="r2">
                <span style="vertical-align: sub;">
                    <b>Audited Accounts for
                        2019-20</b>
                </span>
            </label>
        </div>

    </div>

    <div *ngIf="audit_status == 'Unaudited'">
        <div class="col-sm-12 mat-card card-body">
            <div class="row mat-card-content">
                <div [ngClass]="{'col-sm-6 quesLine': data.unAudited.submit_annual_accounts}">
                    <span class="quesIn"><b>(A) Do you wish to submit Provisional Accounts for {{dateShow}} ?<span
                                style="color: red;">*</span>
                    </b>
                    </span>
                </div>
                <!-- <div class="col-sm-12" style="padding-left: 3%;
                margin-top: .5rem;
                margin-bottom: 1rem;" *ngIf="!data.unAudited.submit_annual_accounts">
                    <mat-icon aria-hidden="false" style="width: 16px;height: 16px;">
                        <img src="../../../../assets/ulbform/info_black_24dp.svg">
                    </mat-icon> - PDFs are mandatory and Excels are Optional.
                </div> -->
                <div [ngClass]="{'col-sm-6': data.unAudited.submit_annual_accounts}">
                    <div id="checkboxes">
                        <input type="radio" name="btnYesNoUnaudit" value="1" id="btnUnaudit" [disabled]="(isDisabled && provisionDisable)" [checked]="data.unAudited.submit_annual_accounts" (change)="answer('q1',true)" />
                        <label class="btn" [ngClass]="{'qbtn': !data.unAudited.submit_annual_accounts,
                         'qbtn2':data.unAudited.submit_annual_accounts, 'cross': isDisabled && provisionDisable}" for="btnUnaudit">
                            Yes
                        </label>
                        <input type="radio" name="btnYesNoUnaudit" value="2" id="btnUnaudit2" [checked]="data.unAudited.submit_annual_accounts == false" [disabled]="(isDisabled && provisionDisable)" (change)="answer('q1',false)" />
                        <label class="btn" [ngClass]="{'qbtn': !data.unAudited.submit_annual_accounts,'qbtn2':data.unAudited.submit_annual_accounts, 'cross':isDisabled && provisionDisable}" style="margin-left: 7pc;" for="btnUnaudit2">
                            No
                        </label>
                    </div>
                    <span class="text-danger" *ngIf="answerError.unAudited.submit_annual_accounts">Select Yes or
                        No</span>

                </div>
                <div class="col-sm-12" style="padding-left: 2.5rem;
                margin-top: .5rem;
                margin-bottom: 1.5rem;" *ngIf="data.unAudited.submit_annual_accounts">
                    <mat-icon aria-hidden="false" style="width: 16px;height: 16px;">
                        <img src="../../../../assets/ulbform/info_black_24dp.svg">
                    </mat-icon> - PDFs are mandatory and Excels are Optional.
                </div>

                <div *ngIf="data.unAudited.submit_annual_accounts">
                    <div *ngFor="let item of unAuditQues ; let quesIndex=index">
                        <ng-container>
                            <app-comm-file-upload [isDisabled]="isDisabled && provisionDisable" [dataFromParent]="item.data" (getFileUploadResult)="getUploadFileData($event,'unAudited',item.name,quesIndex)" (actionValues)="checkStatusUnA($event, quesIndex)" [statusResponse]='actionResAn'
                                [quesName]="item.name" [formName]="'annual_accounts'">
                            </app-comm-file-upload>
                        </ng-container>
                        <!-- <div class="row" style="margin-left: 2pc;">
                            <div class="col">
                                <app-state-action-ulb (actionValues)="checkStatus($event)" [statusResponse]='actionRes'>
                                </app-state-action-ulb>
                            </div>
                        </div> -->

                        <div *ngIf="item.error" class="col-sm-4 col-lg-4 col-md-4" style="padding-left: 2pc;">
                            <label class='text-danger' style="margin-right: 5px; font-weight: normal;">
                                {{pdfError}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="data.unAudited.submit_annual_accounts" class="col-sm-12 mat-card card-body">
            <div class="row mat-card-content" style="margin-top: 2rem;">
                <div [ngClass]="{'col-sm-6 quesLine': data.unAudited.submit_standardized_data}">

                    <span class="quesIn"><b>(B) Do you wish to submit financials in Standardized Format for {{dateShow}}
                            ?</b>
                    </span>
                    <!-- <span style="color: red;">*</span> -->

                </div>
                <div [ngClass]="{'col-sm-6': data.unAudited.submit_standardized_data}" style="margin-bottom: 2pc;">
                    <div id="checkboxes2">
                        <input type="radio" name="btnYesNoUnaudit2" value="1" id="btnUnauditB" [disabled]="isDisabled && provisionDisable" [checked]="data.unAudited.submit_standardized_data" (change)="answer('q2',true)" />
                        <label class="btn " [ngClass]="{'qbtn': !data.unAudited.submit_standardized_data, 'qbtn2':data.unAudited.submit_standardized_data, 'cross':isDisabled && provisionDisable}" for="btnUnauditB">
                            Yes
                        </label>
                        <input type="radio" name="btnYesNoUnaudit2" value="2" [disabled]="isDisabled && provisionDisable" [checked]="data.unAudited.submit_standardized_data == false" (change)="answer('q2',false)" id="btnUnauditB2" />
                        <label class="btn " [ngClass]="{'qbtn': !data.unAudited.submit_standardized_data, 'qbtn2':data.unAudited.submit_standardized_data, 'cross':isDisabled && provisionDisable}" style="margin-left: 7pc;" for="btnUnauditB2">
                            No
                        </label>
                    </div>
                    <span class="text-danger" *ngIf="answerError.unAudited.submit_standardized_data">Select Yes or
                        No</span>
                </div>
                <div class="col-sm-12" *ngIf="data.unAudited.submit_standardized_data">
                    <div class="col-sm-2 center" style="padding: 0;">
                        <a class="btn btn22" href="{{standardized_dataFile | toStorageUrl}}" target="_blank">
                            Download Template
                        </a>
                    </div>

                    <div class="col-sm-2 center">
                        <button (click)="ques21.click()" class="btn btn2" [disabled]="isDisabled && provisionDisable">Upload EXCEL
                            <span class="iconify xls" data-icon="mdi-file-excel" data-inline="false" data-width="23"
                                data-height="16"></span>
                        </button>
                        <input #ques21 style="display: none;" onclick="this.value=null;" [disabled]="isDisabled && provisionDisable" (change)="fileChangeEvent($event,'unAudited')" type="file" accept=".xls, .xlsx" #file>
                    </div>
                    <div class="row allupload">
                        <div class="col-lg-10 col-md-10 col-sm-10" style="margin-top: 5px; ">
                            <div class="row">
                                <div class="col-sm-6 col-lg-6 col-md-6">
                                    <label class='text-danger' style="margin-right: 5px; font-weight: normal;" *ngIf="uploadErrors.unAudited.standardized_data.error">
                                        {{uploadErrors.unAudited.standardized_data.error}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row allupload">
                        <div class="col-lg-10 col-md-10 col-sm-10" style="margin-top: 5px; ">
                            <div class="row">
                                <div class="col-sm-4 col-lg-4 col-md-4">
                                    <label for="" style="margin-right: 5px; font-weight: normal;" *ngIf="data.unAudited.standardized_data?.excel?.name">
                                        {{data.unAudited.standardized_data?.excel?.name}}</label>
                                </div>
                                <div *ngIf="uploadErrors.unAudited.standardized_data.progress" class="col-sm-6 col-lg-6 col-md-6" style="padding: 0;">
                                    <div class="progress-bar" role="progressbar" attr.aria-valuenow="{{ uploadErrors.unAudited.standardized_data.progress }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: uploadErrors.unAudited.standardized_data.progress + '%' }">
                                        {{ uploadErrors.unAudited.standardized_data.progress }}%
                                    </div>
                                </div>

                                <div class="col-sm-2 col-lg-2 col-md-2" style="padding: 0;">
                                    <ng-container>
                                        <div *ngIf="data.unAudited.standardized_data?.excel?.url">
                                            <a href="{{ data.unAudited.standardized_data?.excel?.url | toStorageUrl}}" target="_blank">
                                                <img src="../../../../assets/form-icon/download-pdf-icon.png" alt="" style="margin-left: 1px; height: 19px;">

                                            </a>
                                            <a [ngClass]="{cross: isDisabled && data.unAudited.submit_annual_accounts && provisionDisable}" (click)="clearFile('unAudited')" style="margin-left: 3px;">
                                                <img src="../../../../assets/form-icon/close-red-icon.png" alt="" style="height: 13px;">
                                            </a>
                                        </div>

                                        <div *ngIf="uploadErrors.unAudited.standardized_data.error">
                                            <a>
                                                <img src="../../../../assets/form-icon/warning.png" alt="" style="margin-left: 1px; height: 19px;">
                                            </a>
                                            <a [ngClass]="{cross: isDisabled && data.unAudited.submit_annual_accounts && provisionDisable}" (click)="fileChangeEvent(uploadErrors.unAudited.standardized_data.file,'unAudited')" style="margin-left: 3px;">
                                                <img src="../../../../assets/form-icon/refresh.png" alt="" style="height: 13px;">
                                            </a>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <!-- <span class="text-primary">Self declaration by the Executive officer/Municipal Commissioner
                                of the ULB on the
                                standardised financial statements uploaded above.
                                I hereby confirm that I have verified the information uploaded in standardized template
                                and
                                it is true and correct. It is confirmed that this information can be made available for
                                public consumption on the CityFinance portal.</span> -->
                            <span class="text-primary">
                                <b>Self declaration by the Executive officer/Municipal
                                    Commissioner of the ULB on the standardised financial statements uploaded
                                    above.</b><br>
                                I hereby confirm that I have verified the information uploaded in
                                standardized template and it is true and correct.
                                It is confirmed that this information can be made available for public consumption on
                                the CityFinance portal.
                            </span>
                        </div>
                        <div class="row pull-left">
                            <input type="checkbox" id="agree" [checked]="data?.unAudited?.standardized_data?.declaration" [disabled]="isDisabled && data.unAudited.submit_annual_accounts && provisionDisable" (change)="declareCheck(data.unAudited.standardized_data)" name="agree" value=true>
                            <label style="margin-left: 1ch;" for="agree"> I Agree</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="audit_status == 'Audited'">
        <div class="col-md-12 mat-card card-body">
            <div class="mat-card-content" style="margin-top: 2rem;">
                <div [ngClass]="{'col-sm-6 quesLine': data.audited.submit_annual_accounts}">
                    <span class="quesIn"><b>(A) Do you wish to submit Audited Accounts for {{dateShow}} ?<span
                                style="color: red;">*</span></b>
                    </span>
                </div>
                <div [ngClass]="{'col-sm-6': data.audited.submit_annual_accounts}">
                    <div id="checkboxes2">
                        <input type="radio" name="btnYesNoAudit" value="1" id="btnAudit" [disabled]="(isDisabled && auditedDisable)" [checked]="data.audited.submit_annual_accounts" (change)="answer('q1',true,true)" />
                        <label class="btn" [ngClass]="{'qbtn': !data.audited.submit_annual_accounts, 'qbtn2':data.audited.submit_annual_accounts, 'cross':isDisabled && auditedDisable}" for="btnAudit">
                            Yes
                        </label>
                        <input type="radio" name="btnYesNoAudit" value="2" id="btnAudit2" [disabled]="(isDisabled && auditedDisable)" [checked]="data.audited.submit_annual_accounts == false" (change)="answer('q1',false,true)" />
                        <label class="btn" [ngClass]="{'qbtn': !data.audited.submit_annual_accounts, 'qbtn2':data.audited.submit_annual_accounts, 'cross':isDisabled && auditedDisable}" style="margin-left: 7pc;" for="btnAudit2">
                            No
                        </label>
                    </div>
                    <span class="text-danger" *ngIf="answerError.audited.submit_annual_accounts">Select Yes or No</span>
                </div>
                <div class="col-sm-12" style="padding-left: 2.5rem;
                margin-top: .5rem;
                margin-bottom: 1.5rem;" *ngIf="data.audited.submit_annual_accounts">
                    <mat-icon aria-hidden="false" style="width: 16px;height: 16px;">
                        <img src="../../../../assets/ulbform/info_black_24dp.svg">
                    </mat-icon> - PDFs are mandatory and Excels are Optional.
                </div>
                <div *ngIf="data.audited.submit_annual_accounts">
                    <div *ngFor="let item of auditQues; let quesIndex=index">
                        <ng-container>
                            <app-comm-file-upload [requiredBtn]="checkAuditReport(item)" [isDisabled]="isDisabled && data.audited.submit_annual_accounts && auditedDisable" [dataFromParent]="item.data" (getFileUploadResult)="getUploadFileData($event,'audited',item.name,quesIndex)"
                                [statusResponse]="actionResAn" [quesName]="item.name" (actionValues)="checkStatusAu($event, quesIndex)"></app-comm-file-upload>
                        </ng-container>
                        <div *ngIf="item.error" class="col-sm-4 col-lg-4 col-md-4" style="padding-left: 2pc;">
                            <label class='text-danger' style="margin-right: 5px; font-weight: normal;">
                                {{pdfError}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="data.audited.submit_annual_accounts" class="col-md-12 mat-card card-body">
            <div class="mat-card-content" style="margin-top: 2rem;">
                <div [ngClass]="{'col-sm-6 quesLine': data.audited.submit_standardized_data}">
                    <span class="quesIn"><b>(B) Do you wish to submit financials in Standardized Format for {{dateShow}}
                            ?</b>
                    </span>
                    <!-- <span style="color: red;">*</span> -->
                </div>
                <div [ngClass]="{'col-sm-6': data.audited.submit_standardized_data}" style="margin-bottom: 2pc;">
                    <div id="checkboxes">
                        <input type="radio" name="btnYesNoAudit2" value="1" id="btnAuditB" [disabled]="isDisabled && data.audited.submit_annual_accounts && auditedDisable" [checked]="data.audited.submit_standardized_data" (change)="answer('q2',true,true)" />
                        <label class="btn " [ngClass]="{'qbtn': !data.audited.submit_standardized_data, 'qbtn2':data.audited.submit_standardized_data, 'cross':isDisabled && data.audited.submit_annual_accounts && auditedDisable}" for="btnAuditB">
                            Yes
                        </label>
                        <input type="radio" name="btnYesNoAudit2" value="2" [disabled]="isDisabled && data.audited.submit_annual_accounts && auditedDisable" [checked]="data.audited.submit_standardized_data == false" (change)="answer('q2',false,true)" id="btnAuditB2" />
                        <label class="btn " [ngClass]="{'qbtn': !data.audited.submit_standardized_data, 'qbtn2':data.audited.submit_standardized_data, 'cross':isDisabled && data.audited.submit_annual_accounts && auditedDisable}" style="margin-left: 7pc;" for="btnAuditB2">
                            No
                        </label>
                    </div>
                    <span class="text-danger" *ngIf="answerError.audited.submit_standardized_data">Select Yes or
                        No</span>
                </div>
                <div class="col-sm-12" *ngIf="data.audited.submit_standardized_data">
                    <div class="col-sm-2 center" style="padding: 0;">
                        
                        <!-- href="https://democityfinanceapi.dhwaniris.in/assets/files/Standardized%20Data_Format.xlsx" -->
                        <a class="btn btn22" href="{{standardized_dataFile | toStorageUrl}}"  target="_blank">
                            Download Template
                        </a>
                    </div>
                    <div class="col-sm-2 center">
                        <button (click)="ques2.click()" class="btn btn2" [disabled]="isDisabled && data.audited.submit_annual_accounts && auditedDisable">Upload EXCEL
                            <span class="iconify xls" data-icon="mdi-file-excel" data-inline="false" data-width="23"
                                data-height="16"></span>
                        </button>
                        <input #ques2 style="display: none;" onclick="this.value=null;" (change)="fileChangeEvent($event,'audited')" type="file" accept=".xls, .xlsx" #file>
                    </div>
                    <div class="row allupload">
                        <div class="col-lg-10 col-md-10 col-sm-10" style="margin-top: 5px; ">
                            <div class="row">
                                <div class="col-sm-6 col-lg-6 col-md-6">
                                    <label class='text-danger' style="margin-right: 5px; font-weight: normal;" *ngIf="uploadErrors.audited.standardized_data.error">
                                        {{uploadErrors.audited.standardized_data.error}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row allupload">
                        <div class="col-lg-10 col-md-10 col-sm-10" style="margin-top: 5px; ">
                            <div class="row">
                                <div class="col-sm-4 col-lg-4 col-md-4">
                                    <label for="" style="margin-right: 5px; font-weight: normal;" *ngIf="data.audited.standardized_data.excel.name">
                                        {{data.audited.standardized_data?.excel?.name}}</label>
                                </div>
                                <div *ngIf="uploadErrors.audited.standardized_data.progress" class="col-sm-6 col-lg-6 col-md-6" style="padding: 0;">
                                    <div class="progress-bar" role="progressbar" attr.aria-valuenow="{{ uploadErrors.audited.standardized_data.progress }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: uploadErrors.audited.standardized_data.progress + '%' }">
                                        {{ uploadErrors.audited.standardized_data.progress }}%
                                    </div>
                                </div>

                                <div class="col-sm-2 col-lg-2 col-md-2" style="padding: 0;">
                                    <ng-container>
                                        <div *ngIf="data.audited.standardized_data?.excel.url">
                                            <a href="{{ data.audited.standardized_data?.excel.url | toStorageUrl}}" target="_blank">
                                                <img src="../../../../assets/form-icon/download-pdf-icon.png" alt="" style="margin-left: 1px; height: 19px;">

                                            </a>
                                            <a [ngClass]="{cross: isDisabled && data.audited.submit_annual_accounts && auditedDisable}" (click)="clearFile('audited')" style="margin-left: 3px;">
                                                <img src="../../../../assets/form-icon/close-red-icon.png" alt="" style="height: 13px;">
                                            </a>
                                        </div>
                                        <div *ngIf="uploadErrors.audited.standardized_data.error">
                                            <a>
                                                <img src="../../../../assets/form-icon/warning.png" alt="" style="margin-left: 1px; height: 19px;">
                                            </a>
                                            <a [ngClass]="{cross: isDisabled && data.audited.submit_annual_accounts && auditedDisable}" (click)="fileChangeEvent(uploadErrors.audited.standardized_data.file,'audited')" style="margin-left: 3px;">
                                                <img src="../../../../assets/form-icon/refresh.png" alt="" style="height: 13px;">
                                            </a>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 center">
                        <div class="row">
                            <span class="text-primary">
                                <!-- Self declaration by the Executive officer/Municipal Commissioner
                                of the ULB on the
                                standardised financial statements uploaded above.
                                I hereby confirm that I have verified the information uploaded in standardized template
                                and
                                it is true and correct. It is confirmed that this information can be made available for
                                public consumption on the CityFinance portal. -->
                                <b>Self declaration by the Executive officer/Municipal
                                    Commissioner of the ULB on the standardised financial statements uploaded
                                    above.</b><br>
                                I hereby confirm that I have verified the information uploaded in
                                standardized template and it is true and correct.
                                It is confirmed that this information can be made available for public consumption on
                                the CityFinance portal.
                            </span>
                        </div>
                        <div class="row pull-left">
                            <input type="checkbox" id="agree2" name="agree2" [disabled]="isDisabled && data.audited.submit_annual_accounts && auditedDisable" [checked]="data.audited.standardized_data.declaration" (change)="declareCheck(data.audited.standardized_data)" value=true>
                            <label style="margin-left: 1ch;" for="agree2"> I Agree</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" style="margin: 0;" *ngIf="actionCheck">
    <div class="col-sm-12 card st-d" style="background-color: #F7F7F7; margin-left: 4px;" *ngIf="(finalSubmitUtiStatus == 'true') && (anFormStaus != 'N/A')">
        <div class="card-body" style="padding: 1%; margin-left: 0;">
            <!-- <p><b>State Review Status :</b> {{anFormStaus | titlecase}}</p> -->
            <p><b style="padding-right: 25px;">State Review Status :</b>
                <label class="btn btn-success btn-label" [ngClass]="{'btn-a' : (anFormStaus == 'APPROVED'),
            'btn-r' : (anFormStaus == 'REJECTED'), 'btn-p' : (anFormStaus == 'PENDING' || anFormStaus == 'N/A'  )}">
                    {{anFormStaus | titlecase}}</label>
            </p>
            <!-- <p *ngIf="ulbFormStatusMoHUA && (finalSubmitUtiStatus == 'true')"><b>MoHUA Review
                Status :</b> {{ulbFormStatusMoHUA | titlecase}}</p> -->

            <p *ngIf="ulbFormStatusMoHUA && (finalSubmitUtiStatus == 'true')">
                <b style="padding-right: 10px;"> MoHUA Review Status :</b>
                <label class="btn btn-success btn-label" [ngClass]="{'btn-a' : (ulbFormStatusMoHUA == 'APPROVED'),
                   'btn-r' : (ulbFormStatusMoHUA == 'REJECTED'), 'btn-p' : (ulbFormStatusMoHUA == 'PENDING' || ulbFormStatusMoHUA == 'N/A')}">
                    {{ulbFormStatusMoHUA | titlecase}}</label>
            </p>
            <!-- <p *ngIf="ulbFormStaus == 'REJECTED'">
            <b style="font-weight: 600;">Reason for return :</b> {{ulbFormRejectR}}
        </p> -->
        </div>

    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 d-flex footerBtnDiv">
        <div class="col-lg-6 col-md-6 col-sm-6" style="padding-left: 3px;">
            <button type="button" [routerLink]="['/ulbform/utilisation-report']" (click)="clickedBack = true" routerLinkActive="router-link-active" class="btn backbtn">BACK</button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
            <button type="button" class="btn footerBtn pull-right" (click)="clickedSaveAndNext(template1)" id="saveNext">
                {{saveBtn}}</button>
        </div>
    </div>
</div>
<ng-template #templateAnnual>
    <div class="modal-body text-center">
        <div class="modal-header">
            <h4 class="modal-title pull-left" style="color: red;"> <i>Alert!</i> </h4>
            <div class="text-right">
                <a (click)="alertClose()">
                    <img src="../../../../assets/form-icon/close-red-icon.png">
                </a>
            </div>
        </div>

        <p style="margin-top: 8px;">
            {{alertError}}
            <div>
                <button type="button" class="btn btn-primary m-btn" (click)="stay()">Stay</button>
                <button type="button" class="btn btn-success m-btn" style="margin-left: 6px;" (click)="proceed()">Save &
                Proceed</button>
            </div>

    </div>
</ng-template>

<ng-template #template1>
    <div class="modal-body text-center">
        <div class="modal-header">
            <h4 class="modal-title pull-left" style="color: red;"> <i>Alert!</i> </h4>
            <div class="text-right">
                <a (click)="alertClose()">
                    <img src="../../../../assets/form-icon/close-red-icon.png">
                </a>
            </div>
        </div>

        <p style="margin-top: 8px;">
            Some Data in the form is missing/invalid. Do you wish to save the Data in Draft Mode?
        </p>
        <div>
            <button type="button" class="btn btn-primary m-btn" (click)="stay()">Stay</button>
            <button type="button" class="btn btn-success m-btn" style="margin-left: 6px; background-color: #5cb85c" (click)="proceed()">Proceed</button>
        </div>

    </div>
</ng-template>
