.header-p {
    background-color: #047474;
    text-align: center;
    padding: 10px;
    // height: 100px;
}

.heading-p {
    color: #FFFFFF;
    font-size: 22px;
    height: auto;
    font-weight: 700;
}

.sub-h {
    font-weight: 600;
    font-size: 18px;
}

.form-h {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: .5rem;
}

.f-l {
    background-color: #124A55;
    color: #FFFFFF;
    // height: 30px;
    padding: 7px;
}

.item-c {
    padding: 1rem 2rem;
    background-color: #EBF5F5;
}

.q-a-r {
    padding: 1rem 0;
}

.h-h {
    font-size: 17px;
    font-weight: 600;
    padding-left: 8px;
}

.modal-body {
    width: 26rem;
}
