<div class="common-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <button
          class="back_button mb-2"
          (click)="window.history.back()"
          *ngIf="request"
        >
          Back
        </button>
        <h3>
          <span style="margin-left: 0.5%">ULB Profile Update Tracker</span>
          <button
            *ngIf="!request"
            class="btn btn-primary"
            style="float: right; margin-right: 6px"
            (click)="downloadList()"
          >
            Download List
          </button>
        </h3>

        <div *ngIf="request">
          <div class="defaultDataWrapper">
            <div class="input-group">
              <label for="stateName"> State: </label>
              <input
                #stateName
                placeholder="User Name"
                type="text"
                class="form-control"
                [value]="!request.old ? '' : request.old.ulb['state'].name"
                disabled="true"
              />
            </div>
            <div class="input-group">
              <label for="stateName"> ULB Name: </label>
              <input
                #stateName
                placeholder="User Name"
                type="text"
                class="form-control"
                [value]="!request.old ? '' : request.old.ulb.name"
                disabled="true"
              />
            </div>
            <div class="input-group">
              <label for="stateName"> ULB Code: </label>
              <input
                #stateName
                placeholder="User Name"
                type="text"
                class="form-control"
                [value]="!request.old ? '' : request.old.ulb.code"
                disabled="true"
              />
            </div>
          </div>
          <!-- <h4>
            STATUS:
            <span
              [ngClass]="{
                'error-message':
                  request.status === REQUEST_STATUS.REJECTED ||
                  request.status === REQUEST_STATUS.CANCELLED,
                'error-warning': request.status === REQUEST_STATUS.PENDING,
                'success-message': request.status === REQUEST_STATUS.APPROVED
              }"
              style="display: inline"
              >{{ request.status }}</span
            >
          </h4> -->

          <table style="width: 70%">
            <thead>
              <tr>
                <th>Field Name</th>
                <th>Previous Value</th>
                <th>New Value</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="request.name">
                <td>ULb Name</td>
                <td>
                  <div class="input-group">
                    <input
                      placeholder="User Name"
                      type="text"
                      class="form-control"
                      [value]="!request.old ? '' : request.old?.ulb?.name"
                      disabled="true"
                    />
                  </div>
                  <!-- {{ !request.old ? "" : request.old.accountantConatactNumber }} -->
                </td>
                <td>
                  <div class="input-group">
                    <input
                      placeholder="User Name"
                      type="text"
                      class="form-control"
                      [value]="request.name"
                      disabled="true"
                    />
                  </div>
                </td>
              </tr>
              <tr *ngIf="request.accountantConatactNumber">
                <td>ULB Nodal Officer Contact Number</td>
                <td>
                  <div class="input-group">
                    <input
                      placeholder="User Name"
                      type="text"
                      class="form-control"
                      [value]="
                        !request.old ? '' : request.old.accountantConatactNumber
                      "
                      disabled="true"
                    />
                  </div>
                  <!-- {{ !request.old ? "" : request.old.accountantConatactNumber }} -->
                </td>
                <td>
                  <div class="input-group">
                    <input
                      placeholder="User Name"
                      type="text"
                      class="form-control"
                      [value]="request.accountantConatactNumber"
                      disabled="true"
                    />
                  </div>
                </td>
              </tr>
              <tr *ngIf="request.accountantEmail">
                <td>ULB Nodal Officer Email ID</td>
                <td>
                  <div class="input-group">
                    <input
                      placeholder="User Name"
                      type="text"
                      class="form-control"
                      [value]="!request.old ? '' : request.old.accountantEmail"
                      disabled="true"
                    />
                  </div>
                </td>
                <td>
                  <div class="input-group">
                    <input
                      placeholder="User Name"
                      type="text"
                      class="form-control"
                      [value]="request.accountantEmail"
                      disabled="true"
                    />
                  </div>
                </td>
              </tr>
              <tr *ngIf="request.accountantName">
                <td>ULB Nodal Officer Name</td>
                <td>
                  <div class="input-group">
                    <input
                      placeholder="User Name"
                      type="text"
                      class="form-control"
                      [value]="!request.old ? '' : request.old.accountantName"
                      disabled="true"
                    />
                  </div>
                </td>
                <td>
                  <div class="input-group">
                    <input
                      placeholder="User Name"
                      type="text"
                      class="form-control"
                      [value]="request.accountantName"
                      disabled="true"
                    />
                  </div>
                </td>
              </tr>
              <tr *ngIf="request.commissionerConatactNumber">
                <td>Commissioner Conatact Number</td>
                <td>
                  <div class="input-group">
                    <input
                      placeholder="User Name"
                      type="text"
                      class="form-control"
                      [value]="
                        !request.old
                          ? ''
                          : request.old.commissionerConatactNumber
                      "
                      disabled="true"
                    />
                  </div>
                </td>
                <td>
                  <div class="input-group">
                    <input
                      placeholder="User Name"
                      type="text"
                      class="form-control"
                      [value]="request.commissionerConatactNumber"
                      disabled="true"
                    />
                  </div>
                </td>
              </tr>
              <tr *ngIf="request.commissionerEmail">
                <td>Commissioner Email</td>
                <td>
                  <div class="input-group">
                    <input
                      placeholder="User Name"
                      type="text"
                      class="form-control"
                      [value]="
                        !request.old ? '' : request.old.commissionerEmail
                      "
                      disabled="true"
                    />
                  </div>
                </td>
                <td>
                  <div class="input-group">
                    <input
                      placeholder="User Name"
                      type="text"
                      class="form-control"
                      [value]="request.commissionerEmail"
                      disabled="true"
                    />
                  </div>
                </td>
              </tr>
              <tr *ngIf="request.commissionerName">
                <td>Municipal Commissioner/Executive Officer Name</td>
                <td>
                  <div class="input-group">
                    <input
                      placeholder="User Name"
                      type="text"
                      class="form-control"
                      [value]="!request.old ? '' : request.old.commissionerName"
                      disabled="true"
                    />
                  </div>
                </td>
                <td>
                  <div class="input-group">
                    <input
                      placeholder="User Name"
                      type="text"
                      class="form-control"
                      [value]="request.commissionerName"
                      disabled="true"
                    />
                  </div>
                </td>
              </tr>
              <tr *ngIf="request.area">
                <td>Area</td>
                <td>
                  <div class="input-group">
                    <input
                      placeholder="User Name"
                      type="text"
                      class="form-control"
                      [value]="!request.old ? '' : request.old['ulb'].area"
                      disabled="true"
                    />
                  </div>
                </td>
                <td>
                  <div class="input-group">
                    <input
                      placeholder="User Name"
                      type="text"
                      class="form-control"
                      [value]="request.area"
                      disabled="true"
                    />
                  </div>
                </td>
              </tr>
              <tr *ngIf="request.population">
                <td>Population</td>
                <td>
                  <div class="input-group">
                    <input
                      placeholder="User Name"
                      type="text"
                      class="form-control"
                      [value]="!request.old ? '' : request.old.ulb.population"
                      disabled="true"
                    />
                  </div>
                </td>
                <td>
                  <div class="input-group">
                    <input
                      placeholder="User Name"
                      type="text"
                      class="form-control"
                      [value]="request.population"
                      disabled="true"
                    />
                  </div>
                </td>
              </tr>
              <tr *ngIf="request.wards || request.wards === 0">
                <td>No of Wards</td>
                <td>
                  <div class="input-group">
                    <input
                      placeholder="User Name"
                      type="text"
                      class="form-control"
                      [value]="!request.old ? '' : request.old.ulb.wards"
                      disabled="true"
                    />
                  </div>
                </td>
                <td>
                  <div class="input-group">
                    <input
                      placeholder="User Name"
                      type="text"
                      class="form-control"
                      [value]="request.wards"
                      disabled="true"
                    />
                  </div>
                </td>
              </tr>

              <tr *ngIf="request.ulbType">
                <td>ULB Type</td>
                <td>
                  <div class="input-group">
                    <input
                      placeholder="User Name"
                      type="text"
                      class="form-control"
                      [value]="!request.old ? '' : request.old.ulb.ulbType.name"
                      disabled="true"
                    />
                  </div>
                </td>
                <td>
                  <div class="input-group">
                    <input
                      placeholder="User Name"
                      type="text"
                      class="form-control"
                      [value]="request.ulbType.name"
                      disabled="true"
                    />
                  </div>
                </td>
              </tr>
              <!-- <tr *ngIf="request.ulbType">
        <td>11</td>
        <td>ULB Type</td>
        <td>{{ !request.old ? "" : request.old.ulb.ulbType.name }}</td>
        <td>{{ request.ulb.ulbType.name }}</td>
      </tr> -->
            </tbody>
          </table>

          <div
            class="mt-2"
            *ngIf="
              request.status === REQUEST_STATUS.PENDING &&
              canApproveRequest &&
              canApproveRequest !== 'readOnly'
            "
          >
            <button
              class="btn btn-primary mr-2"
              (click)="
                updateRequest({
                  status: REQUEST_STATUS.APPROVED,
                  id: request._id
                })
              "
            >
              Approve Request
            </button>
            <button
              class="btn btn-primary"
              (click)="
                updateRequest({
                  status: REQUEST_STATUS.REJECTED,
                  id: request._id
                })
              "
            >
              Reject Request
            </button>
          </div>
          <p *ngIf="respone.errorMessage" class="error-message mt-1">
            {{ respone.errorMessage }}
          </p>
          <p *ngIf="respone.successMessage" class="success-message mt-1">
            {{ respone.successMessage }}
          </p>
        </div>

        <div
          *ngIf="requestList && loggedInUserType === userTypes.ULB"
          style="width: 100%"
        >
          <table
            aria-describedby="Ulb Requests List"
            class="table listing-table"
            *ngIf="!isApiInProgress"
          >
            <thead>
              <tr
                class="sortable-headers"
                style="
                  background: #059b9a;
                  color: white;
                  border: 5px solid white;
                "
              >
                <th class="text-center">S.No.</th>
                <th class="text-center" (click)="sortListBy('createdAt')">
                  Request Created On
                  <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
                </th>
                <!-- <th class="text-center" (click)="sortListBy('status')">
                  Status
                  <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
                </th> -->
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="filterForm">
                <td></td>
                <td></td>

                <!-- <td>
                  <div class="input-group m-auto">
                    <select
                      name="ulb"
                      id="ulb"
                      [formControl]="filterForm.controls['status']"
                      class="form-control"
                      placeholder="STATUS"
                    >
                      <option value="" selected>All</option>
                      <option
                        *ngFor="let status of requestStatusTypeList"
                        [value]="status.value"
                      >
                        {{ status.value }}
                      </option>
                    </select>
                  
                  </div>
                </td> -->
                <td>
                  <button
                    class="btn btn-primary m-auto d-block"
                    style="display: block"
                    (click)="
                      resetListFetchOptionsToDefeault() ||
                        searchUsersBy(filterForm.value, 0)
                    "
                  >
                    Search
                  </button>
                </td>
              </tr>
              <tr
                style="background: #e7e7e7; border: 5px solid white"
                *ngFor="
                  let request of requestList
                    | paginate
                      : {
                          id: 'foo',
                          itemsPerPage: tableDefaultOptions.itemPerPage,
                          currentPage: tableDefaultOptions.currentPage,
                          totalItems: tableDefaultOptions.totalCount
                        };
                  index as i
                "
              >
                <td class="text-center">
                  {{ (tableDefaultOptions.currentPage - 1) * 10 + i + 1 }}
                </td>
                <td class="text-center">
                  {{ request.createdAt | date: "longDate" }}
                </td>
                <!-- <td class="text-center">{{ request.status }}</td> -->
                <td class="text-center">
                  <a
                    [routerLink]="['./']"
                    [queryParams]="{ requestId: request._id }"
                  >
                    <i
                      class="fa fa-eye"
                      aria-hidden="true"
                      title="View Request"
                    ></i>
                  </a>
                  <span *ngIf="request.status === REQUEST_STATUS.PENDING">
                    /
                    <i
                      class="fa fa-times"
                      aria-hidden="true"
                      title="Cancel Request"
                      (click)="
                        openRequestCancelPopup(cancelRequestPopup, request._id)
                      "
                    ></i>
                  </span>
                </td>
              </tr>
              <tr *ngIf="!requestList?.length">
                <td colspan="4" class="text-center"><h3>No Data Found</h3></td>
              </tr>
            </tbody>
          </table>
          <div
            *ngIf="isApiInProgress"
            style="
              background: white;
              z-index: 99999999;
              left: 0px;
              right: 0px;
              top: 0px;
              bottom: 0px;
            "
          >
            <app-pre-loader></app-pre-loader>
            <app-pre-loader></app-pre-loader>
            <app-pre-loader></app-pre-loader>
            <app-pre-loader></app-pre-loader>
          </div>
        </div>

        <pagination-controls
          *ngIf="requestList && loggedInUserType === userTypes.ULB"
          style="float: right; position: relative"
          id="foo"
          (pageChange)="setPage($event)"
          directionLinks="true"
          autoHide="false"
          previousLabel="Previous"
          nextLabel="Next"
          screenReaderPaginationLabel="Pagination"
          screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page"
        >
        </pagination-controls>

        <div *ngIf="requestList && canViewULBSignUpList" style="width: 100%">
          <table
            aria-describedby="Ulb Requests List"
            class="table listing-table"
            *ngIf="!isApiInProgress"
          >
            <thead>
              <tr
                class="sortable-headers"
                style="
                  background: #059b9a;
                  color: white;
                  border: 5px solid white;
                "
              >
                <th class="text-center">S.No.</th>
                <th
                  class=""
                  (click)="sortListBy('stateName')"
                  *ngIf="loggedInUserType !== userTypes.STATE"
                >
                  State
                  <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
                </th>
                <th class="" (click)="sortListBy('ulbName')">
                  ULB Name
                  <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
                </th>
                <th class="" (click)="sortListBy('ulbCode')">
                  ULB Code
                  <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
                </th>
                <th class="" (click)="sortListBy('status')">
                  STATUS
                  <i _ngcontent-c8="" class="glyphicon glyphicon-sort"></i>
                </th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="filterForm">
                <td></td>
                <td *ngIf="loggedInUserType !== userTypes.STATE">
                  <div class="input-group">
                    <select
                      name="State"
                      id="state"
                      [formControl]="filterForm.controls.state"
                      class="form-control"
                      placeholder="State"
                    >
                      <option value="">All State</option>
                      <option
                        *ngFor="let state of stateList"
                        [value]="state._id"
                      >
                        {{ state.name }}
                      </option>
                    </select>
                  </div>
                </td>

                <td>
                  <div class="input-group">
                    <input
                      placeholder="ULB Name"
                      type="status"
                      class="form-control"
                      [formControl]="filterForm.controls.ulbName"
                    />
                  </div>
                </td>
                <td>
                  <div class="input-group">
                    <input
                      placeholder="ULB Code"
                      type="status"
                      class="form-control"
                      [formControl]="filterForm.controls.ulbCode"
                    />
                  </div>
                </td>
                <td>
                  <div class="input-group">
                    <select
                      name="ulb"
                      id="ulb"
                      [formControl]="filterForm.controls['status']"
                      class="form-control"
                      placeholder="STATUS"
                    >
                      <option value="">All Status</option>
                      <option
                        *ngFor="let status of requestStatusTypeList"
                        [value]="status.value"
                      >
                        {{ status.value }}
                      </option>
                    </select>
                  </div>
                </td>
                <td>
                  <button
                    class="btn btn-primary m-auto"
                    style="display: block"
                    (click)="searchUsersBy(filterForm.value, 0)"
                  >
                    Search
                  </button>
                </td>
              </tr>
              <tr
                style="background: #e7e7e7; border: 5px solid white"
                *ngFor="
                  let request of requestList
                    | paginate
                      : {
                          id: 'foo',
                          itemsPerPage: tableDefaultOptions.itemPerPage,
                          currentPage: tableDefaultOptions.currentPage,
                          totalItems: tableDefaultOptions.totalCount
                        };
                  index as i
                "
              >
                <td class="text-center">
                  {{ (tableDefaultOptions.currentPage - 1) * 10 + i + 1 }}
                </td>
                <td class="" *ngIf="loggedInUserType !== userTypes.STATE">
                  {{ request["stateName"] }}
                </td>
                <td class="">{{ request.ulbName }}</td>
                <td class="">{{ request.ulbCode }}</td>
                <td class="">{{ request.status }}</td>
                <td class="text-center d-flex justify-content-center">
                  <a
                    [routerLink]="['./']"
                    [queryParams]="{ requestId: request._id }"
                    [ngClass]="{
                      'btn btn-primary':
                        request.status === REQUEST_STATUS.PENDING &&
                        loggedInUserType !== userTypes.ULB
                    }"
                  >
                    <ng-container
                      *ngIf="
                        request.status === REQUEST_STATUS.PENDING &&
                        loggedInUserType !== userTypes.ULB
                      "
                      >Take Action</ng-container
                    >
                    <i
                      *ngIf="request.status !== REQUEST_STATUS.PENDING"
                      class="fa"
                      [ngClass]="{
                        'fa-eye': request.status !== REQUEST_STATUS.PENDING
                      }"
                      aria-hidden="true"
                      title="View Request"
                    ></i>
                  </a>
                  <span
                    *ngIf="
                      request.status === REQUEST_STATUS.PENDING &&
                      loggedInUserType === userTypes.ULB
                    "
                  >
                    /
                    <i
                      class="fa fa-times"
                      aria-hidden="true"
                      title="Cancel Request"
                      (click)="
                        openRequestCancelPopup(cancelRequestPopup, request._id)
                      "
                    ></i>
                  </span>
                </td>
              </tr>

              <tr *ngIf="requestList && !requestList.length">
                <td colspan="6" class="text-center"><h3>No Data Found</h3></td>
              </tr>
            </tbody>
          </table>
          <div
            *ngIf="isApiInProgress"
            style="
              background: white;
              z-index: 99999999;
              left: 0px;
              right: 0px;
              top: 0px;
              bottom: 0px;
            "
          >
            <app-pre-loader></app-pre-loader>
            <app-pre-loader></app-pre-loader>
            <app-pre-loader></app-pre-loader>
            <app-pre-loader></app-pre-loader>
          </div>
        </div>

        <pagination-controls
          *ngIf="requestList && canViewULBSignUpList"
          style="float: right; position: relative"
          id="foo"
          (pageChange)="setPage($event)"
          directionLinks="true"
          autoHide="false"
          previousLabel="Previous"
          nextLabel="Next"
          screenReaderPaginationLabel="Pagination"
          screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page"
        >
        </pagination-controls>
      </div>
    </div>
  </div>
</div>

<ng-template #cancelRequestPopup>
  <p style="margin: 3% auto; text-align: center">
    Are you sure you want to cancel the request?
  </p>

  <div style="display: flex; width: 100%; justify-content: center">
    <button
      class="btn btn-primary"
      (click)="
        updateRequest({
          status: REQUEST_STATUS.CANCELLED,
          id: requestIDToCancel
        })
      "
      style="margin-right: 2%"
    >
      Yes
    </button>

    <button class="btn btn-primary" (click)="matDialog.closeAll()">No</button>
  </div>
  <p *ngIf="respone.errorMessage" class="error-message text-center mt-1">
    {{ respone.errorMessage }}
  </p>
  <p *ngIf="respone.successMessage" class="success-message text-center mt-1">
    {{ respone.successMessage }}
  </p>
</ng-template>
