<div class="fc-grant">
  <div class="container-fluid">
    <div class="align-items-center d-flex flex-wrap">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="card bg-white sign-in">
          <div class="card-body border">
            <div class="">
              <div class="row" style="padding: 1% 5%">
                <div>
                  <div class="accountreactive">
                    <h5><b>Account Re-activation</b></h5>
                  </div>

                  <!-- <div class="col-xs-6 text-right">
                    <div class="row">
                      <a [routerLink]="['/login']" class="pointer" style="color: white">Sign In</a>
                    </div>
                  </div> -->
                </div>

                <div class="col-xs-12 card-body">
                  <div>
                    <div class="selectuser">
                      <h5 *ngIf="!userTypeSelected" class="m-1">
                        <b>Select User Type</b>
                      </h5>
                    </div>

                    <app-user-type-confirmation
                      *ngIf="!userTypeSelected"
                      (userTypeSelected)="onSelectingUserType($event)"
                    ></app-user-type-confirmation>
                    <div class="row" *ngIf="userTypeSelected">
                      <h4
                        *ngIf="urlMessage"
                        class="success-message text-center"
                      >
                        {{ urlMessage }}
                      </h4>
                      <form
                        [formGroup]="form"
                        *ngIf="form"
                        (ngSubmit)="onFormSubmit()"
                      >
                        <!-- <div class="input-group">
                          <span class="input-group-addon"
                            ><i class="fa fa-envelope"></i
                          ></span>
                          <input
                            type="email"
                            name="email"
                            [placeholder]="
                              userTypeSelected == USER_TYPE.USER
                                ? 'Email Id'
                                : 'Swatch Bharat Code/Census Code'
                            "
                            formControlName="email"
                            class="form-control"
                          />
                        </div> -->
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>{{
                            userTypeSelected == USER_TYPE.USER
                              ? "Email Id"
                              : "ULB Code/Census Code"
                          }}</mat-label>
                          <input
                            matInput
                            type="email"
                            name="email"
                            formControlName="email"
                          />
                        </mat-form-field>

                        <p *ngIf="errorMessage" class="error-message">
                          {{ errorMessage }}
                        </p>

                        <p *ngIf="successMessage" class="success-message">
                          {{ successMessage }}
                        </p>
                        <div class="input-group" style="width: 100%">
                          <button
                            style="width: 100%"
                            type="submit"
                            class="btn btn-primary"
                            [disabled]="form.invalid"
                          >
                            Send Reactivation Email
                          </button>
                          <div
                            class="forgotpass"
                            style="
                              text-decoration: underline;
                              float: right;
                              font-weight: bold;
                            "
                          ></div>

                          <br />
                          <br />
                        </div>
                      </form>
                    </div>
                    <p
                      style="width: fit-content; margin: auto; font-size: 14px"
                    >
                      Account already activated?
                      <a style="color: #ffc70a" routerLink="/login"
                        >Sign in here</a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 text-center image-side">
        <div class="img-wrapper text-center">
          <img
            src="../assets/images/Group 13309.png"
            class="img-responsive m-auto"
          />
        </div>

        <P
          >If you have any query or stuck with anything please email us at
          <br />
          <a href="mailto:15fcgrant@cityfinance.in">15fcgrant@cityfinance.in</a
          >.
        </P>
        <p>We will get back to you within 16 hours.</p>
      </div>
    </div>
  </div>
</div>
