@import "../../../scss/functions";
@import "../../../scss/variables";
@import "../../../scss/mixins";
::ng-deep label {
  font-size: $font-size-base*0.813 !important;
}
::ng-deep .selected-list,::ng-deep .mat-form-field-flex {
  border: none!important;
}
.fc-grant {
  background-image: url("../../../assets/images/backgrounds/Path.png");
  background-repeat: no-repeat;
  background-position: left;
  height: calc(100vh - 92px);
  // background-size: contain;
  background-size: 74% 100%;
  display: flex;

  & > .container-fluid {
    align-self: center;
    width: 100%;
  }
  .text-white {
    color: #ffffff;
  }
  h1 {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    padding: 20px 0;
  }
  table {
    border-radius: 12px;
    border-collapse: separate;
    tr {
      &:first-child {
        td {
          &:first-child {
            border-top-left-radius: 10px;
          }
          &:last-child {
            border-top-right-radius: 10px;
          }
        }
      }
      &:last-child {
        td {
          &:first-child {
            border-bottom-left-radius: 10px;
          }
          &:last-child {
            border-bottom-right-radius: 10px;
          }
        }
      }
      td {
        color: #fff;
        font-size: $font-size-base*0.875;
        padding: 15px;
        font-family: "Roboto", sans-serif;
      }
    }
  }

  h4 {
    margin-bottom: 20px;
  }
  h5{
    font-family: Poppins, "Roboto", sans-serif;
  }
  ul {
    list-style-type: disc;
    li {
      color: #c3cb24;
    }
  }
  .image-side {
    p,
    a {
      color: #06868c;
      font-size: $font-size-base*0.875;
    }
    p a {
      text-decoration: underline;
    }
    .btn {
      margin: 40px 15px 32px;
      padding: 10px 20px;
      color: #ffffff;
      box-shadow: 0px 3px 5px #b5b5b5;
    }
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .bg-white {
    background: #fff;
  }
  .selected-list,
  .mat-form-field-flex {
    border: none !important;
  }
}

.sign-in {
  // width: 60%;
  // margin: auto;
  // text-align: center;
  // padding: 25px;
  // border-radius: 10px;
  width: 85%;
  text-align: center;
  padding: 5px 25px 10px;
  border-radius: 10px;
  .forget span {
    color: #2c2c2c;
  }
  .sign-in .mat-form-field:last-child .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }
  .login-btn {
    margin: 20px 0;
  }
  .text-dark {
    color: #2c2c2c;
  }
  .last-para {
    font-size: $font-size-base*1;
    font-weight: 400;
  }
  .last-para a {
    color: #ffc70a;
  }
  .forget-password {
    position: relative;
  }
  .forget {
    position: absolute;
    right: 0;
    bottom: -5px;
  }
  .mat-form-field {
    width: 100%;
  }
}
.m-1{
  margin-bottom: 20px;
  margin-top: 0;;
}

@media only screen and (min-width: 300px) and (max-width: 1024px) {
  .fc-grant {
    background-size: cover;
    height: auto;
  }

  .image-side .btn {
    margin: 20px 5px !important;
    padding: 10px 20px;
    color: #ffffff;
  }
  .sign-in {
    width: 100%;
    margin: 50px 0;
  }
  .image-side .btn {
    color: #ffffff;
  }
  .image-side {
    background-color: #ffffff;
    padding: 0;
  }
  .image-side .img-wrapper,
  .image-side p {
    padding: 15px 15px;
  }
  .container-fluid {
    padding: 0;
  }
}

.container {
  overflow-y: hidden;
  margin-left: -1vw;
  // height: 1000px;
}

.container::-webkit-scrollbar {
  display: none;
  overflow: -moz-scrollbars-none;
}

:host {
  .card-body {
    overflow: hidden !important;
    overflow-y: hidden !important;
  }

  .error-message {
    margin-top: 1rem;
  }
}
.img-wrapper {
  margin-bottom: 30px;
}
.user {
  margin-bottom: 20px;
}
.user {
  margin-bottom: 20px;
}

