<!-- <div class="container-fluid" *ngIf="
loggedInUserType === USER_TYPE.ADMIN" style="padding: 0;">
    <div class="row">
        <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2 m-c">
            <div class="m-d">
                <ul class="links">
                    <a routerLinkActive="active" (mouseover)="changeIcon()" (mouseout)='remIcon()'>
                        <mat-icon aria-hidden="false">
                            <img [src]="ds_icon">
                        </mat-icon> <span style="margin-top: .9rem;">Dashbord</span>
                    </a>
                </ul>
                <ul class="links">
                    <a routerLinkActive="active">
                        <mat-icon aria-hidden="false">
                            <img src="../../../assets//stateform/review.svg" class="svg-re">
                        </mat-icon> <span style="margin-top: .9rem;"> Review State Forms</span>
                    </a>
                </ul>
                <ul class="links" style="margin-bottom: 10px;">
                    <a routerLinkActive="active" routerLink="ulb-review">
                        <mat-icon aria-hidden="false">
                            <img [src]="ulb_icon">
                        </mat-icon> <span style="margin-top: .9rem;">Review ULB Forms
                        </span> </a>

                </ul>
            </div>
        </div>

        <div class="col-sm-10 col-xs-10 col-md-10 col-lg-10 text-center" style="margin-top: 1.5rem; width: 79%;">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Welcome: {{name}}, {{role}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <router-outlet></router-outlet>
                </div>
            </div>

        </div>
    </div>


</div> -->
