<div class="container-fluid" #annualPreview id="annualPreview">
    <div class="row">
        <div class="col-sm-12" [ngClass]="{'header-p':!parentData, 'header-u-p' : parentData }">
            <a *ngIf="!fromParent" (click)="closeMat()" class="pull-right">

                <img src="../../../../../assets/form-icon/Icon material-close.svg">

            </a>
            <!-- <div class="col-sm-12 heading-p">Annual Accounts: 2021-22</div> -->
            <div class="col-sm-12" [ngClass]="{'heading-p':!parentData, 'heading-u-p' : parentData }">
                <span *ngIf="!fromParent" style="display: block; line-height: normal;">
                    Submissions for 15th FC grant for FY 2021-22</span>
                <span *ngIf="fromParent">Annual Accounts</span>
                <b class="sub-h" *ngIf="!fromParent">{{ulbName}}, {{stateName}}</b>
            </div>
        </div>
    </div>
    <!-- <div class="row hi" style="margin-top: 1.5rem;">
        <div class="col-sm-12 text-right">
            <button *ngIf="!fromParent" id="donwloadButton" style="right: 0%;
    outline: none; margin-right: 2%" class="btn btn-primary btn-upload" (click)="downloadAsPDF()">
                Download as PDF
            </button>
        </div>
    </div> -->
    <div class="d-flex justify-content-between" style="margin-top: 1rem;">
        <p class="form-status" style="padding: 0; margin-bottom: 5px;" *ngIf="!fromParent">
            <!-- <b *ngIf="!fromParent">Application Current Status:</b> {{totalStatus}} -->
            <!-- <br *ngIf="!fromParent"> -->
            <b>Form Current Status:</b> {{formStatusCheck}}
        </p>
        <button *ngIf="!fromParent" id="donwloadButton" style="right: 0%; outline: none; height: 2pc;" class="btn btn-primary btn-upload hi" (click)="clickedDownloadAsPDF(templateAnnual)">
            Download as PDF
        </button>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row" *ngIf="!fromParent">
                <div class="col-sm-12 text-center form-h">
                    Annual Accounts
                </div>
            </div>
            <div class="row" class="optionalText;">
                <mat-icon aria-hidden="false" style="width: 16px;height: 16px;">
                    <img src="../../../../assets/ulbform/info_black_24dp.svg">
                </mat-icon> - PDFs are mandatory and Excels are Optional.
            </div>
            <div class="row m-an" style="margin: 0;">
                <div class="col-sm-12 h-annual" style="background-color: #124A55; margin: 0; color: #FFFFFF; padding: 4px;">
                    Provisional Accounts for 2020-21
                </div>
            </div>
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-8 col-md-8 col-lg-8 h-font">
                            (A) Do you wish to submit Provisional Accounts for 2020-21 ?
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4  h-font f-r m-clss">
                            <div style="padding: 1pc;" *ngIf="data.unAudited.submit_annual_accounts"> Yes</div>
                            <div style="padding: 1pc;" *ngIf="!data.unAudited.submit_annual_accounts && (data.unAudited.submit_annual_accounts != undefined)">
                                No</div>
                            <div style="padding: 1pc;" class="" *ngIf="data.unAudited.submit_annual_accounts == undefined">
                                N/A</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 qus-h-an">
                            1.Balance Sheet
                        </div>
                        <div *ngIf="data.unAudited.provisional_data && data.unAudited.provisional_data.bal_sheet.pdf.url" class="col-sm-4 ans-h-an">
                            <div class="row ans-h-an">
                                Pdf* - &nbsp;&nbsp;
                                <a target="_blank" href="{{data.unAudited.provisional_data.bal_sheet.pdf.url | toStorageUrl }}">
                                    {{ data.unAudited.provisional_data.bal_sheet.pdf.name}}</a>
                            </div>
                            <div *ngIf="data.unAudited.provisional_data.bal_sheet?.excel.name" class="row ans-h-an">
                                Excel -
                                <a href="{{data.unAudited.provisional_data.bal_sheet?.excel.url | toStorageUrl}}">
                                    {{data.unAudited.provisional_data.bal_sheet?.excel.name}}</a>
                            </div>
                        </div>
                        <div *ngIf="!data.unAudited.provisional_data || !data.unAudited.provisional_data.bal_sheet.pdf.url" class="col-sm-4 ans-h-na">
                            N/A
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 qus-h-an">
                            2.Balance Sheet Schedule
                        </div>
                        <div *ngIf="data.unAudited.provisional_data && data.unAudited.provisional_data.bal_sheet_schedules.pdf.url" class="col-sm-4 ans-h-an ">
                            <div class="row ans-h-an">
                                Pdf* - &nbsp;&nbsp;
                                <a target="_blank" href="{{data.unAudited.provisional_data.bal_sheet_schedules.pdf.url | toStorageUrl}}">
                                    {{data.unAudited.provisional_data.bal_sheet_schedules.pdf.name}}</a>
                            </div>
                            <div class="row ans-h-an" *ngIf="data.unAudited.provisional_data.bal_sheet_schedules?.excel.name">
                                Excel -
                                <a href="{{data.unAudited.provisional_data.bal_sheet_schedules?.excel.url | toStorageUrl}}">
                                    {{data.unAudited.provisional_data.bal_sheet_schedules?.excel.name}}</a>
                            </div>
                        </div>
                        <div *ngIf="!data.unAudited.provisional_data || !data.unAudited.provisional_data.bal_sheet_schedules.pdf.url" class="col-sm-4 ans-h-na">
                            N/A
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 qus-h-an">
                            3.Income Expenditure
                        </div>
                        <div *ngIf="data.unAudited.provisional_data && data.unAudited.provisional_data.inc_exp.pdf.url" class="col-sm-4 ans-h-an">
                            <div class="row ans-h-an">
                                Pdf* - &nbsp;&nbsp;
                                <a target="_blank" href="{{data.unAudited.provisional_data.inc_exp.pdf.url | toStorageUrl}}">
                                    {{data.unAudited.provisional_data.inc_exp.pdf.name}}</a>
                            </div>
                            <div class="row ans-h-an" *ngIf="data.unAudited.provisional_data.inc_exp?.excel.name && data.unAudited.provisional_data.inc_exp.pdf.url">
                                Excel -
                                <a href="{{data.unAudited.provisional_data.inc_exp?.excel.url | toStorageUrl}}">
                                    {{data.unAudited.provisional_data.inc_exp?.excel.name}}</a>
                            </div>
                        </div>
                        <div *ngIf="!data.unAudited.provisional_data || !data.unAudited.provisional_data.inc_exp.pdf.url" class="col-sm-4 ans-h-na">
                            N/A
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 qus-h-an">
                            4.Income Expenditure Schedule
                        </div>
                        <div *ngIf="data.unAudited.provisional_data && data.unAudited.provisional_data.inc_exp_schedules.pdf.url" class="col-sm-4 ans-h-an">
                            <div class="row ans-h-an">
                                Pdf* - &nbsp;&nbsp;
                                <a target="_blank" href="{{data.unAudited.provisional_data.inc_exp_schedules.pdf.url | toStorageUrl}}">
                                    {{data.unAudited.provisional_data.inc_exp_schedules.pdf.name}}</a>
                            </div>
                            <div *ngIf="data.unAudited.provisional_data.inc_exp_schedules?.excel.name" class="row ans-h-an">
                                Excel -
                                <a href="{{data.unAudited.provisional_data.inc_exp_schedules?.excel.url | toStorageUrl}}">
                                    {{data.unAudited.provisional_data.inc_exp_schedules?.excel.name}}</a>
                            </div>
                        </div>
                        <div *ngIf="!data.unAudited.provisional_data || !data.unAudited.provisional_data.inc_exp_schedules.pdf.url" class="col-sm-4 ans-h-na">
                            N/A
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 qus-h-an">
                            5.Cash flow Statement
                        </div>
                        <div *ngIf="data.unAudited.provisional_data && data.unAudited.provisional_data.cash_flow.pdf.url" class="col-sm-4 ans-h-an">
                            <div class="row ans-h-an">
                                Pdf* - &nbsp;&nbsp;
                                <a target="_blank" href="{{data.unAudited.provisional_data.cash_flow.pdf.url | toStorageUrl}}">
                                    {{data.unAudited.provisional_data.cash_flow.pdf.name}}</a>
                            </div>
                            <div class="row ans-h-an" *ngIf="data.unAudited.provisional_data.cash_flow?.excel.name">
                                Excel -
                                <a href="{{data.unAudited.provisional_data.cash_flow?.excel.url | toStorageUrl}}">
                                    {{data.unAudited.provisional_data.cash_flow?.excel.name}}</a>
                            </div>
                        </div>
                        <div *ngIf="!data.unAudited.provisional_data || !data.unAudited.provisional_data.cash_flow.pdf.url" class="col-sm-4 ans-h-na">
                            N/A
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="margin-top: 2rem;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8 col-md-8 col-lg-8 h-font">
                            <!-- (B) Do you wish to submit financials in standardized format for 2020-21? -->
                            (B) Do you wish to submit financials in Standardized Format for 2020-21 ?
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4  h-font f-r">
                            <div *ngIf="data.unAudited.submit_standardized_data"> Yes</div>
                            <div *ngIf="!data.unAudited.submit_standardized_data && (data.unAudited.submit_standardized_data != undefined)">
                                No</div>
                            <div class="" *ngIf="data.unAudited.submit_standardized_data == undefined">
                                N/A</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 qus-h-an-ex">
                            Uploaded Excel
                        </div>
                        <div *ngIf="data.unAudited.standardized_data?.excel.url" class="col-sm-4 ans-h-an">
                            Excel -
                            <a href="{{data.unAudited.standardized_data?.excel.url | toStorageUrl}}">{{data.unAudited.standardized_data?.excel.name}}</a>
                        </div>
                        <div *ngIf="!data.unAudited.standardized_data?.excel.url" class="col-sm-4 ans-h-na">
                            N/A
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 qus-h-an">
                            <!-- Self declaration by the Executive officer/Municipal
                             Commissioner of the ULB on the standardised financial statements uploaded above.
                              I hereby confirm that I have verified the information uploaded
                               in standardized template and it is true and correct. It
                            is confirmed that this information can be made available
                             for public consumption on the CityFinance portal. -->
                            <label class="dec-h" style="font-weight: 500;">
                                Self declaration by the Executive officer/Municipal
                                Commissioner of the ULB on the standardised financial statements uploaded above.
                            </label> <br>
                            <span> I hereby confirm that I have verified the information uploaded in standardized
                                template and it is true and correct. It is confirmed that this information can be made
                                available for public
                                consumption on the CityFinance portal.</span>
                        </div>
                        <div class="col-sm-4" style="margin-top: 1rem;">
                            <span class="ans-h-an" *ngIf="data.unAudited.standardized_data?.declaration == true">Agreed</span>

                            <span class="ans-h-an" *ngIf="data.unAudited.standardized_data?.declaration == false && (data.unAudited.standardized_data?.declaration != undefined)">Not
                                Agreed</span>
                            <span class="ans-h-na" *ngIf="data.unAudited.standardized_data?.declaration == undefined">N/A</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-break"></div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 2rem; margin-bottom: 20px;">
            <div class="row m-an" style="margin: 0;">
                <div class="col-sm-12 h-annual" style="margin: 0; background-color: #124A55; color: #FFFFFF; padding: 4px;">
                    Audited Accounts for 2019-20
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8 col-md-8 col-lg-8 h-font">
                            (A) Do you wish to submit Audited Accounts for 2019-20 ?
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 h-font f-r m-clss">
                            <div style="padding: 1pc;" *ngIf="data.audited.submit_annual_accounts"> Yes</div>
                            <div style="padding: 1pc;" *ngIf="!data.audited.submit_annual_accounts && (data.audited.submit_annual_accounts != undefined)">
                                No</div>
                            <div style="padding: 1pc;" class="" *ngIf="data.audited.submit_annual_accounts == undefined">
                                N/A</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 qus-h-an">
                            1.Balance Sheet
                        </div>
                        <div *ngIf="data.audited.provisional_data && data.audited.provisional_data.bal_sheet.pdf.url" class="col-sm-4">
                            <div class="row ans-h-an-b">
                                Pdf* - &nbsp;&nbsp;
                                <a target="_blank" href="{{data.audited.provisional_data.bal_sheet.pdf.url | toStorageUrl}}">
                                    {{data.audited.provisional_data.bal_sheet.pdf.name}}</a>
                            </div>
                            <div *ngIf="data.audited.provisional_data.bal_sheet?.excel.name" class="row ans-h-an-b">
                                Excel -
                                <a href="{{data.audited.provisional_data.bal_sheet?.excel.url | toStorageUrl}}">
                                    {{data.audited.provisional_data.bal_sheet?.excel.name}}</a>
                            </div>
                        </div>
                        <div *ngIf="!data.audited.provisional_data || !data.audited.provisional_data.bal_sheet.pdf.url" class="col-sm-4 ans-h-na">
                            N/A
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 qus-h-an">
                            2.Balance Sheet Schedule
                        </div>
                        <div *ngIf="data.audited.provisional_data && data.audited.provisional_data.bal_sheet_schedules.pdf.url" class="col-sm-4">
                            <div class="row ans-h-an-b">
                                Pdf* - &nbsp;&nbsp;
                                <a target="_blank" href="{{data.audited.provisional_data.bal_sheet_schedules.pdf.url | toStorageUrl}}">
                                    {{data.audited.provisional_data.bal_sheet_schedules.pdf.name}}</a>
                            </div>
                            <div class="row ans-h-an-b" *ngIf="data.audited.provisional_data.bal_sheet_schedules?.excel.name">
                                Excel -
                                <a href="{{data.audited.provisional_data.bal_sheet_schedules?.excel.url | toStorageUrl}}">
                                    {{data.audited.provisional_data.bal_sheet_schedules?.excel.name}}</a>
                            </div>
                        </div>
                        <div *ngIf="!data.audited.provisional_data || !data.audited.provisional_data.bal_sheet_schedules.pdf.url" class="col-sm-4 ans-h-na">
                            N/A
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 qus-h-an">
                            3.Income Expenditure
                        </div>
                        <div *ngIf="data.audited.provisional_data && data.audited.provisional_data.inc_exp.pdf.url" class="col-sm-4">
                            <div class="row ans-h-an-b">
                                Pdf* - &nbsp;&nbsp;
                                <a target="_blank" href="{{data.audited.provisional_data.inc_exp.pdf.url | toStorageUrl}}">
                                    {{data.audited.provisional_data.inc_exp.pdf.name}}</a>
                            </div>
                            <div class="row ans-h-an-b" *ngIf="data.audited.provisional_data.inc_exp?.excel.name && data.audited.provisional_data.inc_exp.pdf.url">
                                Excel -
                                <a href="{{data.audited.provisional_data.inc_exp?.excel.url | toStorageUrl}}">
                                    {{data.audited.provisional_data.inc_exp?.excel.name}}</a>
                            </div>
                        </div>
                        <div *ngIf="!data.audited.provisional_data || !data.audited.provisional_data.inc_exp.pdf.url" class="col-sm-4 ans-h-na">
                            N/A
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 qus-h-an">
                            4.Income Expenditure Schedule
                        </div>
                        <div *ngIf="data.audited.provisional_data && data.audited.provisional_data.inc_exp_schedules.pdf.url" class="col-sm-4">
                            <div class="row ans-h-an-b">
                                Pdf* - &nbsp;&nbsp;
                                <a target="_blank" href="{{data.audited.provisional_data.inc_exp_schedules.pdf.url | toStorageUrl}}">
                                    {{data.audited.provisional_data.inc_exp_schedules.pdf.name}}</a>
                            </div>
                            <div *ngIf="data.audited.provisional_data.inc_exp_schedules?.excel.name" class="row ans-h-an-b">
                                Excel -
                                <a href="{{data.audited.provisional_data.inc_exp_schedules?.excel.url | toStorageUrl}}">
                                    {{data.audited.provisional_data.inc_exp_schedules?.excel.name}}</a>
                            </div>
                        </div>
                        <div *ngIf="!data.audited.provisional_data || !data.audited.provisional_data.inc_exp_schedules.pdf.url" class="col-sm-4 ans-h-na">
                            N/A
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 qus-h-an">
                            5.Cash flow Statement
                        </div>
                        <div *ngIf="data.audited.provisional_data && data.audited.provisional_data.cash_flow.pdf.url" class="col-sm-4">
                            <div class="row ans-h-an-b">
                                Pdf* - &nbsp;&nbsp;
                                <a target="_blank" href="{{data.audited.provisional_data.cash_flow.pdf.url | toStorageUrl}}">
                                    {{data.audited.provisional_data.cash_flow.pdf.name}}</a>
                            </div>
                            <div class="row ans-h-an-b" *ngIf="data.audited.provisional_data.cash_flow?.excel.name">
                                Excel -
                                <a href="{{data.audited.provisional_data.cash_flow?.excel.url | toStorageUrl}}">
                                    {{data.audited.provisional_data.cash_flow?.excel.name}}</a>
                            </div>
                        </div>
                        <div *ngIf="!data.audited.provisional_data || !data.audited.provisional_data.cash_flow.pdf.url" class="col-sm-4 ans-h-na">
                            N/A
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 qus-h-an">
                            6.Auditor Report
                        </div>
                        <div *ngIf="data.audited.provisional_data && data.audited.provisional_data.auditor_report.pdf.url" class="col-sm-4">
                            <div class="row ans-h-an-b">
                                Pdf* - &nbsp;&nbsp; <a href="{{data.audited.provisional_data.auditor_report.pdf.url | toStorageUrl}}">
                                    {{data.audited.provisional_data.auditor_report.pdf.name}}</a>
                            </div>
                        </div>
                        <div *ngIf="!data.audited.provisional_data || !data.audited.provisional_data.auditor_report.pdf.url" class="col-sm-4 ans-h-na">
                            N/A
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="margin-top: 2rem;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8 col-md-8 col-lg-8 h-font">
                            <!-- (B) Do you wish to submit financials in standardized format for 2019-20? -->
                            (B) Do you wish to submit financials in Standardized Format for 2019-20 ?
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4  h-font f-r">
                            <div *ngIf="data.audited.submit_standardized_data"> Yes</div>
                            <div *ngIf="!data.audited.submit_standardized_data && (data.audited.submit_standardized_data != undefined)">
                                No</div>
                            <div class="" *ngIf="data.audited.submit_standardized_data == undefined">
                                N/A</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 qus-h-an-ex">
                            Uploaded Excel
                        </div>
                        <div class="col-sm-4 ans-h-an" *ngIf="data.audited.standardized_data?.excel.url">
                            Excel -
                            <a href="{{data.audited.standardized_data?.excel.url | toStorageUrl}}">{{data.audited.standardized_data?.excel.name}}</a>
                        </div>
                        <div class="col-sm-4 ans-h-na" *ngIf="!data.audited.standardized_data?.excel.url">
                            N/A
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 qus-h-an">
                            <!-- Self declaration by the Executive officer/Municipal Commissioner of
                             the ULB on the standardised financial statements uploaded above. I hereby confirm that I have verified the information uploaded in standardized template and it is true and correct. It
                            is confirmed that this information can be made available for public
                            consumption on the CityFinance portal. -->
                            <label class="dec-h">
                                Self declaration by the Executive officer/Municipal Commissioner of the ULB on the
                                standardised financial statements uploaded above.
                            </label> <br>
                            <span> I hereby confirm that I have verified the information uploaded in standardized
                                template and it is true and correct. It is confirmed that this information can be made
                                available for public
                                consumption on the CityFinance portal.</span>
                        </div>
                        <div class="col-sm-4" style="margin-top: 1rem;">
                            <span class="ans-h-an" *ngIf="data.audited.standardized_data?.declaration == true">Agreed</span>
                            <span class="ans-h-an" *ngIf="data.audited.standardized_data?.declaration == false && (data.audited.standardized_data?.declaration != undefined)">Not
                                Agreed</span>
                            <span class="ans-h-na" *ngIf="data.audited.standardized_data?.declaration == undefined">N/A</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #templateAnnual>
    <div class="modal-body text-center alert">
        <div class="modal-header">
            <h4 class="modal-title pull-left" style="color: red;"> <i>Alert!</i> </h4>
            <div class="text-right">
                <a (click)="alertClose()">
                    <img src="../../../../assets/form-icon/close-red-icon.png">
                </a>
            </div>
        </div>

        <p style="margin-top: 8px;">
            Are you sure you want to proceed further?
        </p>
        <div>
            <button type="button" class="btn btn-secondary " (click)="stay()">Stay</button>
            <button type="button" class="btn btn-success " style="margin-left: 6px; width: auto; background-color: #5cb85c" (click)="proceed()">
                Save & Proceed</button>
        </div>
    </div>
</ng-template>