.container {
    width: 100%;
    height: auto;
    margin-top: 2%;
}

.form-header {
    font-family: Roboto, Medium;
    color: #373737;
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 5px;
    font-weight: 600;
}

.header-p {
    background-color: #047474;
    text-align: center;
    padding: 10px;
    // height: 100px;
}

.heading-p {
    color: #FFFFFF;
    font-size: 22px;
    height: auto;
    font-weight: 700;
}

.sub-h {
    font-weight: 600;
    font-size: 18px;
}

.form-h {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: .5rem;
}

.l-h {
    font-weight: 600;
    margin-bottom: 1rem;
}

.qus {
    font-weight: 500;
    font-size: 14px;
}
