<!-- <circle-progress [percent]="100" [radius]="100" [outerStrokeWidth]="16" [outerStrokeColor]="'#f2f2f2'"
    [animation]="true" [animationDuration]="300" [showTitle]='true' [title]="'No Data Found'" [showSubtitle]='false'
    [showUnits]='false'>
</circle-progress> -->
<div style="overflow-y: hidden;overflow-x: hidden;">
    <div class="container-fluid row" style="margin-bottom: 1.5rem;display:flex; line-height: 38px; justify-content: center;margin-top: 2%;">
        <div class="col-lg-7 col-md-7 col-sm-7" style="text-align:end;">
            <span style="font-size: 26px; font-weight: 600; margin-right:15px">Dashboard for 15th FC 2021-22 </span>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5">
            <select (change)="onClickingStateTab($event)" class="dropdown" style="width: 150px !important; height:35px;
             text-align-last: center; font-size: 16px; border: 2px solid #333;">
            <option selected>India</option>
            <option [selected]="isSelected(resData)" *ngFor="let resData of stateslist ; let tabelIndex=index"
                value="{{resData.code}} and {{resData._id}}">
                {{resData.name}}
            </option>
        </select>
        </div>
        <!-- text-align-last:center; -->
    </div>
    <div class="container-fluid row" style="padding-left: 0; padding-right: 0; position: relative;">
        <div class="col-sm-5 map-container">
                <div id="finance-law-map">
                </div>
        </div>
        <div class="col-sm-7" style="position: relative;">
            <div class="row" style="margin-bottom: 10px;">

                <div class="cards">
                    <div class="col-sm-3 card ">
                        
                            <div style="text-align: center;">
                                <div class="card-number">{{submitted_totalUlbs}}/{{totalUlbs}}
                                </div>
                                <div class="card-text card-desc">ULB Claims Processed
                                </div>
                            </div>

                        
                    </div>
                    <div class="col-sm-3 card">
                        
                            <div style="text-align: center;">
                                <!-- <div class="card-number">{{submitted_nonMillion}}</div>
                                <div class="card-text" style="font-size:13px">Non Million Cities Approved</div>
                                <div class="card-text" style="font-size:13px">Out Of {{nonMillion}} </div> -->
                                <div class="card-number">{{submitted_nonMillion}}/{{nonMillion}}
                                </div>
                                <div class="card-text card-desc"> Non Million Plus ULB Claims Processed</div>


                            </div>

                        
                    </div>
                    <div class="col-sm-3 card">
                        
                            <div style="text-align: center;padding-right: 6px; padding-left: 6px; ">
                                <div class="card-number">
                                    {{submitted_ulbsInMillionPlusUlbs}}/{{ulbsInMillionPlusUlbs}}</div>
                                <div class="card-text card-desc">ULB in UAs Claims Processed
                                    <!-- ULBs in Million-Plus UAs Approved -->
                                </div>

                                <!-- <div class="card-number" *ngIf="!ulbsInMillionPlusUlbs">NA</div> -->
                            </div>


                        
                    </div>
                    <div class="col-sm-3 card">
                        
                            <div style="text-align: center;">
                                <div class="card-number">
                                    {{submitted_millionPlusUA ? submitted_millionPlusUA : 0 }}/{{millionPlusUA ? millionPlusUA : '0' }}
                                </div>
                                <div class="card-text card-desc">UA Claims Processed
                                    <!-- Million-Plus UAs Approved -->
                                </div>

                                <!-- <div class="card-number" *ngIf="!millionPlusUA">NA</div> -->

                            </div>

                        
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-12">
                    <div class="row">

                        <div class="col-sm-9 col-lg-9 col-md-9" style="padding: 0;">
                            <span style="font-weight: 600; font-size: 16px;"> Overview of ULB Data Submission</span>
                        </div>

                        <div class="col-sm-2 col-lg-2 col-md-2 text-right" style="padding:0; margin-left: 5%;">
                            <!-- <mat-icon class="mat-i" aria-hidden="false" matTooltip="Click here to download data.">
                                <img src="../../../../assets/mohua/cloud_download_white_24dp.svg" class="svg-gt">

                            </mat-icon> -->
                            <button type="button" class="btn btn-d" (click)="downloadTableData()" style="margin-bottom: 4px; font-size: 12px; height: 30px;">DOWNLOAD</button>
                        </div>

                    </div>
                    <div class="row" style="margin-right: 0;min-width: fit-content;">
                        <div class="table-responsive" style="overflow-y: auto; border: 1px solid  #00000029;overflow-x: hidden;margin-bottom: 1rem;height: 300px;">
                            <table #stateTable class="table tracking-history-table my_table" style="margin-bottom: 0;">
                                <thead style="position:sticky; top:0">
                                    <tr style="background-color: #047474; color: #FFFFFF;">
                                        <th scope="col" style="width: 1%; position:sticky; top:0" class="tableHeadText">
                                            S.No
                                        </th>

                                        <th scope="col" class="tableHeadText" style="position:sticky; top:0">State </th>
                                        <th scope="col" class="tableHeadText" style="width: 11%;position:sticky; top:0">
                                            Total ULBs
                                        </th>
                                        <th scope="col" class="tableHeadText" style="position:sticky; top:0">ULBs Overall Completed Forms Approved by State/MoHUA
                                        </th>
                                        <th scope="col" class="tableHeadText" style="position:sticky; top:0">ULBs Overall Completed Forms Under Review
                                        </th>
                                        <th scope="col" class="tableHeadText" style="position:sticky; top:0">ULBs Overall Forms Pending Completion
                                        </th>
                                        <th scope="col" class="tableHeadText" style="position:sticky; top:0">
                                            Completed & Approved Forms (%)</th>

                                    </tr>
                                </thead>


                                <tbody>
                                    <tr *ngFor="let resData of tabelData ; let tabelIndex=index" tabindex="{{tabelIndex}}" class="tableHeadText">
                                        <td style="width: 1%;" [style.border-top]="tabelIndex == '0' ? 'none' : ''">
                                            {{ tabelIndex+1}}
                                        </td>
                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''">
                                            {{resData.name}}
                                        </td>
                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''">
                                            {{resData.totalULBs}}
                                        </td>
                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''">
                                            {{resData.approvedByState}}
                                        </td>
                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''">
                                            {{resData.withState}}</td>
                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''">
                                            {{resData.notSubmittedForm}}
                                        </td>
                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''" style="font-weight: bold;">
                                            {{resData.approvedByState/resData.totalULBs * 100 ? (resData.approvedByState/resData.totalULBs * 100).toFixed(2) : 0 }}
                                            <small>%</small>
                                        </td>
                                        <td style="display: none;">
                                            {{resData.code}}
                                        </td>
                                        <td style="display: none;">
                                            {{resData.id}}
                                        </td>
                                    </tr>
                                    <tr class="tableHeadText" style="background-color: skyblue; font-weight: bold; position:sticky; bottom:0">
                                        <td style="width: 1%;">

                                        </td>
                                        <td>
                                            TOTAL
                                        </td>
                                        <td>
                                            {{total_totalULBs}}
                                        </td>
                                        <td>
                                            {{total_submittedForm}}
                                        </td>
                                        <td>
                                            {{total_withState}}</td>
                                        <td>
                                            {{total_notSubmittedForm}}
                                        </td>
                                        <td style="font-weight: bold;">
                                            {{total_submittedForm/total_totalULBs * 100 ? (total_submittedForm/total_totalULBs * 100).toFixed(2) : 0 }}
                                            <small>%</small>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>

                    </div>


                </div>

            </div>
        </div>

    </div>
    <div class="container-fluid row" style="margin-bottom:15px; padding-right: 0;">
        <div class="row statusArea" style="margin: 0;">
            <div class="col-sm-4 firstColumn">
                <div class="row" style="font-size: 23px;
                 text-align: center;line-height: 70px; margin-top:2px;
                 border-bottom: 1px solid #0000001A; font-weight: 10px;justify-content: center;">
                    Overall ULB Form Status
                </div>

                <div class="row mainDonutChart" style="margin-left: 0; margin-right: 0; width:100%; height:380px; align-items:center" *ngIf="!noDataFound_Overall">
                    <canvas id="myChart"></canvas>

                </div>
                <div style="text-align:center; margin-top:8%">
                    <button class="btn btn-primary" (click)="openDialog()">VIEW LIST</button>
                </div>
                <div class="row mainDonutChart" *ngIf="noDataFound_Overall" style="height:190px; width:100%; text-align:center;margin-top:3%; margin-left: 2%; ">
                    <!-- <circle-progress [percent]="100" [titleColor]="'#ffffff'" [radius]="100" [outerStrokeWidth]="16" [outerStrokeColor]="'#f2f2f2'" [animation]="true" [animationDuration]="300" [showTitle]='true' [title]="'No Data Found'" [showSubtitle]='false' [showUnits]='false'>
                    </circle-progress> -->
                </div>



            </div>
            <!-- second and third column for entry level conditions -->
            <div class="col-sm-8">
                <div class="row" style="font-size: 20px;
                text-align: center;line-height: 50px; margin-top:2px;
                border: 1px solid #0000001A; font-weight: bolder; margin-right: 0; color: black;justify-content: center;">
                    Entry Level Conditions
                </div>
                <div class="row" style="margin-right: 0;">
                    <div class="col-sm-6 secondColumn">

                        <div class="row textInThirdColumn" style="
         margin-bottom:3px; border-bottom: 1px solid #0000001A; ">
                            ULB Annual Accounts Status
                            <a (click)="openDialogAnnual()" style="margin-left: 5px">
                                <img src="../../../../assets/stateform/clipboard (1).png" width="20px" height="20px">
                            </a>
                            <div style="color:rgb(143, 150, 157); font-size: 12px; font-weight: normal; text-align: center;">
                                Based on Overall form Status</div>
                        </div>
                        <div class="row gauge" style="margin-bottom:12px">
                            <div style="margin-top:7px;text-align: center; font-weight: 450; font-size: 16px;">
                                Provisional Account: 2020-2021
                            </div>
                            <div class="gaugeSize">
                                <div style="height: 175px; width: 100%; position:absolute">
                                    <canvas id="meter1"></canvas>
                                </div>

                                <div style="height: 162px;
                width: 100%;
                position: relative;
                z-index: 2;
                margin-top: 3px;
                margin-left: 12px;
                padding-top: 19px;">
                                    <canvas id="chartDiv"></canvas>

                                </div>
                                <div style="position: relative;
                z-index: 2;
                font-size: 37px;
                font-weight: bold;

                bottom: 94px;
                width: 100%;
                text-align: center;
                margin-left: 13px;">
                                    {{values.annualAcc_provisional}}<small>%</small>
                                    <div style="font-size: 18px;
                    margin-left: -14px;">Completed
                                    </div>
                                </div>


                            </div>

                            <div style="margin-top:3px;text-align: center;
             position:relative; font-weight: 450; font-size: 12px; color:rgb(255, 131, 152)">
                                Target for 15th FC - 25%
                            </div>
                        </div>
                        <div class="row gauge">
                            <div style="margin-top:10px;text-align: center; font-weight: 450; font-size: 16px;">
                                Audited Account: 2019-2020
                            </div>

                            <div class="gaugeSize">
                                <div style="height: 175px; width: 100%;position:absolute">
                                    <canvas id="meter"></canvas>
                                </div>

                                <div style="height: 162px;
                width: 100%;
                position: relative;
                z-index: 2;
                margin-top: 3px;
                margin-left: 12px;
                padding-top: 19px;">
                                    <canvas id="chartDiv2"></canvas>

                                </div>
                                <div style="position: relative;
                z-index: 2;
                font-size: 37px;
                font-weight: bold;

                bottom: 94px;
                width: 100%;
                text-align: center;
                margin-left: 13px;">
                                    {{values.annualAcc_audited}}<small>%</small>
                                    <div style="font-size: 18px;
                    margin-left: -14px;">Completed
                                    </div>
                                </div>


                            </div>
                            <div style="margin-top:3px;text-align: center; position:relative;
            font-weight: 450; font-size: 12px; color:rgb(255, 131, 152)">
                                Target for 15th FC - 25%
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 thirdColumn">

                        <div class="row formDonutCharts">
                            <div class="textInThirdColumn" style=" margin-bottom:3px; border-bottom: 1px solid #0000001A; margin-bottom:6rem ">
                                ULB Utilisation Report Status<br>
                                <a (click)="openDialogUtil()">
                                    <img src="../../../../assets/stateform/clipboard (1).png" width="22px" height="22px">
                                </a>

                                <div style="color:rgb(143, 150, 157); font-size: 12px; font-weight: normal; text-align: center;"> Based on Overall form Status</div>
                            </div>
                            <div class="row" style=" width:100%; align-items:center;height:350px;padding: 0%;" *ngIf="!noDataFound_util">
                                <canvas id="utilReport"></canvas>
                            </div>
                            <div class="row smallDonuts" *ngIf="noDataFound_util" style="text-align:right; margin-top: -7%;">
                                <!-- <circle-progress [percent]="100" [radius]="67" [outerStrokeWidth]="16" [outerStrokeColor]="'#f2f2f2'" [animation]="true" [animationDuration]="300" [showTitle]='true' [title]="'No Data Found'" [showSubtitle]='false' [titleFontSize]="13" [titleFontWeight]="550"
                                    [showUnits]='false'>
                                </circle-progress> -->
                            </div>


                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 mb-2">
        <mat-card>

            <div class="pull-right">
                <mat-label style="font-weight:bolder;">Year </mat-label>
                <select (change)="grantTransferFilter($event.target.value)" required>
                    <option [selected]="dateSelect" value="2020-21,date">2020-21</option>
                    <option value="2021-22,date">2021-22</option>
                </select>
                <mat-label class="m-1" style="font-weight:bolder;">Installment</mat-label>
                <select (change)="grantTransferFilter($event.target.value)" required>
                    <option [selected]="installmentSelect" value="2,installment">2</option>
                    <option [ngStyle]="{'display': year21 ? 'none':''}" value="1,installment">1</option>
                </select>
            </div>
            <mat-card-header>
                <mat-card-title>Grant Transfer Status</mat-card-title>
                <mat-card-subtitle>Last Updated on {{grantTransferDate | date:'dd/MM/YYYY':'IST'}}</mat-card-subtitle>
            </mat-card-header>
            <div class="pull-right" style="padding-top: 0;">
                <button type="button" (click)="grantTransferDownload()" class="btn btn-d" style="font-size: 12px; height: 30px;">DOWNLOAD</button>
            </div>
            <mat-card-content>
                <div class="row" style="min-width:100%;">
                    <div class="col-sm-12">
                        <div class="table-responsive" style="overflow-y: auto; border: 1px solid
                         #00000029; margin-bottom: 1rem;">
                            <table class="table tracking-history-table my_table" style="margin-bottom: 0;">
                                <thead>
                                    <tr style="background-color: #047474; color: #FFFFFF;">
                                        <th scope="col" style="width: 17%;" class="tableHeadText">
                                            Grant Type
                                        </th>
                                        <th scope="col" class="tableHeadText" style="width: 15%;">Grant Amount Assigned in Cr</th>
                                        <th scope="col" class="tableHeadText" style="width: 17%;">
                                            ULBs submitted forms/ Total ULBs in Category
                                        </th>

                                        <th scope="col" style="width: 17%;" class="tableHeadText">
                                            {{!state_id ? 'Number of States to Submit Grant Transfer Certificate' : 'Grant Transfer Certificate Status' }}
                                        </th>
                                        <th scope="col" style="width: 17%;" class="tableHeadText">
                                            {{!state_id ? 'Number of States with Grant Recommendations sent to the MoF' : 'Grant Recommendation Status' }}
                                        </th>
                                        <th scope="col" style="width: 17%;" class="tableHeadText">
                                            {{!state_id ? 'Number of States that Received Grants' : 'Grant Release Status' }}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of grantTransferCardData | keyvalue" class="tableHeadText">
                                        <td>
                                            {{item.key}}
                                        </td>
                                        <td>
                                            {{item.value?.amount}}
                                        </td>
                                        <td>
                                            {{item.value?.ulb}}
                                        </td>
                                        <td>
                                            {{item.value?.submissionDate}}
                                        </td>
                                        <td>
                                            {{item.value?.recommendationDate}}
                                        </td>
                                        <td>
                                            {{item.value?.releaseDate}}
                                        </td>
                                    </tr>
                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="row bottomPart" style="margin-left: 0;
margin-right: 0;">
    <div class="col-sm-6" style="border-right:1px solid #0000001A ; ">
        <div class="row">
            <div class="col-sm-8 textInThirdColumn" style="border-bottom: 1px solid #0000001A;"> Million Plus City Challenge Fund</div>
            <div class=" col-sm-4" style="border-bottom: 1px solid #0000001A; border-right:1px solid #0000001A; height:42px; padding:0">

                <form>
                    <mat-form-field style="width:80%; height:30px ">
                        <input type="text" placeholder="Select UA" matInput [formControl]="myControl" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>

                <!-- <select [(ngModel)]="selectUa" (change)="selectedUA()" class="dropdown">
                    <option value="all">-ALL UAs-</option>
                    <option *ngFor="let item of UAs" value="{{item?._id}}">{{item?.name}}</option>
                </select> -->
            </div>
        </div>

        <div class="row">
            <div style="text-align: left;margin-left: 2%; margin-top: 2%;
                font-weight: bold; font-size: 16px;">SLB for Water Supply and Sanitation</div>

            <div *ngIf="noDataFound_millionSLB" style="text-align: center;
                font-size: 30px;
                margin-top: 12%;">No Data Found</div>
            <div style="width:90%; height:183px; align-items:center; margin-top: 1%;" *ngIf="!noDataFound_millionSLB">
                <canvas id="mpcf"></canvas>

            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12 textInThirdColumn" style="border-bottom: 1px solid #0000001A;"> Performance Conditions for Non-Million ULBs</div>

        </div>
        <div class="row">
            <div style="text-align: left;margin-left: 2%;margin-top: 2%;
                font-weight: bold; font-size: 16px;">SLB for Water Supply and Sanitation</div>
            <div *ngIf="noDataFound_nonMillionSLB" style="text-align: center;
                font-size: 30px;
                margin-top: 12%;">No Data Found</div>
            <div style="width:90%; height:183px; align-items:center; margin-top: 1%; " *ngIf="!noDataFound_nonMillionSLB">
                <canvas id="nmpcf"></canvas>

            </div>
        </div>
    </div>
</div>
<div class="row" style="text-align: center;">

    <div class="col-sm-6">
        <div class="Card2">
            <div class="row" style="margin-top: 2%;
            font-weight: bold;">
                Submission of Action Plan and Projects for Water and Sanitation
            </div>
            <div class="row" style="height: 70%;">
                <div class="col-sm-7" style="text-align: left;padding-left: 15%;">
                    <span style="color: #12505A; font-size: 41px;">{{rejuvenationPlans ? 'Yes': 'No'}}
                    </span>


                </div>

                <div class="col-sm-5" style="margin-top:15px; display:flex;justify-content: space-evenly;">

                    <img [ngStyle]="{'opacity': rejuvenationPlans ? 1 : 0.5}" src="../../../../assets/stateform/nature.svg">
                    <img [ngStyle]="{'opacity': rejuvenationPlans ? 1 : 0.5}" src="../../../../assets/stateform/nature.svg">
                    <img [ngStyle]="{'opacity': rejuvenationPlans ? 1 : 0.5}" src="../../../../assets/stateform/nature.svg">
                    <img [ngStyle]="{'opacity': rejuvenationPlans ? 1 : 0.5}" src="../../../../assets/stateform/nature.svg">


                </div>
            </div>

        </div>
    </div>

</div>