<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">Filter</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body row " style="min-height: 80vh;" *ngIf="response && response.filters?.length > 0">
                <div class="col-4 border-end">
                    <ul class="list-group">
                        <li class="list-group-item p-3" [ngClass]="{active: activeFilterKey == filter.key}"
                            (click)="activeFilterKey = filter.key"
                            *ngFor="let filter of response.filters; let i = index;">
                            {{ filter.name }}
                        </li>
                    </ul>
                </div>
                <div class="col-8 px-3 d-flex flex-column justify-content-between">
                    <div>
                        <input type="search" [(ngModel)]="activeFilter.query"
                            class="form-control col-4 rounded-pill p-4 w-50" placeholder="Search">
                        <div class="scrollable-filter-option-section">
                            <ng-container *ngFor="let option of activeFilter.options">
                                <div class="form-check mt-2" *ngIf="canShowOption(option)">
                                    <input class="form-check-input" type="checkbox" value=""
                                        [id]="'option_' + option?._id" [(ngModel)]="option.checked">
                                    <label class="form-check-label" [for]="'option_' + option?._id">{{ option.name
                                        }}</label>
                                </div>
                            </ng-container>
                        </div>
                        <p *ngIf="activeFilter.key === 'projects' && appliedSectorFilters.length > 0"
                            class="alert alert-warning mt-2">Projects are bases
                            on selected sectors <b>{{ appliedSectorFilters | join }}</b></p>
                    </div>
                    <div class="model-footer d-flex justify-content-between border-top pt-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            (click)="loadData();">Apply</button>
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"
                            (click)="resetFilters()">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- TODO: remove extra entry if there is no row from backend -->
    <div class="d-flex justify-content-between my-2 ">
        <h1 class="fw-bold">Ongoing Infrastructure Projects</h1>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups"
            *ngIf="response && response.filters?.length > 0">
            <button type="button" class="btn btn-outline-secondary me-2" data-bs-toggle="modal"
                data-bs-target="#filterModalMou" *ngIf="isUA == 'Yes'">MoU</button>
            <button type="button" class="btn btn-outline-secondary me-2" data-bs-toggle="modal"
                data-bs-target="#filterModal">Filter</button>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle me-2" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa fa-filter" aria-hidden="true"></i>Sort
                </button>
                <ul class="dropdown-menu p-2">
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" [(ngModel)]="order" [value]="1" class="btn-check" name="order"
                            id="ascending" autocomplete="off" (change)="loadData();">
                        <label class="btn btn-outline-secondary" for="ascending">Ascending</label>

                        <input type="radio" [(ngModel)]="order" [value]="-1" class="btn-check" name="order"
                            id="descending" autocomplete="off" (change)="loadData();">
                        <label class="btn btn-outline-secondary" for="descending">Descending</label>
                    </div>
                    <ul class="list-group my-2">
                        <li class="list-group-item active" *ngFor="let item of sortOptions"
                            [ngClass]="{active: sortBy == item.key}" (click)="sortBy = item.key; loadData();">{{
                            item.label }}</li>
                    </ul>
                </ul>
            </div>
            <a type="button" target="_blank" [href]="csvDownloadLink"
                class="btn btn-outline-secondary d-flex align-items-center me-2">Download</a>
        </div>
    </div>


    <div
        *ngIf="response && response?.rows?.length > 0 && !(response.rows.length == 1 && !response.rows[0].projectName); else no_data_found">
        <mat-paginator [length]="response.total" [pageSize]="limit" [pageIndex]="page" [pageSizeOptions]="pageSizeOptions"
            (page)="pageChange($event)" aria-label="Select page">
        </mat-paginator>
        <div *ngFor="let row of response.rows" class="border mb-3 rounded">
            <div class="row mx-3">
                <div class="col-4 py-3 fw-bold border-end">{{ row.projectName | titlecase }}</div>
                <div class="col-4 py-3 ">Sector: {{ row.sector }}</div>
                <div class="col-4 py-3 d-flex justify-content-end">
                    <a
                        [href]="baseUrl + 'UA/get-mou-project/' + this.cityId + '?projects=' + row.projectId + '&csv=true'">
                        <img class="icon mr-1" src="../../../../assets/excel.png">
                        <span>More Information</span>
                    </a>
                </div>
            </div>
            <hr class="m-0" />
            <div class="row m-3 justify-content-end">
                <ng-container *ngFor="let column of response.columns">
                    <div class="col-3 my-3" *ngIf="!hiddenColumns.includes(column.key) && row[column.key]">
                        <div class="label">{{ column.label }}</div>
                        <div [ngSwitch]="column.key">
                            <div style="cursor: pointer;" *ngSwitchCase="'creditRating'">
                                <div (click)="onCreditRationClick(row[column.key])">
                                    <img class="icon mr-1" src="../../../../assets/pdf.png">
                                    <span>{{ row[column.key]?.name }}</span>
                                </div>
                            </div>
                            <div *ngSwitchCase="'projectReport'">
                                <a [href]="row[column.key]?.url" *ngIf="row[column.key]?.url" target="_blank">
                                    <img class="icon mr-1" src="../../../../assets/pdf.png">
                                    <span>{{ row[column.key]?.name }}</span>
                                </a>
                            </div>
                            <div *ngSwitchDefault>{{ row[column.key] }}</div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <ng-template #no_data_found>
        <h2 class="text-center p-5" *ngIf="response">No data found</h2>
    </ng-template>
</div>

<div class="modal fade" id="filterModalMou" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">MoU</h5>
                <button type="button" class="btn-close btn-c-m" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body row " style="min-height: 80vh;" *ngIf="response && response.filters?.length > 0">
                <app-pdf-card-viewer [cityId]="cityId" [tabDescription]="mouTabDescription"></app-pdf-card-viewer>
            </div>
        </div>
    </div>
</div>