.table-bordered {
  width: 100%;
}
.table-bordered th {
  // text-align: center;
  padding: 6px;
}
.table-bordered td {
  padding: 5px;
}

.tableRow{
  width:100%;
  height:6px;
  border:1px solid white
}
:host {
  table {
    thead tr:not(:last-child),
    thead tr:not(:nth-child(1)),
    thead tr:not(:nth-child(2)) {
      background: #e2e2e2;
      th,
      td {
        background: #e2e2e2;
      }
    }

    tbody tr:nth-last-child(1),
    tr.backgroundHighlight {
      background: #f4f4f4;
      th,
      td {
        background: #f4f4f4;
      }
    }
    tbody,
    thead {
      // color: #333333;
      color: rgb(26, 24, 24);
    }
  }
  ::ng-deep {
    .selected-list,
    .mat-form-field-flex {
      border: 1px solid white !important;
      border-radius: 5px;
      outline: none;
      .c-btn {
        outline: none;
      }
    }
  }
}

.sub-heading {
  background-color: rgba(0, 0, 0, 0.05);
}
.aggregate-heading {
  background-color: rgba(0, 0, 0, 0.1);
}

::ng-deep .lazyContainer > * {
  color: black;
}
::ng-deep .selected-list span {
  fill: white !important;
}

:host {
  ::ng-deep angular2-multiselect span {
    font-size: 1.2em;
  }
}

::ng-deep .disable-form {
  pointer-events: none;
  .c-angle-down {
    opacity: 0;
  }
}

.tooltipWrapper {
  position: relative;
  cursor: pointer;
}

.tooltipWrapper > .tooltipData {
  position: absolute;
  display: inline-block;
  width: fit-content;
  min-width: 90px;
  opacity: 0;
  transition: 0.3s all;
  background: rgb(59, 58, 58);
  color: white;
  border-radius: 6%;
  font-size: 1em;
  text-align: center;
  padding: 1% 0.4%;
}

.tooltipWrapper:hover .tooltipData {
  opacity: 1;
  transform: translateX(-108%);
}

td {
  overflow: hidden;
}

::ng-deep .clear-all {
  visibility: hidden;
  pointer-events: none;
}

::ng-deep .noCrossSymbol .c-angle-down svg,
::ng-deep .noCrossSymbol .c-angle-up svg {
  fill: white !important;
}
@media screen and (max-width: 1000px) {
  .tableResponsive{
    overflow-x:scroll
  }
  .customPara{
    font-size: 5vw !important;
  }
  .responsiveTable{
    overflow-x: scroll;
  }
}
