<div class="container">
    <div class="row mb-3 mt-3 text-center">
        <div class="col-sm-12 header2">Urban Reforms Part IV</div>
        <h6 class="my-2">{{ stateName }}'s submission</h6>
    </div>

    <div class="container py-4">
        <div class="row">
            <div class="file-entries">
                <a [href]="file?.url | toStorageUrl" target="_blank" download class="file-entry" *ngFor="let file of files">
                    <div class="details">
                        <img class="file-icon" *ngIf="file?.url | endsWith : ['.pdf']" src="assets/pdf.png">
                        <img class="file-icon" *ngIf="file?.url | endsWith : ['.zip']" src="assets/zip.png">
                        <img class="file-icon" *ngIf="file?.url | endsWith : ['.xls', '.xlsx']" src="assets/excel.png">
                        <div>
                            <div>{{ file.name }}</div>
                            <!-- <p class="created-at">Created on {{ file.createdAt | date: 'dd/MM/yyyy' }}</p> -->
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>