<section class="align-center py-3">
    <h2 class="my-4 text-center color-blue fw-bold">Assessment Parameters</h2>

    <div class="btn-group custom-btn-group text-center d-block" role="group"
        aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="filter" id="resourceMobilization" [(ngModel)]="activeFilter"
            value="resourceMobilization" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="resourceMobilization">Resource Mobilisation</label>

        <input type="radio" class="btn-check" name="filter" id="expenditurePerformance" [(ngModel)]="activeFilter"
            value="expenditurePerformance" autocomplete="off">
        <label class="btn btn-outline-primary" for="expenditurePerformance">Expenditure Performance</label>

        <input type="radio" class="btn-check" name="filter" id="fiscalGovernance" [(ngModel)]="activeFilter"
            value="fiscalGovernance" autocomplete="off">
        <label class="btn btn-outline-primary" for="fiscalGovernance">Fiscal Governance</label>
    </div>


    <div class="container mt-4 p-0" style="background-color: #fff;">
        <app-common-table theme="white" [info]="footnotes" [response]="table?.response" [classLists]="'sn-no'">
        </app-common-table>
        <p>“Note: The per capita and CAGR of the ULB are calculated after normalizing the values for water supply and sanitation. <a target="_blank" href="https://jana-cityfinance-live.s3.ap-south-1.amazonaws.com/FiscalRanking/City_Finance_Rankings_2022_Final_Guidelines_March_2023_85825255-1ad9-4f9f-a44c-044210682c7b.pdf">Click here</a> for the scoring methodology.”</p>
    </div>
</section>