<div class="containe-fluid">
    <div class="pre-message">
        <div class="row">
            <div class="col-sm-12">

            </div>
        </div>
    </div>
    <div class="form">
        <div class="row">
            <div class="col-sm-12">
                <div class="" *ngFor="let uas of Uas; let projectIndex=index">
                    <div class="card">
                        <div class="card-body">
                            <div class="row" style="">
                                <div class="col-sm-9 head-l" style="">
                                    UA{{projectIndex+1}}: Urban Agglomeration {{ uaIdToName(projectIndex)}}
                                </div>
                                <div class="col-sm-3 text-end" style="">
                                    <button class="btn btn-primary" [ngClass]="{'selectBtn': checkCard(projectIndex)}" (click)="foldCard(projectIndex)">Select</button>
                                </div>
                            </div>
                            <div class="" *ngIf="checkCard(projectIndex)">
                              <div class="table-responsive table-con" *ngIf="tableRes">
                                <div class="" *ngFor="let tableDataClild of tableRes.tables">
                                  <div class="">
                                    <h2>{{tableDataClild?.tableName}}</h2>
                                  </div>
                                  <table class="table" >
                                    <thead>
                                      <tr>
                                        <th
                                          scope="col"
                                          *ngFor="let column of tableDataClild?.data?.columns"
                                          class="{{ column?.key }}"
                                        >
                                          {{ column?.display_name }}
                                        </th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let row of tableDataClild?.data?.rows | slice:1">
                                        <td
                                          *ngFor="let column of tableDataClild?.data?.columns"
                                          class="{{ column?.key }}"
                                        >
                                        <input type="{{row[column.key]?.type}}" value="{{row[column.key]?.value}}" min="{{row[column.key]?.min}}" max="{{row[column.key]?.max}}">
                                          <!-- {{ row[column.key] }} -->
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>


