<div class="message-wrapper">
  <div class="box" *ngIf="submitted">
    <p style="display: flex; align-items: center">
      <app-tick-icon></app-tick-icon>Thank you for submitting the form. &nbsp;
    </p>
    <p>
      <a (click)="showOld.emit(true)" style="display: inline">Click here </a>
      to view submitted response.
    </p>
  </div>

  <div class="box" *ngIf="!submitted" style="flex-wrap: wrap">
    <p style="width: 100%">
      <span *ngIf="customMessage" [innerHTML]="customMessage"></span>
      <span *ngIf="!customMessage">
        This is the last step. After submitting the form, you will not be able
        to change the response. Do you want to submit?
      </span>
    </p>

    <p style="width: 100%; display: flex; justify-content: center">
      <ng-content> </ng-content>
      <button
        class="btn btn-primary"
        style="margin-right: 2%"
        (click)="onSubmitClicked()"
      >
        Submit
      </button>
      <button class="btn btn-primary" (click)="previous.emit(true)">
        Cancel
      </button>
      <ng-content select=".atEnd"> </ng-content>

      <!-- <button
        style="margin-left: 2%;"
        class="btn btn-primary"
        (click)="preview.emit(true)"
      >
        Preview
      </button> -->
    </p>
  </div>
</div>
