
<p>Value: {{ value  }}</p>
<div class="dropdown">
    <button class="btn btn-sm w-100 dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{ value?.name || 'Select an item' }}
    </button>
    <form class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="dropdown-header">
            <input type="text" class="form-control" placeholder="Search..." [formControl]="searchControl" formCont >
        </div>
        <div class="dropdown-items">
            <button class="dropdown-item" *ngFor="let item of filteredList | async" (click)="updateValue(item)">
                {{ item[displayName] }}
            </button>
        </div>
    </form>
</div>