.h-uti-p {
    font-size: 22px;
    font-weight: 700;
    margin-top: 1rem;
}

.s-h-uti {
    font-size: 16px;
    font-weight: 500;
}

.se-r {
    margin-top: 2%;
}

.st-n {
    font-size: 16px;
    font-weight: 600;
}

.m-top {
    margin-top: 1%;
    margin-bottom: 2%;
}

tr {
    text-align: center;
}

.f-text {
    text-decoration: underline;
    font-weight: 500;
    font-size: 16px;
}

.sig-text {
    font-weight: 500;
    font-size: 16px;
}

.m-b {
    margin-top: 4%;
    margin-bottom: 5%;
}