<div class="row" *ngIf="fileType == 'pdf' && reports?.pdf.length">
  <h5 class="">PDF</h5>
  <div class="mb-2" *ngFor="let pdf of reports?.pdf">
    <a target="_blank" download="true" class="list-group-item" [href]="pdf?.url | toStorageUrl">
      {{pdf?.name}}
      <span class="float-right">
        <i class="fa fa-arrow-down icon-color"></i>
      </span>
    </a>
  </div>
</div>


<div class="row" *ngIf="fileType == 'excel' && reports?.excel.length">
  <h5 class="">EXCEL</h5>
  <div class="mb-2" *ngFor="let excel of reports?.excel">
    <a target="_blank" download="true" class="list-group-item" [href]="excel?.url | toStorageUrl">
      {{excel?.name}}
      <span class="float-right">
        <i class="fa fa-arrow-down icon-color"></i>
      </span>
    </a>
  </div>
</div>
<div class="mb-2 float-right fst-italic" *ngIf="fileType !== 'notFound'">
  Source: {{ reports.type === 'audited' ? 'Audited': 'Provisional'}} File(s) submitted by ULB
</div>
<div *ngIf="fileType == 'notFound'" style="text-align: center; margin-top: 30px; margin-bottom: 30px">
  <img src="../../../../assets/images/sad.svg" height="82px" width="89px" />
  <div style="color: #1e44ad; font-size: 22px; font-weight: 600">
    No Data Found for chosen options
  </div>
  <p style="color: #6e7281; font-size: 16px">
    {{ notFoundMessage }}
  </p>
</div>