<div class="wrapper">
    <!-- <button class="back_button" (click)="close()" *ngIf="loggedInUserType !== USER_TYPE.ULB">
  Close
</button> -->
    <div style="width: 99%;">
        <a class="pull-right" (click)="close()" style="padding-top: 1rem;"><span class="material-icons" style="font-size: 32px">
    close
    </span>
  </a>
    </div>
    <h3 *ngIf="profileData" style="width: 100%">
        <span *ngIf="profile.disabled">View</span>
        <span *ngIf="profile.enabled">Edit</span> Profile
    </h3>
    <div *ngIf="profileData && profileData.status === SIGNUP_STATUS.REJECTED">
        <p class="error-message">
            Reason for Rejection: {{ profileData.rejectReason }}
        </p>
    </div>
    <h1 *ngIf="!profileData">Create ULB</h1>
    <!-- <h1>{{ profileData ? "Edit Profile" : "Create ULB" }}</h1> -->

    <form [formGroup]="profile" *ngIf="profile" (ngSubmit)="submitForm(profile)">
        <div class="input-group">
            <label for="statename">State
      <span class="asterik">*</span>
    </label>
            <input id="statename" type="text" formControlName="state" class="form-control" [ngClass]="{
        'is-invalid': formSubmitted && profile?.controls?.state.errors
      }" />
        </div>

        <div formGroupName="ulb" style="display: inline">
            <div class="input-group" formGroupName="ulbType">
                <label for="type">ULB Type
        <span class="asterik">*</span>
      </label>
                <select name="" id="type" formControlName="_id" class="form-control" [ngClass]="{
          'is-invalid':
            formSubmitted && profile.controls.ulb.controls?.ulbType.errors
        }">
        <option *ngFor="let Utype of ulbTypeList" [value]="Utype._id">
          {{ Utype.name }}
        </option>
      </select>
            </div>
        </div>

        <div class="input-group" formGroupName="ulb">
            <label for="code">
      Census Code
      <span class="asterik">*</span>
    </label>
            <input id="code" type="text" formControlName="censusCode" class="form-control" [ngClass]="{
        'is-invalid': profile.controls.ulb.controls.censusCode.errors
      }" />
        </div>

        <div class="input-group" formGroupName="ulb">
            <label for="sbCode">ULB Code
      <span class="asterik">*</span>
    </label>
            <input id="sbCode" type="text" formControlName="sbCode" class="form-control" [ngClass]="{
        'is-invalid': profile.controls.ulb.controls.sbCode.errors
      }" />
        </div>

        <div class="input-group" formGroupName="ulb">
            <label for="name">ULB Name
      <span class="asterik">*</span>
    </label>

            <input id="name" type="text" formControlName="name" class="form-control" [ngClass]="{
        'is-invalid': profile.controls.ulb.controls?.name.errors
      }" />
            <small *ngIf="profile.controls.ulb.controls?.name?.errors?.required" class="form-field-error-message">
      ULB Name cannot be empty
    </small>
            <small *ngIf="
        profile.controls.ulb.controls?.name?.errors
          ?.alphabet_required as errors
      " class="form-field-error-message">
      {{ errors }}
    </small>
        </div>

        <div formGroupName="ulb" class="form-group">
            <div class="input-group">
                <label for="area">Area (Sq kms)
        <span class="asterik">*</span>
      </label>

                <input id="area" type="text" formControlName="area" class="form-control" [ngClass]="{
          'is-invalid': profile.controls.ulb.controls?.area.errors
        }" />
                <small *ngIf="profile.controls.ulb.controls?.area.errors" class="form-field-error-message">
        Only numeric values are accepted. For Ex: 33, 45.4, 0.8
      </small>
            </div>

            <div class="input-group">
                <label for="population">Population
        <span class="asterik">*</span>
      </label>

                <input #population id="population" type="text" formControlName="population" class="form-control" [ngClass]="{
          'is-invalid': profile?.controls?.ulb.controls.population.errors
        }" />

                <small *ngIf="profile.controls.ulb.controls?.population.errors" class="form-field-error-message">
        Only numeric values without decimals are accepted. For Ex: 33, 1, 1223
      </small>
            </div>

            <div class="input-group">
                <label for="noOfWards">No of Wards
        <span class="asterik">*</span>
      </label>
                <input id="noOfWards" type="text" formControlName="wards" class="form-control" [ngClass]="{
          'is-invalid': profile.controls.ulb.controls?.wards?.errors
        }" />
                <small *ngIf="profile.controls.ulb.controls?.wards.errors" class="form-field-error-message">
        Only numeric values without decimals are accepted. For Ex: 33, 1, 1223
      </small>
            </div>
        </div>

        <hr />

        <div class="d-flex flex-wrap">
            <div class="input-group">
                <label for="commisionerName">Municipal Commissioner/Executive Officer Name
      </label>
                <input id="commisionerName" type="text" formControlName="commissionerName" class="form-control" [ngClass]="{
          'is-invalid': profile?.controls.commissionerName?.errors
        }" />
                <small *ngIf="profile?.controls.commissionerName?.errors as comError" class="form-field-error-message">
        Municipal Commissioner/Executive Officer Name
        <span *ngIf="comError?.required"> cannot be empty </span>
        <span *ngIf="comError?.pattern">
          must be of only Alphabet characters only and 1st letter must be
          capital.
        </span>
      </small>
            </div>

            <div class="input-group">
                <label for="commisionerEmailID">Municipal Commissioner/Executive Officer Email ID
      </label>
                <input id="commisionerEmailID" type="text" formControlName="commissionerEmail" class="form-control" [ngClass]="{
          'is-invalid': profile?.controls.commissionerEmail?.errors
        }" />
                <small *ngIf="profile?.controls.commissionerEmail?.errors as comEmailError" class="form-field-error-message">
        Municipal Commissioner/Executive Officer Email ID
        <span *ngIf="comEmailError?.required"> cannot be empty </span>
        <span *ngIf="comEmailError?.email === false">
          is not a valid email id.
        </span>
      </small>
            </div>

            <div class="input-group">
                <label for="commisionerContactNo">Municipal Commissioner/Executive Officer Contact No
      </label>
                <input id="commisionerContactNo" type="text" formControlName="commissionerConatactNumber" class="form-control" [ngClass]="{
          'is-invalid': profile?.controls.commissionerConatactNumber?.errors
        }" />
                <small *ngIf="
          profile?.controls.commissionerConatactNumber
            ?.errors as comContactError
        " class="form-field-error-message">
        Contact No is not valid
      </small>
            </div>
        </div>

        <div class="d-flex flex-wrap">
            <div class="input-group">
                <label for="accountantName">ULB Nodal Officer Name
        <span class="asterik">*</span>
      </label>
                <input id="accountantName" type="text" formControlName="accountantName" class="form-control" [ngClass]="{
          'is-invalid':
            (profile?.controls.accountantName.touched || formErrorMessage) &&
            profile?.controls.accountantName.errors
        }" />
                <small *ngIf="
          (profile?.controls.accountantName.touched || formErrorMessage) &&
          profile?.controls.accountantName.errors as nameError
        " class="form-field-error-message">
        ULB Nodal Officer Name
        <span *ngIf="nameError?.required"> cannot be empty </span>
        <span *ngIf="nameError?.pattern">
          must be of only Alphabet characters only and 1st letter must be
          capital.
        </span>
      </small>
            </div>

            <div class="input-group">
                <label for="accountantEmailID">ULB Nodal Officer Email ID
        <span class="asterik">*</span>
      </label>
                <input id="accountantEmailID" type="text" formControlName="accountantEmail" class="form-control" [ngClass]="{
          'is-invalid':
            (profile?.controls.accountantEmail.touched || formErrorMessage) &&
            profile?.controls.accountantEmail.errors
        }" />
                <small *ngIf="
          (profile?.controls.accountantEmail.touched || formErrorMessage) &&
          profile?.controls.accountantEmail.errors as EmailError
        " class="form-field-error-message">
        ULB Nodal Officer Email ID
        <span *ngIf="EmailError?.required"> cannot be empty </span>
        <span *ngIf="EmailError?.email === false">
          is not a valid email id.
        </span>
      </small>
            </div>

            <div class="input-group">
                <label for="accountantContactNo">ULB Nodal Officer Contact No
        <span class="asterik">*</span>
      </label>
                <input id="accountantContactNo" type="text" formControlName="accountantConatactNumber" class="form-control" [ngClass]="{
          'is-invalid':
            (profile?.controls.accountantConatactNumber.touched ||
              formErrorMessage) &&
            profile?.controls.accountantConatactNumber.errors
        }" />
                <small *ngIf="
          (profile?.controls.accountantConatactNumber.touched ||
            formErrorMessage) &&
          profile?.controls.accountantConatactNumber.errors as ContactError
        " class="form-field-error-message">
        Contact No is not valid
      </small>
            </div>
        </div>

        <!-- <p *ngIf="formErrorMessage" style="display: block; color: red">
    <span *ngFor="let error of formErrorMessage; let i = index">
      {{ i + 1 }}. {{ error }}
    </span>
  </p> -->
        <p *ngIf="profile.controls.ulb.controls?.sbCode?.errors as error" class="form-field-error-message">
            Either ULB Code or Census Code must be entered
        </p>

        <p *ngIf="respone.errorMessage" class="error-message">
            {{ respone.errorMessage }}
        </p>
        <p *ngIf="respone.successMessage" class="success-message">
            {{ respone.successMessage }}
        </p>

        <div *ngIf="profile.disabled && canSubmitForm" class="mt-2">
            <button [disabled]="apiInProgress" type="button" class="btn btn-primary" (click)="enableProfileEdit()">
      Edit
    </button>
            <button *ngIf="loggedInUserType === USER_TYPE.ULB" class="btn btn-primary" style="float: right; margin-right: 3%" (click)="onClickingChangePassword($event)">
      Change Password
    </button>
        </div>

        <div *ngIf="profile.enabled && canSubmitForm" class="mt-2">
            <button type="submit" class="btn btn-primary mr-2">Update Profile</button>
            <button *ngIf="loggedInUserType === USER_TYPE.ULB" class="btn btn-primary mr-2" style="float: right" (click)="onClickingChangePassword($event)">
      Change Password
    </button>
        </div>

        <div *ngIf="profileData.status === 'PENDING'" class="mt-2">
            <button type="button" class="btn btn-primary mr-2" (click)="
        updateFormStatus({
          status: 'APPROVED',
          _id: profileData._id
        })
      ">
      Approve Sign up
    </button>
            <button type="button" class="btn btn-primary" (click)="openSignupRejectPopup(rejectSignupPopup)">
      Reject Sign Up
    </button>
        </div>
    </form>
</div>

<ng-template #rejectSignupPopup>
    <div class="">
        <h3 style="margin: 3% auto; text-align: center">
            Reason for Signup Rejection
        </h3>

        <textarea [formControl]="SignupRejectReason" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

        <div style="display: flex; width: 100%; justify-content: center" class="mt-4">
            <button class="btn btn-primary" (click)="
        updateFormStatus({
          status: 'REJECTED',
          _id: profileData._id,
          rejectReason: SignupRejectReason.value
        }) || SignupRejectReason.setValue(null)
      " style="margin-right: 2%" [disabled]="!SignupRejectReason.valid">
      Confirm Rejection
    </button>

            <button class="btn btn-primary" (click)="dialogBox.closeAll()">
      Cancel
    </button>
        </div>

        <p *ngIf="respone.errorMessage" class="error-message text-center mt-1">
            {{ respone.errorMessage }}
        </p>
        <p *ngIf="respone.successMessage" class="success-message text-center mt-1">
            {{ respone.successMessage }}
        </p>
    </div>
</ng-template>