@import "../../../../../scss/functions";
@import "../../../../../scss/variables";
@import "../../../../../scss/mixins";

.dot {
    display: inline-block;
    margin-right: $spacer*.5;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.dot-submitted {
    @extend .dot;
    background: #E67E1566;
}

.dot-approved {
    @extend .dot;
    background: #E67E15;
}

ul {
    list-style: none;
    display: flex;
    width: 66%;
}

li:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

li:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

li {
    background: #dce4e7 0% 0% no-repeat padding-box;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    font-weight: 500;
}

.btn {
    border-radius: 4px;
    border: 1px solid rgb(192, 192, 192);
}

.active {
    background-color: #E67E15;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.active-cls-ins {
    background-color: #059B9A;
    cursor: pointer;
    color: rgb(255, 255, 255);
}


.no-value {
    border: 1px solid white !important;
    color: black !important;
    background-image: url("../../../../../assets/dashboard-state/Group 13698.svg") !important;
}

.responsive-class {
    display: flex;
    justify-content: center;
}

.noValueUpdate {
    display: none !important;
    background-color: white;
}

.formHeader {
    font-weight: 600;
    font-size: 1.5rem;
}

.formName {
    font-weight: 600;
    font-size: 1.1rem;
}

.card {
    border: 1px #00000029;
   // margin-left: 20px;
    box-shadow: 1px 1px 1px 1.5px #00000029;
    padding: 10px 20px;
   // min-height: max-content;
    background-color: #12505A;
    color: white;
    height: 100%;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.form-card {
    border: 1px #00000029;
    margin-left: 20px;
    box-shadow: 1px 1px 1px 1.5px #00000029;
    padding: 20px;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 6px;
}

.font-cls {
    font-size: 14px;
    font-weight: 500;
}

.tooltip-custom {
    position: absolute;
    left: 16%;
    background-color: #12505A;
    color: white;
    width: 13%;
    text-align: center;
    height: 20px;
    bottom: 38px;
    font-size: 12px;
}

.target-class {
    margin-left: -20px;
    position: relative;
    margin-top: -34px;
}

.targetHundred {
    background-color: #12505A;
    width: 95px;
    text-align: center;
    height: 20px;
    color: white;
    font-size: 12px;
    margin-left: -37px;
}

.progress {
    overflow: unset !important;
    position: relative;

    .progress-bar {
        flex-direction: unset !important;
        justify-content: end !important;
        overflow: unset !important;
        position: absolute;
        height: 15px;

        & span {
            display: block;
            background: $white;
            color: $black;
            border-radius: 50%;
            width: 34px;
            height: 34px;
            font-size: 9px;
            margin-top: -11px;
            line-height: 24px;
            margin-right: -5px;
            z-index: 99;
        }

        &.bg-approved {
            background: #E67E15;
        }

        &.bg-submitted {
            background: #E67E1566;
        }
    }
}

.customSpan {
    display: block;
    color: $black;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    font-size: 10px;
    margin-top: -7px;
    line-height: 24px;
    margin-right: -2px;
}

.arc {
    font-size: 16px;
    color: black
}

.fl-i {
    filter: invert(1);
}

::ng-deep .tooltip-col-cls {
    background: #E67E15;
    font-size: 13px;
    font-weight:  500;
}
.sub-el {
    font-size: 15px;
}
.row-c {
    display: flex;
    justify-content: space-between;
  }

  .max-w {
    width: 33.33%;
  }

  .card:hover{
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.no-data {
    font-size: 1.5rem;
    font-weight: 500;
    border: 1px solid lightblue;
    padding: .5rem;
    border-radius: .5rem;
}