<div class="container-fluid" style="margin-bottom: 1pc;" id="waterRe" #waterRe>
    <div class="row" [ngClass]="{'header-p':!parentData, 'header-u-p' : parentData }">
        <div class="col-sm-12 text-end">
            <a *ngIf="!parentData" (click)="close()" style="cursor: pointer;">
                <mat-icon aria-hidden="false">
                    <img src="../../../../../assets/form-icon/Icon material-close.svg">
                </mat-icon>
            </a>
        </div>
        <!-- <div class="col-sm-12 heading-p">
                Indicator for Water Rejenuvation and Recycling
            </div> -->
        <div class="col-sm-12" [ngClass]="{'heading-p':!parentData, 'heading-u-p' : parentData }">
            <span *ngIf="!parentData"> Submissions for 15th FC Grants for FY 2021-22</span>
            <span *ngIf="parentData">Projects for Water and Sanitation</span>
            <br *ngIf="!parentData"><b class="sub-h" *ngIf="!parentData">{{stateName}}</b>
        </div>

    </div>
    <div class="row st-d">
        <div class="col-sm-6 form-status" *ngIf="!parentData">
            <b>Form Current Status:</b> {{status}}
        </div>
        <div class="col-sm-6 text-end" *ngIf="!parentData">
            <button id="donwloadButton" style="right: 0%;
    outline: none; margin-right: 2%" class="btn btn-primary btn-upload" (click)="clickedDownloadAsPDF()">
                Download as PDF
            </button>
        </div>
    </div>
    <div class="row" *ngIf="!parentData">
        <div class="col-sm-12 text-center form-h">
            Projects for Water and Sanitation
        </div>
    </div>

    <div *ngFor="let uas of data.uaData; let projectIndex=index">
        <div class="card" style="margin-top: 5px; margin-left: 0pc;">
            <div class="card-body ">
                <div style="display: flex;">
                    <div>
                        <!-- UA{{projectIndex+1}}: {{uas.name}} -->
                        <!-- {{uasData[uas.ua].name.split(' ')[0]}} -->
                        <h4>UA{{projectIndex + 1}}: Urban Agglomeration {{ uasData[uas.ua].name.substring(0, uasData[uas.ua].name.lastIndexOf(" ")) }}</h4>


                    </div>
                </div>

                <div>
                    <h5>Fill Details of Project for Rejuvenation of Water Bodies</h5>
                </div>
                <div class="table-responsive">
                    <table class="table custom-position tableStriped">
                        <thead style="color: #047474">
                            <tr class="thHeader">
                                <th scope="col">S.No</th>
                                <th scope="col">Project Name</th>
                                <th scope="col">Name Of Water Body</th>
                                <th scope="col">Area</th>
                                <th scope="col">Upload Photo</th>
                                <th scope="col">
                                    <span>Location</span><br>
                                    <span>Latitude and Longitude</span>
                                </th>
                                <th scope="col"></th>
                                <th scope="col">BOD in mg/L</th>
                                <th scope="col">COD in mg/L</th>
                                <th scope="col">DO in mg/L</th>
                                <th scope="col">TDS in mg/L</th>
                                <th scope="col">Turbidity in NTU</th>
                                <th scope="col">Project Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let waterBodies of uas.waterBodies; let waterBodiesIndex=index">
                                <td class="t-i">
                                    <span>{{1+waterBodiesIndex}}</span>
                                </td>
                                <td>
                                    {{waterBodies.name}}
                                </td>
                                <td>
                                    {{waterBodies.nameOfBody}}
                                </td>
                                <td>
                                    {{waterBodies.area}}
                                </td>

                                <td>
                                    <div>
                                        <img [src]="photo.url | toStorageUrl" width="40px" height="40px" *ngFor="let photo of waterBodies.photos">
                                    </div>
                                </td>
                                <td style="text-align: center;">
                                    <span *ngIf="waterBodies.lat">Lat-</span> {{waterBodies?.lat}} <br>
                                    <span *ngIf="waterBodies.long">Long-</span> {{waterBodies?.long}}
                                </td>
                                <td style="text-align: left;">
                                    <div style="font-weight: bold;">Current</div>
                                    <div style="font-weight: bold;">Expected</div>
                                </td>
                                <td>
                                    <!-- <span></span> {{waterBodies?.bod}}<br>
                                    <span></span>{{waterBodies?.bod_expected}} -->
                                    <div [ngClass]="{'mr-btm': (waterBodies.bod_expected == null)}">{{waterBodies?.bod}}
                                    </div>
                                    <div [ngClass]="{'mr-top': (waterBodies.bod == null)}">{{waterBodies?.bod_expected}}
                                    </div>
                                </td>
                                <td>
                                    <div [ngClass]="{'mr-btm': (waterBodies.cod_expected == null)}">{{waterBodies?.cod}}
                                    </div>
                                    <div [ngClass]="{'mr-top': (waterBodies.cod == null)}">{{waterBodies?.cod_expected}}
                                    </div>
                                    <!-- {{waterBodies.cod}} -->
                                </td>
                                <td>
                                    <div [ngClass]="{'mr-btm': (waterBodies.do_expected == null)}">{{waterBodies?.do}}
                                    </div>
                                    <div [ngClass]="{'mr-top': (waterBodies.do == null)}">{{waterBodies?.do_expected}}
                                    </div>
                                    <!-- {{waterBodies.do}} -->
                                </td>
                                <td>
                                    <div [ngClass]="{'mr-btm': (waterBodies.tds_expected == null)}">{{waterBodies?.tds}}
                                    </div>
                                    <div [ngClass]="{'mr-top': (waterBodies.tds == null)}">{{waterBodies?.tds_expected}}
                                    </div>
                                    <!-- {{waterBodies.tds}} -->
                                </td>
                                <td>
                                    <div [ngClass]="{'mr-btm': (waterBodies.turbidity_expected == null)}">
                                        {{waterBodies?.turbidity}}</div>
                                    <div [ngClass]="{'mr-top': (waterBodies.turbidity == null)}">
                                        {{waterBodies?.turbidity_expected}}</div>
                                    <!-- {{waterBodies.turbidity}} -->
                                </td>
                                <td>
                                    {{waterBodies.details}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <h5>Fill Details of Projects for Recycling and Reuse of Water</h5>
                </div>
                <div class="table-responsive">
                    <table class="table custom-position tableStriped">
                        <thead style="color: #047474">
                            <tr class="thHeader">
                                <th style="width: 5%;" scope="col">S.No</th>
                                <th style="width: 23%;" scope="col">Project Name</th>
                                <th style="width: 23%;" scope="col">Name of Water Treatment Plant</th>
                                <th style="width: 23%;" scope="col">
                                    <span>Location</span><br>
                                    <span>Latitude and Longitude</span>
                                </th>
                                <th style="width: 23%;" scope="col">Proposed capacity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let waterReuse of uas.reuseWater; let reuseWaterIndex=index">
                                <td>
                                    <span>{{1+reuseWaterIndex}}</span>
                                </td>
                                <td>
                                    {{waterReuse.name}}
                                </td>
                                <td>
                                    {{waterReuse.treatmentPlant}}
                                </td>

                                <td style="text-align: center;">
                                    <span *ngIf="waterReuse.lat">Lat-</span> {{waterReuse.lat}} <br>
                                    <span *ngIf="waterReuse.long">Long-</span> {{waterReuse.long}}
                                    <!-- Lat- {{waterReuse.lat}} Long- {{waterReuse.long}} -->
                                </td>
                                <td>
                                    {{waterReuse.stp}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <h5>Details of Proposed Project to Improve Service Level Indicators related to Water Supply</h5>
                </div>
                <div class="table-responsive">
                    <table class="table custom-position tableStriped">
                        <thead style="color: #047474">
                            <tr class="thHeader">
                                <th scope="col" style="width: 5%;">S.No</th>
                                <th scope="col" style="width: 18%;">Project Name</th>
                                <th scope="col" style="width: 20%;">Physical Components</th>
                                <th scope="col" style="width: 20%;">
                                    Indicator
                                </th>
                                <th scope="col" style="width: 12%;">Existing (As-is)</th>
                                <th scope="col" style="width: 12%;">After (To-be)</th>
                                <th scope="col" style="width: 13%;">Estimated Cost (Amount in INR Lakhs)</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let srIn of uas.serviceLevelIndicators; let serIndex=index">
                                <td>
                                    <span>{{1+serIndex}}</span>
                                </td>
                                <td>
                                    {{srIn.name}}
                                </td>
                                <td>
                                    {{srIn.component}}
                                </td>

                                <td>

                                    {{srIn.indicator}}
                                </td>
                                <td>
                                    {{srIn.existing}}

                                </td>
                                <td>
                                    {{srIn.after}}
                                </td>
                                <td>
                                    {{srIn.cost}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-body text-center">
        <div class="modal-header">
            <h4 class="modal-title pull-left" style="color: red;"> <i>Alert!</i> </h4>
            <div class="text-right">
                <a (click)="alertClose()">
                    <img src="../../../../assets/form-icon/close-red-icon.png">
                </a>
            </div>
        </div>

        <p style="margin-top: 8px;">
            Are you sure you want to proceed?
            <div>
                <button type="button" class="btn btn-primary m-btn" (click)="stay()">Stay</button>
                <button type="button" class="btn btn-success m-btn" style="margin-left: 6px;" (click)="proceed()">Save &
                Proceed</button>
            </div>

    </div>
</ng-template>
