<div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-lg-12 col-md-12 "
                        style="margin-bottom: 1rem;display:flex; justify-content: space-between;">
                        <span class="text-left" style="font-size: 20px; font-weight: bold;text-align: left;">ULB Service
                            Level Benchmarks Form
                            Status</span>
                        <button type="button" (click)="stateData(true)" class="btn btn-d text-right">DOWNLOAD</button>

                    </div>
                    <div class="col-sm-12">
                        <div class="table-responsive" style="border: 1px solid  #00000029; margin-bottom: 1rem;">
                            <table class="table tableStriped">
                                <thead>

                                    <tr style="background-color: #047474; color: #FFFFFF;">
                                        <th scope="col">S.No</th>
                                        <th scope="col">ULB Name </th>
                                        <th scope="col">State Name </th>
                                        <th scope="col">ULB Census Code/ ULB Code </th>
                                        <!-- <th scope="col">ULB Type</th> -->
                                        <th scope="col">Population Type</th>
                                        <th scope="col">Name of UA</th>
                                        <th scope="col">SLB for Water Supply and Sanitation Status</th>

                                    </tr>
                                </thead>
                                <thead>
                                    <tr class="filter">
                                        <th class="filter"></th>

                                        <th class="filter">

                                            <input type="text" class="s-th p-s" [formControl]="ulb_name_s"
                                                (keyup.enter)="stateData(false)">
                                        </th>
                                        <th class="filter" *ngIf="states">
                                            <select class="s-th" [formControl]="state_name" style="width: 135px;"
                                                (change)="stateData(false)">
                                                <option selected value="">State</option>
                                                <option *ngFor="let state of states" value="{{state.name}}">
                                                    {{state.name}}
                                                </option>
                                            </select>
                                        </th>
                                        <th class="filter" *ngIf="!states"></th>
                                        <th class="filter">

                                            <input type="text" class="s-th p-s" [formControl]="ulb_code_s"
                                                (keyup.enter)="stateData(false)">
                                        </th>
                                        <!-- <th class="filter">
                                            <select class="s-th" [formControl]="ulb_type_s" (change)="stateData(false)">
                                                <option selected value="">ULB Type</option>
                                                <option value="Municipality">Municipality</option>

                                                <option value="Municipal Corporation">Municipal Corporation</option>
                                                <option value="Nagar Nigam">Nagar Nigam</option>
                                                <option value="Nagar Palika Parishad">Nagar Palika Parishad</option>
                                                <option value="Town Panchayat">Town Panchayat</option>
                                            </select>
                                        </th> -->
                                        <th class="filter">
                                            <select class="s-th" [formControl]="population_type_s" style="width: 135px;"
                                                (change)="stateData(false)">
                                                <option selected value="">Population Type</option>
                                                <option value="Million Plus">Million Plus</option>
                                                <option value="Non Million">Non Million</option>



                                            </select>
                                        </th>
                                        <th class="filter">

                                            <input type="text" [formControl]="ua_name_s" class="s-th p-s"
                                                style="width: 76px;" (change)="stateData(false)">
                                        </th>
                                        <th class="filter">
                                            <select class="s-th" [formControl]="status_slb" style="width: 71px;"
                                                (change)="stateData(false)">
                                                <option selected value="">Status</option>
                                                <option value="Not Started">Not Started</option>
                                                <option value="In Progess">In Progess</option>
                                                <option value="Completed">Completed</option>
                                                <option value="Not Applicable">Not Applicable</option>
                                            </select>
                                        </th>

                                    </tr>

                                </thead>

                                <tbody>
                                    <tr *ngFor="let resData of tabelData | paginate
                                    : {
                                        id: 'foo',
                                        itemsPerPage: tableDefaultOptions.itemPerPage,
                                        currentPage: tableDefaultOptions.currentPage,
                                        totalItems: tableDefaultOptions.totalCount
                                      }; let tabelIndex=index">
                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''">
                                            {{tableDefaultOptions.itemPerPage * (tableDefaultOptions.currentPage -1) +
                                            tabelIndex+1}}
                                        </td>
                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''">{{resData.ulbName}}
                                        </td>
                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''">{{resData.state}}
                                        </td>
                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''">{{resData.censusCode ||
                                            resData.sbCode }}</td>
                                        <!-- <td [style.border-top]="tabelIndex == '0' ? 'none' : ''">{{resData.ulbType}}
                                        </td> -->
                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''">
                                            {{resData.populationType}}</td>
                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''">{{resData.isUA =="No"?
                                            'NA': resData.UA}}</td>

                                        <td [style.border-top]="tabelIndex == '0' ? 'none' : ''">
                                            {{resData.xvfcgrantulbformsStatus}}</td>




                                    </tr>
                                </tbody>

                            </table>
                            <div class="text-center alert" style="color: red;" *ngIf="nodataFound">No Data Found!</div>
                            <pagination-controls style="float: right; position: relative" id="foo"
                                (pageChange)="setPage($event)" directionLinks="true" autoHide="false"
                                previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
                                screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
                            </pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>